// =============================
// mixin
// =============================

// Animate
// -----------------------------
// 参考：http://www.knockknock.jp/archives/184(cubicEaseInOut)
=cubicEaseOut
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1)

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

=keyframesSet($name, $duration)
    animation-name: $name
    animation-timing-function: ease-in-out
    animation-iteration-count: infinite
    animation-duration: $duration

=keyframesSetOne($name, $duration, $delay)
    animation-name: $name
    animation-fill-mode: both
    animation-duration: $duration
    animation-delay: $delay

=transition($property, $duration, $timing-function, $delay)
    transition-property: $property
    transition-duration: $duration
    transition-timing-function: $timing-function
    transition-delay: $delay


// Claerfix
// -----------------------------
=clearfix
    &:after
        display: table
        clear: both
        content: ''


// Helper
// -----------------------------
=position-absolute($top, $right, $bottom, $left)
    position: absolute
    top: $top
    right: $right
    bottom: $bottom
    left: $left

=pseudo($content, $display, $width, $height)
    content: $content
    display: $display
    height: $height
    width: $width

=textspace($font-size, $line-height, $desired-margin)
    font-size: $font-size
    line-height: $line-height !important
    margin-top: (($font-size * $line-height) - $font-size ) / 2 * -1
    margin-bottom: $desired-margin - (($font-size * $line-height) - $font-size ) / 2


// Icon
// -----------------------------
=iconfont
    font-family: "fontello"
    font-style: normal
    font-weight: normal
    speak: none
    display: block
    text-decoration: inherit
    width: 1em
    text-align: center
    font-variant: normal
    text-transform: none
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


// List
// -----------------------------
=list-style($content)
    overflow: hidden

    li
        padding-left: 1em

        &:last-child
            margin-bottom: 0

        &:before
            content: $content
            margin-left: -1rem
            width: 1rem

=list-style-type($list-style-type)
    list-style-type: $list-style-type
    overflow: visible
    padding-left: 2rem

    li
        &:last-child
            margin-bottom: 0


// Media Queriry
// -----------------------------
=for-large
    @media screen and (min-width: $device-large - 1)
        @content

=for-medium
    @media screen and (min-width : $device-medium - 1) and (max-width : $device-large)
        @content

=for-small
    @media screen and (max-width: $device-small)
        @content

=min-width($min-width)
    @media screen and (min-width: $min-width)
        @content

=max-width($max-width)
    @media screen and (max-width: $max-width)
        @content

=from-to($min-width, $max-width)
    @media screen and (min-width : $min-width) and (max-width : $max-width)
        @content

=max-device-width($max-device-width)
    @media only screen and (max-device-width : $largeBreak)
        @content

=from-to-device($min-device-width, $max-device-width)
    @media only screen and (min-device-width : $min-device-width) and (max-device-width : $max-device-width)
        @content


// Table
// -----------------------------
=table($type: false)
    @if $type =='border'
        border: 1px solid $color-border
        border-bottom: none

        th, td
            border-bottom: 1px solid $color-border
            border-right: 1px solid $color-border

    @else if $type == 'background'
        thead
            th
               background-color: #eeeeee

        tbody
            tr:nth-child(even)
                background-color: #eeeeee
