// =============================
// Project
// 案件毎に記述
// =============================

// Base
// -----------------------------

html, body
    height: 100%

body
    &.fixed
        +for-small
            position: fixed
            width: 100%
            height: 100%

// Animate
// -----------------------------


// Header
// -----------------------------

.header
    +position-absolute(0,auto,auto,0)
    position: fixed
    background-color: transparent
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px
    padding: 0 0 0 37px
    width: 100%
    z-index: 15

    +for-small
        height: 50px
        position: absolute
        text-align: left
        top: 0
        padding: 0 0 0 14px
        transition: background-color 0.2s linear
        z-index: 100

    & > .logo
        display: inline-block
        font-weight: 700
        font-size: 2em
        margin-top: auto
        width: 124px

        &.other
            svg
                .cls-1
                    fill: #22305a

        svg
            height: auto
            width: 100%

            .cls-1
                fill: $color-white

            .cls-2
                fill: #d61518

        +for-small
            height: 36px
            width: 85px
            min-width: auto

    & > .nav
        display: flex
        align-items: center
        justify-content: flex-end

        & > .-button
            align-items: flex-end
            justify-content: flex-end
            display: flex

            +for-small
                display: none

            .-list
                a
                    display: block
                img
                    height: auto
                    width: 100%

            .contact,
            .official,
            .gallery
                a
                    background-color: #333333
                    color: #fff
                    align-items: center
                    display: flex
                    justify-content: center
                    width: 230px
                    height: 80px
                    font-size: 13px
                    letter-spacing: 0.1em

                    .button-more
                        padding-left: 36px
                        position: relative

                        &:after
                            +position-absolute(auto,auto,2px,10px)
                            background-color: $color-white
                            content: ''
                            height: 1px
                            width: 26px

                        &:before
                            +position-absolute(auto,auto,5px,24px)
                            background-color: $color-white
                            content: ''
                            height: 1px
                            transform: rotate(25deg)
                            width: 12px

            .gallery
                a
                    background-color: #262626
                    width: 244px
            
            .contact
                a
                    background-color: #3a81c4

        & > .-contact
            display: flex

            +for-small
                display: none

            .-list
                margin-right: 30px

                &.contact
                    margin-right: 45px
                    padding-right: 50px
                    position: relative

                    svg
                        width: 79px

                    &:after
                        +position-absolute(auto,0,4px,auto)
                        background-color: $color-white
                        content: ''
                        height: 1px
                        width: 28px

                    &:before
                        +position-absolute(auto,0,7px,auto)
                        background-color: $color-white
                        content: ''
                        height: 1px
                        transform: rotate(25deg)
                        width: 12px

                &.tel
                    width: 162px

                & > a
                    svg
                        fill: $color-white
                        height: 14px
                        width: auto

            &.other
                .-list
                    & > a
                        svg
                            fill: $color-black

                    &.contact
                        &:after,
                        &:before
                            background-color: $color-black



        .-tel,
        .-mail
            background-color: #262626
            height: 50px
            position: fixed
            top: 0
            right: 50px
            width: 50px

            img
                +position-absolute(50%,0,auto,0)
                height: 23px
                margin: 0 auto
                transform: translateY(-50%)
                width: 23px
        
        .-mail
            background-color: #3a81c4
            right: 100px

            img
               height: 17px
               width: 24px 


// Gloabal Navigation
// -----------------------------

.global-nav
    height: 100%
    position: fixed
    top: 0
    left: auto
    right: 0
    visibility: hidden
    width: 100%
    // transition: all 0.3s linear
    margin: auto

    &.-open
        // background: rgba(0,0,0,0.9)
        background: #202020
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
        visibility: visible
        z-index: 100

        &::-webkit-scrollbar
            background-color: $color-black
            width: 2px

        &::-webkit-scrollbar-track
            background: transparent
            border: none

        &::-webkit-scrollbar-thumb
            background: $color-black
            border-radius: 2px
            width: 2px

    & > .-wrap
        +position-absolute(50%,0,auto,50%)
        margin: auto
        height: 630px
        display: block
        transform: translate(-50%,-50%)
        max-width: 1115px
        width: 100%

        +max-width(1200px)
            height: 490px
            padding: 0 30px

            +for-small
                height: auto
                padding: 30px 0
                position: static
                transform: none

        .-list
            display: flex
            margin-bottom: 50px

            +max-width(1200px)
                margin-bottom: 30px

                +for-small
                    flex-direction: column
                    margin-bottom: 0

            &:last-child
                margin-bottom: 0

            &.sns
                align-items: flex-end

            &.center
                align-items: center

            &.labo
                +for-small
                    border-bottom: 1px solid #333333

                & > .-button
                    width: 885px
                    +for-small
                        margin: 0 !important
                        padding: 0 20px 20px
                        width: 100%

                .button-ghost
                    margin-bottom: 0 !important
                    padding: 17px 24px 14px
                    position: relative

                    +for-small
                        margin: 0 !important
                        padding: 17px 17px 14px
                        width: 100%

                    span
                        &::before
                            top: 16px

                            +for-small
                                top: 18px

                        &::after
                            top: 9px

                            +for-small
                                top: 13px

                    &:hover
                        svg
                            .s_white
                                fill: $color-black

                    img
                        +for-small
                            height: 32px
                            width: 200px

                    svg
                        height: 25px
                        width: 576px

                        .s_white
                            +transition((fill),0.3s,ease,0)

            .-logo,
            .-shre
                width: 230px

                +for-small
                    padding: 0 20px
                    width: 100%

            .-logo
                +max-width(1200px)
                    width: 180px

                    +for-small
                        width: 100%

                &.official
                    img
                        height: auto
                        width: 150px

                        +max-width(1200px)
                            width: 120px

                            +for-small
                                width: 90px

                &.labo,
                &.gallery

                    +for-small
                        border-bottom: 1px solid #333333
                        padding: 15px 20px 19px
                        position: relative

                        &::after
                            +position-absolute(50%,60px,auto,auto)
                            +notosans
                            content: 'more'
                            color: #cccccc
                            font-size: 13px
                            letter-spacing: 0.05em
                            transform: translateY(-50%)

                        &::before
                            +position-absolute(52%,38px,auto,auto)
                            +iconfont
                            content: '\e801'
                            color: #666666
                            font-size: 11px
                            transform: translateY(-50%)

                &.labo
                    +for-small
                        border-bottom: none

                        &::after,
                        &::before
                            content: none

                    img
                        height: auto
                        width: 150px

                        +max-width(1200px)
                            width: 120px

                            +for-small
                                width: 144px

                &.house
                    img
                        height: auto
                        width: 204px

                        +for-small
                            width: 123px

                &.gallery
                    // padding-left: 65px

                    +for-small
                        // padding-left: 20px

                    img
                        height: auto
                        width: 139px

                        +max-width(1200px)
                            width: 120px

                            +for-small
                                width: 84px

            .-link
                width: 885px

                +for-small
                    display: none
                    width: 100%

                &.top
                    margin-top: -12px

                    +for-small
                        margin-top: 0

                    li
                        margin-right: 0

                &.flex
                    align-items: center
                    display: flex
                    justify-content: space-between

                    +for-small
                        flex-direction: column

                    .button-ghost
                        height: 57px

                .-button.model
                    +for-small
                        background-color: #1a1a1a
                        padding: 18px 20px
                        margin: 0 !important

                // &.labo
                    // ul
                    //     justify-content: flex-start
                    // li
                    //     margin-right: 55px

                    //     +for-small
                    //         margin-right: 0

                & > ul
                    display: flex
                    flex-wrap: wrap

                    +for-small
                        flex-direction: column

                    li
                        margin: 12px 55px 12px 0

                        +max-width(1200px)
                            margin: 12px 55px 0 0

                            +for-small
                                margin: 0


                        a
                            +transition((opacity),0.3s,ease,0)
                            &:hover
                                opacity: 0.7

                            +for-small
                                padding: 18px 40px

                            &.soon
                                pointer-events: none
                                opacity: 0.5

                        span
                            +notosans
                            color: #B2B2B2
                            font-size: 19px
                            letter-spacing: 0.1em

            .space
                display: flex
                // justify-content: space-between
                width: 100%

                +for-small
                    background-color: #1a1a1a
                    flex-direction: column

                li
                    margin-right: 55px

                    +for-small
                        border-bottom: 1px solid #333333
                        margin-right: 0

                    &.w25
                        width: auto

                        +for-small
                            width: 100%

                    &.w50
                        width: 50%

                        +for-small
                            width: 100%

                    &.other
                        +for-small
                            background-color: #202020
                            padding: 10px 20px
                            position: relative

                            a
                                &::before
                                    +transition((background-color),0.3s,ease,0)
                                    +position-absolute(23px,17px,auto,auto)
                                    background-color: #B2B2B2
                                    content: ''
                                    height: 1px
                                    transform: rotate(-45deg)
                                    width: 7px

                                &::after
                                    +transition((background-color),0.3s,ease,0)
                                    +position-absolute(18px,17px,auto,auto)
                                    background-color: #B2B2B2
                                    content: ''
                                    height: 1px
                                    transform: rotate(45deg)
                                    width: 7px

                            .top
                                +position-absolute(50%,40px,auto,auto)
                                +notosans
                                color: #cccccc
                                font-size: 13px
                                letter-spacing: 0.05em
                                transform: translateY(-50%)



                    a
                        align-items: center
                        display: flex

                        +for-small
                            align-items: flex-start
                            flex-direction: column
                            position: relative

                            &::after
                                +position-absolute(26px,40px,auto,auto)
                                background-color: #666666
                                content: ''
                                height: 1px
                                width: 9px

                            &::before
                                +position-absolute(24px,40px,auto,auto)
                                background-color: #666666
                                content: ''
                                height: 1px
                                transform: rotate(35deg)
                                width: 6px

                        span
                            +notosans
                            color: #B2B2B2
                            font-size: 19px
                            letter-spacing: 0.1em
                            position: relative
                            padding-left: 21px

                            +max-width(1200px)
                                font-size: 16px

                                +for-small
                                    font-size: 13px
                                    padding-left: 0

                            &::after
                                +position-absolute(0,auto,auto,0)
                                content: '・'
                                font-size: 19px
                                letter-spacing: 0.1em

                                +for-small
                                    content: none

            .-more
                border-bottom: 1px solid #333333
                text-align: right
                padding: 20px 20px
                width: 100%

                span
                    +notosans
                    color: #cccccc
                    font-size: 13px
                    letter-spacing: 0.05em
                    padding-right: 45px
                    position: relative

                    &::after
                        +position-absolute(52%,18px,auto,auto)
                        +iconfont
                        content: '\e801'
                        color: #666666
                        font-size: 11px
                        transform: translateY(-50%)

            .-button
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                width: 100%

                +for-small
                    flex-direction: column
                    margin: 10px 20px 0
                    width: auto

                a.soon
                    pointer-events: none
                    opacity: 0.7

                &.other
                    +for-small
                        margin: 18px 20px

                        .button-ghost
                            margin-top: 0 !important

                            +for-small
                                &:nth-child(1)
                                    margin-bottom: 12px

                //- &.only
                //-     +for-small
                //-         margin-top: 20px
                //-     .button-ghost
                //-         width: 32.5%
                //-         +for-small
                //-             background-color: transparent
                //-             border: 1px solid #cccccc
                //-             margin-bottom: 12px
                //-             width: 100%

                //-             &:hover
                //-                 background-color: #cccccc
                //-                 color: #141414

            .button-ghost
                color: #B2B2B2
                +transition((background-color),0.3s,ease,0)
                text-align: left
                width: 48.85583524%
                border-color: #B2B2B2

                span
                    letter-spacing: 0
                    text-indent: 0
                    line-height: 1.3
                
                &:last-child
                    +for-small
                        margin-top: 10px

                +for-small
                    border: none
                    background-color: #333333
                    padding: 19px 17px 20px
                    width: 100%

                    span
                        font-size: 13px
                        letter-spacing: 0
                        text-indent: 0

                    &:hover
                        background-color: #333333
                        color: #B2B2B2

                &.small
                    width: 32.226211849%

                    +for-small
                        width: 100%

                &.full
                    width: 100%

                &.dark
                    border: none
                    background-color: #333333
                    margin-bottom: 20px

                    +for-small
                        margin-top: 10px
                        margin-bottom: 0

                &.lines
                    padding-top: 30px

                &.arrow
                    span
                        &::before
                            bottom: 14px

                            +for-small
                                bottom: 11px

                        &::after
                            bottom: 20px

                            +for-small
                                bottom: 16px

                &:hover
                    background-color: $color-white

                    span
                        color: $color-black

                        &::before,
                        &::after
                            background-color: $color-black

                span
                    +transition((color),0.3s,ease,0)
                    color: #B2B2B2
                    display: block
                    padding-right: 45px
                    position: relative
                    text-align: left

                    +for-small
                        padding-right: 15px

                    &::before
                        +transition((background-color),0.3s,ease,0)
                        +position-absolute(auto,0,5px,auto)
                        background-color: #B2B2B2
                        content: ''
                        height: 1px
                        transform: rotate(-45deg)
                        width: 10px

                        +for-small
                            +position-absolute(auto,0,4px,auto)
                            width: 7px

                    &::after
                        +transition((background-color),0.3s,ease,0)
                        +position-absolute(auto,0,12px,auto)
                        background-color: #B2B2B2
                        content: ''
                        height: 1px
                        transform: rotate(45deg)
                        width: 10px

                        +for-small
                            +position-absolute(auto,0,9px,auto)
                            width: 7px

            .-shre
                align-items: center
                display: flex
                justify-content: space-between
                margin-top: -15px
                margin-left: auto
                width: 728px

                +for-small
                    align-items: flex-start
                    flex-direction: column
                    margin: 14px auto 0
                    padding: 0
                    width: 135px

                & > p
                    +din-m
                    color: #ccc
                    font-size: 15px
                    letter-spacing: 0.05em
                    margin-bottom: 25px

                & > a
                    +transition((opacity),0.3s,ease,0)
                    display: flex
                    align-items: center

                    +for-small
                        margin-bottom: 20px

                    &:last-child
                        +for-small
                            margin-bottom: 0

                    span
                        +notosans
                        color: #CCCCCC
                        font-size: 12px
                        letter-spacing: 0.05em
                        margin-left: 10px

                        &.en
                            +brandon
                            letter-spacing: 0.1em

                    &:hover
                        opacity: 0.7

                    .icon-sns-facebook,
                    .icon-sns-instagram
                        margin-top: -3px
                        &::before
                            color: #ccc
                            font-size: 30px
                            margin: 0

                            +for-small
                                font-size: 22px

                    svg
                        height: 30px
                        width: 18px
                        fill:#CCCCCC

                        +for-small
                            height: 23px
                            margin: 0 4px
                            width: 14px

                    &.facebook
                        width: 20px

                        +for-small
                            width: 15px

                    &.youtube
                        svg
                            height: auto
                            width: 94px

                            +for-small
                                width: 73px

// Side navi
// -----------------------------

.side-nav
    right: 2.7%
    position: fixed
    top: 50%
    transform: translateY(-50%)
    z-index: 10

    +for-small
        display: none

    &.home
        .-share
            p
                color: $color-white

            .-sns
                .icon-sns-facebook,
                .icon-sns-instagram
                    &:before
                        color: $color-white !important


    &.on
        .-share
            p
                color: $color-black

            .-sns
                .icon-sns-facebook,
                .icon-sns-instagram
                    &:before
                        color: $color-black !important


    .-share
        align-items: center
        display: flex
        flex-direction: column

        p
            +din-m
            font-size: 15px
            letter-spacing: 0.05em
            transform: rotate(90deg)

        .-sns
            margin-top: 40px

            .-list
                &:nth-child(1)
                    margin-bottom: 20px
                & > a
                    display: block

                .icon-sns-facebook,
                .icon-sns-instagram
                    &:before
                        color: $color-black
                        font-size: 20px
                        margin: 0

// content
// -----------------------------

.content
    @at-root
        &-wrap
            margin: 0 auto
            max-width: 1600px
            width: 87.4%

            +for-small
                margin: 0 20px
                width: auto

        &-small
            margin: 0 auto
            max-width: 1420px
            // width: 74%
            width: 80%

            +for-small
                margin: 0 20px
                width: auto

// Main
// -----------------------------

.main

// Section
// -----------------------------

.section
    @at-root
        &-primary
            padding: 130px 0 100px

            +for-small
                padding: 85px 0 75px

            &.other
                +for-small
                    padding: 85px 0 50px

        &-secondary
            padding: 95px 0 80px

            +for-small
                padding: 25px 0 27px

            &.bottom
                padding-bottom: 0

        &-tertiary
            padding: 80px 0

            +for-small
                padding: 40px 0

        &-quaternary
            padding: 100px 0 110px

            +for-small
                padding: 30px 0 0

        &-quinary
            padding: 95px 0 0

            +for-small
                padding: 50px 0 0

        &-senary
            padding: 170px 0 80px

            +for-small
                padding: 80px 0 30px

        &-septenary
            padding: 110px 0 0

            +for-small
                padding: 50px 0 0

section
    &.bg-red
        background-color: #E60000

    &.bg-grey
        background-color: #7c7c7c

    &.bg-d-grey
        background-color: #393939

    &.bg-l-grey
        background-color: #f2f2f2

    &.bg-o-grey
        background-color: #e6e6e6

    &.bg-b-grey
        background-color: #fafafa

// Chapter
// -----------------------------

.chapter
    @at-root
        &-primary
            background: url(../images/house/image-chapter.jpg) no-repeat center center
            background-size: cover
            height: 840px
            position: relative
            width: 100%

            +for-small
                height: 420px

            &.about
                background: url(../images/about/image-chapter.jpg) no-repeat left center
                background-size: cover


            .-title
                +position-absolute(50%,0,auto,0)
                margin: 0 auto
                text-align: center
                transform: translateY(-50%)

                span
                    color: $color-white
                    display: block

                    &.en
                        +TTNormsPro-Italic
                        font-size: 70px
                        letter-spacing: 0.05em
                        margin-bottom: 10px
                        text-indent: 0.05em

                        +for-small
                            font-size: 40px

                    &.ja
                        +notosans
                        font-size: 20px
                        letter-spacing: 0.1em
                        text-indent: 0.1em

                        +for-small
                            font-size: 13px
                            line-height: 1.5

        &-secondary
            padding: 130px 0 100px

            +for-small
                padding: 85px 0 30px

            .-title
                text-align: center

                span
                    color: $color-red
                    display: block

                    &.en
                        +TTNormsPro-ExtraLightItalic
                        font-size: 50px
                        letter-spacing: 0.1em
                        margin-bottom: 10px
                        text-indent: 0.1em

                        +for-small
                            font-size: 24px
                            letter-spacing: 0.05em
                            margin-bottom: 5px
                            text-indent: 0.05em

                    &.ja
                        +notosans
                        font-size: 13px
                        letter-spacing: 0.05em
                        text-indent: 0.05em

                        +for-small
                            font-size: 11px

                &.blue
                    span
                        color: #3A81C4

        &-tertiary
            background: url(../images/house/image-chapter.jpg) no-repeat center top
            background-size: cover
            height: auto
            padding-top: 96.7%
            position: relative
            width: 100%

            +for-small
                background: url(../images/house/image-chapter-sp.jpg) no-repeat center bottom
                background-size: cover
                padding-top: 0
                height: 620px

            & > .-wrap
                +position-absolute(7%,0,auto,0)
                margin: 0 auto
                text-align: center

                +for-small
                    top: 12.8%

                .-logo
                    margin-bottom: 20px

                    img
                        height: 79px
                        width: 356px

                    +max-width(1590px)
                        margin-bottom: 15px

                        img
                            height: 60px
                            width: 270px

                    +max-width(1350px)
                        margin-bottom: 10px

                        img
                            height: 51px
                            width: 230px

                        +for-small
                            img
                                height: 36px
                                width: 160px

                .-title
                    margin-bottom: 30px

                    span
                        +notosans
                        display: block
                        font-weight: 200
                        letter-spacing: 0.07em
                        text-indent: 0.07em

                        &.main
                            font-size: 79px
                            font-weight: 100
                            margin-bottom: 40px

                            +for-small
                                font-weight: 200

                        &.sub
                            font-size: 33px

                    +max-width(1590px)
                        margin-bottom: 25px
                        span.main
                            font-size: 60px
                            margin-bottom: 35px

                        span.sub
                            font-size: 20px
                            font-weight: 300

                    +max-width(1350px)
                        margin-bottom: 20px
                        span.main
                            font-size: 50px
                            margin-bottom: 30px

                        span.sub
                            font-size: 15px
                            font-weight: 300

                        +for-small
                            margin-bottom: 10px
                            span.main
                                font-size: 22px
                                margin-bottom: 20px
                            span.sub
                                line-height: 1.6

                .-text
                    +notosans
                    font-size: 19px
                    letter-spacing: 0.1em
                    line-height: 1.8
                    text-indent: 0.1em

                    +max-width(1590px)
                        font-size: 16px

                    +max-width(1350px)
                        font-size: 14px

                        +for-small
                            font-size: 13px
                            padding: 0 20px
                            text-align: justify

// Headding
// -----------------------------

.headding
    @at-root
        &-primary
            +TTNormsPro-Italic
            font-size: 18px
            letter-spacing: 0.05em
            margin-bottom: 50px

            +for-small
                font-size: 12px
                margin-bottom: 30px

            &.center
                text-align: center
                text-indent: 0.05em

                +for-small
                    text-align: left

            &.white
                color: $color-white

            // +max-width(1366px)
            //     font-size: 20px

            +for-small
                font-size: 12px

            &.small
                font-size: 18px
                margin-bottom: 25px

                +for-small
                    font-size: 12px
                    margin-bottom: 15px

        &-secondary
            margin-bottom: 70px

            +for-small
                margin-bottom: 20px

            span
                color: #3A81C4
                display: block

                &.en
                    +TTNormsPro-ExtraLightItalic
                    font-size: 49px
                    letter-spacing: 0.1em
                    margin-bottom: 10px

                    +for-small
                        font-size: 24px
                        margin-bottom: 5px
                        letter-spacing: 0.05em
                    
                    .in-ja
                        +notosans
                        display: inline
                        font-style: italic
                        font-size: 43px
                        font-weight: 200

                        +for-small
                            font-size: 23px

                &.ja
                    +notosans
                    font-size: 13px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 11px
                        line-height: 1.5
            &.black
                span
                    color: $color-black

            &.reverse
                margin-bottom: 50px

                +for-small
                    margin-bottom: 25px

                span
                    color: $color-red
                    display: block

                    &.en
                        +TTNormsPro-Italic
                        font-size: 13px
                        letter-spacing: 0.1em
                        margin-bottom: 10px

                        +for-small
                            font-size: 12px
                            margin-bottom: 0

                    &.ja
                        +TTNormsPro-ExtraLightItalic
                        font-size: 49px
                        letter-spacing: 0.05em

                        +for-small
                            +TTNormsPro-LightItalic
                            font-size: 24px

            &.white
                span
                    color: $color-white

            &.red
                span
                    color: $color-red

            &.blue
                span
                    color: #3A81C4

            &.center
                text-align: center

                .en
                    text-indent: 0.1em

                .ja
                    text-indent: 0.05em

        &-tertiary
            +notosans
            font-size: 35px
            font-weight: 200
            letter-spacing: 0.22em
            line-height: 1.5
            margin-bottom: 45px
            text-indent: 0.22em
            text-align: center

            +max-width(1245px)
                font-size: 25px

                +for-small
                    font-size: 15px
                    letter-spacing: 0.05em
                    margin-bottom: 15px
                    text-indent: 0
                    text-align: left

        &-quaternary
            +notosans
            font-size: 44px
            font-weight: 100
            letter-spacing: 0.03em
            line-height: 1.8

            +for-small
                font-size: 18px
                line-height: 1.5
                letter-spacing: 0.01em
                text-align: left

            &.center
                text-align: center
                text-indent: 0.03em

                +for-small
                    text-align: left

        &-quinary
            +notosans
            font-size: 25px
            font-weight: 200
            letter-spacing: 0.2em
            line-height: 1.8
            margin-bottom: 35px

            &.center
                text-align: center
                text-indent: 0.2em

        &-senary
            +notosans
            color: #3A81C4
            font-size: 30px
            font-weight: 200
            letter-spacing: 0.1em
            margin-bottom: 13px
            padding-left: 22px
            position: relative

            +for-small
                font-size: 15px
                margin-bottom: 9px
                padding-left: 13px

            &::after
                +position-absolute(50%,auto,auto,0)
                background-color: #3A81C4
                content: ''
                height: 30px
                transform: translateY(-50%)
                width: 10px

                +for-small
                    height: 14px
                    width: 5px

            &.blue
                color: #3A81C4

                &::after
                    background-color: #3A81C4


// Text
// -----------------------------

.text
    @at-root
        &-primary
            +notosans
            font-size: 19px
            letter-spacing: 0.1em
            line-height: 1.8

            &.center
                text-align: center
                text-indent: 0.1em

                +for-small
                    text-align: justify

            &.white
                color: $color-white

            +max-width(1366px)
                font-size: 15px

                +for-small
                    font-size: 12px

        &-secondary
            +notosans
            font-size: 13px
            letter-spacing: 0.1em
            text-align: justify

            +for-small
                font-size: 12px

            &.white
                color: $color-white

        &-tertiary
            +notosans
            font-size: 16px
            letter-spacing: 0.1em
            line-height: 1.8
            text-align: justify

            +for-small
                font-size: 13px
                letter-spacing: 0.05em
                line-height: 1.6

        &-read
            +notosans
            font-size: 15px
            letter-spacing: 0.05em
            line-height: 2.2

            &.white
                color: $color-white

            &.height
                line-height: 1.5

            &.center
                text-align: center
                text-indent: 0.05em

                +for-small
                    text-align: justify

            +for-small
                font-size: 12px
                line-height: 2
                text-align: justify


// Button
// -----------------------------

.button
    @at-root
        &-ghost
            +transition((background-color),0.3s,ease,0)
            border: 1px solid $color-black
            display: block
            padding: 20px 24px
            position: relative
            width: 480px

            +for-small
                padding: 15px

            &:hover
                background-color: $color-black
                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            span
                +notosans
                +transition((color),0.3s,ease,0)
                font-size: 15px
                letter-spacing: 0.2em
                text-align: center
                text-indent: 0.2em

                +max-width(1366px)
                    font-size: 13px

                    +for-small
                        font-size: 12px

                +for-small
                    letter-spacing: 0.1em
                    text-align: left
                    text-indent: 0.1em

                &.en
                    +brandon
                    letter-spacing: 0.1em
                    font-size: 14px
                    font-weight: 500

                    +for-small
                        font-size: 12px

            &.white
                border: 1px solid $color-white

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

                &:hover
                    background-color: $color-white

                    span
                        color: $color-black

                    .arrow
                        svg
                            fill: $color-black

            &.red
                +transition((opacity),0.3s,ease,0)
                background-color: $color-red
                border: 1px solid $color-red

                &:hover
                    opacity: 0.8

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            &.black
                +transition((opacity),0.3s,ease,0)
                background-color: #262626
                border: 1px solid #262626

                &:hover
                    opacity: 0.8

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            &.grey
                +transition((opacity),0.3s,ease,0)
                background-color: #7c7c7c
                border: 1px solid #7c7c7c

                &:hover
                    opacity: 0.8

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            &.d-grey
                +transition((opacity),0.3s,ease,0)
                background-color: #252525
                border: 1px solid #252525

                &:hover
                    opacity: 0.8

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            &.blue
                +transition((opacity),0.3s,ease,0)
                background-color: #3a81c4
                border: 1px solid #3a81c4

                &:hover
                    opacity: 0.8

                span
                    color: $color-white

                .arrow
                    svg
                        fill: $color-white

            &.center
                margin: 0 auto
                text-align: center

                +for-small
                    text-align: left

            &.small
                width: 328px

                +for-small
                    width: 100%

                span
                    font-size: 14px

                    +for-small
                        font-size: 12px

            &.large
                align-items: center
                color: $color-white
                display: flex
                flex-direction: column
                height: 247px
                justify-content: center
                width: 100%

                +for-small
                    align-items: flex-start
                    position: relative
                    height: auto

                .-italic
                    height: auto
                    max-width: 446px
                    margin-bottom: 5px
                    width: 100%

                & > p
                    +notosans
                    font-size: 34px
                    font-size: 1.614583333vw
                    font-size: 24px
                    font-weight: 300
                    letter-spacing: 0.2em
                    line-height: 1.75

                    +for-small
                        font-size: 11px
                        letter-spacing: 0.02em
                        text-align: left

                .button-more
                    margin-top: 20px

                    +for-small
                        +position-absolute(auto,15px,17px,auto)
                        margin-top: 0

                span.en
                    +for-small
                        +TTNormsPro-Italic
                        display: block
                        font-size: 13px
                        margin-bottom: 5px

                &.other
                    height: auto

                    p
                        font-size: 15px

                        +for-small
                            font-size: 14px
                            line-height: 1.3

            &.other
                background-color: $color-white
                border: 1px solid $color-black

                span
                    color: $color-red

                .arrow
                    svg
                        fill: $color-red

            &.full
                width: 100%

            .arrow
                +position-absolute(47%,25px,auto,auto)
                transform: translateY(-50%)

                +for-small
                    +position-absolute(47%,20px,auto,auto)

                svg
                    +transition((fill),0.3s,ease,0)
                    fill: $color-black
                    height: auto
                    width: 60px

                    +for-small
                        width: 23px

        &-more
            height: 12px

            span
                +brandon
                display: block
                font-size: 11px !important
                font-weight: 700
                letter-spacing: 0.2em
                padding-left: 80px
                position: relative

                +for-small
                    padding-left: 60px

                &:after
                    +position-absolute(auto,auto,2px,0)
                    background-color: $color-black
                    content: ''
                    height: 1px
                    width: 58px

                    +for-small
                        bottom: 2px
                        width: 50px

                &:before
                    +position-absolute(auto,auto,5px,47px)
                    background-color: $color-black
                    content: ''
                    height: 1px
                    transform: rotate(25deg)
                    width: 12px

                    +for-small
                        bottom: 4px
                        left: 43px
                        width: 8px

            &.white
                span
                    color: $color-white

                    &:after,
                    &:before
                        background-color: $color-white

            &.center
                display: block
                text-align: center

                span
                    display: inline-block
                    margin: 0 auto
                    text-align: center

        &-back
            top: 155px
            right: 2.8%
            display: block
            position: fixed
            text-align: center
            width: 40px

            +for-small
                position: static
                margin-left: 20px
                margin-bottom: 15px
                width: 30px

            &.single
                position: static
                margin: 55px auto 0

                +for-small
                    margin-top: 10px

            .icon
                height: 40px
                width: 40px

                +for-small
                    height: 30px
                    width: 30px

            span
                +brandon
                display: block
                font-size: 11px
                font-weight: 700
                letter-spacing: 0.2em
                margin-top: 5px

                +for-small
                    font-size: 10px
                    margin-top: 0
                    font-weight: 500

        &-large
            a
                +transition((opacity),0.3s,ease,0)
                display: block
                background-color: #262626
                padding: 50px 0
                width: 100%

                +for-small
                    padding: 20px
                    position: relative

                &:hover
                    opacity: 0.8

                .en, .ja
                    color: $color-white
                    display: block
                    text-align: center

                    +for-small
                        text-align: left

                .en
                    +TTNormsPro-LightItalic
                    font-size: 20px
                    letter-spacing: 0.05em
                    margin-bottom: 30px
                    text-indent: 0.05em

                    +for-small
                        font-size: 12px
                        margin-bottom: 10px
                        line-height: 1.5

                .ja
                    +notosans
                    font-size: 20px
                    font-weight: 300
                    letter-spacing: 0.2em
                    margin-bottom: 30px
                    text-indent: 0.2em

                    +for-small
                        font-size: 12px
                        letter-spacing: 0.1em
                        text-indent: 0.1em
                        margin-bottom: 0

                .button-more
                    span
                        &:before,
                        &:after
                            background-color: $color-white

                    +for-small
                        +position-absolute(auto,20px,22px,auto)
                        display: inline-block

                        span
                            padding-left: 32px

                            &:before
                                bottom: 5px
                                left: 11px
                                width: 12px

                            &:after
                                width: 23px

        &-flat
            +transition((opacity),0.3s,ease,0)
            background-color: #FF0000
            display: block
            padding: 18px 0 17px
            position: relative
            text-align: center
            width: 100%

            +for-small
                padding: 13px 0 12px

            &:hover
                opacity: 0.7

            &.soon
                background-color: #4D4D4D

                &:hover
                    opacity: 1

            &.blue
                background-color: $color-blue

            span
                +notosans
                color: $color-white
                font-size: 13px
                font-weight: 500
                letter-spacing: 0.1em

                +for-small
                    font-size: 12px
                    font-weight: 500
                    letter-spacing: 0.03em

            .-icon
                +position-absolute(50%,20px,auto,auto)
                height: 7px
                transform: translateY(-50%)
                width: 30px

                +for-small
                    height: 10px
                    transform: translateY(-65%)
                    width: 22px
                    right: 15px

                &:after
                    +position-absolute(auto,0,0,auto)
                    background-color: $color-white
                    content: ''
                    height: 1px
                    width: 30px

                    +for-small
                        width: 22px

                &:before
                    +position-absolute(auto,0,3px,auto)
                    background-color: $color-white
                    content: ''
                    height: 1px
                    transform: rotate(25deg)
                    width: 12px

                    +for-small
                        bottom: 3px
                        transform: rotate(30deg)
                        width: 12px

            .arrow
                +position-absolute(47%,25px,auto,auto)
                transform: translateY(-50%)

                +for-small
                    +position-absolute(47%,20px,auto,auto)

                svg
                    +transition((fill),0.3s,ease,0)
                    fill: $color-white
                    height: auto
                    width: 60px

                    +for-small
                        width: 23px

        &-line
            +transition((opacity),0.3s,ease,0)
            border-bottom: 1px solid #0071BC
            display: inline-block
            padding-right: 95px
            padding-bottom: 15px
            position: relative

            +for-small
                display: block
                padding-right: 25px
                padding-bottom: 10px

            &:nth-child(1)
                margin: 15px 0 30px

                +for-small
                    margin: 20px 0 20px

            &:hover
                opacity: 0.7

            span
                +notosans
                color: #0071BC
                font-size: 18px
                letter-spacing: 0.1em

                +for-small
                    font-size: 14px
                    line-height: 1.4

            .arrow
                +position-absolute(auto,0,16px,auto)

                +for-small
                    bottom: 11px
                svg
                    fill: #0071BC
                    height: 6px
                    width: 60px

                    +for-small
                        height: 6px
                        width: 23px


.architect
    @at-root
        &-movie
            padding-top: 80px
            position: relative
            margin-bottom: 95px

            +for-small
                padding-top: 25px
                margin-bottom: 40px

            &::after
                +position-absolute(0,auto,auto,0)
                background-color: #2B2B2B
                content: ''
                height: 75%
                width: 100%
                z-index: -1

                +for-small
                    height: 80%

            .-movie
                background-color: $color-white
                margin: 0 auto
                max-width: 1420px
                width: 74%

                +for-small
                    margin: 0 20px
                    width: auto

                .-movie-inner
                    +transition((opacity),0.3s,ease,0)
                    position: relative
                    height: 0
                    padding: 0 0 56.25%
                    overflow: hidden

                    &:hover
                        cursor: pointer
                        opacity: 0.8

                    iframe
                        position: absolute
                        top: 0
                        left: 0
                        height: 100%
                        width: 100%
                        max-width: 100%

                    img
                        height: auto
                        width: 100%

// Page top
// -----------------------------

.pagetop


// Footer
// -----------------------------

.footer
    background-color: #f3f3f3
    overflow: hidden
    padding: 55px 0 50px
    position: relative
    z-index: 2

    +for-small
        padding: 20px 0

    & > .inner
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 0 auto
        position: relative
        width: 87.4%

        +max-width(1450px)
            flex-direction: column
            padding-bottom: 50px

            +for-small
                padding-bottom: 0

        +for-small
            margin: 0 20px
            width: auto

        .-left
            .-logo
                margin-bottom: 165px

                +max-width(1450px)
                    margin: 0 0 45px

                    +for-small
                        margin-bottom: 18px
                svg
                    height: 65px
                    width: 152px

                    +for-small
                        height: 45px
                        width: 105px

                    .cls-1
                        fill: #22305a

                img
                    height: 66px
                    width: 146px


        .-right
            +max-width(1450px)
                margin-bottom: 40px

                +for-small
                    margin-bottom: 0

            & > .-wrap
                display: flex

                +for-small
                    flex-direction: column

                .-contents
                    +for-small
                        margin-bottom: 40px

                    &.location
                        margin-right: 100px

                        +max-width(1655px)
                            margin-right: 50px

                            +for-small
                                margin-right: 0

                    .-head
                        +brandon
                        color: #808080
                        font-size: 13px
                        letter-spacing: 0.1em
                        margin-bottom: 13px

                        +for-small
                            font-size: 12px
                            margin-bottom: 10px

                    .-company
                        +notosans
                        font-size: 15px
                        font-weight: 600
                        letter-spacing: 0.1em
                        margin-bottom: 5px

                        +for-small
                            font-size: 13px
                            margin-bottom: 7px

                    .-add
                        margin-bottom: 15px
                        span
                            line-height: 1.8
                            display: block

                    .-number
                        display: flex
                        margin-bottom: 28px

                        +for-small
                            margin-bottom: 15px

                        .-tell
                            +transition((opacity),0.3s,ease,0)
                            margin-right: 25px

                            +for-small
                                margin-right: 20px

                            &:hover
                                opacity: 0.7

                        .num > span
                            +brandon
                            letter-spacing: 0.1em
                            display: block

                            &:nth-child(1)
                                color: #808080
                                font-size: 13px

                            &:nth-child(2)
                                font-size: 21px
                                font-weight: 300

                                +for-small
                                    font-size: 17px

                    & > .-list
                        display: flex

                        +for-small
                            flex-direction: column

                        &.space
                            margin-bottom: 30px

                            +for-small
                                margin-bottom: 15px

                        .-element
                            min-width: 190px

                            +for-small
                                min-width: auto

                            &:nth-child(1)
                                margin-right: 70px

                                +max-width(1655px)
                                    margin-right: 50px

                                    +for-small
                                        margin-right: 0
                                        margin-bottom: 15px

                            &:nth-child(2)
                                margin-right: 30px

                                +max-width(1655px)
                                    margin-right: 0

                            .-main, a, span
                                +notosans
                                font-size: 13px
                                letter-spacing: 0.1em
                                line-height: 2

                                +for-small
                                    font-size: 12px

                            a, span
                                display: block

                                &.sub
                                    padding-left: 13px

                                &.soon
                                    pointer-events: none
                                    opacity: 0.5

                                +for-small
                                    font-size: 12px

                                &.-under
                                    margin-bottom: 35px

                                    +for-small
                                        margin-bottom: 20px

                                &.-under-sp
                                    +for-small
                                        margin-bottom: 20px

                            a
                                +transition((opacity),0.3s,ease,0)
                                &:hover
                                    opacity: 0.7

        .-other
            align-items: center
            display: flex
            justify-content: space-between
            width: 100%

            +for-small
                flex-direction: column

            .-sns
                display: flex
                justify-content: space-between
                max-width: 602px
                width: 100%

                +for-small
                    justify-content: center
                    margin-bottom: 15px

                +max-width(1450px)
                    +position-absolute(auto,0,0,0)

                    +for-small
                        position: static

                // .-list
                //     margin-right: 44px

                //     &:last-child
                //         margin-right: 0

                .-list
                    +for-small
                        margin: 0 5px

                .-list > a
                    +transition((opacity),0.3s,ease,0)
                    display: block
                    padding-left: 35px
                    position: relative

                    &:hover
                        opacity: 0.7

                    +max-width(1480px)
                        padding-left: 30px

                    p
                        +brandon
                        font-size: 13px
                        font-weight: 400
                        letter-spacing: 0.1em

                        +for-small
                            display: none

                    .icon-sns-facebook,
                    .icon-sns-instagram
                        +position-absolute(50%,auto,auto,0)
                        transform: translateY(-50%)

                        &:before
                            font-size: 25px
                            margin: 0

                            +for-small
                                font-size: 20px

                    svg
                        +position-absolute(50%,auto,auto,10px)
                        height: auto
                        transform: translateY(-50%)
                        width: 16px

                        +for-small
                            width: 14px

                    &.youtube
                        display: block
                        height: 25px
                        margin-top: -7px
                        padding: 0
                        width: 113px

                        +for-small
                            height: 16px
                            width: 73px

                        svg
                            height: auto
                            width: 100%

            & > .copyright
                +brandon
                font-size: 12px
                letter-spacing: 0.1em

                +max-width(1450px)
                    +position-absolute(auto,0,0,auto)

                    +for-small
                        position: static
