extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'labo_architect'
block content
    .from1st-bnr
        a(href!=`${root}/`)
            .for-large
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
            .for-small
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st-sp.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
    section.other#active
        .architect-expo
            .bg-image
                img(src!=`${tRoot}/assets/images/labo/bg-architect.png`)
                img.logo(src!=`${tRoot}/assets/images/architect/logo-a-expo.svg`, art="建築家と創る家 〜建築家からのプレゼン展〜 EXPO2021")
            .content-small
                h2.headding-primary.small From1st. TOPICS.
                h1.-title
                    span.main
                        | 建築家と創る家
                    span 〜建築家からのプレゼン展〜
                h3.-sub
                    | 香川を代表する27人の建築家が、
                    br.blank
                    | 税込総額3,000万円の住まいを、
                    br
                    | 27邸の1/50建築模型で
                    br.for-small
                    | プレゼンテーション。
                p.-text
                    | 香川を代表する個性あふれる建築家27人が「From1st.Labo.」に集結。
                    br.for-large
                    | 個性あふれる建築家が、これからの暮らしにフィットする27邸の住まいを、1/50建築模型でプレゼンテーション。
                    br.for-large
                    | 今回の予算は、設計費も含み総額3,000万円（税込）。あなたはそこから一番いいプランを選ぶだけ。
                    br.for-large
                    | 外構や照明なども希望どおりに仕上げ、すぐに住み始められます。
                p.-text.sub
                    span ［ 総額3,000万円 建築費用内訳 ］
                    span 総額3,000万円（土地除く）には、以下の予算が含まれます。 建物本体価格、設計＆監理費、屋外給排水、諸経費（照明・エアコン）、外構工事（アプローチ・植栽など）、消費税
                    span ※土地代、印紙代、登記費用、火災保険（地震保険）・銀行融資諸費用別途


    section.section#movie
        .architect-movie
            h2.headding-secondary.white.center
                span.en TV CM
                span.ja
                    | 建築家と創る家
                    br.for-small
                    | 〜建築家からのプレゼン展〜 テレビCM
            .-movie
                .-movie-inner
                    iframe(src!=`https://www.youtube.com/embed/HOcORzRJn8Q?rel=0` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

    section.section-senary#presentation
        .architect-list
            h2.headding-secondary.red.center
                span.en
                    | Presentation&
                    br.for-small
                    | Interview
                span.ja
                    | 建築家からの
                    br.for-small
                    | プレゼンテーション＆インタビュー
            ul.-wrap
                include ./templates/php/loopStart.php
                | <?php $taxonomyName = 'labo_architect_cat'; ?>
                | <?php
                | $a_name_en = SCF::get( 'a_name_en' );
                | $a_company = SCF::get( 'a_company' );
                | $a_portrait = SCF::get('a_portrait');
                | $a_list_thumnail = SCF::get('a_list_thumnail');
                | $check_model = SCF::get('check_model');
                | ?>
                li.-list: a(href!=`<?php the_permalink(); ?>`)
                    .-image
                        .architect
                            | <?php echo wp_get_attachment_image( $a_portrait , 'full' ); ?>
                        .model
                            | <?php echo wp_get_attachment_image( $a_list_thumnail , 'full' ); ?>
                        | <?php if( $check_model && in_array('モデル', $check_model )) :?>
                        .icon-model
                            img(src!=`${tRoot}/assets/images/labo/imgtxt-model.svg`)
                        | <?php endif; ?>

                        | <?php if( $check_model && in_array('商談中', $check_model )) :?>
                        .icon-negotiations
                            img(src!=`${tRoot}/assets/images/labo/icon-negotiations.svg`)
                        | <?php endif; ?>

                        | <?php if( $check_model && in_array('契約済', $check_model )) :?>
                        .icon-contracted
                            img(src!=`${tRoot}/assets/images/labo/icon-contracted.svg`)
                        | <?php endif; ?>

                        | <?php if( $check_model && in_array('配信中', $check_model )) :?>
                        .icon-movie
                            img(src!=`${tRoot}/assets/images/labo/icon-movie-w.svg`)
                        | <?php endif; ?>
                    .-content
                        .-data
                            h3.name
                                span.en <?php echo $a_name_en ?>
                                span.ja <?php the_title(); ?>
                            p.company <?php echo $a_company ?>
                        .-button
                            p
                                | Presentation&Interview
                            .more
                                span more
                                .arrow
                                    include ./templates/_icon-arrow-s
                include ./templates/php/loopEnd.php

    include ./templates/_contact_gallery

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');
            $(".side-nav.labo_architect").addClass("on");

            $('.-movie-inner').on('click', function (){
                var movie_url = $(this).attr('data-url')
                $(this).html('<iframe src="https://www.youtube.com/embed/' + movie_url +  '?autoplay=1&rel=0&mute=1" frameborder="0" allowfullscreen></iframe>')
            });

            //- $(window).on("scroll", function() {
            //-     var ScrollTop = $(document).scrollTop();

            //-     if (ScrollTop >= $("#movie").offset().top) {
            //-         $(".side-nav.architect").addClass("on");
            //-     } else {
            //-         $(".side-nav.architect").removeClass("on");
            //-     }

            //-     if (ScrollTop >= $("#presentation").offset().top - 250) {
            //-         $(".header.architect .logo").addClass("on");
            //-     } else {
            //-         $(".header.architect .logo").removeClass("on");
            //-     }

            //- });

            $(window).scroll(function (){
                var ScrollTop = $(document).scrollTop();
                if (ScrollTop > $('#active').offset().top) {
                    $(".from1st-bnr").addClass("off");
                } else {
                    $(".from1st-bnr").removeClass("off");
                }
            });

        });
