extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'modelhouse'
block content
    section.section
        .post-modelhouse.content-wrap
            a.button-back(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
                span BACK
            h1.headding-secondary.center
                span.en From1st. Real Estate Modelhouse
                span.ja 当社分譲地内こだわりのモデルハウス
            h2.headding-tertiary 当社分譲地内こだわりの<br class="for-small">モデルハウス見学会開催中！

            ul.modelhouse-wrap
                include ./templates/php/loopStart.php
                | <?php $a_company = SCF::get( 'a_company' ); ?>
                li.list: a(href!=`<?php the_permalink(); ?>`)
                    p.icon Model House
                    .image
                        | <?php the_post_thumbnail('post_thumbnail'); ?>
                    h2.title <?php the_title(); ?>
                    .content
                        | <?php
                        | if(mb_strlen($post->post_content, 'UTF-8')>65){
                        |     $content= mb_substr(strip_tags($post->post_content), 0, 100, 'UTF-8');
                        |     echo $content.' ... ';
                        | }else{
                        |     echo strip_tags($post->post_content);
                        | }
                        | ?>
                    p.company <?php echo $a_company ?>
                    time <?php the_time('Y.m.d'); ?> update.
                    .button-more
                        span MORE
                include ./templates/php/loopEnd.php

            .pager
                include ./templates/php/pageNav.php

    include ./templates/_contact

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');
            $(".side-nav.modelhouse").addClass("on");

        });
