extends ./templates/_layout
block page-config
    -var current = 'news'
    -var chapter = false
    -var files = 'other'

block content
    section.section
        .post-o-news.content-small
            h1.headding-secondary.center
                span.en From1st. What’s New
                span.ja 新着分譲地買付情報
            // .category-list
            //     .-wrap
            //         ul.-list
            //             include ./templates/php/get_catlist.php

            .-wrap
                include ./templates/php/post_list.php
                | <?php
                | foreach ($aryNews as $key => $value ){
                | ?>
                .-list
                    time <?php echo $value['date']; ?> update.
                    .-flex
                        .-main
                            h2.-title <?php echo $value['title']; ?>
                            | <?php
                            | if( $value['permission'] ) :
                            | ?>
                            p <?php echo $value['permission']; ?><br class="for-small"> 開発許可済み
                            | <?php endif; ?>
                        .-sub
                            | <?php
                            | if( $value['release'] && in_array('公開', $value['release'] )) :
                            | ?>
                            p.status 公開
                            | <?php endif; ?>

                            | <?php
                            | if ($value['link'] != '') {
                            | ?>
                            a.button-more(href!=`<?php echo $value['link']; ?>`)
                                span MORE
                            | <?php } ?>
                | <?php } ?>


            //- .pager
            //-     include ./templates/php/pageNav.php



    //- include ./templates/_labo-access

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.news").addClass("on");

        });
