extends ./templates/_layout
block page-config
    -var current = 'news'
    -var chapter = false
    -var files = 'other'

block content
    section.section
        .post-o-news.content-small
            h1.headding-secondary.center.red
                span.en From1st. Labo. News
                span.ja フロムファーストラボ 新着情報
            // .category-list
            //     .-wrap
            //         ul.-list
            //             include ./templates/php/get_catlist.php

            .labo-news
                .-wrap
                    .-list.full
                        include ./templates/php/loopStart.php
                        .item
                            a(href!=`<?php the_permalink(); ?>`)
                                .head
                                    time <?php the_time('Y.m.d'); ?> update.
                                // ローカル 26 デモ 44
                                | <?php if (in_category(61)) : ?>
                                .title.single
                                    .season
                                        | <?php
                                        | $date_start = SCF::get( 'date_start' );
                                        | $date_end = SCF::get('date_end');
                                        | ?>
                                        | <?php if($date_start): ?>
                                        p.time <?php echo $date_start; ?>
                                        | <?php endif; ?>

                                        | <?php if($date_end): ?>
                                        p.time <?php echo $date_end; ?>
                                        | <?php endif; ?>
                                    | <?php the_title(); ?>
                                | <?php else : ?>
                                p.title.single <?php the_title(); ?>
                                | <?php endif; ?>
                                | <?php
                                | $event_image = SCF::get('event_image');
                                | if($event_image):
                                | ?>
                                .-eyecatch
                                    | <?php echo wp_get_attachment_image( $event_image , 'full' ); ?>
                                | <?php endif ?>
                                | <?php if(!empty($post->post_content)){ ?>
                                .content <?php echo the_content(); ?>
                                | <?php } ?>
                        include ./templates/php/loopEnd.php
                        include ./templates/php/reset.php

            .pager
                include ./templates/php/pageNav.php


            //- .pager
            //-     include ./templates/php/pageNav.php



    //- include ./templates/_labo-access

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.news").addClass("on");

        });
