footer.footer(class!='<?php echo $current; ?>')
    .inner
        .-left
            | <?php if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
            .-logo: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/company/logo-kagawa-gallery.svg", alt="かがわ家ギャラリー")
            | <?php } else { ?>
            .-logo: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                include ./templates/_logo-official
            | <?php } ?>
        .-right
            .-wrap
                .-contents.location
                    h3.-head LOCATION
                    | <?php if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
                    h3.-company 株式会社かがわ家ぎゃらりぃ
                    p.-add.text-secondary
                        span 〒761-8071
                        span 香川県高松市伏石町2130番地4<br class='for-small'>アシスト1ビル2F
                        span 営業時間9:00〜17:30 /水曜・第3木曜定休
                    | <?php } else { ?>
                    h3.-company 株式会社フロムファースト・高松
                    p.-add.text-secondary
                        span 〒761-8071
                        span 香川県高松市伏石町2130番地5<br class='for-small'>アシスト1ビル1F
                        span 営業時間9:00〜17:30 /水曜・第3木曜定休
                    | <?php } ?>

                    .-number
                        | <?php if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
                        a.-tell.num(href='tel:0878161005')
                            span TEL.
                            span 087-816-1005
                        | <?php } else { ?>
                        a.-tell.num(href='tel:0878680151')
                            span TEL.
                            span 087-868-0151
                        | <?php } ?>
                        .-fax.num
                            span FAX.
                            span 087-868-1015
                .-contents
                    h3.-head CONTENTS
                    ul.-list.space
                        li.-element
                            h4.-main
                                a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`) ・フロムファースト高松
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-map`) -マップから分譲地を探す
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`) -中学校区から分譲地を探す
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>news`) -新着分譲地買付情報
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>company`) -会社概要
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>qa`) -住まいづくりのQ&A
                        li.-element
                            h4.-main
                                span ・フロムファースト・ラボ
                            a.sub(href!=`https://www.kagawa-iehaku.jp/`, target="_blank") -かがわ家博2021

                    ul.-list.space
                        li.-element
                            h4.-main
                                a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`) ・かがわ家ぎゃらりぃ
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_architect`) -建築家と創る家
                            a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_builder`) -工務店と創る家
                            //- a.sub(href!=`<?php echo esc_url( home_url( '/' ) ); ?>request`) -資料請求
                        li.-element
                            h4.-main
                                a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>#access`) ・アクセス
                            h4.-main
                                a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`) ・お問い合わせ
                            h4.-main
                                a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>privacy`) ・プライバシーポリシー
        .-other
            ul.-sns
                li.-list: a(href!=`https://www.facebook.com/from1st.takamatsu/`, target="_blank")
                    p FACEBOOK
                    .icon-sns-facebook
                li.-list: a(href='https://www.instagram.com/from1st_takamatsu/', target="_blank")
                    p INSTAGRAM
                    .icon-sns-instagram
                li.-list: a(href='https://goo.gl/maps/WvmVgKX1HH93iBC76', target="_blank")
                    p GOOGLE MAP
                    include ./templates/_icon-map
                li.-list: a.youtube(href='https://www.youtube.com/channel/UCnHPDZVYhbuzVIEP8f-HdJg', target="_blank")
                    include ./templates/_icon-youtube

            small.copyright &copy; From1st. inc.
