header.header(class!='<?php echo $current; ?>')
    | <?php if ($current == 'home'){ ?>
    h1.logo
        include ./templates/_logo-official
    | <?php } else if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
    a.logo.other(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`)
        img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/company/logo-kagawa-gallery.svg", alt="かがわ家ギャラリー")
    | <?php } else { ?>
    a.logo.other(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
        include ./templates/_logo-official
    | <?php } ?>
    .nav
        nav.global-nav
            .-wrap
                .-list.official
                    .-logo.official: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                        img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-official-nav.svg", alt="From1st")
                    .for-small
                        .-button
                            a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-map`)
                                span マップから分譲地を探す
                            a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`)
                                span 中学校区から分譲地を探す
                            a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>news`)
                                span 新着分譲地買付情報
                            a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>category/p-information`)
                                span 新着情報
                        .-more
                            span more contents
                    .-link.official
                        .for-large
                            .-button
                                a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-map`)
                                    span マップから分譲地を探す
                                a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`)
                                    span 中学校区から分譲地を探す
                                a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>news`)
                                    span 新着分譲地買付情報
                                a.button-ghost.dark(href!=`<?php echo esc_url( home_url( '/' ) ); ?>category/p-information`)
                                    span 新着情報
                        ul.space
                            li.for-small: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                                span ホーム
                            li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>company`)
                                span 会社概要
                            li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>qa`)
                                span 住まいづくりのQ&A
                .-list.labo.center
                    .-logo.labo
                        .for-large
                            img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-labo-nav.svg", alt="From1st Labo.")
                        .for-small
                            img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-labo.svg", alt="From1st Labo.")
                    //- .-button
                    //-     a.button-ghost.dark.full(href!=`https://www.kagawa-iehaku.jp/`, target="_blank")
                    //-         span
                    //-         .for-large
                    //-             include ./templates/_logo-iehaku-nav
                    //-         .for-small
                    //-             img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-iehaku-navi-sp.svg", alt="かがわ家博2020 KAGAWA GOOD HOUSE EXPO 2020")
                    .-button
                        a.button-ghost.dark.full(href!=`https://www.kagawa-iehaku.jp/`, target="_blank")
                            span
                            .for-large
                                include ./templates/_logo-iehaku-nav
                            .for-small
                                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-iehaku-navi-sp.svg", alt="かがわ家博2020 KAGAWA GOOD HOUSE EXPO 2020")


                .-list.center
                    .-logo.gallery
                        .for-large
                            a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`)
                                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-gallery-nav.svg", alt="かがわ家ぎゃらりぃ")
                        .for-small
                            div
                                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo-gallery-nav.svg", alt="かがわ家ぎゃらりぃ")
                    .-link.gallery
                        ul.space
                            li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`)
                                span かがわ家ぎゃらりぃ
                            li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_architect`)
                                span 建築家と創る家
                            li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_builder`)
                                span 工務店と創る家
                            //- li: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>request`)
                            //-     span 資料請求

                .-list
                    .-button.only
                        //- a.button-ghost.small.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>modelhouse`)
                        //-     span 当社分譲地内モデルハウス
                        a.button-ghost.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>#access`)
                            span アクセス
                        a.button-ghost.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                            span お問い合わせ
                .-list.sns
                    .-shre
                        a.facebook(href!=`https://www.facebook.com/from1st.takamatsu/`, target="_blank")
                            .icon-sns-facebook
                            span.en.for-small FACEBOOK
                        a(href='https://www.instagram.com/from1st_takamatsu/', target="_blank")
                            .icon-sns-instagram
                            span フロムファースト
                        a(href='https://www.instagram.com/from1st_labo_architect/', target="_blank")
                            .icon-sns-instagram
                            span 建築家と創る家
                        a(href='https://www.instagram.com/from1st_labo_builder/', target="_blank")
                            .icon-sns-instagram
                            span 工務店と創る家
                        a(href='https://goo.gl/maps/WvmVgKX1HH93iBC76', target="_blank")
                            include ./templates/_icon-map
                            span.en.for-small GOOGLE MAP
                        a.youtube(href='https://www.youtube.com/channel/UCnHPDZVYhbuzVIEP8f-HdJg', target="_blank")
                            include ./templates/_icon-youtube

        | <?php if ($current == 'home'){ ?>
        ul.-contact
            li.-list.tel: a(href!=`tel:0878680151`)
                include ./templates/_text-tel
            li.-list.contact: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                include ./templates/_text-contact
        | <?php } else if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
        ul.-button
            li.-list.contact: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                | お問合せ･ご相談はコチラ
                .button-more.white
            li.-list.official: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-map`)
                | マップから分譲地を探す
                .button-more.white
            li.-list.gallery: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`)
                | 中学校区から分譲地を探す
                .button-more.white
        | <?php } else { ?>
        ul.-button
            li.-list.official: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-map`)
                | マップから分譲地を探す
                .button-more.white
            li.-list.gallery: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`)
                | 中学校区から分譲地を探す
                .button-more.white
        | <?php } ?>

        .for-small
            | <?php if ($current == 'kagawa-iegallery' || $current == 'kagawa-iegallery-architect' || $current == 'kagawa-iegallery-corporation' || $current == 'kagawa-iegallery-maker' || $current == 'kagawa-iegallery-builder' || $current == 'gallery-detail' || $current == 'gallery' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'labo_builder' || $current == 'labo_builder-detail' || $current == 'presentation'){ ?>
            a.-mail(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/icon-mail.svg")
            | <?php } ?>
            a.-tel(href='tel:0878680151')
                img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/icon-tel.svg")

        .hamburger(class!='<?php echo $current; ?>')
            - for (var i = 0; i < 3; i++) {
                span.icon
            - }