extends ./templates/_layout
block page-config
    -var current = 'home'
    -var chapter = true
    -var mainvisual = true

block mainvisual
    section.main-visual.home.section-slide
        .main-visual-slider

        .main-copy
            img.for-large(src!=`${tRoot}/assets/images/home/imgtxt-maincopy.svg`, alt='香川で家を建てたいと思ったら？ From1st.Labo.個性溢れる専門家と住まい手の出会いを繋ぐ、家づくり情報ライブラリー＆イベントスペース。')
            img.for-small(src!=`${tRoot}/assets/images/home/imgtxt-maincopy-sp.svg`, alt='香川で家を建てたいと思ったら？ From1st.Labo.個性溢れる専門家と住まい手の出会いを繋ぐ、家づくり情報ライブラリー＆イベントスペース。')

            .-button
                a(href!=`../article-map`)
                    span マップから分譲地を探す
                    .-icon
                        include ./templates/_icon-arrow-s
                a(href!=`../article-eria`)
                    span 中学校区から分譲地を探す
                    .-icon
                        include ./templates/_icon-arrow-s

            .-new: a(href!=`../news`)
                .-head
                    p.head What’s New
                h2.title 新着分譲地買付情報はコチラ
                .-icon
                    include ./templates/_icon-arrow-s

            .-other
                a.topics(href!=`https://www.kagawa-iehaku.jp/`, target="_blank")
                    img(src!=`${tRoot}/assets/images/common/logo-iehaku.svg`, alt='かがわ家博2020')
                    .-icon
                        include ./templates/_icon-arrow-s
                // a.topics(href!=`../labo`)
                //     img(src!=`${tRoot}/assets/images/common/logo-labo-expo-w2.svg`, alt='From1st.Labo.EXPO2021')
                //     .-icon
                //         include ./templates/_icon-arrow-s
                a.event(href!=`../kagawa-iegallery`)
                    .text-wrap
                        p
                            span.head GALLERY
                            span.text かがわ家ぎゃらりぃ
                        p.copy 香川の住宅会社・建築家88社をご紹介
                    .-icon
                        include ./templates/_icon-arrow-s
            
            .-event: a(href!=`../presentation`)
                .text-wrap
                    p.head 2020<span class="ja">年</span> EVENT
                    h3.title 建築家・工務店からのプレゼン展
                .-icon
                    include ./templates/_icon-arrow-s
        

        .-news
            .swiper-container
                .swiper-wrapper
                    | <?php $target_post='post'; $post_count='2'; $category='140' ?>
                    include ./templates/php/loopStart_wpquery.php
                    .swiper-slide
                        a.wrap(href!=`<?php the_permalink(); ?>`)
                            .-head
                                p.head NEWS
                                time <?php the_time('Y.m.d'); ?> update.
                            h2.title
                                | <?php echo mb_substr($post->post_title, 0, 10).'　...more'; ?>
                    include ./templates/php/loopEnd.php
                    include ./templates/php/reset.php
            .pagination
                .swiper-pagination

        .scroll.home.js-scroll
            a.element(href='#first')
                span.text scroll
                span.border

block content
    .fullPageScroll
        section.section-slide#first
            .home-laboexpo
                .-inner
                    .-box
                        .-detail
                            h2.-logo
                                .for-large
                                    img.four(src!=`${tRoot}/assets/images/home/imgtxt-four.svg`, alt='第4弾')
                                .for-small
                                    img.four(src!=`${tRoot}/assets/images/home/imgtxt-four-w.svg`, alt='第4弾')
                                .for-large
                                    img(src!=`${tRoot}/assets/images/common/logo-iehaku-b.svg`, alt='かがわ家博2021')
                                .for-small
                                    img(src!=`${tRoot}/assets/images/common/logo-iehaku.svg`, alt='かがわ家博2021')
                            .-text
                                p.text-secondary
                                    | かがわの家づくりのプロたちが建てる
                                    br.for-small
                                    | 14棟のコンセプトハウスを
                                    br
                                    | 一挙に見学できる住宅博覧会“かがわ家博2021”。
                                    br
                                    | 自由な発想で、多様なライフスタイルに合った、
                                    br
                                    | 個性のある理想の住まいをご提案します。
                                    br
                                    | 高松市多肥上町（仏生山小学校区）で、
                                    br.for-small
                                    | 触れて感じる新しい住宅博覧会。
                                    br
                                    | ここは家づくりの始まりの場所。
                            h3.-copy
                                .for-large
                                    img(src!=`${tRoot}/assets/images/home/imgtxt-iehaku-open-b.svg`, alt='Touch&Feel EXPO.触れて感じる、住宅博覧会。10.2sat〜多肥上町で開幕')
                                .for-small
                                    img(src!=`${tRoot}/assets/images/home/imgtxt-iehaku-open.svg`, alt='Touch&Feel EXPO.触れて感じる、住宅博覧会。10.2sat〜多肥上町で開幕')
                            a.button-flat.blue(href!=`https://www.kagawa-iehaku.jp/`, target="_blank")
                                span
                                    | かがわ家博2021特設サイト
                                    .arrow
                                        include ./templates/_icon-arrow



                .labo-logo
                    .for-large
                        img.labo(src!=`${tRoot}/assets/images/common/logo-labo-sb.svg`, alt='From1st.labo.')
                    .for-small
                        img.labo(src!=`${tRoot}/assets/images/common/logo-labo-s.svg`, alt='From1st.labo.')
                    p 家づくりのはじまりの場所。
                .for-large
                    .iehaku-logo
                        img(src!=`${tRoot}/assets/images/home/bg-iehaku-logo.svg`, alt='かがわ家博2021')

                .scroll.home.js-scroll
                    a.element(href='#second')
                        span.text scroll
                        span.border

    //- section.section-secondary
    //-     .home-model
    //-         h3.headding-primary.center From1st. Real Estate Modelhouse
    //-         h3.headding-tertiary
    //-             | 当社分譲地内こだわりの
    //-             br.for-small
    //-             | モデルハウス見学会開催中！

    //-         .swiper-container
    //-             .swiper-wrapper.modelhouse-wrap
    //-                 | <?php
    //-                 |     $paged = get_query_var('paged') ? get_query_var('paged') : 1;
    //-                 |     $args = array(
    //-                 |         'post_type' => 'modelhouse',
    //-                 |         'paged' => $paged,
    //-                 |         'post_status' => 'publish',
    //-                 |         'posts_per_page' => '6', // 表示するページ数
    //-                 |         'order' => 'DESC' // 並び順
    //-                 |     );
    //-                 |     $my_query = new WP_Query($args);
    //-                 |     if ($my_query->have_posts()) :
    //-                 |     while ( $my_query->have_posts() ) : $my_query->the_post();
    //-                 | ?>
    //-                 | <?php $a_company = SCF::get( 'a_company' ); ?>
    //-                 .swiper-slide.list: a(href!=`<?php the_permalink(); ?>`)
    //-                     p.icon Model House
    //-                     .image
    //-                         | <?php the_post_thumbnail('post_thumbnail'); ?>
    //-                     h2.title <?php the_title(); ?>
    //-                     .content
    //-                         | <?php
    //-                         | if(mb_strlen($post->post_content, 'UTF-8')>65){
    //-                         |     $content= mb_substr(strip_tags($post->post_content), 0, 100, 'UTF-8');
    //-                         |     echo $content.' ... ';
    //-                         | }else{
    //-                         |     echo strip_tags($post->post_content);
    //-                         | }
    //-                         | ?>
    //-                     p.company <?php echo $a_company ?>
    //-                     time <?php the_time('Y.m.d'); ?> update.
    //-                     .button-more
    //-                         span MORE
    //-                 include ./templates/php/loopEnd.php
    //-                 include ./templates/php/reset.php

    //-         .navigation
    //-             .swiper-button-next
    //-             .swiper-button-prev

    //-         .content-small
    //-             a.button-ghost.full.center(href!=`${root}/modelhouse`)
    //-                 span 当社分譲地内こだわりのモデルハウス
    //-                 .arrow
    //-                     include ./templates/_icon-arrow

    section.section-quaternary.bg-b-grey#second
        .home-information.content-small
            h2.headding-primary.center From1st. News
            .-wrap
                .-link
                    .for-large
                        a(href!=`${root}/category/p-information`)
                            span 新着情報一覧
                            .icon
                                include ./templates/_icon-arrow-s
                    .for-small
                        .button-ghost.full.center
                            span ALL VIEW
                            .arrow
                                include ./templates/_icon-arrow
                ul.-list
                    | <?php $target_post='post'; $post_count='3'; $category='140' ?>
                    include ./templates/php/loopStart_wpquery.php
                    li.-item: a(href!=`<?php the_permalink(); ?>`)
                        .head
                            p.category NEWS
                            time <?php the_time('Y.m.d'); ?> update.
                        h3.title
                            | <?php echo mb_substr($post->post_title, 0, 30).'　...more'; ?>
                    include ./templates/php/loopEnd.php
                    include ./templates/php/reset.php


    section.section-quinary
        .labo-exhibition.content-small
            ul.-wrap
                li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`)
                    .-eyecatch.architect
                        img(src!=`${tRoot}/assets/images/home/image-kagawa-iegallery.jpg`)
                    .-content
                        .-box.architect
                            h2.-title
                                span.main
                                    | 香川の住宅会社・建築家
                                    br.for-small
                                    | 88社をご紹介
                            p.text-read
                                | かがわ家ぎゃらりぃは、香川県下88社の地元工務店、
                                br.brank
                                | ハウスメーカー、ビルダー、建築家による情報ライブラリー。
                                br.for-large
                                | 各社の事例集をご覧いただきながら、スタッフがお客様と88社を繋ぐ
                                br.brank-o
                                | お手伝いをいたします。
                        .-logo.architect
                            img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/company/logo-kagawa-gallery.svg", alt="かがわ家ギャラリー")

                    .button-ghost.full.center
                        span かがわ家ぎゃらりぃ
                        //- span 近日公開予定 Coming Soon...
                        .arrow
                            include ./templates/_icon-arrow
            ul.-wrap
                li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>presentation`)
                    .-content
                        .-box
                            h2.-title
                                span.main
                                    | 2020年EVENT
                                    br
                                    | 〜建築家・工務店からのプレゼン展〜
                            p.text-read
                                | 香川を代表する27人の建築家と、県下36社の地元工務店が、
                                br.for-large
                                | 個性溢れる73邸の住まいを、1/50建築模型でプレゼンテーション。

                    .button-ghost.full.center
                        span 建築家・工務店からのプレゼン展
                        //- span 近日公開予定 Coming Soon...
                        .arrow
                            include ./templates/_icon-arrow
                //- li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_builder`)
                //-     .-content
                //-         .-box
                //-             h2.-title
                //-                 span.main
                //-                     | 工務店と創る家
                //-             p.text-read
                //-                 | 香川県下36社の地元工務店が、
                //-                 br.brank
                //-                 | 各社それぞれの個性溢れる住まいを、
                //-                 br.for-large
                //-                 | 46邸の1/50建築模型でプレゼンテーションしました。

                //-     .button-ghost.full.center
                //-         span 工務店と創る家
                //-         //- span 近日公開予定 Coming Soon...
                //-         .arrow
                //-             include ./templates/_icon-arrow



    section.section-secondary
        .labo-about.content-wrap
            h2.headding-primary.center Company
            h3.headding-tertiary
                | “しあわせをここから”
                br.for-small
                | 分譲地で香川の街をゆたかに…
            p.text-read.center
                | しあわせの場所を探求し、心地よい街並へと育んでいく。
                br.for-large
                | 私たちフロムファーストは、分譲地の枠を超え、ここからはじまる、家づくりの“1st.パートナー”。
                br.for-large
                | “しあわせをここから”
                br.for-large
                | 私たちは、しあわせづくりの先頭で旗を振る企業でありたい。
            a.button-more.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>company`)
                span MORE

    section.section#movie
        .architect-movie.official
            h2.headding-secondary.white.center
                span.en Company Movie
                span.ja
                    | フロムファースト・高松 会社紹介ムービー
            .-movie
                .-movie-inner
                    iframe(src!=`https://www.youtube.com/embed/czkJ28TjqYU?rel=0` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

    | <?php $target_post = 'post'; $post_count = 1; ?>
    | <?php
    |     $paged = get_query_var('paged') ? get_query_var('paged') : 1;
    |     $args = array(
    |         'post_type' => array($target_post),
    |         'paged' => $paged,
    |         'post_status' => 'publish',
    |         'cat' => '61', // ローカル 26 デモ 44 本番 61
    |         'posts_per_page' => $post_count, // 表示するページ数
    |         'order' => 'DESC', // 並び順
    |     );
    |
    |     $my_query = new WP_Query($args);
    |
    |     if ($my_query->have_posts()) :
    | ?>

    | <?php
    |     while ( $my_query->have_posts() ) : $my_query->the_post();
    | ?>
    | <?php
    |    $event_start = get_post_meta($post->ID , 'event_start' ,true);
    |    $event_start_time = date('Y/m/d', strtotime($event_start));
    |    $event_end = get_post_meta($post->ID , 'event_end' ,true);
    |    $event_end_time = date('Y/m/d', strtotime($event_end));
    |    if ((date_i18n('Y/m/d') >= $event_start_time && date_i18n('Y/m/d') <= $event_end_time) || ((date_i18n('Y/m/d') <= $event_start_time))) :
    | ?>
    | <?php $flag = true; ?>
    | <?php endif ?>
    | <?php endwhile; ?>

    | <?php if ($flag): ?>
    section.section-secondary.bottom.bg-o-grey#second
        .labo-event.official
            .content-small
                h2.headding-primary.center From1st. Labo. EVENT.

                | <?php
                |     while ( $my_query->have_posts() ) : $my_query->the_post();
                | ?>
                | <?php
                |    $event_start = get_post_meta($post->ID , 'event_start' ,true);
                |    $event_start_time = date('Y/m/d', strtotime($event_start));
                |    $event_end = get_post_meta($post->ID , 'event_end' ,true);
                |    $event_end_time = date('Y/m/d', strtotime($event_end));
                |    if ((date_i18n('Y/m/d') >= $event_start_time && date_i18n('Y/m/d') <= $event_end_time) || ((date_i18n('Y/m/d') <= $event_start_time))) :
                | ?>
                a.-wrap(href!=`<?php the_permalink(); ?>`)
                    .-text
                        .-head
                            h3.season
                                | <?php
                                | $date_start = SCF::get( 'date_start' );
                                | $date_end = SCF::get('date_end');
                                | ?>
                                | <?php if($date_start): ?>
                                p.time <?php echo $date_start; ?>
                                | <?php endif; ?>

                                | <?php if($date_end): ?>
                                p.time <?php echo $date_end; ?>
                                | <?php endif; ?>
                            h3.title <?php the_title(); ?>
                        .text-read
                            | <?php
                            | if(mb_strlen($post->post_content, 'UTF-8')>65){
                            |     $content= mb_substr(strip_tags($post->post_content, '<br>'), 0, 100, 'UTF-8');
                            |     echo $content.' ... ';
                            | }else{
                            |     echo strip_tags($post->post_content, '<br>');
                            | }
                            | ?>
                        .button-ghost
                            span.en MORE
                            .arrow
                                include ./templates/_icon-arrow

                    | <?php
                    | $event_image = SCF::get('event_image');
                    | if($event_image):
                    | ?>
                    .-image
                        | <?php echo wp_get_attachment_image( $event_image , 'full' ); ?>
                    | <?php endif ?>
                | <?php endif; ?>
                | <?php endwhile; ?>

    | <?php endif; ?>
    | <?php endif; ?>
    include ./templates/php/reset.php

    //- section.bg-o-grey.section-tertiary
    //-     .labo-magazine.content-wrap
    //-         h2.headding-primary.center FROM1ST.LABO. WEBMAGAZINE
    //-         ul.-wrap
    //-             | <?php $target_post = 'magazine'; $post_count = 3; $post_cat = 'magazine_cat'; ?>
    //-             include ./templates/php/loopStart_wpquery_magazine.php
    //-             include ./templates/php/get_category_magazine.php
    //-             | <?php
    //-             | $m_title = SCF::get( 'm_title' );
    //-             | ?>
    //-             li.-list: a(href!=`<?php the_permalink(); ?>`)
    //-                 .-image
    //-                     | <?php
    //-                     | $m_eyecatch = SCF::get('m_eyecatch');
    //-                     | if($m_eyecatch):
    //-                     | ?>
    //-                     | <?php echo wp_get_attachment_image( $m_eyecatch , 'large' ); ?>
    //-                     | <?php else: ?>
    //-                     img(src!=`${tRoot}/assets/images/labo/image-dummy-magazine.png`, alt='FROM1ST.LABO. WEBMAGAZINE')
    //-                     | <?php endif ?>
    //-                 h3.-title
    //-                     | <?php
    //-                     | $m_title = SCF::get( 'm_title' );
    //-                     | echo nl2br($m_title);
    //-                     | ?>
    //-                 | <?php if($p_company): ?>
    //-                 h4.-name.space
    //-                     span <?php echo $p_company; ?> / <?php echo $p_name_ja; ?>
    //-                 | <?php endif; ?>
    //-                 p.text-secondary
    //-                     | <?php
    //-                     | $m_content = mb_substr(get_post_meta($post->ID, 'm_content', true), 0, 100, 'UTF-8');
    //-                     | ?>
    //-                     | <?php echo $m_content.' ... '; ?>
    //-                 .-number
    //-                     span.en Labo.Web Magazine
    //-                     span.num #0<?php echo getPostMaNumber() ?>
    //-                 .-bottom
    //-                     time <?php the_time('Y.m.d'); ?> update.
    //-                     .button-more
    //-                         span MORE
    //-                 | <?php
    //-                 | $yt_link = SCF::get( '動画' );
    //-                 | if(!empty($yt_link[0]['movie_link'])):
    //-                 | ?>
    //-                 .-movie
    //-                     img(src!=`${tRoot}/assets/images/common/icon-movie.svg`, alt='MOVIE')
    //-                 | <?php endif; ?>
    //-             include ./templates/php/loopEnd.php
    //-             include ./templates/php/reset.php

    //-         a.button-ghost.black.full.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>magazine`)
    //-             span.en ALL VIEW
    //-             .arrow
    //-                 include ./templates/_icon-arrow

    section.section
        .bnr-about
            ul.-wrap
                li.-list: a(href!=`../company`)
                    h2.-title 会社概要
                    .button-more.center
                        span MORE
                li.-list: a(href!=`../qa`)
                    h2.-title
                        | 住まいづくりQ&A
                    .button-more.center
                        span MORE

    include ./templates/_labo-access


block script
    script(type='text/javascript', src!=`https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js`)
    script(type='text/javascript', src!=`https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js`)
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.main-visual .swiper-container', {
                    speed: 1000,
                    loop: true,
                    //- effect: 'fade',
                    autoplay: {
                        delay: 4000,
                        disableOnInteraction: false
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    }
                })
            });

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.home-model .swiper-container', {
                    speed: 1000,
                    loop: true,
                    slidesPerView: 3.5,
                    spaceBetween: 85,
                    centeredSlides: true,
                    autoplay: {
                        delay: 4000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        1350: {
                            spaceBetween: 50
                        },
                        1185: {
                            slidesPerView: 2.5,
                            spaceBetween: 35
                        },
                        768: {
                            slidesPerView: 1.15,
                            spaceBetween: 10
                        }
                    }
                })
            });

            $(window).on("scroll", function() {
                var ScrollTop = $(document).scrollTop();

                if (ScrollTop >= $("#first").offset().top - 500) {
                    $(".side-nav.home").addClass("on");
                } else {
                    $(".side-nav.home").removeClass("on");
                }

                if (ScrollTop >= $("#first").offset().top) {
                    $(".header.home").addClass("on");
                } else {
                    $(".header.home").removeClass("on");
                }

            });

            $('.global-nav>.-wrap .-list .-button.only a').on('click', function(){
                $('body').removeClass('fixed').css({'top': 0});
                $('.hamburger').removeClass('-open');
                $('.global-nav').removeClass('-open');
                window.scrollTo( 0 , scrollPosition );
                hamburgerState = false;
            });

            $('.-movie-inner').on('click', function (){
                var movie_url = $(this).attr('data-url')
                $(this).html('<iframe src="https://www.youtube.com/embed/' + movie_url +  '?autoplay=1&rel=0&mute=1" frameborder="0" allowfullscreen></iframe>')
            });

            var windowWidth = $(window).width();
            var windowSm = 1366;

            //- if (windowWidth > windowSm) {
            //-     $.scrollify({
            //-         section: '.section-slide',
            //-         easing: "easeInOutQuint",
            //-         scrollSpeed: 1000
            //-     });

            //-     function scroll_control(event) {
            //-         event.preventDefault();
            //-     }
            //-     function no_scroll(){
            //-         document.addEventListener("mousewheel", scroll_control, {passive: false});
            //-         document.addEventListener("touchmove", scroll_control, {passive: false});
            //-     }
            //-     function return_scroll(){
            //-         document.removeEventListener("mousewheel", scroll_control, {passive: false});
            //-         document.removeEventListener('touchmove', scroll_control, {passive: false});
            //-     }
            //- }

        });
