extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'request'
    -var chapter = true
block chapterContent
    .chapter-secondary
        h1.-title.blue
            span.en
                | Document Request
            span.ja
                | 資料請求

block content
    section.section#first
        .content-small
            .contact-wrap
                .-information
                    p.-text
                        | お電話でのお問い合わせ・ご相談は
                        br.for-small
                        | こちらまでお気軽にご相談ください。
                    h3.-time 営業時間10:00〜17:00/水曜定休
                    .-number
                        .-wrap
                            span TEL.
                            h3 087-816-1117
                        .-wrap
                            span FAX.
                            h3 087-868-1015

                include ./templates/php/loopStart.php
                | <?php echo do_shortcode('[mwform_formkey slug="request"]'); ?>
                include ./templates/php/loopEnd.php

                // .form
                    // h2.headding-senary 資料請求
                    // .-request
                    //     h3.-head お選び頂いた会社の資料は、各社より直接ご郵送致します。

                    //     .-data
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）アトムアソート
                    //         label
                    //             input(type='radio', name='radio')
                    //             span アレックスリビング（株）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span アーブルホーム（株）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）井坂工務店
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）意匠計画
                    //         label
                    //             input(type='radio', name='radio')
                    //             span インターデコハウス
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）en create
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）大河内工務店
                    //         label
                    //             input(type='radio', name='radio')
                    //             span かがわの家.com
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）樹工舎
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）木村建設
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）栗・家
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （有）黒石建設
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）CUATRO
                    //         label
                    //             input(type='radio', name='radio')
                    //             span 建築工房ライズ(株)
                    //         label
                    //             input(type='radio', name='radio')
                    //             span 高陽建設（株）Sorai事業部
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）コラボハウス一級建築士事務所
                    //         label
                    //             input(type='radio', name='radio')
                    //             span センコー産業（株）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span センコー産業（株） ソラマド事業部
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）島色工務店
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）田中工務店
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）ダイエイハウス
                    //         label
                    //             input(type='radio', name='radio')
                    //             span チケンホーム
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （有）西建住宅
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）ハウスプロジェクト
                    //         label
                    //             input(type='radio', name='radio')
                    //             span ヒロセ設計（株）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）ビルド
                    //         label
                    //             input(type='radio', name='radio')
                    //             span ファンホーム（株）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）細川木材
                    //         label
                    //             input(type='radio', name='radio')
                    //             span Maman高松
                    //         label
                    //             input(type='radio', name='radio')
                    //             span MITO STYLE 一級建築士事務所
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）passive design house MiRaie<br>（ミライエ）
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）MIYAGAWA
                    //         label
                    //             input(type='radio', name='radio')
                    //             span （株）山倉建設
                    //         label
                    //             input(type='radio', name='radio')
                    //             span 吉田建設（株）


                    // h3.headding-senary お客様情報
                    // p.-countion 必要事項をご入力の上、「入力内容を確認する」ボタンを押してください。　※必須項目
                    // .-content
                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span お名前
                    //                 span.required ※
                    //             p.sub
                    //                 span [全角]
                    //         .-data
                    //             input.half(type='text')

                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span フリガナ
                    //                 span.required ※
                    //             p.sub
                    //                 span [全角カタカナ]
                    //         .-data
                    //             input.half(type='text')

                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span 性別
                    //                 span.required ※
                    //         .-data
                    //             label
                    //                 input(type='radio', name='radio')
                    //                 | 男性
                    //             label
                    //                 input(type='radio', name='radio')
                    //                 | 女性

                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span メールアドレス
                    //                 span.required ※
                    //             p.sub
                    //                 span [半角英数字]
                    //         .-data
                    //             input.full.space(type='text')
                    //             input.full(type='text')
                    //             span.memo ※確認の為、もう一度ご入力下さい

                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span 住所
                    //         .-data.add
                    //             input.small(type='text' name='postcode')
                    //             .label
                    //                 .select-wrap
                    //                     select.select.half(name='prefectures' id='')
                    //                         option 選択してください
                    //                         option(value='1') 新築住宅について
                    //                         option(value='2') 新築住宅について
                    //                         option(value='3') リフォーム住宅について
                    //             span.memo.space ※都道府県
                    //             input.full(type='text')
                    //             span.memo.space ※市区町村・番地
                    //             input.full(type='text')
                    //             span.memo ※アパート・マンション名等

                    //     .-row
                    //         .-head
                    //             p.main
                    //                 span TEL
                    //             p.sub
                    //                 span [半角英数字]
                    //         .-data
                    //             input.half(type='text')


                    // .-privacy
                    //     h2.-head [個人情報の利用目的について]
                    //     .-policy
                    //         .-wrap
                    //             p
                    //                 | 当社は、個人情報を以下の目的で利用させて頂きます。
                    //                 br
                    //                 | 1.不動産の売買契約又は賃貸借契約の相手方を探索すること、売買、賃貸借、仲介、管理等に関する契約（連帯保証契約を含む）を締結すること及び契約に基づく役務を提供すること。
                    //                 br
                    //                 | 2.不動産の売買、賃貸借、仲介、管理等に関する情報を提供すること。
                    //                 br
                    //                 | 1、2の目的を達成するために必要な範囲で、契約の相手方及び売買・賃貸借希望者、他の宅地建物取引業者、指定流通機構、物件情報を書面又はインターネットで提供する者・団体・広告会社、融資に関わる金融機関、登記等に関わる司法書士その他専門家、提携損害保険会社、不動産管理業者、保証委託会社又はお客様の同意を得た第三者に対して提供すること。
                    //             p
                    //                 | なお、契約の相手方探索のために指定流通機構に対して物件情報を提供する場合及び指定流通機構に登録されている物件についてご契約される場合には、個人情報等を次のとおり利用致します。
                    //             p
                    //                 | 契約が成立した場合には、その年月日、成約価格等を指定流通機構に通知致します。
                    //                 br
                    //                 | 指定流通機構は、物件情報及び成約情報（成約情報は、売主様・買主様・貸主様・借主様の氏名を含まず、物件の概要・契約年月日・成約価格などの情報で構成されています）を指定流通機構の会員たる宅地建物取引業者や公的な団体に電子データや紙媒体で提供することなどの宅地建物取引業法に規定された指定流通機構の業務のために利用致します。

                    // .-check
                        // label #[input(type='checkbox' class='privacy')]
                        //- p.main
                            //- span 個人情報の利用目的について同意する
                            //- span.required ※


                    //- .button-ghost.small
                    //-     span 確認画面に進む
                    //-     .arrow


block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $('.button-ghost').addClass('is-disabled').prop('disabled', true);
            if( $('.-check .privacy').prop('checked') ) {
                $('.button-ghost').removeClass('is-disabled').prop('disabled', false);
            }

            $('.-check .privacy').on('click', function(){
                if( $(this).prop('checked') ) {
                    $('.button-ghost').removeClass('is-disabled').prop('disabled', false);
                } else {
                    $('.button-ghost').addClass('is-disabled').prop('disabled', true);
                }
            });

        });
