extends ./templates/_layout
block page-config
    -var current = 'contact-form'
    -var chapter = true
    -var files = 'other'
block chapterContent
    .chapter-secondary
        h1.-title.blue
            span.en Contact
            span.ja
                | ご相談フォーム

block content
    section.section#first
        .content-small
            .contact-wrap
                .-information
                    p.-text
                        | お電話でのお問い合わせ・ご相談は
                        br.for-small
                        | こちらまでお気軽にご相談ください。
                    h3.-time 営業時間9:00〜17:30/水曜・第3木曜定休
                    .-number
                        .-wrap
                            span TEL.
                            h3 087-868-0151
                        .-wrap
                            span FAX.
                            h3 087-868-1015
                .-message ご希望の物件情報をお送りいたします。お気軽にお問い合わせください。

                //- お問い合わせフォームの雛形

                include ./templates/php/loopStart.php
                | <?php echo do_shortcode('[mwform_formkey slug="form"]'); ?>
                include ./templates/php/loopEnd.php


block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $('.button-ghost').addClass('is-disabled').prop('disabled', true);
            if( $('.-check .privacy').prop('checked') ) {
                $('.button-ghost').removeClass('is-disabled').prop('disabled', false);
            }

            $('.-check .privacy').on('click', function(){
                if( $(this).prop('checked') ) {
                    $('.button-ghost').removeClass('is-disabled').prop('disabled', false);
                } else {
                    $('.button-ghost').addClass('is-disabled').prop('disabled', true);
                }
            });

        });
