extends ./templates/_layout
block page-config
    -var current = 'qa'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary.other
        .qa-first.content-wrap
            h1.headding-secondary.center
                span.en
                    | Q&A
                span.ja
                    | 住まいづくりのQ&A
            p.headding-tertiary
                | 「賃貸暮らしが不便になってきた」
                br
                | 「そろそろ自分たちの家を持ちたい」と考えはじめた時に、
                br.for-large
                | 何からスタートすればいいかわからない…
            h3.-read
                | そんなお客様から寄せられる
                br.for-small
                | 「？」を段階順にご紹介します。

    section.section
        .qa-list.content-small
            ul.-wrap
                li.-list
                    p.-num #01.
                    h2.-title 家を建てたいと思ったら
                    ul.-faq
                        li.-element
                            .-question
                                h3 まず何から始めたらいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 土地探しを先にするか建築会社を先に決めるかで迷ってしまう方が多い様ですが、基本的には同時進行が好ましいです。
                                    br.for-large
                                    | 先は長いですが、信頼の出来る不動産会社・建築会社と一緒に歩いて行きましょう。（弊社を選んで頂けると嬉しいです）
                        li.-element
                            .-question
                                h3 どんな土地をさがしたらいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | まず、どこに住みたいか、最寄り駅・学校区などの条件はあるか…
                                    br.for-large
                                    | など、ご家族の要望をひとつにまとめる事が大切です。
                        li.-element
                            .-question
                                h3
                                    | 土地購入から家の建設まで、
                                    br.for-small
                                    | どのような流れで進めたらいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | おおまかな概要は下記になりますが、当社にご来店頂くとお客様の計画に合わせた流れをご説明いたします。
                                .for-large
                                    img(src!=`${tRoot}/assets/images/qa/image-loan-flow.png`, alt='土地購入から家の建設まで')
                                .for-small
                                    img(src!=`${tRoot}/assets/images/qa/image-loan-flow-sp.png`, alt='土地購入から家の建設まで')
                li.-list
                    p.-num #02.
                    h2.-title お金はどこまで用意する？
                    ul.-faq
                        li.-element
                            .-question
                                h3
                                    | 頭金はどのくらい
                                    br.for-small
                                    | 用意すればいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 一般的には頭金は物件価格の2～３割を用意した方がよいとされますが、頭金0円で住宅を建てる場合もあります。
                                    br.for-large
                                    | ただし頭金が無い場合は月々の返済額が大きくなりますので注意が必要です。
                                    br.for-large
                                    | 当社ではご希望のお客さまに 1.自己資金　2.毎月の返済可能額　３.合算の年収 の3点をヒアリングし借入総額のシュミレーションを行っています。
                        li.-element
                            .-question
                                h3 税金など土地・家の購入代金以外にどのくらい諸費用がかかるの？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 消費税や印紙税、不動産を取得した時に１度だけかかる不動産取得税、登録免許税、毎年かかる固定資産税などが主な税金になります。
                                    br
                                    | その他所有権移転の登記費用や境界のブロックフェンス代、敷地調査や地盤改良工事、地鎮祭・上棟祭など行う場合は費用がかかります。
                                    br
                                    | 各々の条件で異なりますのでご相談ください。
                                .-link
                                    a(href!="https://www.pref.kagawa.lg.jp/zeimu/zeikin/q_and_a/qa006.html", target="_blank") 不動産取得税
                                    a(href!="http://www.city.takamatsu.kagawa.jp/kurashi/kurashi/nenkin/shizei_kaisei/kotei/koteishisanzei.html", target="_blank") 固定資産税
                        li.-element
                            .-question
                                h3 どこの銀行でローンを組むべき？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 給料振込や堤携住宅建設業者になっているなど、条件に合致すれば金利が優遇される場合があります。
                                    br.for-large
                                    | 銀行によって特色がありますので、店頭金利以外にも諸条件を比較して検討するといいでしょう。
                li.-list
                    p.-num #03.
                    h2.-title さあ、家を建てましょう
                    ul.-faq
                        li.-element
                            .-question
                                h3
                                    | 全国展開の住宅会社か地域の
                                    br.for-small
                                    | 住宅会社か設計事務所か、
                                    br.for-small
                                    | どこに頼むのがいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 全国展開の住宅会社は知名度もあり安心感があると言えるでしょう。
                                    br.for-large
                                    | 地域の住宅会社は地域の特性にあった家屋を得意としていたり良心的な対応が期待できる場合があります。
                                    br.for-large
                                    | 設計事務所は個々の土地の形や環境に応じたオーダーメイド感覚の住宅を多く手掛けているという傾向があるのではないでしょうか。
                                    br.for-large
                                    | 実際の建築例やオープンハウスなどを参考に好みに合った会社を選ぶようにしましょう。
                        li.-element
                            .-question
                                h3
                                    | カーテン・エクステリア・
                                    br.for-small
                                    | 造園などにこだわるには
                                    br.for-small
                                    | どこに頼めばいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | カーテンやエクステリアなど住宅会社がトータルで提案してくれる場合もあります。
                                    br.for-large
                                    | 当サイトからもカーテン・エクステリア・造園などHPへのリンクページを用意してますのでご活用ください。
                li.-list
                    p.-num #04.
                    h2.-title
                        | 土地も家もゲット!!
                        br.for-small
                        | 上手に暮らすには
                    ul.-faq
                        li.-element
                            .-question
                                h3
                                    | 自治会・生活ごみ・子供会など
                                    br.for-small
                                    | 新しい土地で上手に暮らすには？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 最近は自治会に加入したくない…といった声もよく聞かれます。
                                    br
                                    | 地域のつきあいは面倒と感じる事もあると思いますが、防犯灯の設置・維持管理費や地域でよりよく暮らすための助成を高松市から受けられたり、
                                    br.for-large
                                    | 子供会や老人会・地域行事の運営を行っていたりと新しい土地で暮らすためのメリットも数多くあります。
                                    br.for-large
                                    | ゴミ置場を自治会が管理している場合は加入を条件に使用許可が出る場合もあります。
                                    br.for-large
                                    | 当社では必要に応じて地域住民や自治会との橋渡しも行っていますので安心してお任せください。
                        li.-element
                            .-question
                                h3
                                    | 地域住民と家族が平穏に暮らす
                                    br.for-small
                                    | にはどのようなことに
                                    br.for-small
                                    | 気をつければいい？
                                .icon-arrow-under
                            .-answer
                                p.-text
                                    | 長い付き合いになるご近所との関係。トラブルなく平穏に過ごせることが何よりではないでしょうか。
                                    br.for-large
                                    | ご近所との関係のヒントとして下記サイトをご紹介します。ご一読してみてくださいね。
                                .-link
                                    a.large(href!="http://allabout.co.jp/gm/gc/301575/", target="_blank")
                                        | All About
                                        br.for-small
                                        | （ご近所付き合いの
                                        br.for-small
                                        | ストレスをかわす！）


    include ./templates/_contact



block script
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.company-group .swiper-container', {
                    speed: 1000,
                    loop: true,
                    effect: 'slide',
                    centeredSlides: true,
                    slidesPerView: 1.3,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.company-group .-wrap .-image .navigation .swiper-button-next',
                        prevEl: '.company-group .-wrap .-image .navigation .swiper-button-prev'
                    },
                    pagination: {
                        el: '.company-group .-wrap .-image .swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    }
                })
            });

            $('.qa-list .-question').on('click', function(){
                $(this).toggleClass('is-active');
                //- $(this).next().toggleClass('is-select');
                $(this).next().slideToggle();
                //- console.log('click');
            });


        });
