extends ./templates/_layout
block page-config
    -var current = 'labo'
    -var chapter = true
    -var mainvisual = true

block mainvisual
    section.main-visual.labo
        .main-visual-slider

        .main-copy
            img.for-large(src!=`${tRoot}/assets/images/labo/imgtxt-maincopy.svg`, alt='香川で家を建てたいと思ったら？ From1st.Labo.個性溢れる専門家と住まい手の出会いを繋ぐ、家づくり情報ライブラリー＆イベントスペース。')
            img.for-small(src!=`${tRoot}/assets/images/labo/imgtxt-maincopy-sp.svg`, alt='香川で家を建てたいと思ったら？ From1st.Labo.個性溢れる専門家と住まい手の出会いを繋ぐ、家づくり情報ライブラリー＆イベントスペース。')
            //- a.button-ghost.white.center(href=``)
            //-     span From1st.Laboイベント情報

        .-news
            | <?php $target_post='post'; $post_count='1'; $category='60' ?>
            include ./templates/php/loopStart_wpquery.php
            a(href!=`<?php the_permalink(); ?>`)
                .-head
                    p.head NEWS
                    time <?php the_time('Y.m.d'); ?> update.
                h2.title <?php the_title(); ?>
            include ./templates/php/loopEnd.php
            include ./templates/php/reset.php

        .scroll.home.js-scroll
            a.element(href='#first')
                span.text scroll
                span.border

block content
    section.section-quinary#first
        .content-small
            .labo-about
                h2.headding-primary.center About From1st. Labo.
                h3.headding-tertiary
                    | イベントスペース＆情報ライブラリー
                    br.for-small
                    | 「From1st.Labo.」
                p.text-read.center
                    | 家づくりのプロと出会える場所。
                    br.for-large
                    | 建築家・地元工務店からのプレゼンテーションの場所。
                    br.for-large
                    | それが、家づくりイベントスペース“フロムファースト・ラボ”です。
                    br.for-large
                    | コンシェルジュが家づくりのはじまりのお手伝いをいたします。
                a.button-more.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/about`)
                    span MORE

    section.section-senary.bg-l-grey
        | <?php $target_post = 'post'; $post_count = 2; ?>
        | <?php
        |     $paged = get_query_var('paged') ? get_query_var('paged') : 1;
        |     $args = array(
        |         'post_type' => array($target_post),
        |         'paged' => $paged,
        |         'post_status' => 'publish',
        |         'cat' => '61', // ローカル 26 デモ 44 本番 61
        |         'posts_per_page' => $post_count, // 表示するページ数
        |         'order' => 'DESC', // 並び順
        |     );
        |
        |     $my_query = new WP_Query($args);
        |
        |     if ($my_query->have_posts()) :
        | ?>

        | <?php
        |     while ( $my_query->have_posts() ) : $my_query->the_post();
        | ?>
        | <?php
        |    $event_start = get_post_meta($post->ID , 'event_start' ,true);
        |    $event_start_time = date('Y/m/d', strtotime($event_start));
        |    $event_end = get_post_meta($post->ID , 'event_end' ,true);
        |    $event_end_time = date('Y/m/d', strtotime($event_end));
        |    if ((date_i18n('Y/m/d') >= $event_start_time && date_i18n('Y/m/d') <= $event_end_time) || ((date_i18n('Y/m/d') <= $event_start_time))) :
        | ?>
        | <?php $flag = true; ?>
        | <?php endif ?>
        | <?php endwhile; ?>

        | <?php if ($flag): ?>
        .labo-event
            .content-small
                h2.headding-primary.center From1st. Labo. EVENT.

                | <?php
                |     while ( $my_query->have_posts() ) : $my_query->the_post();
                | ?>
                | <?php
                |    $event_start = get_post_meta($post->ID , 'event_start' ,true);
                |    $event_start_time = date('Y/m/d', strtotime($event_start));
                |    $event_end = get_post_meta($post->ID , 'event_end' ,true);
                |    $event_end_time = date('Y/m/d', strtotime($event_end));
                |    if ((date_i18n('Y/m/d') >= $event_start_time && date_i18n('Y/m/d') <= $event_end_time) || ((date_i18n('Y/m/d') <= $event_start_time))) :
                | ?>
                a.-wrap(href!=`<?php the_permalink(); ?>`)
                    .-text
                        .-head
                            h3.season
                                | <?php
                                | $date_start = SCF::get( 'date_start' );
                                | $date_end = SCF::get('date_end');
                                | ?>
                                | <?php if($date_start): ?>
                                p.time <?php echo $date_start; ?>
                                | <?php endif; ?>

                                | <?php if($date_end): ?>
                                p.time <?php echo $date_end; ?>
                                | <?php endif; ?>
                            h3.title <?php the_title(); ?>
                        .text-read
                            | <?php
                            | if(mb_strlen($post->post_content, 'UTF-8')>65){
                            |     $content= mb_substr(strip_tags($post->post_content, '<br>'), 0, 100, 'UTF-8');
                            |     echo $content.' ... ';
                            | }else{
                            |     echo strip_tags($post->post_content, '<br>');
                            | }
                            | ?>
                        .button-ghost
                            span.en MORE
                            .arrow
                                include ./templates/_icon-arrow

                    | <?php
                    | $event_image = SCF::get('event_image');
                    | if($event_image):
                    | ?>
                    .-image
                        | <?php echo wp_get_attachment_image( $event_image , 'full' ); ?>
                    | <?php endif ?>
                | <?php endif; ?>
                | <?php endwhile; ?>

        | <?php endif; ?>
        | <?php endif; ?>
        include ./templates/php/reset.php

        .labo-news.content-small
            h2.headding-primary.center From1st. Labo. NEWS.
            .-wrap
                h3.-head
                    a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>category/labo_news`) 新着情報一覧
                ul.-list.home
                    //- デモ　32 本番 60
                    | <?php $target_post='post'; $post_count='3'; $category='60' ?>
                    include ./templates/php/loopStart_wpquery.php
                    li: a(href!=`<?php the_permalink(); ?>`)
                        .head
                            p.category NEWS
                            time <?php the_time('Y.m.d'); ?> update.
                        h4.title <?php the_title(); ?>
                            span ...more
                    include ./templates/php/loopEnd.php
                    include ./templates/php/reset.php

            .for-small
                a.button-ghost.black(href!=`<?php echo esc_url( home_url( '/' ) ); ?>category/labo_news`)
                    span.en ALL VIEW
                    .arrow
                        include ./templates/_icon-arrow


    //- section.section-secondary
    //-     .content-small
    //-         .button-mail-m
    //-             a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/mailmagazine`)
    //-                 span.en From1st.Labo. MAIL MAGAGINE
    //-                 span.ja メルマガ会員募集中！
    //-                 .button-more.center
    //-                     span ENTRY

    section.section-novenary
        .labo-magazine.content-wrap
            h2.headding-primary From1st. Labo. WEBMAGAZINE.
            ul.-wrap
                | <?php $target_post = 'magazine'; $post_count = 3; $post_cat = 'magazine_cat'; ?>
                include ./templates/php/loopStart_wpquery_magazine.php
                include ./templates/php/get_category_magazine.php
                | <?php
                | $m_title = SCF::get( 'm_title' );
                | ?>
                li.-list: a(href!=`<?php the_permalink(); ?>`)
                    .-image
                        | <?php
                        | $m_eyecatch = SCF::get('m_eyecatch');
                        | if($m_eyecatch):
                        | ?>
                        | <?php echo wp_get_attachment_image( $m_eyecatch , 'large' ); ?>
                        | <?php else: ?>
                        img(src!=`${tRoot}/assets/images/labo/image-dummy-magazine.png`, alt='FROM1ST.LABO. WEBMAGAZINE')
                        | <?php endif ?>
                    h3.-title
                        | <?php
                        | $m_title = SCF::get( 'm_title' );
                        | echo nl2br($m_title);
                        | ?>
                    | <?php if($p_company): ?>
                    h4.-name.space
                        span <?php echo $p_company; ?> / <?php echo $p_name_ja; ?>
                    | <?php endif; ?>
                    p.text-secondary
                        | <?php
                        | $m_content = mb_substr(get_post_meta($post->ID, 'm_content', true), 0, 100, 'UTF-8');
                        | ?>
                        | <?php echo $m_content.' ... '; ?>
                    .-number
                        span.en Labo.Web Magazine
                        span.num #0<?php echo getPostMaNumber() ?>
                    .-bottom
                        time <?php the_time('Y.m.d'); ?> update.
                        .button-more
                            span MORE
                    | <?php
                    | $yt_link = SCF::get( '動画' );
                    | if(!empty($yt_link[0]['movie_link'])):
                    | ?>
                    .-movie
                        img(src!=`${tRoot}/assets/images/common/icon-movie.svg`, alt='MOVIE')
                    | <?php endif; ?>
                include ./templates/php/loopEnd.php
                include ./templates/php/reset.php

            a.button-ghost.black.full.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>magazine`)
                span.en ALL VIEW
                .arrow
                    include ./templates/_icon-arrow

    section.section
        .bnr-entry
            .content-small
                h2.headding-secondary.center.white
                    span.en Entry & Contact
                    span.ja 家づくりのご相談・お問い合わせ
                h3.-title
                    | まずは、お気軽にご相談ください。
                p.-text
                    | 家づくりのことなら、“フロムファースト・ラボ”にお任せください。
                    br.for-large
                    | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
                a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/contact`)
                    span 家づくりのご相談・お問い合わせ
                    .arrow
                        include ./templates/_icon-arrow

    //- include ./templates/_monitor
    include ./templates/_labo-access

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(window).on("scroll", function() {
                var ScrollTop = $(document).scrollTop();

                if (ScrollTop >= $("#first").offset().top - 500) {
                    $(".side-nav.labo").addClass("on");
                } else {
                    $(".side-nav.labo").removeClass("on");
                }

                if (ScrollTop >= $("#first").offset().top) {
                    $(".header.labo .logo").addClass("on");
                } else {
                    $(".header.labo .logo").removeClass("on");
                }

            });

            $('.global-nav>.-wrap .-list .-button.only a').on('click', function(){
                $('body').removeClass('fixed').css({'top': 0});
                $('.hamburger').removeClass('-open');
                $('.global-nav').removeClass('-open');
                window.scrollTo( 0 , scrollPosition );
                hamburgerState = false;
            });

            $('.-movie-inner').on('click', function (){
                var movie_url = $(this).attr('data-url')
                $(this).html('<iframe src="https://www.youtube.com/embed/' + movie_url +  '?autoplay=1&rel=0&mute=1" frameborder="0" allowfullscreen></iframe>')
            });
        });
