extends ./templates/_layout
block page-config
    | <?php /*Template Name: 実績写真集 - 工務店*/ ?>
    -var current = 'kagawa-iegallery-corporation'
    -var files = 'other'
block content
    section.section
        .gallery-list.content-wrap
            h1.headding-secondary.center
                span.en Kagawa House Gallery
                span.ja かがわ家ぎゃらりぃ
            h3.headding-tertiary
                | かがわ家ぎゃらりぃ
                br.for-small
                | 協賛企業88社と
                br
                | 家づくりを始めませんか？
            .category-list
                .-wrap
                    ul.-list
                        li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery`)
                            span ALL
                        li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/architect`)
                            span 建築家
                        li.-item: a.current(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/corporation`)
                            span 工務店
                        li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/maker`)
                            span 大手ハウスメーカー
                        li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/builder`)
                            span ビルダー

            ul.-wrap.list
                include ./templates/php/loopStart_wpquery_gallery_parent_c.php
                include ./templates/php/loopStart_wpquery_gallery_child.php
                li.-list
                    a.-image(href!=`<?php echo $childterm_link; ?>`)
                        | <?php if($portrate_image): ?>
                        | <?php echo $portrate_image; ?>
                        | <?php else: ?>
                        img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                        | <?php endif ?>
                    h2.-name: a(href!=`<?php echo $childterm_link; ?>`)
                        span.en <?php echo $p_company_en; ?>
                        span.company <?php echo $p_company; ?>
                    | <?php if($p_site):?>
                    .-site
                        | <?php
                        | foreach ($p_site as $field_name => $field_value ) {
                        | ?>
                        a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            span <?php echo $p_company; ?>の
                            span ウェブサイトを見る
                            .arrow
                                include ./templates/_icon-arrow
                        | <?php } ?>
                    | <?php endif; ?>
                | <?php } ?>
                | <?php } ?>

            .pager
                include ./templates/php/pageNav.php

    //- section.section
    //-     .gallery-event-archive.content-small
    //-         h2.headding-secondary.center
    //-             span.en Event Archive
    //-             span.ja イベントアーカイブ

    //-         ul.-wrap
    //-             li.-list: a(href!=``)
    //-                 img(src!=`${tRoot}/assets/images/gallery/bg-architect.jpg`, alt='建築家と創る家')
    //-             li.-list: a(href!=``)
    //-                 img(src!=`${tRoot}/assets/images/gallery/bg-builder.jpg`, alt='工務店と創る家')

    section.section
        .bnr-entry
            .content-small
                h2.headding-secondary.center.white
                    span.en Contact
                    span.ja 家づくりのご相談・お問い合わせ
                h3.-title
                    | まずは、お気軽にご相談ください。
                p.-text
                    | 家づくりのことなら、“フロムファースト・高松”にお任せください。
                    br.for-large
                    | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
                a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                    span 家づくりのご相談・お問い合わせ
                    .arrow
                        include ./templates/_icon-arrow

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.magazine").addClass("on");

        });
