extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'presentation'
block content
    .from1st-bnr
        a(href!=`${root}/`)
            .for-large
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
            .for-small
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st-sp.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
    section.section
        .presentation-first
            h2.headding-secondary.center#active
                span.en 2020<span class="in-ja">年</span>EVENT
                span.ja 2020年イベント
            h1.title
                | 〜建築家・工務店からのプレゼン展〜
            p.text-read.center
                | 香川を代表する27人の建築家と、県下36社の地元工務店が、
                br.for-large
                | 個性溢れる73邸の住まいを、1/50建築模型でプレゼンテーション。
                br.for-large
                | 「かがわ家ぎゃらりぃ」は、かがわの建築家・工務店とお客様を繋ぐ、
                br.for-large
                | 「家づくりのはじまりの場所」として、皆様をサポートいたします。
                br.for-large
                | ぜひ、お気軽にフロムファースト併設「かがわ家ぎゃらりぃ」へお立ち寄りください。
    
    section.section
        .presentation-content
            ul.wrap
                li.list
                    .bg-image
                        img(src!=`${tRoot}/assets/images/labo/bg-architect.png`)
                        img.logo(src!=`${tRoot}/assets/images/architect/logo-a-expo.svg`, art="建築家と創る家 〜建築家からのプレゼン展〜 EXPO2021")
                    .detail.content-wrap
                        p.headding-primary.small From1st. TOPICS.
                        h2.title
                            span.main
                                | 建築家と創る家
                            span 〜建築家からのプレゼン展〜
                        h3.copy
                            | 香川を代表する27人の建築家が、
                            br.blank
                            | 税込総額3,000万円の住まいを、
                            br
                            | 27邸の1/50建築模型で
                            br.for-small
                            | プレゼンテーション。
                        p.text
                            | 香川を代表する個性あふれる建築家27人が「From1st.Labo.」に集結。
                            br.for-large
                            | 個性あふれる建築家が、これからの暮らしにフィットする27邸の住まいを、1/50建築模型でプレゼンテーション。
                            br.for-large
                            | 今回の予算は、設計費も含み総額3,000万円（税込）。あなたはそこから一番いいプランを選ぶだけ。
                            br.for-large
                            | 外構や照明なども希望どおりに仕上げ、すぐに住み始められます。
                        p.text.sub
                            span ［ 総額3,000万円 建築費用内訳 ］
                            span 総額3,000万円（土地除く）には、以下の予算が含まれます。 建物本体価格、設計＆監理費、屋外給排水、諸経費（照明・エアコン）、外構工事（アプローチ・植栽など）、消費税
                            span ※土地代、印紙代、登記費用、火災保険（地震保険）・銀行融資諸費用別途
                        
                        a.button-flat.full.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_architect`)
                            span 建築家と創る家 特設イベントページ
                            .arrow
                                include ./templates/_icon-arrow
                li.list
                    .bg-image
                        img(src!=`${tRoot}/assets/images/builder/bg-builder.png`)
                        img.logo(src!=`${tRoot}/assets/images/common/icon-builder.svg`, art="工務店と創る家 〜工務店からのプレゼン展〜")
                    .detail.content-wrap
                        p.headding-primary.small From1st. TOPICS.
                        h2.title
                            span.main
                                | 工務店と創る家
                            span 〜工務店からのプレゼン展〜
                        h3.copy
                            | 香川県下35社の地元工務店が、
                            br.blank
                            | 各社それぞれの個性溢れる住まいを、
                            br
                            | 45邸の1/50建築模型で
                            br.for-small
                            | プレゼンテーション。
                        p.text
                            | 香川県下の地元工務店35社が「From1st.Labo.」に集結。
                            br.for-large
                            | 各社それぞれの個性あふれる45邸の住まいを、1/50建築模型でプレゼンテーションします。
                            br.for-large
                            | 香川の工務店による完全提案型のモデルハウスプラン・香川の工務店と一緒に建てるモニターハウスプランをご用意！
                            br.for-large
                            | あなたはそこから一番いいプランを選ぶだけ。すぐに住み始められます。
                        p.text.sub
                            span ［ 工務店と創る家 建築費用内訳 ］
                            span 建築費用内訳（土地除く）には、以下の予算が含まれます。 建物本体価格、設計＆監理費、屋外給排水、諸経費（照明・エアコン）、外構工事（アプローチ・植栽など）、消費税
                            span ※土地代、印紙代、登記費用、火災保険（地震保険）・銀行融資諸費用別途
                        
                        a.button-flat.full.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_builder`)
                            span 工務店と創る家 特設イベントページ
                            .arrow
                                include ./templates/_icon-arrow

    include ./templates/_contact_gallery

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');
            $(".side-nav.labo_architect").addClass("on");

            $(window).scroll(function (){
                var ScrollTop = $(document).scrollTop();
                if (ScrollTop > $('#active').offset().top) {
                    $(".from1st-bnr").addClass("off");
                } else {
                    $(".from1st-bnr").removeClass("off");
                }
            });

        });
