extends ./templates/_layout

block page-config
    | <?php /*Template Name: お問い合わせ - 01確認画面*/ ?>
    -var current = 'contact-form-confirm'
    -var chapter = true
    -var files = 'other'

block chapterContent
    .chapter-secondary
        h1.-title.blue
            span.en Contact
            span.ja
                | ご相談フォーム

block content
    section.section#first
        .content-small
            .contact-wrap
                .-information
                    h3.txt-confirm 送信確認画面

                //- MW WP Formのショートコードを入力・確認・完了の3画面全てに入力が必要
                include ./templates/php/loopStart.php
                | <?php echo do_shortcode('[mwform_formkey slug="form"]'); ?>
                include ./templates/php/loopEnd.php

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

        });
