extends ./templates/_layout
block page-config
    -var current = 'privacy'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary.other
        .privacy-policy.content-small
            h1.headding-secondary.center
                span.en
                    | Privacypolicy
                span.ja
                    | プラバシーポリシー
            h2.headding-senary.blue 個人情報の利用目的について
            .-wrap
                .stage01
                    p.text-tertiary 当社は、個人情報を以下の目的で利用させて頂きます。
                    ol
                        li: p.text-tertiary 不動産の売買契約又は賃貸借契約の相手方を探索すること、売買、賃貸借、仲介、管理等に関する契約（連帯保証契約を含む）を締結すること及び契約に基づく役務を提供すること。
                        li: p.text-tertiary 不動産の売買、賃貸借、仲介、管理等に関する情報を提供すること。
                        li: p.text-tertiary 1、2の目的を達成するために必要な範囲で、契約の相手方及び売買・賃貸借希望者、他の宅地建物取引業者、指定流通機構、物件情報を書面又はインターネットで提供する者・　団体・広告会社、融資に関わる金融機関、登記等に関わる司法書士その他専門家、提携損害保険会社、不動産管理業者、保証委託会社又はお客様の同意を得た第三者に対して提供すること。
                    p.text-tertiary なお、契約の相手方探索のために指定流通機構に対して物件情報を提供する場合及び指定流通機構に登録されている物件についてご契約される場合には、個人情報等を次のとおり利用致します。

                .stage02
                    ol
                        li: p.text-tertiary 契約が成立した場合には、その年月日、成約価格等を指定流通機構に通知致します。
                        li: p.text-tertiary 指定流通機構は、物件情報及び成約情報（成約情報は、売主様・買主様・貸主様・借主様の氏名を含まず、物件の概要・契約年月日・成約価格などの情報で構成されています）を指定流通機構の会員たる宅地建物取引業者や公的な団体に電子データや紙媒体で提供することなどの宅地建物取引業法に規定された指定流通機構の業務のために利用致します。

                .stage03
                    ol
                        li: p.text-tertiary 提供される情報は、氏名、住所、電話番号、物件情報、成約情報その他必要な項目です。
                        li: p.text-tertiary 提供は、書面、電話、電子メール、インターネット、広告媒体等の手段で行います。
                        li: p.text-tertiary
                            | ご本人様からお申し出がありましたら、提供は中止致します。
                            br
                            | ※専属専任媒介契約、専任媒介契約が締結された場合には、宅地建物取引業法に基づき、
                            br
                            | 指定流通機構への登録及び成約情報の通知が宅地建物取引業者に義務付けられます。

                .stage01.li02
                    ol
                        li: p.text-tertiary 上記1及び2の役務、情報を提供するために郵便物、電話、電子メール等により連絡すること。
                        li: p.text-tertiary お客様からのお問い合わせに応じるため及び4の目的を達成するために必要に応じて保管すること。
                        li: p.text-tertiary 宅地建物取引業法第49条に基づく帳簿として及びその資料として保管すること。
                        li: p.text-tertiary
                            | 不動産の売買、賃貸借等に関する価格査定を行うこと。
                            br
                            | なお、価格査定に用いた成約情報につきましては、宅地建物取引業法第34条の2第2項に規定する「意見の根拠」として仲介の依頼者に提供することがあります。
                .stage02.other
                    ol
                        li: p.text-tertiary 提供される情報は、売主様・買主様・貸主様・借主様の氏名を含まず、成約物件の特定が困難となる工夫を施した物件の概要・成約価格などの項目です。
                        li: p.text-tertiary 提供は、書面、電子メール等の手段で行います。
                        li: p.text-tertiary ご本人様からお申し出がありましたら、提供は中止致します。
                .stage01.li03
                    ol
                        li: p.text-tertiary 市場動向分析を行うこと。

            .-under
                h2.headding-senary.blue プライバシーポリシーに関する<br class="for-small">お問い合わせ
                .-wrap
                    p.text-tertiary
                        | 当社のプライバシーポリシーに関する、ご意見、ご質問、苦情の申出その他ユーザー情報の取扱いに関するお問い合わせは、
                        br
                        | 以下の窓口にご連絡ください。
                    p.text-tertiary.-contact
                        | 「問い合わせ窓口」はこちら
                        br
                        | 社名：株式会社フロムファースト・高松
                        br
                        | 住所：〒761-8071香川県高松市伏石町2130番地5アシスト1ビル1F
                        br
                        a(href!=`tel:087-868-0151`) TEL：087-868-0151

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

        });
