extends ./templates/_layout
block page-config
    -var current = 'company'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary.other
        .company-first.content-wrap
            h1.headding-secondary.center
                span.en
                    | Company
                span.ja
                    | 会社概要
            h3.headding-tertiary
                | “しあわせをここから”
                br.for-small
                | 分譲地で香川の街をゆたかに…
            p.text-read.center
                | しあわせの場所を探求し、心地よい街並へと育んでいく。
                br.for-large
                | 私たちフロムファーストは、分譲地の枠を超え、ここからはじまる、家づくりの“1st.パートナー”。
                br.for-large
                | “しあわせをここから”
                br.for-large
                | 私たちは、しあわせづくりの先頭で旗を振る企業でありたい。

    section.section
        .company-group
            h3.headding-secondary.center
                span.en
                    | From1st.Group
                span.ja
                    | フロムファースト グループ
            .-wrap
                .-image
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01-02.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01-03.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01-04.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01-05.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide01-06.jpg`, alt='From1st. グループ')

                    .navigation
                        .swiper-button-next
                        .swiper-button-prev

                    .pagination
                        .swiper-pagination

            .group-list
                ul.content-wrap
                    li.-list.official
                        .-logo
                            include ./templates/_logo-official
                        .-data
                            h2.-company 株式会社フロムファースト・高松
                            h3.-add
                                span 〒761-8071
                                span 香川県高松市伏石町2130番地5<br class="for-small">アシスト1ビル1F
                            p.-time 営業時間9:00〜17:30 /水曜・第3木曜定休
                            .-number
                                p
                                    span TEL.
                                    span.num 087-816-0400
                                p
                                    span FAX.
                                    span.num 087-868-1015
                            .for-large
                                .-map
                                    .-icon
                                        include ./templates/_icon-map
                                    span GOOGLE MAP
                        .-link
                            a.button-ghost.small(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                                span お問い合わせ
                                .arrow
                                    include ./templates/_icon-arrow
                        .for-small
                            .-map
                                .-icon
                                    include ./templates/_icon-map
                                span GOOGLE MAP

                    li.-list
                        .-logo.johocenter
                            img(src!=`${tRoot}/assets/images/company/logo-johocenter.svg`, alt='株式会社フロムファースト不動産情報センター')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社フロムファースト不動産情報センター
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 佐野 由紀子
                            dl.add
                                dt: p 所在地
                                dd: h3 〒761-8071　香川県高松市伏石町<br class="for-small">2130番地5 アシスト1ビル1F
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878680151`) 087-868-0151
                    li.-list
                        .-logo.kankyo-kobo
                            img(src!=`${tRoot}/assets/images/company/logo-kankyo-kobo.svg`, alt='株式会社住宅環境工房')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社住宅環境工房
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 福島 徹
                            dl.add
                                dt: p 所在地
                                dd: h3 〒761-8071　香川県高松市伏石町<br class="for-small">2130番地5 アシスト1ビル1F
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878681091`) 087-868-1091
                    li.-list
                        .-logo.gallery
                            img(src!=`${tRoot}/assets/images/company/logo-kagawa-gallery.svg`, alt='株式会社かがわ家ぎゃらりぃ')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社かがわ家ぎゃらりぃ
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 佐野 力
                            dl.add
                                dt: p 所在地
                                dd: h3 〒761-8071　香川県高松市伏石町<br class="for-small">2130番地4 アシスト1ビル2F
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878161005`) 087-816-1005
                    li.-list
                        .-logo.labo
                            img(src!=`${tRoot}/assets/images/company/logo-from1st-labo.svg`, alt='フロムファースト・ラボ')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 フロムファースト・ラボ
                            dl.space.ceo
                            dl.add
                                dt: p 所在地
                                dd: h3 〒761-8071　香川県高松市伏石町<br class="for-small">2130番地4 アシスト1ビル1F
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878161117`) 087-816-1117
                .-google
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.634627850348!2d134.05471635173836!3d34.3088539804416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62b7fcf7394a6940!2z44OV44Ot44Og44OV44Kh44O844K544OI!5e0!3m2!1sja!2sjp!4v1606546465840!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            .-wrap
                .-image
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02-02.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02-03.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02-04.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02-05.jpg`, alt='From1st. グループ')
                            .swiper-slide
                                img(src!=`${tRoot}/assets/images/company/image-slide02-06.jpg`, alt='From1st. グループ')

                    .navigation
                        .swiper-button-next
                        .swiper-button-prev

                    .pagination
                        .swiper-pagination

            .group-list.last
                ul.content-wrap
                    li.-list
                        .-logo.hd
                            img(src!=`${tRoot}/assets/images/company/logo-hd.svg`, alt='株式会社フロムファースト・ホールディングス')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社フロムファースト・ホールディングス
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 佐野 力
                            dl.add
                                dt: p 所在地
                                dd: h3 〒769-0103　香川県高松市国分寺町<br class="for-small">福家甲3725-1
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878161117`) 087-816-1117
                    li.-list
                        .-logo.plesroom
                            img(src!=`${tRoot}/assets/images/company/logo-plesroom.svg`, alt='株式会社フロムファースト・プレスルーム')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社フロムファースト・プレスルーム
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 羽原 昌幸
                            dl.add
                                dt: p 所在地
                                dd: h3 〒769-0103　香川県高松市国分寺町<br class="for-small">福家甲3725-1
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878759960`) 087-875-9960
                    li.-list
                        .-logo.community
                            img(src!=`${tRoot}/assets/images/company/logo-community.svg`, alt='株式会社フロムファースト・コミュニティ')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 株式会社フロムファースト・コミュニティ
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 佐野 由紀子
                            dl.add
                                dt: p 所在地
                                dd: h3 〒769-0103　香川県高松市国分寺町<br class="for-small">福家甲3725-1
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878759961`) 087-875-9961
                    li.-list
                        .-logo.yukai
                            img(src!=`${tRoot}/assets/images/company/logo-yukai-na-nakama.svg`, alt='一般社団法人フロムファーストと愉快な仲間達')
                        .-data.other
                            dl.name
                                dt: p 会社名
                                dd: h2 一般社団法人フロムファーストと愉快な仲間達
                            dl.ceo
                                dt: p 代表取締役
                                dd: h3 代表取締役 / 佐野 力
                            dl.add
                                dt: p 所在地
                                dd: h3 〒769-0103　香川県高松市国分寺町<br class="for-small">福家甲3725-1
                            dl.tel
                                dt: p TEL
                                dd: a(href!=`tel:0878162277`) 087-816-2277

                .-google
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1648.2923507224957!2d133.96374725339516!3d34.284640963240584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553c2e04a28a6b7%3A0x89775c4219e6bc35!2z44CSNzY5LTAxMDMg6aaZ5bed55yM6auY5p2-5biC5Zu95YiG5a-655S656aP5a6255Sy77yT77yQ77yY77yQ4oiS77yT!5e0!3m2!1sja!2sjp!4v1606548536652!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



    include ./templates/_contact



block script
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.company-group .swiper-container', {
                    speed: 1000,
                    loop: true,
                    effect: 'slide',
                    centeredSlides: true,
                    slidesPerView: 1.3,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.company-group .-wrap .-image .navigation .swiper-button-next',
                        prevEl: '.company-group .-wrap .-image .navigation .swiper-button-prev'
                    },
                    pagination: {
                        el: '.company-group .-wrap .-image .swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    }
                })
            });


        });
