extends ./templates/_layout

block page-config
    | <?php /*Template Name: お問い合わせ - 02完了画面*/ ?>
    -var current = 'contact-form-thanks'
    -var chapter = true
    -var files = 'other'

block chapterContent
    .chapter-secondary
        h1.-title.blue
            span.en Contact
            span.ja
                | ご相談フォーム

block content
    section.section#first
        .content-small
            .contact-wrap
                .-information
                    h3.txt-confirm 送信完了しました

                    p.txt-thanks
                        | この度は、お問い合わせいただきまして誠にありがとうございます。
                        br
                        | 内容を確認次第、担当者からご連絡差し上げます。

                    .btn-back
                        a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>`)
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='50.6px', height='44.5px', viewBox='0 0 50.6 44.5', style='enable-background:new 0 0 50.6 44.5;', xml:space='preserve')
                                style(type='text/css').
                                    .iconback{fill:none;stroke:#000000;stroke-miterlimit:10;}
                                defs
                                g
                                    path.iconback(d='M6.6,22.2c0-12,9.7-21.7,21.7-21.7s21.7,9.7,21.7,21.7S40.4,44,28.4,44')
                                    polyline.iconback(points='15.5,16 6.6,22.2 0.4,13.3  ')

                            p.txt-back TOP

                //- MW WP Formのショートコードを入力・確認・完了の3画面全てに入力が必要
                include ./templates/php/loopStart.php
                | <?php echo do_shortcode('[mwform_formkey slug="form"]'); ?>
                include ./templates/php/loopEnd.php



block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

        });
