extends ./templates/_layout
block page-config
    -var current = 'kagawa-iegallery'
    -var files = 'other'
block content
    .from1st-bnr
        a(href!=`${root}/`)
            .for-large
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
            .for-small
                img(src!=`${tRoot}/assets/images/gallery/bnr-from1st-sp.png`, alt='フロムファースト高松 高松市の分譲地情報はコチラ')
    section.section
        .gallery-first.content-wrap
            h1.headding-secondary.center
                span.en Kagawa House Gallery
                span.ja かがわ家ぎゃらりぃ
    
    section.section
        .gallery-copy
            h3.title
                | 香川の住宅会社・建築家
                br.for-small
                | 88社をご紹介
            p.text-read.center
                | かがわ家ぎゃらりぃは、香川県下88社の地元工務店、ハウスメーカー、ビルダー、建築家による情報ライブラリー。
                br.for-large
                | 各社の事例集をご覧いただきながら、スタッフがお客様と88社を繋ぐお手伝いをいたします。
            .eyecatch#active
                .for-large
                    img(src!=`${tRoot}/assets/images/gallery/image-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                .for-small
                    img(src!=`${tRoot}/assets/images/gallery/image-g-eyecatch-sp.jpg`, alt='かがわ家ぎゃらりぃ')
    
    section.section#movie
        .architect-movie.gallery
            h2.headding-secondary.white.center
                span.en Company Movie
                span.ja
                    | フロムファースト・高松 会社紹介ムービー
            .-movie
                .-movie-inner
                    iframe(src!=`https://www.youtube.com/embed/czkJ28TjqYU?rel=0` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

    section.section
        .gallery-list.content-wrap
            p.headding-tertiary
                | かがわ家ぎゃらりぃ協賛企業88社と
                br
                | 家づくりを始めませんか？
            
            ul.wrap
                li.list
                    h3.head ローコスト住宅
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_lc.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head チェーン店ビルダー
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_b.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head 地元工務店
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_c.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head プロバンス
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_p.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head デザイン住宅
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_dh.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head 和モダン
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_jm.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head HGデザイン住宅
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_hg.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head 建築家
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_a.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>
                
                li.list
                    h3.head ハウスメーカー
                    ul.content
                        include ./templates/php/loopStart_wpquery_gallery_parent_m.php
                        include ./templates/php/loopStart_wpquery_gallery_child.php
                        | <?php foreach ($p_site as $field_name => $field_value ) {} ?>
                        | <?php if( $detail_none && in_array('詳細ページを表示しない', $detail_none )) :?>
                        li.item: a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php else: ?>
                        li.item: a(href!=`<?php echo $childterm_link; ?>`)
                            .eyecatch
                                .company
                                    | <?php if($portrate_image): ?>
                                    | <?php echo $portrate_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                                .image
                                    | <?php if($eyecatch_image): ?>
                                    | <?php echo $eyecatch_image; ?>
                                    | <?php else: ?>
                                    img(src!=`${tRoot}/assets/images/gallery/image-dummy-g-eyecatch.jpg`, alt='かがわ家ぎゃらりぃ')
                                    | <?php endif ?>
                            h4.name
                                span.en <?php echo $p_company_en; ?>
                                span.ja <?php echo $p_company; ?>
                            .button
                                .inner
                                    span more
                                    .arrow
                                        include ./templates/_icon-arrow-s
                        | <?php endif; ?>
                
                        | <?php } ?>
                        | <?php } ?>


            //- ul.-wrap.list
            //-     include ./templates/php/loopStart_wpquery_gallery_parent.php
            //-     include ./templates/php/loopStart_wpquery_gallery_child.php
            //-     li.-list
            //-         | <?php if($p_career):?>
            //-         a.-image(href!=`<?php echo $childterm_link; ?>`)
            //-             | <?php if($portrate_image): ?>
            //-             | <?php echo $portrate_image; ?>
            //-             | <?php else: ?>
            //-             img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
            //-             | <?php endif ?>
            //-         | <?php else: ?>
            //-         .-image
            //-             | <?php if($portrate_image): ?>
            //-             | <?php echo $portrate_image; ?>
            //-             | <?php else: ?>
            //-             img(src!=`${tRoot}/assets/images/gallery/image-dummy-gallery.jpg`, alt='かがわ家ぎゃらりぃ')
            //-             | <?php endif ?>
            //-         | <?php endif ?>
            //-         | <?php if($p_career):?>
            //-         h2.-name: a(href!=`<?php echo $childterm_link; ?>`)
            //-             span.en <?php echo $p_company_en; ?>
            //-             span.company <?php echo $p_company; ?>
            //-         | <?php else: ?>
            //-         h2.-name
            //-             span.en <?php echo $p_company_en; ?>
            //-             span.company <?php echo $p_company; ?>
            //-         | <?php endif ?>
            //-         | <?php if($p_site):?>
            //-         .-site
            //-             | <?php
            //-             | foreach ($p_site as $field_name => $field_value ) {
            //-             | ?>
            //-             a(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
            //-                 span <?php echo $p_company; ?>の
            //-                 span ウェブサイトを見る
            //-                 .arrow
            //-                     include ./templates/_icon-arrow
            //-             | <?php } ?>
            //-         | <?php endif; ?>
            //-     | <?php } ?>
            //-     | <?php } ?>


    section.section
        .bnr-entry
            .content-small
                h2.headding-secondary.center.white
                    span.en Contact
                    span.ja 家づくりのご相談・お問い合わせ
                h3.-title
                    | まずは、お気軽にご相談ください。
                p.-text
                    | 家づくりのことなら、“フロムファースト・高松”にお任せください。
                    br.for-large
                    | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
                a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                    span 家づくりのご相談・お問い合わせ
                    .arrow
                        include ./templates/_icon-arrow

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.magazine").addClass("on");

            $(window).scroll(function (){
                var ScrollTop = $(document).scrollTop();
                if (ScrollTop > $('#active').offset().top) {
                    $(".from1st-bnr").addClass("off");
                } else {
                    $(".from1st-bnr").removeClass("off");
                }
            });

        });
