extends ./templates/_layout

block page-config
    | <?php /*Template Name: 資料請求 - 01確認画面*/ ?>
    -var filename = 'labo'
    -var current = 'request-confirm'
    -var chapter = true

block chapterContent
    .chapter-secondary
        h1.-title.blue
            span.en
                | Document Request
            span.ja
                | 資料請求

block content
    section.section#first
        .content-small
            .contact-wrap
                .-information
                    h3.txt-confirm 送信確認画面

                //- MW WP Formのショートコードを入力・確認・完了の3画面全てに入力が必要
                include ./templates/php/loopStart.php
                | <?php echo do_shortcode('[mwform_formkey slug="request"]'); ?>
                include ./templates/php/loopEnd.php

block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

        });
