extends ./templates/_layout
block page-config
    -var current = 'article-map'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary
        .article-content
            h2.headding-secondary.center
                span.en
                    | Map Search
                span.ja
                    | マップから分譲地を探す
        
        //- <iframe src="https://www.google.com/maps/d/embed?mid=1ntAAQcmo0zSEpckw7UFkidN8IMDPjCh8" width="640" height="480"></iframe>

        .content-small
            include ./templates/php/article_map.php

    include ./templates/_contact



block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $('.list_markup li input:checkbox').click(function(){

                if($('#m_state1:checked').val()) {
                    $('img.m_state1_img').css('display', 'block');
                } else {
                    $('img.m_state1_img').css('display', 'none');
                }

                if($('#m_state2:checked').val()) {
                    $('img.m_state2_img').css('display', 'block');
                } else {
                    $('img.m_state2_img').css('display', 'none');
                }

                if($('#m_state3:checked').val()) {
                    $('img.m_state3_img').css('display', 'block');
                } else {
                    $('img.m_state3_img').css('display', 'none');
                }

            });
        });
