extends ./templates/_layout
block page-config
    -var current = 'article-eria'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary
        .article-content
            h2.headding-secondary.center
                span.en
                    | Junior High School <br class="for-small">Area Search
                span.ja
                    | 中学校区から分譲地を探す

            include ./templates/php/article_eria.php

            .content-small.school-branch
                dl.all
                    dt
                        h3 全てから探す
                    dd
                        input(id='all', type='radio', name='tag', value='all' checked)
                        label(for='all') ALL
                dl
                    dt
                        h3 中学校区から探す
                    dd
                        .for-large
                            //- ul.-wrap
                            //-     | <?php
                            //-     | foreach ($aryEria as $key => $value ){
                            //-     | ?>
                            //-     li.-list
                            //-         input(id!=`<?= $key ?>`, type='radio', name='tag', value!=`<?= $key ?>`)
                            //-         label(for!=`<?= $key ?>`) <?= $key ?>区
                            //-     | <?php } ?>
                            ul.-wrap
                                | <?php $taxonomyName = 'article_cat'; ?>
                                include ./templates/php/get_catlist_wpquery.php
                        .for-small
                            .label
                                | <?php $terms = get_terms(array('taxonomy' => 'article_cat')); if ( $terms ) : ?>
                                .select-wrap
                                    select.select(name=`cat-dropdown` onchange=`document.location.href=this.options[this.selectedIndex].value;`)
                                        | <?php foreach ( (array)$terms as $term ): ?>
                                        option(value!=`<?php echo esc_html( get_term_link( $term ) ); ?>`) <?php echo esc_html( $term->name ); ?>
                                        | <?php endforeach; ?>
                                | <?php endif; ?>
                
                .google-mymap
                    .icon-list
                        ul.list
                            li.item.sale
                                p 販売中
                            li.item.plan
                                p 計画中
                            li.item.sold
                                p 完売済み
                    .map-content
                        .for-large
                            iframe(src='https://www.google.com/maps/d/u/2/embed?mid=1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7&ll=34.319145978965906%2C134.03802811461972&z=13')
                        .for-small
                            iframe(src='https://www.google.com/maps/d/u/2/embed?mid=1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7&ll=34.30893465652222%2C134.0393584902911&z=11')

                    a.countion(href!=`https://www.google.co.jp/maps/@34.3101526,133.9923574,13z/data=!4m2!6m1!1s1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7?hl=ja&authuser=0`, target="_blank")
                        p.attend 完売済みの物件は<br class="for-small">Googleマップのストリートビューより<br class="for-midi">分譲地内の街並みをご覧頂けます。
                        .button-flat
                            span
                                | Googleマップで開く
                                .arrow
                                    include ./templates/_icon-arrow

            | <?php
            | if (count($aryEria) != 0 ) {
            | foreach ($aryEria as $key => $value ){
            | ?>
            .content-small.school-wrap.all(id!=`<?= $key ?>`)
                .bs-callout.bs-callout-info
                    h4 <?= $key ?>区
                .a-list-wrap
                    | <?php foreach ($value as $key_e => $value_e) { ?>
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12.list-block.mb20
                        .row
                            .thumbnail.hover_block
                                a(href!=`<?= $value_e['link'] ?>`)
                                    .clearfix
                                        .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                            .row
                                                img.img-responsive.center-block(src!=`<?= $value_e['image'][0] ?>` alt!=`<?= $value_e['name'] ?>`)
                                        .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                            .row.pl05
                                                p.pt05
                                                    span.state(class!=`<?= $value_e['class'] ?>`) <?= $value_e['state'] ?>
                                                p.ft_color2 <?= $value_e['name'] ?>
                                                p <?= $value_e['kukaku'] ?>

                    | <?php } ?>

            | <?php
            | }
            | } else {
            | echo dataNotfound();
            | }
            | ?>
            
    include ./templates/_contact



block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $('.school-wrap').addClass('all');

            //- if(!navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
            //-     $('.school-branch .-wrap .-list input').on('click', function(){
            //-         var selectTab = $('.school-branch .-wrap .-list input').index(this);
            //-         $('.school-wrap').removeClass('current').eq(selectTab).addClass('current');
            //-         $('.school-branch .-wrap .-list input').removeClass('current').eq(selectTab).addClass('current');
            //-         $('.school-wrap').removeClass('all');
            //-     });

            //-     $('.school-branch .all dd input').on('click', function(){
            //-         $('.school-wrap').addClass('all');
            //-     });
            //- }

            //- if(navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
            //-     $('.school-branch .select-wrap select').change(function () {
            //-         var  selectTab = $('.school-branch .select-wrap select option:selected').val();
            //-         if ( selectTab == '.school-branch .select-wrap select') return;
            //-         $('.school-wrap').removeClass('current');
            //-         $('.school-wrap#' +  selectTab ).addClass('current');
            //-         $('.school-wrap').removeClass('all');
            //-         $('.school-branch .all dd input').prop("checked", false);
            //-     });

            //-     $('.school-branch .all dd input').on('click', function(){
            //-         $('.school-wrap').addClass('all');
            //-     });
            //- }

        });
