extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'labo_architect-detail'
block content
    include ./templates/php/loopStart.php
    | <?php
    | $a_name_en = SCF::get( 'a_name_en' );
    | $a_company = SCF::get( 'a_company' );
    | $a_count = SCF::get( 'a_count' );
    | ?>
    section.section-senary.other
        a.button-back(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo_architect`)
            img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
            span BACK
        | <?php
        | $house_title = SCF::get( 'house_title' );
        | $house_eyecatch = SCF::get('house_eyecatch');
        | ?>
        .architect-detail-presentation.content-small
            //- .for-small
            //-     h2.headding-primary From1st.Labo. Opening Event!!
            .-head
                h1.-title Presentation&Interview #<?php echo $a_count ?>
                p.-headding 〜 「建築家 <?php the_title(); ?>」が提案する家 〜
            .-image
                | <?php echo wp_get_attachment_image( $house_eyecatch , 'full' ); ?>
            | <?php if(!empty($house_title)):?>
            p.-number Presentation&Interview #<?php echo $a_count ?>
            p.-main 〜 「建築家 <?php the_title(); ?>」が提案する家 〜
            p.-sub <?php echo $house_title ?>
            p.-name <?php echo $a_company ?> / <?php the_title(); ?>
            | <?php $content = apply_filters('the_content',get_the_content()); ?>
            .-text
                | <?php echo $content; ?>
            | <?php endif; ?>

        | <?php
        | $multiple_detail = SCF::get('建築情報');
        | if(!empty($multiple_detail[0]['house_m_title'])):
        | ?>
        .architect-detail-presentation.multiple.content-small
            p.-number.blue Presentation&Interview #<?php echo $a_count ?>
            | <?php
            | foreach ($multiple_detail as $field_name => $field_value ) {
            | ?>
            .-wrap
                p.-main 〜 <?php echo $field_value['house_m_sub']; ?> 〜
                p.-sub <?php echo nl2br($field_value['house_m_title']); ?>
                p.-name.blue <?php the_title(); ?>
                .-text
                    | <?php echo nl2br($field_value['house_m_detail']); ?>
            | <?php } ?>
        | <?php endif; ?>

    section.section
        .architect-detail-entry.content-small
            | <?php
            | $a_career = SCF::get( 'a_career' );
            | $a_location = SCF::get( 'a_location' );
            | $a_tel = SCF::get( 'a_tel' );
            | $a_awards = SCF::get( 'a_awards' );
            | $a_portrait = SCF::get('a_portrait');
            | ?>
            h2.headding-secondary.reverse.center
                span.en Entry No.<?php echo $a_count ?>
                span.ja <?php echo $a_name_en ?>
            .-wrap
                .-name
                    p.en <?php echo $a_name_en ?>
                    p.ja <?php the_title(); ?>
                    p.company <?php echo $a_company ?>
                .-data
                    .-text
                        p
                            | <?php echo nl2br($a_career); ?>
                    .-text
                        span ［所在地］
                        | <?php
                        | $c_about = SCF::get('会社情報');
                        | foreach ($c_about as $field_name => $field_value ) {
                        | ?>
                        .about
                            span <?php echo $field_value['a_location']; ?>
                            | <?php $a_tel = $field_value['a_tel']; ?>
                            a.tel(href!=`tel:<?php echo $a_tel ?>`) TEL. <?php echo $a_tel ?>
                            | <?php if(!empty($c_about[0]['a_tel02'])):?>
                            | <?php $a_tel02 = $field_value['a_tel02']; ?>
                            a.tel.sl(href!=`tel:<?php echo $a_tel02 ?>`) <?php echo $a_tel02 ?>
                            | <?php endif; ?>
                        | <?php } ?>

                        //- | <?php
                        //- | $a_site = SCF::get( 'URL' );
                        //- | foreach ($a_site as $field_name => $field_value ) {
                        //- | $a_url = $field_value['a_site'];
                        //- | ?>
                        //- a.site(href!=`<?php echo $a_url ?>`, target="_blank") <?php echo $a_url ?>
                        //- | <?php } ?>

                    .-text
                        span ［受賞歴・その他］
                        span.award <?php echo nl2br($a_awards); ?>

                    .-link
                        | <?php
                        | $a_site = SCF::get( 'URL' );
                        | foreach ($a_site as $field_name => $field_value ) {
                        | $a_url = $field_value['a_site'];
                        | ?>
                        | <?php if(!empty($a_url)):?>
                        a.button-line(href!=`<?php echo $a_url ?>`, target="_blank")
                            span <?php the_title(); ?>の<br class="for-small">ウェブサイトを見る
                            .arrow
                                include ./templates/_icon-arrow
                        | <?php endif; ?>
                        | <?php } ?>

                .-image
                    | <?php echo wp_get_attachment_image( $a_portrait , 'full' ); ?>

    | <?php
    | $drowing = SCF::get('ドローイング画像');
    | ?>
    | <?php if(!empty($drowing[0]['image_drowing'])):?>
    section.section
        .architect-detail-drawing
            .content-wrap
                h2.headding-secondary.red.center
                    span.en Drawing
                    span.ja <?php echo $a_company ?> / <?php the_title(); ?> ドローイング
            .architect-detail-slide
                .swiper-container
                    .swiper-wrapper.main-visual-slider
                        | <?php
                        | foreach ($drowing as $field_name => $field_value ) {
                        | $image_full = wp_get_attachment_image($field_value['image_drowing'], 'full');
                        | ?>
                        .swiper-slide.list
                            | <?php echo $image_full; ?>
                        | <?php } ?>
                .pagination
                    .swiper-pagination
                .navigation
                    .swiper-button-next
                    .swiper-button-prev
    | <?php endif; ?>

    | <?php
    | $cad_movie = SCF::get('3d_movie');
    | if(!empty($cad_movie)):
    | ?>
    section.section
        .architect-detail-movie
            video(src!=`<?php echo $cad_movie ?>` controls loop autoplay muted)
    | <?php endif;?>

    | <?php $price = SCF::get('費用'); ?>
    | <?php if(!empty($price[0]['p_price'])):?>
    section.section
        | <?php
        | $house_title = SCF::get( 'house_title' );
        | $p_price = SCF::get( 'p_price' );
        | $p_pdf = SCF::get('p_pdf');
        | $p_pdf_url = esc_url(wp_get_attachment_url($p_pdf));
        | ?>
        .architect-detail-price.content-small
            h2.headding-secondary.red.center
                span.en Price
                span.ja 建築費用
            p.-name 〜 「建築家 <?php the_title(); ?>」が提案する家 〜
            | <?php
            | foreach ($price as $field_name => $field_value ) {
            | ?>
            .p-wrap
                | <?php if(!empty($price[0]['p_subtitle'])):?>
                p.-stitle <?php echo $field_value['p_subtitle']; ?>
                | <?php endif; ?>
                p.-price ¥<?php echo $field_value['p_price']; ?>-
            | <?php } ?>
            .for-large
                p.-text
                    | ※ご要望により予算変更可
                    br
                    | 建築費用内訳・・・建物本体価格、設計＆監理費、屋外給排水、諸経費（照明・エアコン）、外構工事（アプローチ・植栽など）、消費税
                    br
                    | ※土地代、印紙代、登記費用、火災保険（地震保険）・銀行融資諸費用別途
            a.button-ghost.small.center(href!=`<?php echo $p_pdf_url ?>`, target="_blank")
                span 資金計画書を見る［PDF］
                .arrow
                    include ./templates/_icon-arrow
            .for-small
                p.-text
                    | ※ご要望により予算変更可
                    br
                    | 建築費用内訳・・・建物本体価格、設計＆監理費、屋外給排水、諸経費（照明・エアコン）、外構工事（アプローチ・植栽など）、消費税
                    br
                    | ※土地代、印紙代、登記費用、火災保険（地震保険）・銀行融資諸費用別途
    | <?php endif; ?>

    | <?php
    | $m_link = SCF::get('m_link');
    | ?>
    | <?php if(!empty($m_link)):?>
    section.section
        .architect-movie.detail
            h2.headding-secondary.white.center
                span.en Presentation Movie
                span.ja <?php echo $a_company ?> / <?php the_title(); ?><br class="for-small">プレゼンテーションムービー
            .-movie
                .-movie-inner
                    iframe(src!=`https://www.youtube.com/embed/<?php echo $m_link ?>?rel=0` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
                //- img(src!=`${tRoot}/assets/images/architect/image-detail-movie.png`)
    | <?php endif; ?>

    | <?php
    | $architect_interview = SCF::get('architect_interview');
    | ?>
    | <?php if(!empty($architect_interview[0]['architect_interview_title'])):?>
    section.section-septenary
        .architect-detail-list.content-small
            h2.headding-secondary.red.center
                span.en Interview
                span.ja <?php echo $a_company ?> / <?php the_title(); ?>インタビュー
            ul.-wrap
                | <?php
                | $architect_interview = SCF::get('architect_interview');
                | foreach ($architect_interview as $fields){
                |     $architect_interview_title = $fields['architect_interview_title'];
                |     $architect_interview_text = $fields['architect_interview_text'];
                |     $architect_interview_image = get_post_meta($post->ID, 'architect_interview_image', true);
                | ?>
                li.-list
                    .-content
                        | <?php if(!empty($architect_interview_title)):?>
                        h3.title
                            | <?php echo $architect_interview_title; ?>
                        | <?php endif;?>
                        | <?php if(!empty($architect_interview_text)):?>
                        p.text
                            | <?php echo $architect_interview_text; ?>
                        | <?php endif;?>
                    | <?php if(!empty($architect_interview_image)):?>
                    .-image
                        | <?php echo wp_get_attachment_image($fields['architect_interview_image'], 'full'); ?>
                    | <?php endif;?>
                | <?php } ?>
    | <?php endif; ?>

    section.section-septenary
        .gallery-cat-post
            .content-small
                h2.headding-secondary.red.center
                    span.en Works Gallery
                    span.ja 実績写真集
                | <?php
                | $gallery_terms = SCF::get('gallery_terms');
                | $target_term = $gallery_terms;
                | ?>

                | <?php
                | $custom_posts = get_posts(array(
                |     'post_type' => 'gallery',
                |     'posts_per_page' => 100,
                |     'orderby' => 'date',
                |     'order' => 'ASC',
                |     'tax_query' => array(
                |         array(
                |             'taxonomy' => 'gallery_cat',
                |             'field' => 'slug',
                |             'terms' => $target_term,
                |             'operator' => 'IN'
                |         ),
                |     )
                | ));
                | global $post;
                | if($custom_posts):
                | ?>
                ul.-wrap
                    | <?php
                    | foreach($custom_posts as $post): setup_postdata($post);
                    | ?>
                    include ./templates/php/get_category_gallery.php
                    | <?php $taxonomyName = 'gallery_cat'; ?>
                    li.-list: a(href!=`<?php the_permalink(); ?>`)
                        | <?php
                        | $architect_works = SCF::get('architect_works');
                        | foreach (array_reverse($architect_works) as $fields){
                        | $architect_works_image = get_post_meta($post->ID, 'architect_works_image', true);
                        | $architect_works_copy = $fields['architect_works_copy'];
                        | }
                        | ?>
                        .-image
                            | <?php if(!empty($architect_works_image)):?>
                            | <?php echo wp_get_attachment_image($fields['architect_works_image'], 'full'); ?>
                            | <?php endif;?>
                        .-data
                            h3.-title <?php the_title(); ?>
                            .button-more
                                span MORE
                    | <?php endforeach; wp_reset_postdata(); ?>
                | <?php else: ?>
                h3.-soon
                    span.en Comming Soon...
                | <?php endif; ?>
                include ./templates/php/reset.php

    //- section.section-septenary
    //-     .architect-detail-list.content-small
    //-         h2.headding-secondary.center
    //-             span.en Works
    //-             span.ja <?php echo $a_company ?> / <?php the_title(); ?> 作品実例
    //-         ul.-wrap
    //-             | <?php
    //-             | $architect_works = SCF::get('architect_works');
    //-             | foreach ($architect_works as $fields){
    //-             |     $architect_works_image = get_post_meta($post->ID, 'architect_works_image', true);
    //-             |     $architect_works_copy = $fields['architect_works_copy'];
    //-             | ?>
    //-             li.-list.works
    //-                 .-image
    //-                     | <?php if(!empty($architect_works_image)):?>
    //-                     | <?php echo wp_get_attachment_image($fields['architect_works_image'], 'full'); ?>
    //-                     | <?php endif;?>
    //-                     | <?php if(!empty($architect_works_copy)):?>
    //-                     p.copy
    //-                         | <?php echo $architect_works_copy; ?>
    //-                     | <?php endif;?>
    //-             | <?php } ?>

    include ./templates/php/loopEnd.php

    include ./templates/_contact_gallery

block script
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.swiper-container', {
                    speed: 1000,
                    loop: true,
                    effect: 'slide',
                    autoplay: {
                        delay: 1000000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    }
                })

                $(".swiper-container").mouseenter(function() {
                mySwiper.autoplay.stop();
                console.log('slider stopped');
                });

                $(".swiper-container").mouseleave(function() {
                mySwiper.autoplay.start();
                console.log('slider started again');
                });
            });

        });
