extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'modelhouse-detail'
block content
    include ./templates/php/loopStart.php
    | <?php
    | $a_name_en = SCF::get( 'a_name_en' );
    | $a_company = SCF::get( 'a_company' );
    | $a_company_o = SCF::get( 'a_company_o' );
    | $a_count = SCF::get( 'a_count' );
    | ?>
    section.section-senary.other
        a.button-back(href!=`<?php echo esc_url( home_url( '/' ) ); ?>modelhouse`)
            img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
            span BACK

        | <?php
        | $house_title = SCF::get( 'house_title' );
        | $house_eyecatch = SCF::get('house_eyecatch');
        | ?>
        .architect-detail-presentation.content-small
            h2.headding-secondary.center
                span.en From1st. Real Estate Modelhouse
                span.ja 当社分譲地内こだわりのモデルハウス
            .-image
                | <?php if (has_post_thumbnail()) : ?>
                | <?php the_post_thumbnail('post_thumbnail'); ?>
                | <?php endif; ?>

            p.-number.blue ModelHouse
            p.-sub <?php the_title(); ?>
            | <?php if(!empty($a_company_o)):?>
            p.-name.blue <?php echo $a_company_o ?>
            | <?php else: ?>
            p.-name.blue <?php echo $a_company ?>
            | <?php endif; ?>
            | <?php $content = apply_filters('the_content',get_the_content()); ?>
            .-text
                | <?php echo $content; ?>


    section.section.content-small
        .house-company
            h2.headding-secondary.center
                span.en Company Information
                span.ja 開催企業
            .-inner
                .-data
                    h3.company
                        | <?php if(!empty($a_name_en)):?>
                        span.en <?php echo $a_name_en; ?>
                        | <?php endif; ?>

                        | <?php if(!empty($a_company)):?>
                        span.ja <?php echo $a_company; ?>
                        | <?php endif; ?>
                    .for-large
                        | <?php $a_career = SCF::get( 'a_career' ); ?>
                        | <?php if(!empty($a_career)):?>
                        p.content
                            | <?php echo nl2br($a_career); ?>
                        | <?php endif; ?>
                        .-about
                            p.head ［会社概要］
                            | <?php
                            | $c_about = SCF::get('会社情報');
                            | foreach ($c_about as $field_name => $field_value ) {
                            | ?>
                            | <?php } ?>
                            h3.name <?php echo $a_company ?>
                            h4.add <?php echo $field_value['a_location']; ?>

                | <?php $a_portrait = SCF::get('a_portrait'); ?>
                | <?php if(!empty($a_portrait)):?>
                .-logo
                    | <?php echo wp_get_attachment_image( $a_portrait , 'full' ); ?>
                | <?php endif; ?>

            .for-small
                | <?php $a_career = SCF::get( 'a_career' ); ?>
                | <?php if(!empty($a_career)):?>
                p.content
                    | <?php echo nl2br($a_career); ?>
                | <?php endif; ?>
                .-about
                    p.head ［会社概要］
                    | <?php if(!empty($a_company)):?>
                    h3.name <?php echo $a_company ?>
                    | <?php endif; ?>

                    | <?php
                    | $c_about = SCF::get('会社情報');
                    | foreach ($c_about as $field_name => $field_value ) {
                    | ?>
                    | <?php } ?>
                    h4.add <?php echo $field_value['a_location']; ?>

            .-contact
                .tel
                    | <?php $a_tel = $field_value['a_tel']; ?>
                    .for-large
                        span TEL.<?php echo $a_tel ?>
                    .for-small
                        a(href!=`tel:<?php echo $a_tel ?>`) TEL.<?php echo $a_tel ?>

                | <?php
                | $a_site = SCF::get( 'URL' );
                | foreach ($a_site as $field_name => $field_value ) {
                | $a_url = $field_value['a_site'];
                | ?>
                | <?php } ?>
                a(href!=`<?php echo $a_url ?>`, target="_blank")
                    span ウェブサイトを見る
                    .for-large
                        include ./templates/_icon-arrow
                    .for-small
                        include ./templates/_icon-arrow-sp

                a(href!=`${root}/request`)
                    span 資料請求
                    .for-large
                        include ./templates/_icon-arrow
                    .for-small
                        include ./templates/_icon-arrow-sp

    | <?php
    | $drowing = SCF::get('ドローイング画像');
    | ?>
    | <?php if(!empty($drowing[0]['image_drowing'])):?>
    section.section
        .architect-detail-drawing
            .content-wrap
                h2.headding-secondary.center.blue
                    span.en Drawing
                    | <?php if(!empty($a_company_o)):?>
                    span.ja <?php echo $a_company_o ?> 間取り図
                    | <?php else: ?>
                    span.ja <?php echo $a_company ?> 間取り図
                    | <?php endif; ?>
            .architect-detail-slide
                .swiper-container
                    .swiper-wrapper.main-visual-slider
                        | <?php
                        | foreach ($drowing as $field_name => $field_value ) {
                        | $image_full = wp_get_attachment_image($field_value['image_drowing'], 'full');
                        | ?>
                        .swiper-slide.list
                            | <?php echo $image_full; ?>
                        | <?php } ?>
                .pagination
                    .swiper-pagination
                .navigation
                    .swiper-button-next
                    .swiper-button-prev
    | <?php endif; ?>


    section.section-septenary
        .gallery-cat-post
            .content-small
                h2.headding-secondary.center
                    span.en Works Gallery
                    span.ja 実績写真集
                | <?php
                | $gallery_terms = SCF::get('gallery_terms');
                | $target_term = $gallery_terms;
                | ?>

                | <?php
                | $custom_posts = get_posts(array(
                |     'post_type' => 'gallery',
                |     'posts_per_page' => 100,
                |     'orderby' => 'date',
                |     'order' => 'ASC',
                |     'tax_query' => array(
                |         array(
                |             'taxonomy' => 'gallery_cat',
                |             'field' => 'slug',
                |             'terms' => $target_term,
                |             'operator' => 'IN'
                |         ),
                |     )
                | ));
                | global $post;
                | if($custom_posts):
                | ?>
                ul.-wrap
                    | <?php
                    | foreach($custom_posts as $post): setup_postdata($post);
                    | ?>
                    include ./templates/php/get_category_gallery.php
                    | <?php $taxonomyName = 'gallery_cat'; ?>
                    li.-list: a(href!=`<?php the_permalink(); ?>`)
                        | <?php
                        | $architect_works = SCF::get('architect_works');
                        | foreach (array_reverse($architect_works) as $fields){
                        | $architect_works_image = get_post_meta($post->ID, 'architect_works_image', true);
                        | $architect_works_copy = $fields['architect_works_copy'];
                        | }
                        | ?>
                        .-image
                            | <?php if(!empty($architect_works_image)):?>
                            | <?php echo wp_get_attachment_image($fields['architect_works_image'], 'full'); ?>
                            | <?php endif;?>
                        .-data
                            h3.-title <?php the_title(); ?>
                            .button-more
                                span MORE
                    | <?php endforeach; wp_reset_postdata(); ?>
                | <?php else: ?>
                h3.-soon
                    span.en Comming Soon...
                | <?php endif; ?>
                include ./templates/php/reset.php

    include ./templates/php/loopEnd.php

    include ./templates/_contact_gallery-b

block script
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(document).ready(function () {
                // メインビジュアル
                var mySwiper = new Swiper ('.swiper-container', {
                    speed: 1000,
                    loop: true,
                    effect: 'slide',
                    autoplay: {
                        delay: 1000000,
                        disableOnInteraction: false
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: true
                    }
                })
            });

        });
