extends ./templates/_layout
block page-config
    -var current = 'article-detail'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary
        a.button-back(href!=`javascript:history.back();`)
            img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
            span BACK
        .article-content.detail
            h2.headding-secondary.center
                span.en
                    | Land Information
                span.ja
                    | 物件情報

            .content-small
                include ./templates/php/article_detail.php

                .gallery-link
                    h2.headding-secondary.center
                        span.en
                            | Kagawa House Gallery
                        span.ja
                            | かがわ家ぎゃらりぃ

                    ul.-wrap
                        li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>lkagawa-iegallery/architect`)
                            span 建築家
                            .arrow
                                span MORE
                        li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/corporation`)
                            span 工務店
                            .arrow
                                span MORE
                        li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/maker`)
                            span 大手ハウスメーカー
                            .arrow
                                span MORE
                        li.-list: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>kagawa-iegallery/builder`)
                            span ビルダー
                            .arrow
                                span MORE

    section.section
        .bnr-entry
            .content-small
                h2.headding-secondary.center.white
                    span.en Contact
                    span.ja 家づくりのご相談・お問い合わせ
                h3.-title
                    | まずは、お気軽にご相談ください。
                p.-text
                    | 家づくりのことなら、“フロムファースト・高松”にお任せください。
                    br.for-large
                    | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
                a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>consultation?post_id=<?php echo $post->ID ?>`)
                    span 家づくりのご相談・お問い合わせ
                    .arrow
                        include ./templates/_icon-arrow



block script
    script(type='text/javascript', src!=`${tRoot}/assets/js/swiper.min.js`)
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(function(){
                $('.skyshot p img').click(function() {
                    var src = $(this).attr('src');
                    $('#img1').attr('src', src);
                });
            });
        });
