extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'gallery-detail'
block content
    section.section
        .gallery-content
            .content-wrap
                include ./templates/php/loopStart.php
                .-content
                    h2.head Works
                    h1.-title <?php the_title(); ?>
                    .-text
                        | <?php $content = apply_filters('the_content',get_the_content()); ?>
                        | <?php echo $content; ?>

                    | <?php $taxonomyName = 'gallery_cat'; ?>
                    include ./templates/php/get_category_wpquery.php
                    a.button-back.gallery(href!=`javascript:history.back();`)
                        img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
                        span BACK

                .-works
                    ul.-wrap
                        | <?php
                        | $architect_works = SCF::get('architect_works');
                        | foreach ($architect_works as $fields){
                        | $architect_works_image = get_post_meta($post->ID, 'architect_works_image', true);
                        | $architect_works_copy = $fields['architect_works_copy'];
                        | ?>
                        li.-list
                            | <?php if(!empty($architect_works_image)):?>
                            .-image
                                | <?php echo wp_get_attachment_image($fields['architect_works_image'], 'full'); ?>
                            | <?php endif;?>
                            | <?php if(!empty($architect_works_copy)):?>
                            .-data
                                p PHOTO:<?php echo $architect_works_copy; ?>
                            | <?php endif;?>
                        | <?php } ?>
                include ./templates/php/loopEnd.php


block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.magazine").addClass("on");

        });
