extends ./templates/_layout
block page-config
    -var current = 'article'
    -var chapter = false
    -var files = 'other'

block content
    section.section-primary
        .article-content
            h2.headding-secondary.center
                span.en
                    | Junior High School <br class="for-small">Area Search
                span.ja
                    | 中学校区から分譲地を探す

            //- include ./templates/php/article_eria.php

            .content-small.school-branch
                dl.all
                    dt
                        h3 全てから探す
                    dd
                        a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>article-eria`) ALL
                dl
                    dt
                        h3 中学校区から探す
                    dd
                        .for-large
                            //- ul.-wrap
                            //-     | <?php
                            //-     | foreach ($aryEria as $key => $value ){
                            //-     | ?>
                            //-     li.-list
                            //-         input(id!=`<?= $key ?>`, type='radio', name='tag', value!=`<?= $key ?>`)
                            //-         label(for!=`<?= $key ?>`) <?= $key ?>区
                            //-     | <?php } ?>
                            ul.-wrap
                                | <?php $taxonomyName = 'article_cat'; ?>
                                include ./templates/php/get_catlist_wpquery.php
                        .for-small
                            .label
                                | <?php $terms = get_terms(array('taxonomy' => 'article_cat')); if ( $terms ) : ?>
                                | <?php $now_term = get_query_var('term'); ?>
                                .select-wrap
                                    select.select(name=`cat-dropdown` onchange=`document.location.href=this.options[this.selectedIndex].value;`)
                                        | <?php foreach ( (array)$terms as $term ): ?>
                                        | <?php if ($term->slug == $now_term): ?>
                                        option(value!=`<?php echo esc_html( get_term_link( $term ) ); ?>` selected) <?php echo esc_html( $term->name ); ?>
                                        | <?php else: ?>
                                        option(value!=`<?php echo esc_html( get_term_link( $term ) ); ?>`) <?php echo esc_html( $term->name ); ?>
                                        | <?php endif; ?>
                                        | <?php endforeach; ?>
                                | <?php endif; ?>

            | <?php $taxonomyName = 'article_cat'; ?>
            include ./templates/php/get_category_wpquery.php
            | <?php
            | $gmm_latitude_pc = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_latitude_pc' );
            | $gmm_longitude_pc = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_longitude_pc' );
            | $gmm_zoom_pc = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_zoom_pc' );
            | $gmm_latitude_sp = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_latitude_sp' );
            | $gmm_longitude_sp = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_longitude_sp' );
            | $gmm_zoom_sp = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_zoom_sp' );
            | $gmm_latitude_link = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_latitude_link' );
            | $gmm_longitude_link = SCF::get_term_meta( $term1->term_id, $taxonomyName, 'gmm_longitude_link' );
            | ?>
            .content-small.school-wrap.all(id!=`<?php echo $cat_name; ?>`)
                .google-mymap
                    .icon-list
                        ul.list
                            li.item.sale
                                p 販売中
                            li.item.plan
                                p 計画中
                            li.item.sold
                                p 完売済み
                    .map-content
                        .for-large
                            iframe(src!=`https://www.google.com/maps/d/u/2/embed?mid=1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7&ll=<?php echo $gmm_latitude_pc; ?>%2C<?php echo $gmm_longitude_pc; ?>&z=<?php echo $gmm_zoom_pc; ?>`)
                        .for-small
                            iframe(src!=`https://www.google.com/maps/d/u/2/embed?mid=1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7&ll=<?php echo $gmm_latitude_sp; ?>%2C<?php echo $gmm_longitude_sp; ?>&z=<?php echo $gmm_zoom_sp; ?>`)
                    .for-large
                        a.countion(href!=`https://www.google.co.jp/maps/@<?php echo $gmm_latitude_link; ?>,<?php echo $gmm_longitude_link; ?>,15z/data=!4m2!6m1!1s1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7?hl=ja&authuser=0`, target="_blank")
                            p.attend 完売済みの物件は<br class="for-small">Googleマップのストリートビューより<br class="for-midi">分譲地内の街並みをご覧頂けます。
                            .button-flat
                                span
                                    | Googleマップで開く
                                    .arrow
                                        include ./templates/_icon-arrow
                    .for-small
                        a.countion(href!=`https://www.google.co.jp/maps/@<?php echo $gmm_latitude_link; ?>,<?php echo $gmm_longitude_link; ?>,14z/data=!4m2!6m1!1s1NurLqgcMWeJIdHHasMkPbiCdDMBdBAf7?hl=ja&authuser=0`, target="_blank")
                            p.attend 完売済みの物件は<br class="for-small">Googleマップのストリートビューより<br class="for-midi">分譲地内の街並みをご覧頂けます。
                            .button-flat
                                span
                                    | Googleマップで開く
                                    .arrow
                                        include ./templates/_icon-arrow


                .bs-callout.bs-callout-info
                    h4 <?php echo $cat_name; ?>区
                .a-list-wrap
                    include ./templates/php/loopStart.php
                    include ./templates/php/article_eria_cat.php
                    .col-lg-4.col-md-4.col-sm-6.col-xs-12.list-block.mb20
                        .row
                            .thumbnail.hover_block
                                a(href!=`<?php the_permalink(); ?>`)
                                    .clearfix
                                        .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                            .row
                                                img.img-responsive.center-block(src!=`<?= $arytemp['image'][0] ?>` alt!=`<?= $arytemp['name'] ?>`)
                                        .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                            .row.pl05
                                                p.pt05
                                                    span.state(class!=`<?= $arytemp['class'] ?>`) <?= $arytemp['state'] ?>
                                                p.ft_color2 <?= $arytemp['name'] ?>
                                                p <?= $arytemp['kukaku'] ?>

                    include ./templates/php/loopEnd.php
                    include ./templates/php/reset.php

    include ./templates/_contact



block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $('.school-wrap').addClass('all');

            //- if(!navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
            //-     $('.school-branch .-wrap .-list input').on('click', function(){
            //-         var selectTab = $('.school-branch .-wrap .-list input').index(this);
            //-         $('.school-wrap').removeClass('current').eq(selectTab).addClass('current');
            //-         $('.school-branch .-wrap .-list input').removeClass('current').eq(selectTab).addClass('current');
            //-         $('.school-wrap').removeClass('all');
            //-     });

            //-     $('.school-branch .all dd input').on('click', function(){
            //-         $('.school-wrap').addClass('all');
            //-     });
            //- }

            //- if(navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
            //-     $('.school-branch .select-wrap select').change(function () {
            //-         var  selectTab = $('.school-branch .select-wrap select option:selected').val();
            //-         if ( selectTab == '.school-branch .select-wrap select') return;
            //-         $('.school-wrap').removeClass('current');
            //-         $('.school-wrap#' +  selectTab ).addClass('current');
            //-         $('.school-wrap').removeClass('all');
            //-         $('.school-branch .all dd input').prop("checked", false);
            //-     });

            //-     $('.school-branch .all dd input').on('click', function(){
            //-         $('.school-wrap').addClass('all');
            //-     });
            //- }

        });
