extends ./templates/_layout
block page-config
    -var filename = 'labo'
    -var current = 'gallery'
block content
    section.section
        .gallery-cat-data
            .content-wrap
                .-profile
                    include ./templates/php/get_category_gallery.php
                    .-main
                        p.head Profile
                        h1.company
                            | <?php $now_term = get_query_var('term'); ?>
                            | <?php if($now_term == 'g_corporation_shimairo'):?>
                            span 株式会社島色工務店
                            span.en Shimairo

                            | <?php elseif($now_term == 'g_corporation_nishiken'):?>
                            span 有限会社西建住宅
                            span.en Nishiken

                            | <?php elseif($now_term == 'g_corporation_isho'):?>
                            span 株式会社意匠計画Horigami
                            span.en Ishokeikaku Horigami

                            | <?php else: ?>
                            | <?php if($p_company):?>
                            span <?php echo $p_company; ?>
                            | <?php endif; ?>

                            | <?php if($p_company_en):?>
                            span.en <?php echo $p_company_en; ?>
                            | <?php endif; ?>

                            | <?php endif; ?>

                        | <?php $now_term = get_query_var('term'); ?>
                        | <?php
                        | if($now_term == 'g_office_hama' || $now_term == 'g_office_jma' || $now_term == 'g_office_ka' || $now_term == 'g_office_mkeikakusitu' || $now_term == 'g_office_raum' || $now_term == 'g_office_plan' || $now_term == 'g_office_nomura' || $now_term == 'g_office_uraku' || $now_term == 'g_office_sato' || $now_term == 'g_office_km' || $now_term == 'g_office_sogei' || $now_term == 'g_office_yoshiken' || $now_term == 'g_office_secondbeain' || $now_term == 'g_office_shimairo' || $now_term == 'g_office_horigami' || $now_term == 'g_office_ouken' || $now_term == 'g_office_yharch' || $now_term == 'g_office_morimoto' || $now_term == 'g_office_ys' || $now_term == 'g_office_hk' || $now_term == 'g_office_fukuya' || $now_term == 'a_office_ya' || $now_term == 'g_office_takeuchi' || $now_term == 'g_office_nishiken' || $now_term == 'g_office_suzuki' || $now_term == 'g_office_takakura' || $now_term == 'g_office_kubo')
                        | :?>
                        h2.name
                            | <?php if($p_name_ja):?>
                            span <?php echo $p_name_ja; ?>/
                            | <?php endif; ?>

                            | <?php if($p_name_en):?>
                            span <?php echo $p_name_en; ?>
                            | <?php endif; ?>
                        | <?php else: ?>
                        | <?php endif; ?>
                        
                        | <?php foreach ($p_site as $field_name => $field_value ) { ?>
                        | <?php if($field_value['p_site']):?>
                        a.button-line(href!=`<?php echo $field_value['p_site']; ?>`, target="_blank")
                            span ウェブサイトを見る
                            .arrow
                                include ./templates/_icon-arrow
                        | <?php endif; ?>
                        | <?php } ?>

                    .-data
                        | <?php $now_term = get_query_var('term'); ?>
                        | <?php if($now_term == 'g_corporation_isho') :?>
                        .-wrap: p
                            | 私たちは、「自らの好きなこと・できることで、伝統と技術を用いて自分以外の人達の幸福をつくる」を
                            br
                            | 信念に掲げ、家づくりに取り組んでいます。そのため、建設棟数を「年間10棟まで」と決め、
                            br
                            | 家づくりに係わる全員とコミュニケーションがとれる最適な人数で家づくりを行い、
                            br
                            | 上質な家をお届けすることを目標としています。
                            br
                            | 「命を守るためにできるすべての技術と最も美しい普通」をコンセプトに5つの基本要素である、
                            br
                            | ①シンプルであること
                            br
                            | ②美しいこと
                            br
                            | ③技術力を駆使すること
                            br
                            | ④木を用いること
                            br
                            | ⑤自然を取り入れること
                            br
                            | を全棟に取り入れ、その人に合った、極力無駄をなくしたベストプランで、
                            br
                            | 質のいい空間・外観を、永く安全で快適に使えるよう、細部の造りにこだわっています。

                        | <?php elseif($now_term == 'g_corporation_shimairo') :?>
                        .-wrap: p
                            | 家づくりを通じて、人として成長し、地域社会に貢献すること。
                            br
                            | 住まわれる方の暮らしに合った家づくりを提供し、御家族様の笑顔を増やすこと。
                            br
                            | 地域に根付いた工務店を目指すこと。
                            br
                            br
                            | これが私達の考えです。
                            br
                            br
                            | 家は一生に何度も買えるものではありません。
                            br
                            | お施主様が一生懸命に働いて手にする事ができる夢と希望です。
                            br
                            | そして、家が完成したあとも重要だと思っています。
                            br
                            | そこでどのような暮らしを私たちは提案できるのか。
                            br
                            br
                            | 私達は1932年に創業して以来、材木屋として家づくりに携わってきました。
                            br
                            | 小豆島の豊かな自然に恵まれ、お客様や大工さん、設計士さん、
                            br
                            | コーディネーターさんから得られた技術があります。
                            br
                            | これまで蓄積された技術・経験を生かし、皆様の笑顔が溢れ、
                            br
                            | 豊かに暮らしていけるお手伝いをしたいと思っています。

                        | <?php elseif($now_term == 'g_corporation_nishiken') :?>
                        .-wrap: p
                            | 西建住宅の家をひと言で言うと“香川県の風土に適した高性能デザイン住宅”です。
                            br
                            | 性能に特化し続け、デザインも良い、そんな家にこだわり続けて早10年以上経ちました。
                            br
                            | おかげさまでこの数年間で弊社の家づくりに共感していただくお客様が少しずつ増えてきたように思います。
                            br
                            | 平成28年には西建住宅の家を『プラス１DAY』と名付けました。
                            br
                            | “1週間に8日帰りたくなる家”をコンセプトにしたブランディングです。
                            br
                            | 僕は不器用な人間なのでうまい営業トークは苦手です。住宅性能にこだわるお客様には、
                            br
                            | ぜひ弊社の構造見学会や気密測定見学会、体感見学会、
                            br
                            | また住んで数年経過したOBさんの家を見て話を聞いていただきたいと思います。
                            br
                            | そしてご縁をいただいたときには「家づくりの最高のサポート役としてお手伝いがしたい。」そう願っています。

                        | <?php else: ?>

                        | <?php if($p_career):?>
                        .-wrap: p
                            | <?php echo nl2br($p_career); ?>
                        | <?php endif; ?>

                        | <?php endif; ?>

                        .-wrap
                            p
                                span ［所在地］
                            | <?php foreach ($p_about as $field_name => $field_value ) { ?>
                            .company
                                p
                                    | <?php echo $field_value['p_location']; ?>
                                    br
                                    a(href!=`tel:<?php echo $field_value['p_tel']; ?>`) TEL. <?php echo $field_value['p_tel']; ?>
                                    | <?php if(!empty($p_about[0]['p_tel02'])):?>
                                    a.sl(href!=`tel:<?php echo $field_value['p_tel02']; ?>`) <?php echo $field_value['p_tel02']; ?>
                                    | <?php endif; ?>
                            | <?php } ?>

                        | <?php $now_term = get_query_var('term'); ?>
                        | <?php
                        | if($now_term == 'g_office_hama' || $now_term == 'g_office_jma' || $now_term == 'g_office_ka' || $now_term == 'g_office_mkeikakusitu' || $now_term == 'g_office_raum' || $now_term == 'g_office_plan' || $now_term == 'g_office_nomura' || $now_term == 'g_office_uraku' || $now_term == 'g_office_sato' || $now_term == 'g_office_km' || $now_term == 'g_office_sogei' || $now_term == 'g_office_yoshiken' || $now_term == 'g_office_secondbeain' || $now_term == 'g_office_shimairo' || $now_term == 'g_office_horigami' || $now_term == 'g_office_ouken' || $now_term == 'g_office_yharch' || $now_term == 'g_office_morimoto' || $now_term == 'g_office_ys' || $now_term == 'g_office_hk' || $now_term == 'g_office_fukuya' || $now_term == 'a_office_ya' || $now_term == 'g_office_takeuchi' || $now_term == 'g_office_nishiken' || $now_term == 'g_office_suzuki' || $now_term == 'g_office_takakura' || $now_term == 'g_office_kubo')
                        | :?>
                        | <?php if($p_awards):?>
                        .-wrap: p
                            span ［受賞歴・その他］
                            | <?php echo nl2br($p_awards); ?>
                        | <?php endif; ?>
                        | <?php else: ?>
                        | <?php endif; ?>

                    a.button-back.gallery(href!=`javascript:history.back();`)
                        img.icon(src!=`${tRoot}/assets/images/labo/icon-back.svg`)
                        span BACK
    
    | <?php if(!empty($p_movie)):?>
    section.section
        .architect-movie.gallery.cat
            h2.headding-secondary.white.center
                span.en Movie
                | <?php
                | if($now_term == 'g_office_hama' || $now_term == 'g_office_jma' || $now_term == 'g_office_ka' || $now_term == 'g_office_mkeikakusitu' || $now_term == 'g_office_raum' || $now_term == 'g_office_plan' || $now_term == 'g_office_nomura' || $now_term == 'g_office_uraku' || $now_term == 'g_office_sato' || $now_term == 'g_office_km' || $now_term == 'g_office_sogei' || $now_term == 'g_office_yoshiken' || $now_term == 'g_office_secondbeain' || $now_term == 'g_office_shimairo' || $now_term == 'g_office_horigami' || $now_term == 'g_office_ouken' || $now_term == 'g_office_yharch' || $now_term == 'g_office_morimoto' || $now_term == 'g_office_ys' || $now_term == 'g_office_hk' || $now_term == 'g_office_fukuya' || $now_term == 'a_office_ya' || $now_term == 'g_office_takeuchi' || $now_term == 'g_office_nishiken' || $now_term == 'g_office_suzuki' || $now_term == 'g_office_takakura' || $now_term == 'g_office_kubo')
                | :?>
                span.ja <?php echo $p_company; ?> / <?php echo $p_name_ja; ?> ムービー
                | <?php else: ?>
                span.ja <?php echo $p_company; ?> ムービー
                | <?php endif; ?>
            .-movie
                .-movie-inner
                    iframe(src!=`https://www.youtube.com/embed/<?php echo $p_movie ?>?rel=0` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
    | <?php endif; ?>

    | <?php $now_term = get_query_var('term'); ?>
    | <?php
    | if($now_term == 'g_office_ka')
    | :?>
    | <?php else: ?>
    section.section
        .gallery-cat-post
            .content-wrap
                h2.headding-secondary.blue.center
                    span.en Works Gallery
                    span.ja 実績写真集
                ul.-wrap
                    | <?php global $query_string;
                    | query_posts( $query_string . "&orderby=post_date&order=ASC&posts_per_page=-1" ); ?>
                    include ./templates/php/loopStart.php
                    include ./templates/php/get_category_gallery.php
                    | <?php $taxonomyName = 'gallery_cat'; ?>
                    li.-list: a(href!=`<?php the_permalink(); ?>`)
                        | <?php
                        | $architect_works = SCF::get('architect_works');
                        | foreach (array_reverse($architect_works) as $fields){
                        | $architect_works_image = get_post_meta($post->ID, 'architect_works_image', true);
                        | $architect_works_copy = $fields['architect_works_copy'];
                        | }
                        | ?>
                        .-image
                            | <?php if(!empty($architect_works_image)):?>
                            | <?php echo wp_get_attachment_image($fields['architect_works_image'], 'large'); ?>
                            | <?php endif;?>
                        .-data
                            h3.-title <?php the_title(); ?>
                            .button-more
                                span MORE
                    include ./templates/php/loopEnd.php
                    include ./templates/php/reset.php
    | <?php endif; ?>


block script
    script(type='text/javascript').
        $(function(){
            var
            $container = $('#container');

            $(".side-nav.magazine").addClass("on");

        });
