// =============================
// base
// タグに直接スタイル設定を行う場合に記述
// =============================

*
    box-sizing: inherit

html
    box-sizing: border-box
    font-size: $font-size
    height: 100%
    +for-small
        font-size: $font-size-small

body
    font-family: YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif
    font-size: 10px
    height: 100%
    color: $color-black
    +min-width($device-small + 1px)
        min-width: $device-large

h1, h2, h3, h4, h5, ul, dl
    font-weight: normal
    margin: 0
    padding: 0

ul, ol
    padding: 0
    margin: 0
    list-style-type: none

a
    font-size: $font-size
    color: $color-black
    outline: 0
    text-decoration: none !important

    +for-small
        font-size: $font-size-small

    img
        transition: opacity 0.5s ease-out

p, dt, dd, li
    font-size: $font-size
    margin: 0
    padding: 0

    a, span
        font-size: inherit

    +for-small
        font-size: $font-size-small

table
    width: 100%
    border-collapse: collapse

    th, td
        font-size: $font-size
        padding: 0.5em 1em

        dt, dd, li, a, span
            font-size: inherit

figure
    margin: 0
