// =============================
// cms
// =============================

// CMS側より入力される本文組のスタイル
// -----------------------------
.cms-content

    // フォント周りの設定
    h1,
    h2
        font-size: 20px
        letter-spacing: 0.13em
        line-height: 1.6

        +for-small
            font-size: 18px

    h3
        font-size: 18px
        line-height: 1.6
        letter-spacing: 0.13em

        +for-small
            font-size: 16px

    h4
        font-size: 15px
        font-weight: bold

        +for-small
            font-size: 13px

    strong
        font-weight: bold

    ul
        +list-style('・')

    ol
        +list-style-type(decimal)

    ul, ol
        list-style-position: outside

    li
        font-size: 14px
        line-height: 1.9

        +for-small
            font-size: 13px

    p
        font-size: 14px
        letter-spacing: 0.18em
        line-height: 1.9
        margin: 0

        +for-small
            font-size: 13px

    img
        display: block
        max-width: 100%
        margin-right: auto
        margin-left: auto
        height: auto

    a
        +transition(color, 0.3s, ease, 0)
        display: inline-block
        text-decoration: underline
        &:after
            +iconfont
            content: '\e802'
            font-size: 13px
            display: inline-block
        &:hover
            color: $color-blue

    pre
        background-color: #efefef
        box-sizing: border-box
        border-radius: 4px
        color: #3e3a39
        display: block
        font-size: 15px
        line-height: 2
        overflow: hidden
        padding: 20px
        width: 100%
        white-space: pre-line

    .wp-caption
        max-width: 100%

    .wp-caption-text
        font-size: 13px
        letter-spacing: 0.18em
        line-height: 1.9
        margin: 0

    .aligncenter
        display: block
        margin: 0 auto

    .alignleft
        float: left

    // マージン設定
    h2 + *
        margin-top: 34px

    h3 + *
        margin-top: 25px

    h4 + *,
    ul + *,
    ol + *,
    p + *,
    p + p
        margin-top: 15px

    * + h2
        margin-top: 60px

    p + h3
        margin-top: 25px

    p + p > img,

    .wp-caption + p
        margin-top: 25px

    img + .wp-caption-text
        margin-top: 15px

    *:last-child
        margin-bottom: 0

=brandon
    font-family: 'brandon-grotesque', sans-serif

.pager
    display: flex
    flex-wrap: nowrap
    justify-content: center
    font-size: 15px
    text-align: center

    .page-numbers
        +brandon
        border: none
        font-size: 15px
        margin: 0 13px
        padding: 0 5px 10px
        position: relative
        text-decoration: none
        transition: opacity 0.5s ease-out

        +for-small
            font-size: 13px
            margin: 0 10px
            padding: 0 5px 5px

        &:after
            +pseudo('', block, 100%, 1px)
            +position-absolute(auto, 0, 0, 0)
            +transition(transform, 0.3s, ease, 0)
            background-color: #3A81C4
            margin: auto
            transform: scaleX(0)
            transform-origin: right top

            +for-small
                width: 100%

        &:hover,
        &.current
            color: #3A81C4

            &:after
                transform-origin: left top
                transform: scaleX(1)

        &.dots
            &:hover
                border-bottom: 0
                color: $color-black

            &:after
                content: none

            +for-small
                font-size: 10px
                padding: 0

        &.prev
            letter-spacing: 0.5em
            margin-right: 15px

            +for-small
                margin-right: 10px

            &:before
                +iconfont
                content: $icon-arrow-left
                display: inline-block
                font-size: 13px
                line-height: 1

                +for-small
                    font-size: 11px

            &:hover
                &:after
                    content: none

                &:before
                    color: $color-black


        &.next
            letter-spacing: 0.5em
            margin-left: 15px

            +for-small
                margin-left: 10px

            &:after
                +iconfont
                background-color: transparent
                content: $icon-arrow-right
                display: inline-block
                font-size: 13px
                height: auto
                line-height: 1
                position: static
                transform: scaleX(1)
                width: auto

                +for-small
                    font-size: 11px

            &:hover
                &:after
                    color: $color-black
