// =============================
// Form
// =============================

=notosans
    font-family: YakuHanJPs, 'Noto Sans Japanese', 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.form
    .required
        color: $color-red
        text-align: center

    input,
    select,
    textarea
        +notosans
        appearance: none
        background-color: #f2f2f2
        border: none
        box-shadow: none
        display: inline-block
        font-size: 15px
        letter-spacing: 0.05em
        outline: 0
        transition: background-color 0.2s ease-out, border-color 0.2s ease-out

        &:hover
            border-color: $color-border

        &:focus
            border-color: $color-blue

        +for-small
            font-size: 13px

    input[type="text"],
    input[type="email"],
    textarea
        line-height: 1
        border-radius: 3px
        padding: 15px

        +for-small
            padding: 13px

    input[type="radio"],
    input[type="checkbox"]
        box-shadow: inset 0 0 0 5px $color-white
        border: 1px solid $color-border
        background-color: $color-white
        border-radius: 15px
        height: 30px
        margin-right: 10px
        outline: none
        vertical-align: middle
        width: 30px

        +for-small
            border-radius: 12px
            height: 24px
            margin-right: 7px
            width: 24px

        &:hover
            background-color: $color-grey
            box-shadow: inset 0 0 0 5px $color-white

        &:checked
            background-color: $color-blue
            box-shadow: inset 0 0 0 5px $color-white

    select
        background: url(../images/common/icon-arrow-under.png) 95% center no-repeat #f2f2f2
        border-radius: 3px
        padding: 15px 30px 15px 15px
        appearance: none
        line-height: 1.5

        +for-small
            padding: 13px 30px 13px 13px

        &::-ms-expand
            display: none

    textarea
        background-color: #f2f2f2
        height: 200px

        +for-small
            height: 200px

    label
        +notosans
        display: inline-block
        font-size: 15px
        letter-spacing: 0.05em
        padding-right: 70px
        vertical-align: top

        +for-small
            font-size: 13px
            display: inline-block
            margin-right: 0
            padding-right: 0
            padding-bottom: 5px

    .max
        width: 100%

    .full
        display: block
        width: 70%

        +for-small
            width: 100%

    .half
        width: 50%

        +for-small
            width: 100%

    .small
        width: 20%

        +for-small
            width: 35%

    .midi
        width: 25%

        +for-small
            width: 50%

    .space
        margin-bottom: 30px

        +for-small
            margin-bottom: 15px

    .mb1
        margin-bottom: 40px

    .error
        color: $color-red
        display: block
        letter-spacing: 0.18em
        margin-top: 10px

        +for-small
            font-size: 12px

    .mwform-radio-field
        display: block
        margin-top: 15px

        +for-small
            margin-top: 0

        &.horizontal-item
            display: inline-block
            margin-top: 0

.mwform-tel-field input[type="text"],
.mwform-zip-field input[type="text"]
    width: 15% !important

    +for-small
        width: 35% !important
