// =============================
// helper
// ずるいClass 困った時に使用する
// =============================

// Background
// -----------------------------
.bg
    @at-root
        &-black
            background-color: $color-black

        &-white
            background-color: $color-white


// Color
// -----------------------------
.color
    @at-root
        &-black
            color: $color-black

        &-white
            color: $color-white


// Margin top
// -----------------------------
@for $i from 1 through 8
    .mt#{$i}
        margin-top: #{$i}rem

@for $i from 1 through 3
    .mt#{$i - 1}5
        margin-top: #{$i - 0.5}rem


// Margin bottom
// -----------------------------
@for $i from 1 through 8
    .mb#{$i}
        margin-bottom: #{$i}rem

@for $i from 1 through 3
    .mb#{$i - 1}5
        margin-bottom: #{$i - 0.5}rem
