// =============================
// icon
// =============================

@font-face
    font-family: 'fontello'
    src: local('fontello'), url('../icon/fontello.eot')
    src: local('fontello'), url('../icon/fontello.eot#iefix') format('embedded-opentype')
    src: local('fontello'), url('../icon/fontello.woff2') format('woff2')
    src: local('fontello'), url('../icon/fontello.woff') format('woff')
    src: local('fontello'), url('../icon/fontello.ttf') format('truetype')
    font-weight: normal
    font-style: normal

// Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it.
// Note, that will break hinting! In other OS-es font will be not as sharp as it could be
// =============================
// @media screen and (-webkit-min-device-pixel-ratio:0)
//     @font-face
//         font-family: 'fontello'
//         src: url('../font/fontello.svg#fontello') format('svg')

// 基本Class設定
// =============================
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after
    font-family: "fontello"
    font-style: normal
    font-weight: normal
    speak: none

    display: inline-block
    text-decoration: inherit
    width: 1em
    margin-right: .2em
    text-align: center

    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal
    text-transform: none

    // fix buttons height, for twitter bootstrap
    line-height: 1em

    // Animation center compensation - margins should be symmetric
    // remove if not needed
    margin-left: .2em

    // you can be more comfortable with increased icons size
    // font-size: 120%

    // Font smoothing. That was taken from TWBS
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    // Uncomment for 3D effect
    // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

// 各種アイコン設定
// =============================
.icon
    // 上矢印
    &-arrow-upper:before,
    &-arrow-upper-a:after
        content: $icon-arrow-upper
    // 上矢印 細め
    &-arrow-upper-thin:before,
    &-arrow-upper-thin-a:after
        content: $icon-arrow-upper-thin
    // 下矢印
    &-arrow-under:before,
    &-arrow-under-a:after
        content: $icon-arrow-under
    // 下矢印 細め
    &-arrow-under-thin:before,
    &-arrow-under-thin-a:after
        content: $icon-arrow-under-thin
    // 右矢印
    &-arrow-right:before,
    &-arrow-right-a:after
        content: $icon-arrow-right
    // 右矢印 細め
    &-arrow-right-thin:before,
    &-arrow-right-thin-a:after
        content: $icon-arrow-right-thin
    // 左矢印
    &-arrow-left:before,
    &-arrow-left-a:after
        content: $icon-arrow-left
    // 左矢印 細め
    &-arrow-left-thin:before,
    &-arrow-left-thin-a:after
        content: $icon-arrow-left-thin
    // 回転矢印
    &-arrow-roll:before,
    &-arrow-roll-a:after
        content: $icon-arrow-roll
    // ポップアップ
    &-popup:before,
    &-popup-a:after
        content: $icon-popup

    // SNSアイコン
    &-sns-facebook:before,
    &-sns-facebook-a:after
        content: $icon-sns-facebook
    &-sns-twitter:before,
    &-sns-twitter-a:after
        content: $icon-sns-twitter
    &-sns-instagram:before,
    &-sns-instagram-a:after
        content: $icon-sns-instagram
