// =============================
// font
// =============================

// 游ゴシックをWinとMacで同じように表示できるようにする
@font-face
    font-family: 'MyYuGothicM'
    font-weight: normal
    src: local('YuGothic-Medium'), local('Yu Gothic Medium'), local('YuGothic-Regular')

@font-face
    font-family: 'MyYuGothicM'
    font-weight: bold
    src: local('YuGothic-Bold'), local('Yu Gothic')

@font-face
    font-family: 'DIN Next LT Pro Medium'
    font-weight: normal
    font-style: normal
    src: local('DIN Next LT Pro Medium'), url('../fonts/DINNextLTPro/DINNextLTPro-Medium.woff') format('woff')
    src: local('DIN Next LT Pro Medium'), url('../fonts/DINNextLTPro/DINNextLTPro-Medium.ttf') format('truetype')

@font-face
    font-family: 'DIN Next LT Pro Regular'
    font-weight: normal
    font-style: normal
    src: local('DIN Next LT Pro Regular'), url('../fonts/DINNextLTPro/DINNextLTPro-Regular.woff') format('woff')
    src: local('DIN Next LT Pro Regular'), url('../fonts/DINNextLTPro/DINNextLTPro-Regular.ttf') format('truetype')


=notosans
    font-family: YakuHanJPs, 'Noto Sans Japanese', 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 100
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 200
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 300
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 400
    src: local('NotoSansJP-Regular.otf'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 500
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 700
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype')

@font-face
    font-family: 'Noto Sans Japanese'
    font-style: normal
    font-weight: 900
    src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf) format('opentype')

@font-face
  font-family: 'TTNormsPro-Italic'
  src: url('../fonts/TTNormsPro/TTNormsPro-Italic/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-Italic/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-MediumItalic'
  src: url('../fonts/TTNormsPro/TTNormsPro-MediumItalic/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-MediumItalic/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-LightItalic'
  src: url('../fonts/TTNormsPro/TTNormsPro-LightItalic/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-LightItalic/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-ExtraLightItalic'
  src: url('../fonts/TTNormsPro/TTNormsPro-ExtraLightItalic/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-ExtraLightItalic/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-Regular'
  src: url('../fonts/TTNormsPro/TTNormsPro-Regular/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-Regular/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-Bold'
  src: url('../fonts/TTNormsPro/TTNormsPro-Bold/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-Bold/font.woff') format('woff')

@font-face
  font-family: 'TTNormsPro-Light'
  src: url('../fonts/TTNormsPro/TTNormsPro-Light/font.woff2') format('woff2'), url('../fonts/TTNormsPro/TTNormsPro-Light/font.woff') format('woff')


=din-m
    font-family: 'DIN Next LT Pro Medium', serif

=din
    font-family: 'DIN Next LT Pro Regular', serif

=brandon
    font-family: 'brandon-grotesque', sans-serif

=TTNormsPro-Italic
    font-family: 'TTNormsPro-Italic'

=TTNormsPro-MediumItalic
    font-family: 'TTNormsPro-MediumItalic'

=TTNormsPro-LightItalic
    font-family: 'TTNormsPro-LightItalic'

=TTNormsPro-ExtraLightItalic
    font-family: 'TTNormsPro-ExtraLightItalic'

=TTNormsPro-Light
    font-family: 'TTNormsPro-Light'

=norms
    font-family: 'TTNormsPro-Regular'

=norms-b
    font-family: 'TTNormsPro-Bold'

=yumin
    font-family: YakuHanJPs, '游明朝', 'YuMincho', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'ＭＳ 明朝', 'MS Mincho', serif

// List
// -----------------------------
.ul
    @at-root
        // 注釈付きリスト
        &-anno
            +list-style('*')

        // 注釈付きリスト全角
        &-anno-z
            +list-style('※')

        // 黒丸付きリスト
        &-disc
            +list-style('・')

        // 二重付き丸リスト
        &-dcircle
            +list-style('◎')

        // ハイフン付きリスト
        &-hyp
            +list-style('-')

.ol
    @at-root
        // 数字付きリスト
        &-number
            +list-style-type(decimal)

        // 小文字のアルファベットリスト
        &-lower
            +list-style-type(lower-alpha)

        // 小文字のアルファベットリスト
        &-upper
            +list-style-type(upper-alpha)


// Text-align
// -----------------------------
.text
    @at-root
        &-center
            text-align: center

            img
                margin-left: auto
                margin-right: auto

        &-center-large
            text-align: center

            +for-small
                text-align: left

        &-center-small
            +for-small
                text-align: center

        &-right
            text-align: right

            img
                margin-left: auto
                margin-right: 0

        &-right-large
            text-align: right

            +for-small
                text-align: left

        &-right-small
            +for-small
                text-align: right

        &-justify
            text-align: justify


// Weight
// -----------------------------
.bold
    font-weight: bold


// Word Break
// -----------------------------
.nowrap
    white-space: nowrap
