// =============================
// Unit
// =============================

// Content Width
// -----------------------------
.content
    &-primary
        margin-right: auto
        margin-left: auto
        width: $content-primary

        +for-small
            margin-right: $margin-side-small
            margin-left: $margin-side-small
            width: auto

    &-secondary
        margin-right: auto
        margin-left: auto
        width: $content-secondary

        +for-small
            margin-right: $margin-side-small
            margin-left: $margin-side-small
            width: auto

    &-grid
        margin-right: auto
        margin-left: auto
        max-width: $content-primary + $margin-gutter

        +for-small
            margin-right: $margin-gutter-small * 0.5
            margin-left: $margin-gutter-small * 0.5
            width: auto

    &-gridline
        margin-right: auto
        margin-left: auto
        max-width: $content-primary + $margin-gutter * 2

        +for-small
            margin-right: $margin-gutter-small * 2
            margin-left: $margin-gutter-small * 2
            max-width: initial
            width: auto

    &-gridsecondary
        margin-right: auto
        margin-left: auto
        max-width: $content-secondary + $margin-gutter

        +for-small
            margin-right: $margin-gutter-small * 0.5
            margin-left: $margin-gutter-small * 0.5
            width: auto

    &-gridmax
        margin-right: auto
        margin-left: auto
        max-width: $content-max + $margin-gutter

        +for-small
            margin-right: $margin-gutter-small * 0.5
            margin-left: $margin-gutter-small * 0.5
            width: auto

    &-gridriquid
        margin-right: auto
        margin-left: auto
        max-width: 100%

        [class*="column"]
            padding-right: 0
            padding-left: 0


// for Device
// -----------------------------
.for
    @at-root
        &-large
            +for-small
                display: none

        &-small
            display: none

            +for-small
                display: block


// Definition List
// -----------------------------
.dl-side
    overflow: hidden

    dt, dd
        float: left

        +for-small
            float: none

    dt
        clear: both
        width: 25%

        +for-small
            width: 100%

    dd
        width: 75%

        +for-small
            width: 100%

    &.-border
        border-top: 1px solid $color-border

        dt, dd
            border-bottom: 1px solid $color-border
            margin-bottom: 0
            padding: 12px 0

    &.-column3-7
        dt
            width: 30%

            +for-small
                width: 100%

        dd
            width: 70%

            +for-small
                width: 100%

    &.-column4-6
        dt
            width: 40%

            +for-small
                width: 100%

        dd
            width: 60%

            +for-small
                width: 100%

    &.-half
        dt
            width: 50%

            +for-small
                width: 100%

        dd
            width: 50%

            +for-small
                width: 100%


// Display
// -----------------------------
.block
    display: block

    +for-small
        display: inline-block

.block-all
    display: block


// Google Map
// -----------------------------
.google-map
    height: 380px
    margin: 30px 0 60px
    width: 100%


// Grid
// -----------------------------
.grid
    display: flex
    flex-wrap: wrap
    margin-right: auto
    margin-left: auto
    width: 100%

    // カラム設定
    & > [class*="column"]
        padding-right: $margin-gutter * 0.5
        padding-left: $margin-gutter * 0.5

        +for-small
            padding-right: $margin-gutter-small * 0.5
            padding-left: $margin-gutter-small * 0.5

    // .-column3
    //     &:nth-of-type(n+5)
    //         margin-top: 70px
    //
    //         +for-small
    //             margin-top: 30px
    //
    // .-column4
    //     &:nth-of-type(n+4)
    //         margin-top: 70px
    //
    //         +for-small
    //             margin-top: 30px
    //
    // .-column5,
    // .-column6
    //     &:nth-of-type(n+3)
    //         margin-top: 70px
    //
    //         +for-small
    //             margin-top: 30px
    //
    // .-column12
    //     &:nth-of-type(n+2)
    //         margin-top: 70px
    //
    //         +for-small
    //             margin-top: 30px

    @for $i from 1 through 12
        & > .column#{$i}
            width: percentage($i/12)

            @if $i <= 3
                +for-small
                    width: percentage(6/12)

            @else
                +for-small
                    width: percentage(12/12)

                &:nth-of-type(n+2)
                    +for-small
                        margin-top: $margin-gutter-small

    // 順番を逆順にする
    &.-reflect
        flex-direction: row-reverse

    // 中心に寄せる
    &.-center
        justify-content: center

    // カラムの間に区切りを入れる
    &.-line
        & > [class*="column"]
            padding-right: $margin-gutter
            padding-left: $margin-gutter

            +for-small
                padding-right: $margin-gutter-small
                padding-left: $margin-gutter-small

            &:not(:first-child)
                border-left: 1px solid $color-border

                +for-small
                    border-top: 1px solid $color-border
                    border-left: 0

    // グリッドの中にグリッドを入れ子する場合
    &.-nest
        margin-right: $margin-gutter * -0.5
        margin-left: $margin-gutter * -0.5
        width: auto

        +for-small
            margin-right: $margin-gutter-small * -0.5
            margin-left: $margin-gutter-small * -0.5

    // // 縦位置のマージン設定
    // &.-narrow
    //     .-column3
    //         &:nth-of-type(n+5)
    //             margin-top: 40px
    //
    //     .-column4
    //         &:nth-of-type(n+4)
    //             margin-top: 40px
    //
    //     .-column5,
    //     .-column6
    //         &:nth-of-type(n+3)
    //             margin-top: 40px
    //
    //     .-column12
    //         &:nth-of-type(n+2)
    //             margin-top: 40px
    //
    // // 縦位置のマージンを0にする
    // &.-stick
    //     & > [class*="-column"]
    //         &:nth-of-type(n)
    //             margin-top: 0 !important


// Hamburger
// -----------------------------

.hamburger
    background-color: #3A81C4
    box-sizing: content-box
    height: 80px
    position: relative
    width: 80px
    z-index: 100

    +for-small
        position: fixed
        top: 0
        right: 0
        height: 50px
        width: 50px

    &.home
        background-color: #333333

    &.labo
        &:before
            color: $color-white

    &:hover
        cursor: pointer

    // &:before
    //     +din-m
    //     +position-absolute(50%,auto,auto,22px)
    //     content: 'Menu'
    //     font-size: 13px
    //     letter-spacing: 0.05em
    //     transform: translateY(-50%)

    //     +for-small
    //         content: none

    & > .icon
        background-color: $color-white
        display: block
        height: 2px
        position: absolute
        right: 15px
        transition: all 0.2s ease-out
        width: 50px

        +for-small
            height: 1px

        &:nth-child(1)
            top: 27px

            +for-small
                top: 18px
                left: 8px
                right: auto
                width: 35px

        &:nth-child(2)
            top: 39px

            +for-small
                top: 24px
                left: 8px
                right: auto
                width: 26px

        &:nth-child(3)
            top: 51px

            +for-small
                top: 30px
                left: 8px
                right: auto
                width: 17px

    &.-open
        background-color: #202020

        +for-small
            position: fixed

        &:before
            content: none
        & > .icon
            &:nth-child(1),&:nth-child(3)
                top: 39px
                width: 64px
                right: 15px

                +for-small
                    top: 24px
                    right: auto
                    left: 4px
                    width: 44px

            &:nth-child(1)
                transform: rotate(45deg)

            &:nth-child(2)
                display: none

            &:nth-child(3)
                transform: rotate(-45deg)


// Image Fit
// -----------------------------
.img-fit
    height: auto
    width: 100%


// loading
// -----------------------------

.loading
    background-color: $color-white
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 999

    & > .element
        animation: loadingFlash 0.6s ease-in-out infinite alternate
        margin: auto
        position: absolute
        top: 50%
        right: 0
        left: 0
        text-align: center
        transform: translateY(-60%)

        &.home
            img
                height: auto
                width: 170px

                +for-small
                    width: 120px

        img
            height: auto
            width: 200px

            +for-small
                width: 130px

@keyframes loadingFlash
    0%
        opacity: 0.1
    100%
        opacity: 1

// .loading
//     background-color: $color-white
//     position: fixed
//     top: 0
//     left: 0
//     height: 100%
//     width: 100%
//     z-index: 100

//     & > .element
//         margin: auto
//         position: absolute
//         top: 50%
//         right: 0
//         left: 0
//         text-align: center
//         transform: translateY(-60%)

//         & > .loader
//             animation: loadingSpinner 1.2s infinite linear
//             border-radius: 50%
//             background: linear-gradient(to right, #969696 10%, rgba(150, 150, 150, 0) 42%)
//             height: 60px
//             margin: 50px auto
//             position: relative
//             text-indent: -9999em
//             transform: translateZ(0)
//             width: 60px

//             &::before
//                 +pseudo('', block, 30px, 30px)
//                 background-color: #969696
//                 border-radius: 100% 0 0 0
//                 position: absolute
//                 top: 0
//                 left: 0

//             &::after
//                 +pseudo('', block, 45px, 45px)
//                 background-color: $color-white
//                 border-radius: 50%
//                 margin: auto
//                 position: absolute
//                 top: 0
//                 right: 0
//                 bottom: 0
//                 left: 0

// @keyframes loadingSpinner
//     0%
//         transform: rotate(0deg)
//     100%
//         transform: rotate(360deg)

// Table
// -----------------------------
.table
    @at-root
        &-background
            +table('background')

        &-border
            +table('border')
