section.section
    //- .content-small
    //-     .button-mail-m.space
    //-         a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/mailmagazine`)
    //-             span.en From1st.Labo. MAIL MAGAGINE
    //-             span.ja メルマガ会員募集中！
    //-             .button-more.center
    //-                 span ENTRY

    .bnr-entry
        .content-small
            h2.headding-secondary.center.white
                span.en Contact
                span.ja 家づくりのご相談・お問い合わせ
            h3.-title
                | まずは、お気軽にご相談ください。
            p.-text
                | 家づくりのことなら、“フロムファースト・高松”にお任せください。
                br.for-large
                | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
            a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                span 家づくりのご相談・お問い合わせ
                .arrow
                    include ./_icon-arrow
