section.section#expo
    .labo-expo.other
        .content-wrap
            .-entry
                span ENTRY
            h2.headding-secondary.center.blue
                span.en Entry & Contact
                span.ja エントリー＆ご相談フォーム
            p.text-primary.center
                | あなたも、“<?php the_title(); ?>”と理想を超える住まいを叶えませんか？
                br
                | フロムファースト・ラボは、香川の工務店との家づくりをサポート。
            p.-text
                | 〜香川県下70社による
                br.for-small
                | プレゼンテーションからはじまる家づくり〜
            h3.-limit
                | 完成～ご入居までの１ヶ月間、
                br
                | 香川県高松市多肥にて、
                br.for-small
                | 「OPEN HOUSE」として
                br
                | ご協力くださる<span class='blue'>オーナー様</span>を
                br.for-small
                | 募集いたします。
            p.-text
                | フロムファースト・ラボでは、建築家・地元工務店・ビルダーからのプレゼン展を開催中。
                br
                | 1/50建築模型からあなたのお気に入りのプランを選ぶだけ。“フロムファーストラボエキスポ2021”会期後、すぐに住み始められます。
            a.button-ghost.d-grey.large.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo`)
                img.-italic(src!=`${tRoot}/assets/images/labo/imgtxt-expo.svg`, alt='Kagawa HOUSE EXPO2021')
                p
                    | フロムファーストラボ エキスポ2021
                    br.for-small
                    | モニター様募集のご案内
                .button-more.white
                    span MORE
            //- a.button-ghost.red.large.center(href!=``)
            //-     img.-italic(src!=`${tRoot}/assets/images/labo/imgtxt-expo.svg`, alt='KagawaMODEL HOUSE EXPO2021')
            //-     p 「建築家と創る家」ご相談フォーム
            //-     .button-more.white
            //-         span ENTRY

section.section
    .bnr-entry
        .content-small
            h2.headding-secondary.center.white
                span.en Entry & Contact
                span.ja 家づくりのご相談・お問い合わせ
            h3.-title
                | まずは、お気軽にご相談ください。
            p.-text
                | 家づくりのことなら、“フロムファースト・ラボ”にお任せください。
                br.for-large
                | コンシェルジュがお客様と香川県内の建築家・地元工務店との出会いを繋ぐお手伝いをいたします。
            a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/contact`)
                span 家づくりのご相談・お問い合わせ
                .arrow
                    include ./_icon-arrow
            a.button-ghost.full.center.white(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/request`)
                    span 資料請求
                    .arrow
                        include ./_icon-arrow
