section.section#expo
    .labo-expo
        //- h2.-head From1st.Labo. EXPO’
        .content-wrap
            h2.headding-primary.white From1st.Labo. EXPO’
            .-title
                img(src!=`${tRoot}/assets/images/labo/logo-expo.svg`, alt='kagawa MODELHOUSEEXPO2021')
            p.text-primary.center.white
                | 高松市多肥［仏生山小校区］を中心に
                br.for-small
                | 全100区画を超える
                br
                | 分譲地にて住宅博覧会2021年秋開催決定！
                br
                br
                | 〜香川県下70社による
                br.for-small
                | プレゼンテーションからはじまる家づくり〜
            .-limit
                img(src!=`${tRoot}/assets/images/labo/imgtxt-expo-openhouse.svg`, alt='完成～ご入居までの１ヶ月間、「OPEN HOUSE」としてご協力くださるオーナー様を募集！')
            p.text-primary.center.white
                | 建築家・大手ハウスメーカー・地元工務店・
                br.for-small
                | ビルダーからのプレゼン展を開催！
                br
                | 1/50建築模型から
                br.for-small
                | あなたのお気に入りのプランを選ぶだけ。
                br
                | “MODEL HOUSE EXPO2021”会期後、
                br.for-small
                | すぐに住み始められます。
            .-flow
                .for-large
                    img.img-fit(src!=`${tRoot}/assets/images/labo/imgtxt-expo-schedule.svg`, alt='2020.7.1モデルハウスEXPO2021モニターハウス 募集開始 2020.11.30モデルハウスEXPO2021モニターハウス 募集〆切 2021.3モデルハウスEXPO2021モニターハウス 工事着工 2021.秋 kagawaMODELHOUSEEXPO2021 2021.4モデルハウスEXPO2021 1ヶ月間終了後 お引渡しご入居')
                .for-small
                    img.img-fit(src!=`${tRoot}/assets/images/labo/imgtxt-expo-schedule-sp.svg`, alt='2020.7.1モデルハウスEXPO2021モニターハウス 募集開始 2020.11.30モデルハウスEXPO2021モニターハウス 募集〆切 2021.3モデルハウスEXPO2021モニターハウス 工事着工 2021.秋 kagawaMODELHOUSEEXPO2021 2021.4モデルハウスEXPO2021 1ヶ月間終了後 お引渡しご入居')
            a.button-ghost.red.large.center(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact`)
                img.-italic(src!=`${tRoot}/assets/images/labo/imgtxt-expo.svg`, alt='KagawaMODEL HOUSE EXPO2021')
                p.for-large モニターハウス参加ご相談＆エントリーはこちら
                p.for-small モニターハウス参加相談はこちら
                .button-more.white
                    span ENTRY
