link(rel='apple-touch-icon', sizes='57x57', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='167x167', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-167x167.png')
link(rel='apple-touch-icon', sizes='180x180', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/apple-touch-icon-180x180.png')
meta(name='msapplication-TileColor', content='transparent')
meta(name='msapplication-TileImage', content!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/mstile-144x144.png')
meta(name='msapplication-config', content!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/browserconfig.xml')
link(rel='icon', type='image/png', sizes='16x16', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/favicon-16x16.png')
link(rel='icon', type='image/png', sizes='32x32', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/favicon-32x32.png')
link(rel='icon', href!='<?php echo get_template_directory_uri(); ?>/assets/images/favicon/favicon.ico')
