ul.-list
    li.-item: a.current(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/gallery`)
        span ALL
    li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/gallery/architect`)
        span 建築家
    li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/gallery/corporation`)
        span 工務店
    li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/gallery/maker`)
        span 大手ハウスメーカー
    li.-item: a(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/gallery/builder`)
        span ビルダー
