svg(version='1.1' id='レイヤー_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22 6' xml:space='preserve')
    polygon(points='22,6 0,6 0,5 17.1,5 7.7,0.9 8.1,0 ')
