svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 11 18" xml:space="preserve")
  g
    path(d="M11,5.47C11,2.448,8.537,0,5.501,0C2.464,0,0,2.448,0,5.47c0,2.028,1.111,3.792,2.757,4.738H2.75\
    c1.638,1.084,2.751,2.989,2.751,4.83c0-1.841,1.108-3.745,2.749-4.83H8.245C9.89,9.262,11,7.497,11,5.47z M5.499,7.837\
    c-1.243,0-2.251-1.003-2.251-2.242c0-1.236,1.008-2.239,2.251-2.239c1.245,0,2.253,1.003,2.253,2.239\
    C7.752,6.834,6.744,7.837,5.499,7.837z")
    ellipse(cx="5.479" cy="16.823" rx="5.214" ry="1.177")
  rect(x="-9.693" y="1.152" width="2.033" height="1.124")
  g
  g
  g
  g
  g
  g
