svg.youtube(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 113.3 25.3', xml:space='preserve')
    g
        path(d='M35.4,4c-0.4-1.6-1.6-2.8-3.2-3.2C29.4,0,18.1,0,18.1,0S6.8,0,4,0.8C2.4,1.2,1.2,2.4,0.8,4C0,6.8,0,12.6,0,12.6\
        s0,5.9,0.8,8.7c0.4,1.6,1.6,2.8,3.2,3.2c2.8,0.8,14.1,0.8,14.1,0.8s11.3,0,14.1-0.8c1.6-0.4,2.8-1.6,3.2-3.2\
        c0.8-2.8,0.8-8.7,0.8-8.7S36.1,6.8,35.4,4z M14.5,18.1V7.2l9.4,5.4L14.5,18.1z')
        g
            g
                path(d='M52.5,23c-0.7-0.5-1.2-1.2-1.5-2.2c-0.3-1-0.5-2.4-0.5-4.1v-2.3c0-1.7,0.2-3.1,0.5-4.1c0.3-1,0.9-1.8,1.6-2.3\
                c0.7-0.5,1.7-0.7,2.9-0.7c1.2,0,2.1,0.2,2.8,0.7c0.7,0.5,1.2,1.2,1.6,2.3c0.3,1,0.5,2.4,0.5,4.1v2.3c0,1.7-0.2,3-0.5,4.1\
                c-0.3,1-0.8,1.8-1.6,2.2c-0.7,0.5-1.7,0.7-2.9,0.7C54.2,23.7,53.2,23.5,52.5,23z M56.5,20.5c0.2-0.5,0.3-1.4,0.3-2.5v-4.9\
                c0-1.1-0.1-2-0.3-2.5c-0.2-0.5-0.5-0.8-1-0.8c-0.5,0-0.8,0.3-1,0.8c-0.2,0.5-0.3,1.4-0.3,2.5V18c0,1.2,0.1,2,0.3,2.5\
                c0.2,0.5,0.5,0.8,1,0.8C55.9,21.3,56.3,21,56.5,20.5z')
                path(d='M107.3,16.7v0.8c0,1,0,1.8,0.1,2.3c0.1,0.5,0.2,0.9,0.4,1.1c0.2,0.2,0.5,0.3,0.9,0.3c0.5,0,0.9-0.2,1.1-0.6\
                c0.2-0.4,0.3-1.1,0.3-2.1l3.1,0.2c0,0.1,0,0.3,0,0.6c0,1.5-0.4,2.6-1.2,3.3c-0.8,0.7-1.9,1.1-3.4,1.1c-1.8,0-3-0.6-3.7-1.7\
                c-0.7-1.1-1.1-2.8-1.1-5.1v-2.8c0-2.4,0.4-4.1,1.1-5.2c0.7-1.1,2-1.6,3.8-1.6c1.2,0,2.2,0.2,2.8,0.7c0.7,0.4,1.1,1.1,1.4,2.1\
                c0.3,0.9,0.4,2.3,0.4,3.9v2.7H107.3z M107.8,10.1c-0.2,0.2-0.3,0.6-0.4,1.1c-0.1,0.5-0.1,1.3-0.1,2.3v1.1h2.6v-1.1\
                c0-1,0-1.8-0.1-2.3c-0.1-0.5-0.2-0.9-0.4-1.1c-0.2-0.2-0.5-0.3-0.8-0.3C108.3,9.7,108,9.9,107.8,10.1z')
                path(d='M43.8,16.4L39.7,1.8h3.5l1.4,6.6c0.4,1.6,0.6,3,0.8,4.2h0.1c0.1-0.8,0.4-2.2,0.8-4.2l1.5-6.7h3.5l-4.1,14.7v7h-3.5V16.4z\
                ')
                path(d='M71.9,7.6v15.8h-2.8l-0.3-1.9h-0.1c-0.8,1.5-1.9,2.2-3.4,2.2c-1.1,0-1.8-0.3-2.3-1c-0.5-0.7-0.7-1.8-0.7-3.2V7.6h3.6\
                v11.6c0,0.7,0.1,1.2,0.2,1.5c0.2,0.3,0.4,0.5,0.8,0.5c0.3,0,0.6-0.1,0.9-0.3c0.3-0.2,0.5-0.4,0.6-0.7V7.6H71.9z')
                path(d='M90.2,7.6v15.8h-2.8l-0.3-1.9H87c-0.8,1.5-1.9,2.2-3.4,2.2c-1.1,0-1.8-0.3-2.3-1c-0.5-0.7-0.7-1.8-0.7-3.2V7.6h3.6v11.6\
                c0,0.7,0.1,1.2,0.2,1.5c0.2,0.3,0.4,0.5,0.8,0.5c0.3,0,0.6-0.1,0.9-0.3c0.3-0.2,0.5-0.4,0.6-0.7V7.6H90.2z')
                path(d='M81.6,4.7H78v18.8h-3.5V4.7H71V1.8h10.6V4.7z')
                path(d='M102,10.2c-0.2-1-0.6-1.7-1-2.2c-0.5-0.4-1.1-0.7-2-0.7c-0.7,0-1.3,0.2-1.8,0.6c-0.6,0.4-1,0.9-1.3,1.5h0l0-8.3h-3.4\
                v22.5h2.9l0.4-1.5h0.1c0.3,0.5,0.7,1,1.2,1.3c0.6,0.3,1.2,0.5,1.8,0.5c1.2,0,2.1-0.6,2.7-1.7c0.6-1.1,0.9-2.8,0.9-5.2v-2.5\
                C102.3,12.6,102.2,11.2,102,10.2z M98.7,16.6c0,1.2,0,2.1-0.1,2.7c-0.1,0.7-0.3,1.1-0.5,1.4c-0.2,0.3-0.5,0.4-0.9,0.4\
                c-0.3,0-0.6-0.1-0.8-0.2c-0.2-0.1-0.5-0.3-0.6-0.6v-9c0.1-0.4,0.3-0.8,0.6-1.1c0.3-0.3,0.6-0.4,1-0.4c0.4,0,0.6,0.1,0.8,0.4\
                c0.2,0.3,0.3,0.8,0.4,1.4c0.1,0.7,0.1,1.6,0.1,2.9V16.6z')
