.for-large
    svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 17 5" style="enable-background:new 0 0 17 5;" xml:space="preserve")
      polygon(points="16.8,5 0,5 0,4 14.4,4 6.9,0.9 7.3,0 17,4.1 ")
.for-small
    svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 23 6" style="enable-background:new 0 0 23 6;" xml:space="preserve")
      polygon.st0(points="23,6 0,6 0,5 18.1,5 8.8,0.9 9.2,0 ")
