svg(version="1.1" id="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 18 10" xml:space="preserve")
  polygon(points="13.246,0 12.553,0.729 16.124,4.485 0,4.485 0,5.515 16.124,5.515 12.553,9.271 13.246,10 18,5 ")
  rect(x="-5.355" y="-4.232" width="3.983" height="1.436")
