section.section-quaternary.bg-grey#access
    .labo-access.content-wrap
        .-wrap
            .-left
                .-head
                    | <?php if ($current == 'home' || $current == 'event' || $current == 'event-detail' || $current == 'event-confirm' || $current == 'event-thanks'){ ?>
                    h2.headding-primary.white From1st. ACCESS.
                    | <?php } else { ?>
                    h2.headding-primary.white From1st. Labo. ACCESS.
                    | <?php } ?>
                    .for-large
                        a.-map(href='https://goo.gl/maps/WvmVgKX1HH93iBC76', target="_blank")
                            p GOOGLE MAP
                            .icon
                                include _icon-map
                .-data
                    | <?php if ($current == 'home' || $current == 'event' || $current == 'event-detail' || $current == 'event-confirm' || $current == 'event-thanks'){ ?>
                    h3.-company 株式会社フロムファースト・高松
                    | <?php } else { ?>
                    h3.-company 株式会社フロムファースト・ラボ
                    | <?php } ?>
                    p.-add.text-secondary.white
                        span 〒761-8071
                        span 香川県高松市伏石町2130番地5<br class='for-small'>アシスト1ビル1F
                        span 営業時間9:00〜17:30 /水曜・第3木曜定休
                    | <?php if ($current == 'home' || $current == 'event' || $current == 'event-detail' || $current == 'event-confirm' || $current == 'event-thanks'){ ?>
                    a.-tell(href='tel:0878680151')
                        span TEL.
                        span 087-868-0151
                    | <?php } else { ?>
                    a.-tell(href='tel:0878161117')
                        span TEL.
                        span 087-816-1117
                    | <?php } ?>
            .-right
                | <?php if ($current == 'home' || $current == 'event' || $current == 'event-detail' || $current == 'event-confirm' || $current == 'event-thanks'){ ?>
                a.button-ghost.white.small(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact-form`)
                    span お問い合わせ
                    .arrow
                        include _icon-arrow
                | <?php } elseif ($current == 'labo' || $current == 'labo_architect' || $current == 'labo_architect-detail' || $current == 'magazine' || $current == 'magazine-detail' || $current == 'labo-about' || $current == 'labo-houseexpo' || $current == 'mailmagazine' || $current == 'mailmagazine-thanks' || $current == 'contact' || $current == 'contact-confirm' || $current == 'contact-thanks' || $current == 'entry' || $current == 'entry-confirm' || $current == 'entry-thanks' || $current == 'gallery' || $current == 'gallery-architect' || $current == 'gallery-detail' || $current == 'entry-builder' || $current == 'entry-builder-confirm' || $current == 'entry-builder-thanks' || $current == 'request' || $current == 'request-confirm' || $current == 'request-thanks' || $current == 'gallery-corporation' || $current == 'labo_builder'){ ?>
                a.button-ghost.white.small(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/contact`)
                    span お問い合わせ
                    .arrow
                        include _icon-arrow
                | <?php } else { ?>
                a.button-ghost.white.small(href!=`<?php echo esc_url( home_url( '/' ) ); ?>contact`)
                    span お問い合わせ
                    .arrow
                        include _icon-arrow
                | <?php } ?>
                //- a.button-ghost.white.small(href!=`<?php echo esc_url( home_url( '/' ) ); ?>labo/mailmagazine`)
                //-     span メールマガジン登録
                //-     .arrow
                //-         include _icon-arrow
                .for-small
                    a.-map(href='https://goo.gl/maps/WvmVgKX1HH93iBC76', target="_blank")
                        p GOOGLE MAP
                        .icon
                            include _icon-map
        .-google
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d823.9079857811364!2d134.0564223271075!3d34.30892238053689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3553ea567009f553%3A0x62b7fcf7394a6940!2z44OV44Ot44Og44OV44Kh44O844K544OI!5e0!3m2!1sja!2sjp!4v1593150714961!5m2!1sja!2sjp" frameborder="0" style="border:0;width:100%;filter:grayscale(100%);-webkit-filter:grayscale(100%)" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
