block page-config
doctype
html(lang='ja')
    head(prefix=( current === 'home' ? 'og: http://ogp.me/ns# website: http://ogp.me/ns/website#' : 'og: http://ogp.me/ns# article: http://ogp.me/ns/article#' ) )
        <!-- Google Tag Manager -->
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MV35693');
        <!-- End Google Tag Manager -->
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        -var root = '.', currentTitle='HOME', currentName, categoryTitle, categoryName, secondName, secondTitle, thirdName, thirdTitle, description
        -var tRoot = '<?php echo get_template_directory_uri(); ?>'
        -for ( z=0; z < site_tree.length; z++ )
            -if( site_tree[z].name === current )
                -currentName = site_tree[z].name
                -currentTitle = site_tree[z].title
                -currentTitleEn = site_tree[z].title_en
                -description = site_tree[z].des
                -if( site_tree[z].children )
                    -root = '..'
            -else
                -if( site_tree[z].children )
                    -var categoryLength = site_tree[z].children.length
                    -for ( y=0; y < categoryLength; y++ )
                        -if( site_tree[z].children[y].name === current )
                            -root = '../..'
                            -currentName = site_tree[z].children[y].name
                            -currentTitle = site_tree[z].children[y].title
                            -currentTitleEn = site_tree[z].children[y].title_en
                            -categoryName = site_tree[z].name
                            -categoryTitle = site_tree[z].title
                            -categoryTitleEn = site_tree[z].title_en
                            -description = site_tree[z].children[y].des
                        -else
                            -if( site_tree[z].children[y].children )
                                -var secondLength = site_tree[z].children[y].children.length
                                -for ( x=0; x < secondLength; x++ )
                                    -if( site_tree[z].children[y].children[x].name === current )
                                        -root = '../../..'
                                        -currentName = site_tree[z].children[y].children[x].name
                                        -currentTitle = site_tree[z].children[y].children[x].title
                                        -currentTitleEn = site_tree[z].children[y].children[x].title_en
                                        -categoryName = site_tree[z].name
                                        -categoryTitle = site_tree[z].title
                                        -categoryTitleEn = site_tree[z].title_en
                                        -secondName = site_tree[z].children[y].name
                                        -secondTitle = site_tree[z].children[y].title
                                        -secondTitleEn = site_tree[z].children[y].title_en
                                        -description = site_tree[z].children[y].children[x].des
                                    -else
                                        -if( site_tree[z].children[y].children[x].children )
                                            -var thirdLength = site_tree[z].children[y].children[x].children.length
                                            -for ( w=0; w < thirdLength; w++ )
                                                -if( site_tree[z].children[x].children[y].children[w].name === current )
                                                    -root = '../../../..'
                                                    -currentName = site_tree[z].children[y].children[x].children[w].name
                                                    -currentTitle = site_tree[z].children[y].children[x].children[w].title
                                                    -currentTitleEn = site_tree[z].children[y].children[x].children[w].title_en
                                                    -categoryName = site_tree[z].name
                                                    -categoryTitle = site_tree[z].title
                                                    -categoryTitleEn = site_tree[z].title_en
                                                    -secondName = site_tree[z].children[y].name
                                                    -secondTitle = site_tree[z].children[y].title
                                                    -secondTitleEn = site_tree[z].children[y].title_en
                                                    -thirdName = site_tree[z].children[y].children[x].name
                                                    -thirdTitle = site_tree[z].children[y].children[x].title
                                                    -thirdTitleEn = site_tree[z].children[y].children[x].title_en
                                                    -description = site_tree[z].children[y].children[x].children[w].des

        -if( current === 'home' )
            title #{title}
            meta(property='og:title' content=`${title}`)
            meta(property='og:url' content=`${url}`)
        
        -else if( current === 'gallery-detail' )
            | <?php
            | $terms = get_the_terms($post->ID,'event_cat');
            | ?>
            title <?php the_title(); ?> | 実例写真集 | #{title}
        
        -else if( current === 'labo_architect-detail' )
            | <?php
            | $terms = get_the_terms($post->ID,'event_cat');
            | ?>
            title <?php the_title(); ?> | 建築家と創る家 -建築家からのプレゼン展- | #{title}
        
        -else if( current === 'labo_builder-detail' )
            | <?php
            | $terms = get_the_terms($post->ID,'event_cat');
            | ?>
            title <?php the_title(); ?> | 工務店と創る家 -工務店からのプレゼン展- | #{title}

        -else
            -if( categoryName && secondName && thirdName )
                title #{currentTitle} | #{thirdTitle} | #{secondTitle} | #{categoryTitle} | #{title}
                meta(property='og:title' content=`${currentTitle} | ${thirdTitle} | ${secondTitle} | ${categoryTitle} | ${title}`)
                meta(property='og:url' content=`${url}/${categoryName}/${secondName}/${thirdName}/${currentName}/`)
            -else if( categoryName && secondName )
                title #{currentTitle} | #{secondTitle} | #{categoryTitle} | #{title}
                meta(property='og:title' content=`${currentTitle} | ${secondTitle} | ${categoryTitle} | ${title}`)
                meta(property='og:url' content=`${url}/${categoryName}/${secondName}/${currentName}/`)
            -else if( categoryName )
                title #{currentTitle} | #{categoryTitle} | #{title}
                meta(property='og:title' content=`${currentTitle} | ${categoryTitle} | ${title}`)
                meta(property='og:url' content=`${url}/${categoryName}/${currentName}/`)
            -else
                title #{currentTitle} | #{title}
                meta(property='og:title' content=`${currentTitle} | ${title}`)
                meta(property='og:url' content=`${url}/${currentName}/`)
        //- 各ページ固有のDescriptionにする場合は、上記の条件処理の中に組み込み、#{des}を#{description}に変更する
        meta(name='description', content=`${des}`)
        meta(property='og:description' content=`${des}`)
        meta(property='og:type' content='website')
        meta(property='og:image' content!=`${tRoot}/assets/images/ogimage.png`)
        meta(property='og:site_name' content=`${title}`)
        //- Twitterアカウントを所有している場合のみ使用する
        //- meta(name='twitter:card' content='summary_large_image')
        //- meta(name='twitter:site' content='@')

        meta(name='format-detection', content='telephone=no')
        include _favicon
        //- != '\t\t<!--[if lt IE 9]>'
        //- script(type='text/javascript', src='#{root}/js/html5shiv.min.js')
        //- script(type='text/javascript', src='#{root}/js/css3-mediaqueries.js')
        //- != '\n<![endif]-->\n'
        link(rel='stylesheet', type='text/css', media='screen,print', href!=`${tRoot}/assets/css/normalize.css`)
        link(rel='stylesheet', type='text/css', media='screen,print', href!=`${tRoot}/assets/css/yakuhanjp_s.min.css`)
        link(rel='stylesheet', type='text/css', media='screen,print', href!=`${tRoot}/assets/css/swiper.min.css`)
        link(rel='stylesheet', type='text/css', media='screen,print', href!=`${tRoot}/assets/css/main.css`)
        link(rel="stylesheet" href="https://use.typekit.net/xfz7ylk.css", type='text/css')
        include _ga
        | <?php wp_head(); ?>

    body(class=`${current}`)
        <!-- Google Tag Manager (noscript) -->
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MV35693" height="0" width="0" style="display:none;visibility:hidden")
        <!-- End Google Tag Manager (noscript) -->
        #container(class=`${current}`)

            .loading
                .element(class=`${current}`)
                    img(src!=`${tRoot}/assets/images/common/logo-official-nav.svg`)

            | <?php $current = '#{current}'; include('header.php'); ?>

            .side-nav(class=`${current}`)
                .-share
                    p Share
                    ul.-sns
                        li.-list: a(href!=`https://www.facebook.com/from1st.takamatsu/`, target="_blank")
                            .icon-sns-facebook
                        li.-list: a(href!=`https://www.instagram.com/from1st_takamatsu/`, target="_blank")
                            .icon-sns-instagram

            -if(mainvisual)
                block mainvisual

            main.main(class=`${current}`)
                -if( row )
                    .content-riquid
                        .grid
                            .column2
                                block subcontent
                            .column10
                                .grid.-nest.-center
                                    .column8
                                        -if( chapter )
                                            .chapter
                                                block chapterContent
                                        block content
                -else
                    -if( chapter )
                        .chapter
                            block chapterContent
                    block content

            | <?php $current = '#{current}'; include('footer.php'); ?>

        | <?php wp_footer(); ?>
        script(type='text/javascript', src!=`${tRoot}/assets/js/jquery.min.js`)
        script(type='text/javascript', src!=`${tRoot}/assets/js/main.min.js`)
        block script
        //- -if( current === 'home' )
        //-     include _fb
