svg(version="1.1" id="レイヤー_1" alt="建築家と創る家 〜建築家からのプレゼン展〜 EXPO2021" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 332 269" xml:space="preserve")
  style(type="text/css").
    .sta{fill:none;stroke:#000000;stroke-width:3.1851;stroke-miterlimit:10;}
  g
    g
      polyline.sta(points="1.3,63.2 48.2,1.8 330.4,63.2 330.4,242.8         ")
      g
        path(d="M10.9,164.9c1.1,0.6,2,0.9,2.8,0.9c0.9,0,2.4-0.5,3.4-1.2c0.1-0.1,0.2-0.1,0.3-0.1c0.2,0,0.2,0.1,0.2,0.2\
        c0,0.3-2.2,1.9-4.4,1.9c-0.4,0-1.1,0-3-1c-1.8-0.9-2.4-0.9-2.8-0.9c-0.7,0-2,0.3-3.1,0.9c-0.1,0-0.5,0.4-0.6,0.4\
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.3,2.2-2,4.4-2C8.4,163.9,9.2,164,10.9,164.9z")
        path(d="M31.1,164c0.2,0,0.3,0,0.5-0.2c0.4-0.4,0.4-0.4,0.5-0.4c0.2,0,1,0.6,1,0.9c0,0.1,0,0.1-0.3,0.3c-0.2,0.1-0.2,0.3-0.3,0.4\
        c-0.5,1.6-0.7,2.3-1.3,3.6c0,0.1-0.3,0.6-0.3,0.6c0,0.2,0.5,0.6,0.8,0.7c1.5,0.9,3.9,0.9,5,0.9c0.8,0,2.9,0,5-0.4\
        c0.1,0,0.6-0.1,0.7-0.1c0.1,0,0.1,0,0.1,0c0,0,0,0-0.3,0.2c-0.2,0.1-0.5,0.5-0.6,0.8c0,0.1-0.1,0.6-0.2,0.6\
        c-0.1,0.1-0.3,0.1-1.4,0.1c-6.4,0-7.6-0.8-8.5-1.4c-0.1-0.1-0.8-0.7-0.9-0.7c-0.1,0-0.2,0.1-0.4,0.4c-1.1,1.4-2.7,2.2-2.9,2.2\
        c0,0,0,0,0,0c0-0.1,0.7-0.6,0.8-0.7c1.1-1,2-2.3,2-2.5c0-0.2-0.5-1-0.6-1.2c-0.4-0.8-0.6-2-0.6-2.3c0-0.1,0-0.2,0.1-0.2\
        c0.1,0,0.1,0.1,0.2,0.4c0.4,1.3,1.1,2.5,1.4,2.5c0.2,0,0.3-0.2,0.5-0.8c0.3-0.7,0.9-2.6,0.9-3.1c0-0.2-0.1-0.3-0.4-0.3H30\
        c-0.3,0-0.4,0-0.5,0.2c-0.2,0.4-0.4,0.7-0.8,0.7c-0.2,0-0.4-0.1-0.4-0.3c0-0.1,0.6-2,0.7-2.3c0.5-1.9,0.7-2.9,0.7-3\
        c0-0.2-0.1-0.3-0.3-0.3c-0.4,0-0.8,0-1.2,0c-0.1,0-0.4,0.1-0.4,0.1s-0.1,0-0.1-0.1l-0.3-0.4c0-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0.1,0\
        c0.3,0,1.9,0.1,2.3,0.1c0.2,0,0.3,0,0.4-0.3c0.3-0.4,0.3-0.5,0.4-0.5c0.2,0,1,0.8,1,1c0,0.1,0,0.1-0.3,0.3\
        c-0.2,0.1-0.3,0.2-0.4,0.7c-0.2,0.6-0.9,3.2-0.9,3.3c0,0.3,0.2,0.3,0.4,0.3H31.1z M38.1,166c0.5,0,0.7,0,0.8-0.1\
        c0.1-0.1,0.6-0.7,0.7-0.7c0.2,0,1.1,0.7,1.1,1c0,0.2-0.3,0.2-0.9,0.2h-2.7c-0.2,0-0.4,0.1-0.4,0.4c0,0.2,0,0.9,0.1,1\
        c0,0.1,0.2,0.2,0.3,0.2h2c0.8,0,0.8,0,1.1-0.3c0.4-0.5,0.4-0.6,0.6-0.6c0.2,0,1.4,0.9,1.4,1.1c0,0.2-0.3,0.2-0.9,0.2h-4.1\
        c-0.5,0-0.5,0.3-0.5,0.6v0.8c-0.1,0.5-0.7,0.6-0.8,0.6c-0.4,0-0.4-0.4-0.4-0.5c0-0.2,0.1-0.9,0.1-1c0-0.5-0.3-0.5-0.6-0.5\
        c-0.4,0-1.5,0-2.1,0c0,0-0.3,0-0.3,0c0,0-0.1,0-0.2-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0.1,0,0.9,0.1,1,0.1\
        c1.2,0,1.3,0,2.1,0c0.4,0,0.4-0.1,0.4-1.1c0-0.4-0.3-0.4-0.5-0.4c-0.3,0-1.1,0-1.4,0c0,0-0.2,0-0.2,0c0,0-0.1,0-0.1-0.1l-0.3-0.4\
        c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0.3,0,1.9,0.1,2.2,0.1c0.5,0,0.5-0.1,0.5-1.2c0-0.1,0-0.4-0.4-0.4c-0.2,0-1.3,0.1-1.4,0.1\
        c0,0-0.1,0-0.1-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0.2,0,1.6,0.1,1.9,0.1c0.4,0,0.4-0.2,0.4-1.4\
        c0-0.4-0.3-0.4-0.5-0.4h-1c-0.4,0-1.5,0-2.1,0c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1\
        c0,0,0-0.1,0.1-0.1c0.1,0,0.6,0.1,0.7,0.1c0.8,0,1.5,0,2.3,0h0.9c0.5,0,0.5-0.1,0.5-1c0-0.4-0.3-0.4-0.7-0.4c-0.7,0-1.5,0-2,0\
        c0,0-0.3,0-0.3,0c-0.1,0-0.1,0-0.1-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0.1,0c0.1,0,0.9,0.1,1,0.1c1.1,0,1.3,0,2,0\
        c0.4,0,0.4-0.2,0.4-0.7c0-0.2-0.1-0.8-0.1-0.9c0-0.1-0.2-0.4-0.2-0.5c0,0,0,0,0.1,0c0.1,0,1.2,0.2,1.4,0.3c0.2,0,0.4,0.1,0.4,0.3\
        c0,0.1-0.4,0.4-0.5,0.5c0,0,0,0.5,0,0.6c0,0.3,0,0.4,0.5,0.4h1.3c0.2,0,0.3,0,0.5-0.3c0.2-0.2,0.3-0.3,0.4-0.3\
        c0.2,0,1.1,0.8,1.1,0.9c0,0.1-0.4,0.4-0.4,0.4c-0.1,0.1-0.1,0.1-0.1,0.6c0,0.3,0,0.4,0.2,0.4c0.2,0,0.2-0.1,0.4-0.5\
        c0.1-0.1,0.2-0.3,0.3-0.3c0.2,0,1,0.8,1,1c0,0.2-0.3,0.2-0.9,0.2h-0.6c-0.5,0-0.5,0.2-0.5,0.6c0,0.5,0,1.4,0,1.5\
        c-0.1,0.4-0.4,0.5-0.7,0.5c-0.3,0-0.3-0.1-0.5-0.3c-0.1-0.1-0.2-0.1-0.5-0.1h-1.2c-0.3,0-0.4,0.2-0.4,0.3c0,1.1,0,1.3,0.4,1.3\
        H38.1z M37.3,160.3c-0.4,0-0.5,0.1-0.5,0.5c0,0.7,0,0.9,0.5,0.9h1.2c0.2,0,0.5,0,0.5-0.4c0-0.8,0-1-0.5-1H37.3z M37.3,162.2\
        c-0.5,0-0.5,0.3-0.5,0.7c0,0.8,0,1,0.5,1h1.2c0.5,0,0.5-0.2,0.5-1c0-0.4,0-0.7-0.5-0.7H37.3z")
        path(d="M54.9,168c-1.2,0-1.7,0-2.1,0.1c0,0-0.3,0-0.3,0c-0.1,0-0.1,0-0.2-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1c0,0,0,0,0,0\
        c0.1,0,0.6,0,0.7,0c0.8,0,1.5,0.1,2.3,0.1h3.3c0.3,0,0.5-0.1,0.5-0.5c0-0.3,0-1.1-0.3-1.1c-0.1,0-0.8,0.4-1,0.5\
        c-0.4,0.2-0.8,0.3-0.9,0.3c0,0,0,0,0,0c0,0,0.3-0.3,0.5-0.4c0.9-0.6,2.1-1.5,2.1-3.8c0-0.1,0-0.6,0-0.8c0-0.1,0-0.2,0.1-0.2\
        c0.2,0,0.2,0,0.8,0.4c0.2,0.1,0.3,0.1,0.6,0.1h1.3c0.1,0,0.2,0,0.3,0c0.1,0,0.3-0.3,0.4-0.3c0.1,0,1.1,0.5,1.1,0.8\
        c0,0.1-0.2,0.3-0.3,0.3c0,0-0.1,0.1-0.2,0.2c0,0.1,0,0.2,0,1c0,0.2,0,0.8,0.1,0.9c0.2,0.1,0.6,0.2,1,0.2c1,0,1.2-0.3,1.6-1.4\
        c0-0.1,0.1-0.3,0.1-0.3c0,0,0,0,0.1,0.5c0,0.6,0.1,0.8,0.2,1c0.1,0.2,0.1,0.2,0.1,0.3c0,0.4-0.8,0.8-2,0.8\
        c-2.2,0-2.2-0.7-2.2-1.3c0-1.1,0-1.6,0-1.8c0-0.3-0.3-0.3-0.5-0.3h-1.2c-0.4,0-0.4,0-0.5,0.8c-0.1,0.7-0.3,1.2-1,2\
        c-0.3,0.3-0.3,0.3-0.3,0.4c0,0.1,0,0.1,0.5,0.3c0.3,0.1,0.8,0.3,0.8,0.4c0,0.1,0,0.1-0.2,0.3c-0.1,0.1-0.2,0.2-0.2,0.5\
        c0,0.4,0.3,0.4,0.5,0.4h3.6c0.7,0,0.8,0,0.9-0.1c0.1-0.1,0.7-0.8,0.8-0.8c0.2,0,1.3,0.9,1.3,1.1c0,0.2-0.3,0.2-0.9,0.2h-5.7\
        c-0.1,0-0.2,0-0.2,0.1c0,0.3,2.5,2.4,5.3,2.9c0.2,0,1.5,0.2,1.5,0.2c0,0.1-0.4,0.3-0.5,0.3c-0.4,0.3-0.6,0.5-0.9,0.9\
        c-0.1,0.1-0.1,0.1-0.2,0.1c-0.4,0-3.2-1.1-4.9-3.5c-0.3-0.5-0.4-0.5-0.5-0.5c-0.1,0-0.1,0.1-0.1,0.1c0,1.7,0,2,0,2.8\
        c0,0.1,0.1,0.7,0.1,0.8c0,0.5-0.6,0.6-0.8,0.6c-0.4,0-0.4-0.4-0.4-0.5c0-0.2,0.1-1.1,0.1-1.3c0-0.2,0-0.7,0-1.7\
        c0,0,0-0.4-0.2-0.4c-0.1,0-0.5,0.3-0.7,0.5c-1.2,1-2.5,1.9-4,2.4c-1,0.4-1.9,0.5-2,0.5c0,0-0.1,0-0.1,0c0,0,0-0.1,0.1-0.1\
        c2.9-1.3,5.1-3.4,5.3-3.5c0.2-0.2,0.4-0.4,0.4-0.6c0-0.2-0.2-0.2-0.4-0.2H54.9z M56.8,159.8c-0.1,0-0.3,0-0.3,0.1\
        c0,0.1,0.1,0.2,0.3,0.4c0.2,0.2,0.4,0.5,0.4,0.8c0,0.4-0.3,0.8-0.7,0.8c-0.4,0-0.4-0.2-0.4-0.8c0-1.3-0.5-1.3-0.8-1.3\
        c-0.5,0-0.6,0-1,0.4c-1.2,1.3-2.4,2.1-2.4,1.9c0,0,0-0.1,0.1-0.2c0.9-1.1,1.9-2.5,2.3-3.5c0-0.2,0.2-0.9,0.3-0.9s1,0.3,1.1,0.3\
        c0.3,0.1,0.5,0.2,0.5,0.3c0,0.1,0,0.1-0.4,0.3c-0.1,0-0.5,0.5-0.5,0.7c0,0.1,0.2,0.1,0.3,0.1h1c0.7,0,0.7,0,1-0.4\
        c0.1-0.1,0.3-0.3,0.4-0.3c0.2,0,0.8,0.7,0.8,0.9c0,0.2-0.1,0.2-0.9,0.2H56.8z M53.2,162.5c-0.1-0.1-0.1-0.1-0.1-0.1\
        c0,0,0,0,0.1,0c0.1,0,0.6,0,0.7,0c0.8,0,1.5,0.1,2.3,0.1h0.4c0.7,0,0.8,0,1.1-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.3,0,0.7,0.5,0.7,0.7\
        c0,0.2-0.3,0.2-0.9,0.2H57c-0.5,0-0.5,0.1-0.5,1.2c0,0.4,0,0.6,0.4,0.6c0.1,0,0.9-0.1,1.1-0.1c0,0,0.1,0,0.1,0\
        c0,0.3-4,1.4-4.4,1.5c-0.1,0-0.4,0.3-0.5,0.3c-0.3,0-0.7-1.3-0.7-1.4c0-0.1,0-0.1,0.1-0.1c0.1,0,0.9,0.1,1.1,0.1\
        c0.2,0,1.3-0.1,1.5-0.2c0.2-0.1,0.2-0.2,0.2-1c0-0.9,0-1-0.5-1c-0.2,0-1.2,0.1-1.3,0.1c-0.1,0-0.1,0-0.1-0.1L53.2,162.5z\
        M63.1,159.8c-0.2,0-0.3,0-0.3,0.1c0,0.1,0.3,0.2,0.4,0.3c0.4,0.2,0.7,0.5,0.7,0.9c0,0.3-0.2,0.6-0.6,0.6c-0.3,0-0.4-0.1-0.7-0.9\
        c-0.4-1-0.6-1.1-1.1-1.1h-0.6c-0.5,0-0.6,0.1-0.9,0.5c-1,1.2-1.6,1.5-1.6,1.4c0,0,0.5-0.8,0.6-0.9c0.2-0.4,1-1.6,1.1-2.6\
        c0-0.4,0-0.5,0.2-0.5c0.1,0,1.4,0.3,1.4,0.5c0,0.1-0.1,0.2-0.4,0.4c-0.1,0.1-0.3,0.4-0.3,0.5s0.1,0.1,0.3,0.1h2.5\
        c0.6,0,0.7,0,0.9-0.2c0.1-0.1,0.5-0.7,0.6-0.7c0.2,0,1.1,0.9,1.1,1.1c0,0.2-0.1,0.2-0.9,0.2H63.1z M60.8,163.9\
        c0.4,0.2,1,0.5,1,1.1c0,0.3-0.3,0.7-0.6,0.7s-0.4-0.3-0.4-0.6c-0.1-0.5-0.4-1.1-0.4-1.2c0-0.1-0.1-0.1,0-0.1\
        C60.3,163.6,60.8,163.8,60.8,163.9z")
        path(d="M78.8,160.3c-0.2,0-0.3,0-0.4,0.4c-0.1,0.4-0.4,1.7-1.2,1.7c-0.3,0-0.7-0.2-0.7-0.7c0-0.4,0.2-0.5,0.7-0.9\
        c0.6-0.4,0.9-1,1.1-1.7c0-0.1,0-0.1,0.1-0.2c0,0.1,0,0.3,0,0.5c0,0.3,0.2,0.3,0.5,0.3h3.9c0.4,0,0.5-0.1,0.5-0.5\
        c0-0.7,0-0.9-0.1-1c0-0.1-0.1-0.4-0.1-0.4c0-0.1,0.1-0.2,0.2-0.2c0,0,1.6,0.2,1.6,0.5c0,0.1-0.3,0.4-0.3,0.4\
        c-0.1,0.1-0.1,0.4-0.1,0.6c0,0.5,0.1,0.6,0.5,0.6h3.3c0.4,0,0.7,0,1-0.4c0.3-0.3,0.3-0.3,0.4-0.3c0.1,0,0.2,0.1,1,0.7\
        c0.2,0.2,0.3,0.3,0.3,0.5c0,0.5-0.3,0.5-0.9,0.5c-0.5,0-1,0.3-1.4,0.6c-0.1,0.1-0.3,0.3-0.4,0.3c0,0-0.1-0.1-0.1-0.1\
        c0-0.1,0.1-0.2,0.2-0.4c0.3-0.4,0.3-0.7,0.3-0.8c0-0.2-0.2-0.2-0.4-0.2H78.8z M84.8,162.8c-0.1,0-0.3,0-0.3,0.2\
        c0,0.6,1.5,3.6,2,3.6c0.5,0,1.8-2.1,1.9-2.3c0-0.1,0.1-0.5,0.2-0.5c0,0,1.5,1,1.5,1.2c0,0.1-0.2,0.2-0.4,0.2\
        c-0.3,0-0.4,0.1-1,0.6c-0.2,0.2-1.4,0.9-1.6,1.1c-0.1,0-0.2,0.1-0.2,0.3c0,0.1,1.4,1.8,4,2.9c0.2,0.1,0.4,0.2,0.5,0.2\
        c-0.2,0.1-0.6,0.2-0.7,0.3c-0.2,0.1-0.4,0.4-0.6,0.6c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-1.7-0.9-3-2.5c-1.9-2.2-2.4-4.3-2.7-5.5\
        c0-0.1-0.1-0.3-0.2-0.3c-0.1,0-0.2,0-0.7,0.6c-0.1,0.1-0.8,0.6-0.8,0.7c0,0.1,0,0.1,0.4,0.4c2.4,1.7,2.4,4.6,2.4,5\
        c0,1.9-0.9,3.1-2.2,3.1c-0.2,0-0.3,0-0.4-0.4c-0.1-0.4-0.7-0.6-1.5-0.9c-0.3-0.1-0.3-0.1-0.3-0.2c0,0,0.1,0,0.1,0\
        c0.1,0,0.8,0.1,0.9,0.1c0.3,0,0.8,0.1,1.1,0.1c0.3,0,0.6,0,0.8-0.6c0.1-0.3,0.2-0.7,0.2-1.4s-0.1-1.1-0.3-1.1\
        c0,0-0.5,0.4-0.5,0.4c-2.6,2.3-5.6,2.8-5.6,2.8c0,0-0.1,0-0.1,0c0,0,0.4-0.3,0.5-0.3c2-1.2,3.5-2,5.2-4c0.1-0.2,0.3-0.4,0.3-0.6\
        c0-0.1-0.1-0.5-0.4-0.5c-0.1,0-0.1,0-0.5,0.4c-2.1,1.8-4.8,2.6-5.1,2.6c0,0-0.1,0-0.1,0c0,0,1.1-0.7,1.3-0.8\
        c1.6-1,3.6-2.7,3.6-3.2c0-0.2-0.2-0.5-0.4-0.5c-0.1,0-0.6,0.4-0.7,0.4c-1.6,1.1-4,1.6-4,1.6s-0.1,0-0.1,0c0-0.1,0.3-0.2,0.6-0.3\
        c2.7-1.3,4.3-3,4.3-3.2c0-0.1,0-0.1-0.5-0.1c-1.1,0-1.7,0-1.9,0c0,0-0.3,0-0.3,0c-0.1,0-0.1-0.1-0.2-0.1l-0.3-0.4\
        c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0.1,0,0.6,0,0.7,0.1c0.7,0,1.4,0,2.1,0h3.9c0.7,0,0.7,0,0.9-0.1c0.1-0.1,0.6-0.8,0.8-0.8\
        c0.1,0,1.3,0.9,1.3,1.1c0,0.2-0.2,0.2-0.6,0.2H84.8z")
        path(d="M102,163.3c0-0.1,0.1-0.1,0.2-0.1c0,0,0.9,0.2,1.1,0.2c0.5,0,2.8-0.5,2.8-0.5c0.3-0.2,0.3-1.9,0.3-2c0-0.4,0-0.9-0.4-1.4\
        c-0.2-0.3-0.3-0.3-0.3-0.4c0-0.1,0.2-0.1,0.3-0.1c1.1,0,1.8,0.6,1.8,1.1c0,0-0.6,2.1-0.6,2.5c0,0.1,0.1,0.1,0.2,0.1\
        c0.1,0,0.8-0.1,1-0.1c1.2,0,2.2,0.6,2.2,2.1c0,1.3-0.5,4.2-1.4,5.3c-0.5,0.5-1.1,1-1.7,1c-0.6,0-0.8-0.6-1-1.1\
        c0-0.1-0.2-0.5-0.2-0.5c0,0,0-0.1,0.1-0.1c0.1,0,0.4,0.1,0.4,0.1c0.3,0.1,0.7,0.1,0.8,0.1c0.5,0,1.1-0.2,1.6-2\
        c0.2-0.7,0.5-2,0.5-2.9c0-1.2-0.7-1.2-1.1-1.2c-0.5,0-1.5,0.2-1.6,0.4c-0.1,0.1-0.1,0.2-0.2,0.7c-0.7,2.3-2.3,6.4-3.6,6.4\
        c-0.4,0-0.5-0.2-0.5-0.5c0-0.4,0.1-0.5,1.1-1.6c0.4-0.5,1.1-1.3,2-3.8c0.1-0.2,0.2-0.7,0.2-0.8c0,0,0-0.1-0.1-0.1\
        c-0.4,0-1.9,0.7-2.2,0.7C102.8,164.7,102,163.6,102,163.3z M113.6,166.7c-0.2,0-0.9-0.4-1.1-0.5c-0.1,0-0.5-0.1-0.5-0.1\
        c0-0.1,0.5-0.4,0.6-0.5c0.6-0.5,0.7-0.5,0.7-1c0-0.3-0.1-1.4-1.3-1.9c-0.1-0.1-0.4-0.2-0.4-0.3c0-0.1,0.1-0.1,0.1-0.1\
        c2.1,0,2.9,2.1,2.9,2.9C114.6,165.6,114.3,166.7,113.6,166.7z")
        path(d="M129.2,160.3c0,0.3-0.3,0.8-0.8,0.8c-0.1,0-0.2,0-1-0.3c-0.3-0.1-0.5-0.2-0.8-0.2c-0.7,0-1.2,0.5-1.2,1.1\
        c0,0.1,0.1,0.9,0.1,1c0,0.1-0.2,1.1-0.2,1.4c-0.1,0.6-0.2,2-0.2,2.4c0,0.2,0,0.8,0.4,0.8c0.3,0,0.8-0.3,1-0.4\
        c1-0.7,1.6-1.1,2.7-1.1c1.8,0,3,1.3,3,2.6c0,2-2.6,3.4-5.1,3.4c-0.2,0-0.4,0-0.4-0.1c0-0.1,0.4-0.2,0.5-0.2\
        c2.1-0.5,3.6-1.8,3.6-3.3c0-1.7-1.5-1.8-1.8-1.8c-0.6,0-1.4,0.2-2.2,1.3c-0.8,1.1-0.9,1.4-1.5,1.4c-0.7,0-1.3-0.8-1.3-2.1\
        c0-0.7,0.4-3.8,0.4-4.4c0-0.6,0.1-1.4,1.5-2c0.9-0.4,1.3-0.5,1.3-1c0-0.3-0.1-0.5-0.3-0.7c0-0.1-0.1-0.2,0-0.2\
        C127.2,158.4,129.2,159.4,129.2,160.3z")
        path(d="M148.4,160.5c0,0.1,0,0.1,0,0.2c0.1,0.5,0.2,1.1,0.2,1.8c0,1.1-0.2,2.7-1.7,4.9c-1.3,2-2.2,2.4-2.8,2.4\
        c-1.1,0-2.1-1.7-2.1-3.7c0-0.9,0.2-2.6,1.8-4.2c2.1-2.2,4.3-2.2,5.3-2.2c1.5,0,2.2,0.3,2.7,0.5c1.8,0.9,2.9,2.7,2.9,4.8\
        c0,2.2-1.2,4.8-4.2,5.9c-1.4,0.5-2.5,0.6-2.8,0.6c-0.1,0-0.2,0-0.2-0.1c0,0,0-0.1,0.4-0.2c1.7-0.7,5.3-2.1,5.3-6.3\
        c0-0.7-0.1-4.6-4.6-4.6C148.4,160.3,148.4,160.4,148.4,160.5z M143,165.7c0,1.1,0.4,2.6,1.4,2.6c0.5,0,0.9-0.2,2-1.9\
        c0.9-1.3,1.6-3.2,1.6-4.8c0-1-0.1-1.1-0.3-1.1C146.2,160.4,143,162.5,143,165.7z")
        path(d="M164.9,161.3c0.3,0.1,1,0.4,1.4,0.4c0.7,0,5.6-0.5,6.3-0.8c0.5-0.2,0.6-0.3,0.7-0.3c0.4,0,0.6,0.2,1.1,0.7\
        c0.7,0.7,0.8,0.8,0.8,1.1c0,0.2-0.1,0.3-0.4,0.6c-0.3,0.3-0.3,0.4-0.6,1c-2.6,5.4-8.4,7.8-8.6,7.8c-0.1,0-0.1-0.1-0.1-0.1\
        c0-0.1,0-0.1,0.2-0.2c2.9-2,5.2-4.2,6.6-6.6c0.8-1.4,1.1-2.6,1.1-2.8c0-0.3-0.3-0.3-0.4-0.3c-0.2,0-5,0.8-6,1.2\
        c-0.1,0-0.7,0.4-0.8,0.4c-0.4,0-1.7-0.8-1.7-1.7c0-0.3,0.1-0.4,0.2-0.4C164.7,161.2,164.8,161.3,164.9,161.3z M178.3,160.2\
        c0,0.9-0.7,1.6-1.6,1.6c-0.8,0-1.6-0.6-1.6-1.6c0-0.8,0.6-1.6,1.6-1.6C177.9,158.6,178.3,159.7,178.3,160.2z M175.6,160.3\
        c0,0.7,0.6,1,1.1,1c0.7,0,1-0.6,1-1c0-0.6-0.6-1-1.1-1C176.3,159.2,175.6,159.5,175.6,160.3z")
        path(d="M188.4,163.3c-0.1,0.3-0.1,0.8-0.1,3.1c0,0.5,0,0.9,0.5,0.9c0.7,0,5-1.8,7.9-4.3c0.2-0.2,0.3-0.2,0.4-0.2\
        c0.1,0,0.1,0.1,0.1,0.1c0,0.2-2.5,2.9-6.5,5c-1.9,1-2.1,1.1-2.4,1.5c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-1.1-0.8-1.1-1.3\
        c0-0.1,0.1-0.7,0.2-0.8c0.1-0.4,0.1-1,0.1-2.1c0-2.2,0-2.6-0.4-3.4c-0.1-0.1-0.4-0.5-0.4-0.6c0-0.1,0.1-0.1,0.2-0.1\
        c0.2,0,2.1,0.3,2.1,1C188.7,162.3,188.4,163.1,188.4,163.3z")
        path(d="M206.6,164.6c0.2,0,0.4,0,0.6,0c0.7,0,0.9-0.1,3.5-0.7c0.4-0.1,0.5-0.3,0.5-1.1c0-1.8-0.2-2.1-0.6-2.7\
        c0,0-0.2-0.3-0.2-0.3c0-0.1,0.6-0.3,0.8-0.3c0.2,0,0.3,0,1.1,0.7c0,0,0.3,0.3,0.3,0.5c0,0.1-0.3,0.6-0.3,0.7\
        c-0.1,0.5-0.2,1.5-0.2,1.6c0,0.2,0.1,0.3,0.3,0.3c0.1,0,2-0.5,2.5-0.7c0.1,0,0.6-0.3,0.7-0.3c0.4,0,2.2,1.3,2.2,2\
        c0,0.1-0.1,0.3-0.3,0.3c-0.1,0-0.4,0-0.4,0c-0.3,0-0.5,0.1-1.1,0.5c-0.4,0.3-1.2,0.7-1.2,0.7c0,0-0.1,0-0.1-0.1\
        c0,0,0.3-0.5,0.3-0.5c0.2-0.4,0.5-0.9,0.5-1.4c0-0.1,0-0.3-0.2-0.3c0,0-2.5,0.8-2.7,0.9c-0.4,0.1-0.5,0.3-0.5,0.7\
        c0,1.4,0,2.9,0,3.2c0.1,1.3,1.1,1.5,2.1,1.5c0.6,0,1.7-0.1,1.8-0.2c0.4-0.1,1-0.2,1.4-0.2c0.4,0,0.7,0.3,0.7,0.5\
        c0,1.1-2.8,1.1-3.7,1.1c-2.9,0-3.2-0.8-3.2-3.5c0-0.3,0-1.8,0-2.1c0-0.3-0.1-0.4-0.3-0.4c-0.2,0-1.5,0.4-1.6,0.5\
        c-1,0.5-1.1,0.6-1.4,0.6c-0.8,0-1.5-1.3-1.5-1.3c0,0,0.1-0.1,0.1-0.1C206.3,164.5,206.3,164.5,206.6,164.6z M218.8,161.9\
        c0,0.3-0.2,0.6-0.5,0.6c-0.2,0-0.4-0.1-0.9-0.7c-0.3-0.4-0.5-0.5-1.2-1c-0.1,0-0.2-0.2-0.2-0.3c0-0.1,0.1-0.1,0.3-0.1\
        C218.2,160.4,218.8,161.6,218.8,161.9z M220.5,160.6c0,0.3-0.2,0.5-0.4,0.5c-0.4,0-0.6-0.4-0.8-0.7c-0.2-0.3-0.8-0.9-1.3-1.1\
        c-0.2-0.1-0.2-0.2-0.2-0.2c0-0.2,0.4-0.2,0.6-0.1C219.6,159.1,220.5,159.8,220.5,160.6z")
        path(d="M233.9,168.6c-0.4,0.3-1.3,0.9-1.6,1.4c-0.3,0.4-0.3,0.4-0.6,0.4c-0.9,0-2.1-1.1-2.1-1.7c0-0.1,0-0.9,0.2-0.9\
        c0.1,0,0.4,0.3,0.5,0.3c0.2,0.1,0.8,0.4,1.1,0.4c0.8,0,5.2-2.9,8-5.7c0.3-0.3,0.7-0.7,0.8-0.7s0.1,0,0.1,0.1\
        C240.2,162.3,238.3,165.4,233.9,168.6z M232.6,163.1c-0.4,0-0.6-0.3-1.2-1.1c-0.6-0.8-1-1.1-1.5-1.4c-0.1,0-0.1-0.1-0.1-0.2\
        c0-0.1,0.1-0.1,0.4-0.1c1.8,0,3.2,0.9,3.2,1.9C233.3,162.8,233,163.1,232.6,163.1z")
        path(d="M251.8,161.8c-0.2,0-0.5,0-0.5,0.3c0,0.1,0,1.1,0,1.2c0,2.6-0.5,7.1-2.3,8.9c-0.2,0.3-0.6,0.5-0.6,0.5c0,0,0,0,0-0.1\
        c0-0.1,0.3-0.4,0.3-0.5c0.5-0.8,1.5-2.3,1.5-9.4c0-1.2,0-2.5-0.2-3.6c0-0.1-0.2-0.9-0.2-0.9c0-0.1,0-0.2,0.2-0.2\
        c0.1,0,0.9,0.4,1,0.5c0.5,0.3,0.7,0.3,1.1,0.3h8.4c0.4,0,0.5,0,0.7-0.2c0.1-0.1,0.2-0.3,0.3-0.3c0.1,0,0.2,0,0.7,0.4\
        c0.2,0.2,0.6,0.4,0.6,0.6c0,0.1-0.1,0.2-0.2,0.3c-0.2,0.1-0.2,0.2-0.2,1.1c0,0.1,0,0.7,0,0.8c0,0.4-0.4,0.7-0.9,0.7\
        c-0.3,0-0.4-0.2-0.5-0.3c-0.1-0.2-0.1-0.2-0.5-0.2H251.8z M257.3,167.3c-0.1,0-0.2,0-0.2,0.1c0,0.4,1.5,2.1,1.8,2.1\
        c0.3,0,1-1.3,1-1.4c0.1-0.4,0.1-0.4,0.2-0.4c0,0,1.3,0.5,1.4,0.5c0.1,0,0.2,0.1,0.2,0.2c0,0-0.1,0.2-0.2,0.2\
        c-0.1,0-0.5,0.1-0.5,0.1c-0.4,0.2-1,0.5-1.3,0.7c-0.3,0.2-0.4,0.2-0.4,0.3c0,0.3,2.4,1.6,4.2,1.6c0,0,0.1,0,0.1,0s-0.1,0-0.2,0.1\
        c-0.9,0.2-1.3,0.4-1.6,0.6c-0.1,0.1-0.6,0.6-0.7,0.6c-0.1,0-1.6-0.8-2.8-2.2c-0.1-0.2-0.2-0.2-0.4-0.2c-0.1,0-2.2,0.9-2.6,1\
        c-0.5,0.2-3.3,1-3.4,1c-0.1,0-0.4,0.5-0.5,0.5c-0.3,0-1.1-1.7-1.1-1.8c0-0.1,0.1-0.1,0.1-0.1c0,0,0.3,0.1,0.3,0.1\
        c0.2,0,0.4,0,0.6,0c0.2,0,1.3-0.1,1.7-0.2c0.4-0.1,0.4-0.2,0.4-1.6c0-2,0-2.1-0.5-2.1c-0.2,0-1.4,0.1-1.5,0.1\
        c-0.1,0-0.1,0-0.1-0.1l-0.3-0.4c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0.1,0c0.1,0,0.5,0,0.6,0c0.2,0,1.5,0.1,1.8,0.1c0.5,0,0.5,0,0.5-1.8\
        c0-0.5,0-0.7-0.4-0.7c-0.2,0-1.2,0.1-1.4,0.1c-0.1,0-0.1,0-0.1-0.1l-0.3-0.4c-0.1-0.1-0.1-0.1-0.1-0.1s0,0,0,0\
        c0.3,0,1.6,0.1,1.8,0.1c0.4,0,0.4-0.3,0.4-0.6c0-0.3,0-0.7-0.1-0.9c0,0-0.2-0.3-0.2-0.3c0-0.1,0.1-0.1,0.2-0.1\
        c0.2,0,1.5,0.3,1.5,0.6c0,0-0.1,0.2-0.2,0.4c-0.1,0.1-0.1,0.2-0.1,0.5c0,0.2,0,0.5,0.5,0.5h1.4c0.5,0,0.5-0.2,0.5-0.6\
        c0-0.3,0-0.5,0-0.7c0-0.2-0.1-0.4-0.1-0.5c0-0.1,0.1-0.1,0.2-0.1c0.1,0,1.5,0.3,1.5,0.6c0,0.1,0,0.1-0.3,0.3\
        c-0.2,0.1-0.2,0.2-0.2,0.5c0,0.4,0.3,0.4,0.5,0.4h0.3c0.6,0,0.6,0,0.8-0.4c0.1-0.2,0.3-0.6,0.5-0.6c0.2,0,1.3,0.8,1.3,1.1\
        c0,0.2-0.3,0.2-0.9,0.2h-2.1c-0.2,0-0.5,0-0.5,0.4c0,0.3,0,1.8,0,1.9c0.1,0.2,0.3,0.2,0.5,0.2h1c0.6,0,0.7,0,0.9-0.3\
        c0.1-0.2,0.4-0.6,0.6-0.6c0.2,0,1.3,0.9,1.3,1.2c0,0.2-0.4,0.2-1,0.2H257.3z M251.8,159.3c-0.5,0-0.5,0.2-0.5,0.8\
        c0,1.1,0,1.2,0.5,1.2h8.7c0.5,0,0.5-0.2,0.5-1c0-0.8,0-1-0.5-1H251.8z M255.3,167.3c-0.2,0-0.4,0-0.5,0.2c0,0.1,0,1.7,0,2\
        c0,0.9,0,1.2,0.4,1.2c0.2,0,1.2-0.2,1.8-0.3c0.8-0.2,0.9-0.2,0.9-0.4c0-0.1-0.1-0.2-0.1-0.3c-0.5-0.7-0.8-1.4-1-1.8\
        c-0.2-0.5-0.2-0.6-0.6-0.6H255.3z M255.7,164.3c-0.5,0-0.5,0.1-0.5,1.3c0,1.1,0,1.3,0.5,1.3h1.4c0.5,0,0.5-0.1,0.5-1.3\
        c0-1.1,0-1.3-0.5-1.3H255.7z")
        path(d="M280.7,164.9c1.1,0.6,2,0.9,2.8,0.9c0.9,0,2.4-0.5,3.4-1.2c0.1-0.1,0.2-0.1,0.3-0.1c0.2,0,0.2,0.1,0.2,0.2\
        c0,0.3-2.2,1.9-4.4,1.9c-0.4,0-1.1,0-3-1c-1.8-0.9-2.4-0.9-2.8-0.9c-0.7,0-2,0.3-3.1,0.9c-0.1,0-0.5,0.4-0.6,0.4\
        c-0.1,0-0.2-0.1-0.2-0.2c0-0.3,2.2-2,4.4-2C278.2,163.9,279,164,280.7,164.9z")
      g
        path(d="M16.6,110.9c0.9,0,1.2-0.1,1.8-0.7c1.5-1.3,1.6-1.5,2-1.5c0.6,0,3.7,2.2,3.7,3.4c0,0.4-0.1,0.5-1.1,1.2\
        c-0.7,0.4-0.9,1.1-1,1.5c-1.7,5.9-2.4,8.6-4.9,13.2c-0.1,0.2-1.1,2.1-1.1,2.3c0,0.8,2,2.1,2.8,2.6c5.4,3.2,14.2,3.4,18.3,3.4\
        c3.1,0,10.7-0.1,18.3-1.3c0.5-0.1,2.3-0.6,2.5-0.6c0.2,0,0.4,0,0.4,0.2c0,0.1-0.1,0.2-1,0.7c-0.8,0.5-1.8,1.8-2.3,3.1\
        c-0.1,0.3-0.5,2.1-0.7,2.3c-0.5,0.6-1,0.6-5.3,0.6c-23.5,0-27.9-2.9-31.3-5.2c-0.5-0.4-3.1-2.5-3.4-2.5c-0.4,0-0.7,0.5-1.6,1.5\
        c-4.2,5.3-9.8,8-10.8,8c-0.1,0-0.1-0.1-0.1-0.1c0-0.4,2.5-2.2,2.9-2.6c3.9-3.5,7.3-8.6,7.3-9.4c0-0.7-2-3.7-2.3-4.4\
        c-1.5-3.1-2.3-7.3-2.3-8.5c0-0.2,0-0.6,0.2-0.6c0.4,0,0.5,0.3,0.7,1.3c1.4,5,4.2,9.1,5.1,9.1c0.7,0,1-0.7,1.9-2.9\
        c1.1-2.7,3.4-9.6,3.4-11.6c0-0.9-0.4-1-1.5-1h-4.8c-1.2,0-1.6,0-2,0.9c-0.7,1.4-1.3,2.6-3.1,2.6c-0.9,0-1.6-0.5-1.6-1.2\
        c0-0.2,2.3-7.2,2.6-8.5c1.9-6.9,2.7-10.7,2.7-11.1c0-0.7-0.5-1-1.1-1c-1.5,0-2.9,0.1-4.4,0.1c-0.2,0-1.4,0.2-1.6,0.2\
        c-0.2,0-0.4-0.1-0.5-0.4l-1.2-1.4c-0.2-0.3-0.2-0.4-0.2-0.4c0-0.1,0.1-0.1,0.2-0.1c1.2,0,7.1,0.4,8.5,0.4c0.9,0,1.1-0.1,1.6-0.9\
        c1-1.5,1.2-1.7,1.6-1.7c0.7,0,3.8,2.8,3.8,3.7c0,0.5-0.1,0.6-1.3,1.2c-0.9,0.5-1,0.7-1.5,2.8c-0.6,2.3-3.2,11.9-3.2,12.3\
        c0,1.1,0.7,1.1,1.6,1.1H16.6z M42.2,118.4c1.7,0,2.5,0,2.9-0.2c0.5-0.2,2.3-2.6,2.7-2.6c0.7,0,4.2,2.6,4.2,3.7\
        c0,0.8-1.3,0.8-3.2,0.8H39c-0.9,0-1.5,0.4-1.5,1.3c0,0.7,0,3.3,0.2,3.7c0.2,0.4,0.7,0.7,1.2,0.7h7.3c2.8,0,3.1,0,3.9-1\
        c1.5-2,1.6-2.1,2.3-2.1c0.7,0,5,3.5,5,4c0,0.9-1.2,0.9-3.2,0.9H39.4c-1.7,0-1.8,1-1.8,2.1v3.1c-0.2,1.9-2.4,2.2-3.1,2.2\
        c-1.5,0-1.5-1.5-1.5-1.8c0-0.6,0.2-3.3,0.2-3.9c0-1.7-1-1.7-2.2-1.7c-1.4,0-5.6,0-7.8,0.1c-0.2,0.1-1.1,0.2-1.3,0.2\
        s-0.3-0.2-0.5-0.4l-1.2-1.4c-0.2-0.2-0.2-0.3-0.2-0.4c0-0.1,0.1-0.2,0.2-0.2c0.2,0,3.2,0.2,3.8,0.2c4.3,0.2,4.9,0.2,7.6,0.2\
        c1.6,0,1.6-0.4,1.6-4.2c0-1.4-1-1.5-2-1.5c-1.2,0-4.2,0.1-5.3,0.2c-0.1,0.1-0.7,0.1-0.9,0.1c-0.2,0-0.3-0.1-0.5-0.4l-1.2-1.4\
        c-0.2-0.2-0.2-0.3-0.2-0.4s0.1-0.1,0.2-0.1c1.3,0,6.9,0.4,8.1,0.4c1.8,0,1.8-0.4,1.8-4.4c0-0.5,0-1.7-1.5-1.7\
        c-0.7,0-4.8,0.3-5.3,0.3c-0.2,0-0.3-0.1-0.5-0.4l-1.2-1.4c-0.2-0.2-0.2-0.3-0.2-0.4c0-0.1,0.1-0.2,0.2-0.2c0.7,0,6,0.4,7.1,0.4\
        c1.5,0,1.5-0.5,1.5-5c0-1.3-1.2-1.3-1.9-1.3H28c-1.4,0-5.6,0-7.7,0.1c-0.2,0.1-1.1,0.2-1.3,0.2c-0.2,0-0.3-0.2-0.5-0.4l-1.2-1.4\
        c-0.2-0.2-0.2-0.3-0.2-0.4c0-0.1,0.1-0.2,0.2-0.2c0.4,0,2.3,0.2,2.7,0.2c2.8,0.1,5.5,0.2,8.4,0.2h3.4c1.9,0,1.9-0.4,1.9-3.7\
        c0-1.5-1-1.5-2.4-1.5c-2.5,0-5.7,0.1-7.3,0.2c-0.2,0-1.1,0.1-1.3,0.1c-0.2,0-0.3-0.1-0.5-0.4l-1.2-1.4c-0.2-0.3-0.3-0.3-0.3-0.4\
        c0-0.1,0.1-0.1,0.2-0.1c0.2,0,3.2,0.2,3.8,0.2c4.1,0.2,4.8,0.2,7.2,0.2c1.6,0,1.6-0.6,1.6-2.6c0-0.7-0.2-2.8-0.4-3.3\
        c-0.1-0.2-0.7-1.6-0.7-1.7s0.2-0.1,0.2-0.1c0.4,0,4.3,0.7,5.1,1c0.6,0.2,1.6,0.6,1.6,1.1c0,0.4-1.6,1.5-1.8,1.8\
        c-0.1,0.1-0.1,1.8-0.1,2.2c0,1,0.2,1.6,1.7,1.6h4.8c0.9,0,1-0.1,2-1.2c0.6-0.7,1-1,1.5-1c0.7,0,4,2.8,4,3.4\
        c0,0.4-1.4,1.4-1.6,1.7c-0.3,0.3-0.3,0.6-0.3,2.4c0,1,0,1.5,0.7,1.5c0.7,0,0.9-0.4,1.5-1.7c0.2-0.5,0.7-1.1,1.2-1.1\
        c0.9,0,3.8,2.9,3.8,3.6c0,0.9-1.1,0.9-3.3,0.9h-2.1c-1.9,0-1.9,0.7-1.9,2c0,1.9-0.1,5.1-0.2,5.6c-0.4,1.6-1.6,2-2.4,2\
        c-1,0-1.2-0.4-1.7-1c-0.4-0.6-0.6-0.6-1.7-0.6H39c-1.3,0-1.6,0.9-1.6,1.3c0,4.2,0,4.8,1.6,4.8H42.2z M39.2,97.4c-1.3,0-2,0.2-2,2\
        c0,2.7,0,3.2,2,3.2h4.3c0.9,0,2,0,2-1.7c0-3.1,0-3.5-2-3.5H39.2z M39,104.2c-1.8,0-1.8,1.1-1.8,2.6c0,3.1,0,3.8,1.8,3.8h4.6\
        c1.8,0,1.8-0.8,1.8-3.7c0-1.5,0-2.6-1.8-2.6H39z")
        path(d="M95.3,125.6c-4.6,0-6.2,0.1-7.8,0.2c-0.2,0-1.1,0.1-1.3,0.1c-0.2,0-0.3-0.1-0.5-0.4l-1.2-1.4c-0.2-0.3-0.2-0.3-0.2-0.4\
        c0-0.1,0.1-0.1,0.2-0.1c0.4,0,2.3,0.2,2.7,0.2c3,0.1,5.5,0.2,8.4,0.2h12c1.1,0,1.8-0.2,1.8-1.7c0-0.9,0-4.2-1.1-4.2\
        c-0.3,0-3,1.7-3.5,1.9c-1.4,0.7-2.9,1.2-3.2,1.2c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,1.3-1,2-1.5c3.3-2.4,7.6-5.4,7.6-14\
        c0-0.4-0.2-2.4-0.2-2.8c0-0.2,0-0.6,0.4-0.6c0.5,0,0.7,0.1,3,1.5c0.6,0.4,1.3,0.5,2.1,0.5h4.8c0.3,0,0.9,0,1.3-0.2\
        c0.2-0.1,1.1-1.3,1.3-1.3s4,1.9,4,2.8c0,0.5-0.7,1-1,1.2c-0.2,0.1-0.5,0.4-0.6,0.6c0,0.3-0.1,0.9-0.1,3.7c0,0.9,0,2.9,0.5,3.3\
        c0.8,0.5,2.4,0.7,3.7,0.7c3.8,0,4.6-1.2,5.9-5.3c0.2-0.4,0.4-1,0.5-1s0.1,0.2,0.3,1.9c0.2,2.1,0.2,2.9,0.8,3.8\
        c0.5,0.9,0.5,0.9,0.5,1.2c0,1.5-2.8,2.8-7.4,2.8c-8.2,0-8.2-2.4-8.2-4.9c0-4.2,0-6-0.1-6.6c-0.2-1-1.2-1-1.8-1h-4.3\
        c-1.6,0-1.6,0.1-2,2.9c-0.3,2.4-1.2,4.6-3.5,7.2c-1,1-1.1,1.2-1.1,1.3c0,0.5,0.2,0.5,2,1.1c1,0.3,2.9,1,2.9,1.6\
        c0,0.4-0.1,0.5-0.7,1c-0.3,0.4-0.6,0.8-0.6,1.7c0,1.4,1.1,1.4,1.9,1.4h13.1c2.6,0,2.8,0,3.3-0.4c0.5-0.4,2.5-2.9,3.1-2.9\
        c0.9,0,4.6,3.4,4.6,4c0,0.9-1.2,0.9-3.2,0.9h-21c-0.4,0-0.8,0-0.8,0.4c0,1.1,9.2,8.8,19.4,10.7c0.9,0.2,5.4,0.6,5.4,0.8\
        c0,0.3-1.6,1-1.8,1.1c-1.6,1.1-2.3,1.9-3.4,3.2c-0.2,0.2-0.5,0.4-0.7,0.4c-1.5,0-11.6-4.2-17.9-12.8c-1.3-1.7-1.4-1.9-1.8-1.9\
        c-0.3,0-0.3,0.3-0.3,0.5c0,6.4,0,7.3,0.2,10.2c0,0.5,0.2,2.6,0.2,3c0,1.8-2.3,2.3-2.8,2.3c-1.6,0-1.6-1.5-1.6-2\
        c0-0.7,0.3-4,0.3-4.7c0.1-0.9,0.1-2.6,0.1-6.4c0-0.2,0-1.3-0.6-1.3c-0.3,0-1.8,1.2-2.6,1.8c-4.5,3.5-9.2,6.9-14.6,8.9\
        c-3.6,1.3-7.1,2-7.5,2c-0.1,0-0.2,0-0.2-0.1c0-0.1,0.1-0.2,0.4-0.4c10.5-4.7,18.8-12.4,19.4-12.9c0.9-0.8,1.6-1.5,1.6-2.1\
        c0-0.7-0.8-0.7-1.5-0.7H95.3z M102.4,95.7c-0.5,0-1.3,0-1.3,0.5c0,0.3,0.4,0.7,1.1,1.5c0.9,0.9,1.6,1.8,1.6,3\
        c0,1.5-1.2,2.8-2.6,2.8s-1.5-0.9-1.5-2.8c0-5-1.9-5-2.9-5c-2,0-2.3,0.2-3.7,1.7c-4.3,4.6-8.9,7.6-8.9,7.2c0-0.1,0.1-0.2,0.4-0.7\
        c3.4-4.2,7.1-9.2,8.4-12.8c0.2-0.6,0.8-3.4,1.1-3.4c0.3,0,3.8,1.1,4,1.2c1.2,0.4,1.7,0.6,1.7,1.2c0,0.4-0.2,0.5-1.3,1.1\
        c-0.4,0.2-1.9,1.7-1.9,2.4c0,0.6,0.7,0.6,1.3,0.6h3.8c2.4,0,2.7,0,3.8-1.3c0.2-0.3,1.1-1.2,1.6-1.2c0.7,0,3.1,2.4,3.1,3.4\
        c0,0.7-0.3,0.7-3.2,0.7H102.4z M88.9,105.3c-0.2-0.3-0.3-0.3-0.3-0.4c0-0.1,0.1-0.1,0.2-0.1c0.4,0,2.3,0.2,2.7,0.2\
        c3,0.1,5.5,0.2,8.4,0.2h1.5c2.7,0,3.1,0,3.9-1c0.4-0.5,0.7-0.8,1.2-0.8c1,0,2.6,2,2.6,2.6c0,0.9-1.2,0.9-3.2,0.9h-2.7\
        c-2,0-2,0.5-2,4.6c0,1.4,0.1,2.3,1.5,2.3c0.3,0,3.4-0.6,4.1-0.6c0.2,0,0.4,0,0.4,0.1c0,1.1-14.8,5.1-16,5.6\
        c-0.3,0.1-1.6,1.2-2,1.2c-1,0-2.5-4.8-2.5-5.2c0-0.4,0.2-0.4,0.4-0.4c0.4,0,3.5,0.4,4.1,0.4c0.8,0,4.9-0.2,5.4-0.6\
        c0.6-0.4,0.6-0.7,0.6-3.6c0-3.2,0-3.9-1.7-3.9c-0.7,0-4.3,0.2-4.8,0.2c-0.2,0-0.4-0.1-0.5-0.4L88.9,105.3z M125.4,95.5\
        c-0.6,0-1.3,0-1.3,0.4c0,0.4,1,0.9,1.6,1.2c1.4,0.8,2.4,2,2.4,3.5c0,1.2-0.9,2.3-2.2,2.3c-1.2,0-1.3-0.3-2.5-3.3\
        c-1.5-3.8-2.1-4.1-3.9-4.1h-2.3c-1.7,0-2.1,0.6-3.2,1.8c-3.8,4.3-5.9,5.6-5.9,5.3c0-0.2,1.9-2.8,2.2-3.3c0.9-1.3,3.7-5.9,4-9.5\
        c0.1-1.6,0.2-1.7,0.8-1.7c0.2,0,5,1,5,2c0,0.4-0.3,0.6-1.4,1.4c-0.3,0.2-1.3,1.4-1.3,2s0.5,0.6,1.1,0.6h9.1\
        c2.3,0,2.7-0.1,3.3-0.7c0.3-0.4,1.7-2.5,2.2-2.5c0.7,0,4.1,3.2,4.1,4c0,0.7-0.4,0.7-3.3,0.7H125.4z M117,110.4\
        c1.3,0.7,3.6,1.7,3.6,4c0,1.2-1,2.6-2.3,2.6c-1.3,0-1.5-1.2-1.6-2.3c-0.2-2-1.4-4.2-1.5-4.5c-0.1-0.2-0.2-0.4-0.1-0.4\
        C115.3,109.6,116.8,110.3,117,110.4z")
        path(d="M177.1,97.5c-0.8,0-1.3,0.1-1.6,1.4c-0.4,1.5-1.5,6.4-4.5,6.4c-1.3,0-2.6-0.9-2.6-2.5c0-1.3,0.8-2,2.4-3.2\
        c2.1-1.6,3.2-3.8,4.2-6.2c0.1-0.2,0.2-0.5,0.3-0.7c0.2,0.3,0.1,1,0.2,2c0.1,1.2,0.9,1.2,1.8,1.2h14.5c1.5,0,1.7-0.4,1.7-2\
        c0-2.6-0.1-3.2-0.2-3.6c-0.1-0.2-0.5-1.4-0.5-1.7c0-0.5,0.4-0.6,0.8-0.6c0.1,0,6,0.7,6,1.8c0,0.3-1.1,1.3-1.3,1.5\
        c-0.2,0.4-0.4,1.3-0.4,2.4c0,1.8,0.4,2.1,1.8,2.1h12c1.5,0,2.5-0.1,3.6-1.5c1-1.3,1.2-1.3,1.4-1.3c0.5,0,0.9,0.2,3.8,2.7\
        c0.9,0.7,1.3,1.1,1.3,2c0,1.7-1.3,1.8-3.2,2c-1.7,0.2-3.5,1.1-5.2,2.3c-0.4,0.3-1.2,0.9-1.5,0.9c-0.2,0-0.4-0.2-0.4-0.4\
        c0-0.3,0.4-0.8,0.8-1.4c1-1.7,1.2-2.6,1.2-2.9c0-0.9-0.9-0.9-1.4-0.9H177.1z M198.9,106.5c-0.5,0-1.1,0-1.1,0.7\
        c0,2.1,5.6,13.1,7.3,13.1c1.9,0,6.7-7.8,6.9-8.6c0.1-0.3,0.3-2,0.6-2c0.1,0,5.5,3.5,5.5,4.4c0,0.6-0.9,0.7-1.6,0.8\
        c-1.1,0.2-1.4,0.4-3.7,2.2c-0.9,0.7-5.1,3.3-5.9,3.9c-0.3,0.2-0.6,0.5-0.6,0.9c0,0.5,5.3,6.8,14.7,10.6c0.7,0.2,1.6,0.6,2,0.9\
        c-0.8,0.2-2.3,0.9-2.6,1.2c-0.6,0.5-1.6,1.7-2.1,2.3c-0.2,0.3-0.3,0.4-0.5,0.4c-0.3,0-6.1-3.4-11-9.1c-7.1-8.2-9-15.8-10-20.2\
        c-0.1-0.6-0.3-1.3-0.9-1.3c-0.4,0-0.6,0.2-2.7,2.1c-0.5,0.4-3,2.1-3,2.7c0,0.4,0.2,0.5,1.5,1.4c8.9,6.4,8.9,16.9,8.9,18.4\
        c0,7-3.3,11.3-7.9,11.3c-0.9,0-1-0.2-1.4-1.6c-0.4-1.4-2.4-2.2-5.4-3.3c-1-0.4-1.2-0.4-1.2-0.6c0-0.2,0.3-0.2,0.4-0.2\
        c0.5,0,2.8,0.3,3.3,0.4c1.2,0.1,3.1,0.2,3.9,0.2c1.2,0,2.1-0.1,3.1-2.1c0.5-1,0.9-2.7,0.9-5c0-2.3-0.4-4-1.2-4\
        c-0.2,0-1.8,1.5-2,1.7c-9.5,8.5-20.6,10.3-20.7,10.3c-0.1,0-0.2,0-0.2-0.1c0-0.1,1.5-0.9,1.8-1c7.5-4.3,12.8-7.3,19.2-14.7\
        c0.5-0.6,1.2-1.3,1.2-2.2c0-0.4-0.5-1.8-1.3-1.8c-0.2,0-0.4,0.1-2,1.4c-7.6,6.5-17.6,9.7-18.7,9.7c-0.1,0-0.2-0.1-0.2-0.1\
        c0-0.1,4.1-2.4,4.8-2.9c6-3.9,13.3-10,13.3-11.9c0-0.6-0.8-1.8-1.6-1.8c-0.3,0-2.3,1.3-2.6,1.6c-6,4-14.6,5.9-14.7,5.9\
        s-0.2-0.1-0.2-0.2c0-0.2,1.3-0.8,2.1-1.2c10-4.7,15.7-11,15.7-11.8c0-0.6-0.2-0.6-2-0.6c-4.2,0-6.4,0.1-7,0.1\
        c-0.2,0.1-1.1,0.2-1.3,0.2c-0.2,0-0.4-0.2-0.5-0.4l-1.2-1.4c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.1,0.1-0.2,0.2-0.2\
        c0.4,0,2.3,0.2,2.7,0.2c2.4,0.1,5.2,0.2,7.6,0.2h14.4c2.4,0,2.7,0,3.2-0.4c0.5-0.5,2.3-3,2.9-3c0.4,0,4.9,3.4,4.9,4.2\
        c0,0.9-0.6,0.9-2.2,0.9H198.9z")
        path(d="M263.1,120c1.8-1.7,2.6-2.5,2.6-3.3c0-0.2-0.4-1.6-0.5-1.9c-0.7-2.3-1-3.7-1-7.2c0-1.4,0.3-8.5,0.3-10.1\
        c0-3.1-0.9-4-1.8-5c-1.3-1.3-1.5-1.5-1.5-1.7c0-0.2,1.5-0.3,1.6-0.3c3.5,0,6.6,2.8,6.6,4.6c0,0.6-0.7,3.3-0.9,3.9\
        c-0.2,1.7-0.5,4.5-0.5,8.1c0,2.3,0,7.3,1.6,7.3c0.9,0,1.2-0.2,4.5-2.3c0.7-0.4,4.5-2.9,6.3-2.9c1.4,0,2.3,1.2,2.3,2.3\
        c0,1.8-2.5,2.8-4.7,3.7c-14.5,5.9-16.6,10.3-16.6,14.3c0,4.2,3.5,5.7,8.5,5.7c3.1,0,5.5-0.6,7.3-1.1c2.7-0.7,3.4-0.9,4.6-0.9\
        c2.1,0,4,1.4,4,2.9c0,3.1-12.5,3.4-15.7,3.4c-2.8,0-11.7,0-11.7-9.6C258.5,128.2,259,123.9,263.1,120z")
      g
        path(d="M34.5,201.4c0,2.2-1.3,2.4-1.6,2.4c-0.7,0-1-0.1-3.5-3.2c-1.4-1.8-8.1-7.8-8.9-7.8c-0.5,0-0.8,0.2-1.3,0.7\
        C11.3,200.8,2,206.6,1,206.6c-0.1,0-0.3-0.1-0.3-0.2c0-0.1,4-3.5,4.6-4.2c2.7-2.7,9.5-9.5,11.7-14.1c0.7-1.4,0.7-1.5,1-1.5\
        c0.6,0,4.7,2.5,4.7,3.5c0,0.5-0.2,0.7-0.7,1c-0.1,0.1-0.4,0.3-0.4,0.5c0,0.3,2.1,1.3,2.6,1.6c9.2,4.4,9.8,5.4,10.1,7.1\
        C34.5,200.8,34.5,201.1,34.5,201.4z M16.5,239.1c-1.3,0-1.6,0.1-2,0.8c-0.5,1.1-0.9,2-2.8,2c-1.7,0-1.7-1-1.7-1.5\
        c0-0.4,0.3-2.6,0.3-3.1c0.1-2.1,0.1-4.8,0.1-5.6c0-0.6,0-3.6-0.4-3.6c-0.1,0-1.7,3.7-2.1,4.3c-2.3,4.1-6.2,7.3-6.7,7.3\
        c-0.1,0-0.1-0.1-0.1-0.2c0,0,0.7-1.1,1.2-1.7c5.6-8.4,5.6-19.6,5.6-21c0-4-0.1-7.3-0.6-9.5c-0.1-0.3-0.6-1.7-0.6-2\
        c0-0.2,0.2-0.3,0.5-0.3c0.4,0,1.3,0.2,2.7,1.2c2,1.2,2.6,1.3,3.9,1.3h10.1c0.9,0,1.3-0.1,1.6-0.3c0.2-0.2,1.2-1.6,1.6-1.6\
        c0.3,0,4.7,2.6,4.7,3.4c0,0.4-0.2,0.7-0.5,1c-0.2,0.1-0.8,0.8-1.1,1.1c-0.1,0.9,0,8.6,0,10.2c0,1.9-1.8,2.7-2.9,2.7\
        c-0.6,0-0.8-0.2-1.3-1c-0.3-0.5-0.5-0.5-1.6-0.5H12.9c-1.1,0-2,0-2,2.5c0,0.9,0.2,1.1,2.8,2.6c0.9,0.5,2.1,0.5,2.7,0.5h8\
        c1.2,0,1.6-0.1,2.3-1c0.4-0.7,0.8-1.1,1.2-1.1c0.1,0,4.5,1.9,4.5,3.2c0,0.3-0.1,0.6-0.4,0.8c-1,0.9-1.2,1-1.2,1.2\
        c-0.2,0.6,0,3.6,0,3.7c0,4.2,0,4.7-0.5,5.4c-0.5,0.7-1.6,1.5-2.6,1.5c-0.9,0-1-0.6-1.1-1.5c-0.1-1.1-1.2-1.2-1.9-1.2H16.5z\
        M19.8,200.9c1.1,0,1.2,0,1.5-0.2c0.4-0.3,1.9-2.4,2.3-2.4c0.3,0,4.1,2.6,4.1,3.5c0,0.7-0.2,0.7-2.3,0.7h-8.1\
        c-0.8,0-2.9,0.1-3.6,0.2c-0.1,0.1-0.7,0.1-0.7,0.1c-0.2,0-0.2-0.1-0.4-0.4l-0.9-1.4c-0.2-0.3-0.2-0.3-0.2-0.4\
        c0-0.1,0.1-0.2,0.2-0.2c0.5,0,5.3,0.4,6.2,0.4H19.8z M24.6,220.8c1.6,0,1.6-0.4,1.6-3.7c0-1-0.1-1.7-1.6-1.7h-11\
        c-1.5,0-2,0.1-2,4c0,1.3,0.7,1.3,1.6,1.3H24.6z M24.5,213.8c1.8,0,1.8-0.6,1.8-1.9c0-2.6,0-2.8-1.6-2.8h-11\
        c-1.7,0-1.7,0.6-1.7,3.1c0,1.3,0.4,1.6,1.7,1.6H24.5z M16.7,229.6c-2,0-2,0.5-2,3.7c0,3.8,0,4.2,2,4.2h7.9c2.1,0,2.1-0.6,2.1-5.3\
        c0-1.8,0-2.6-2-2.6H16.7z M37.8,194.9c0.4,0,4.5,1.8,4.9,2c0.2,0.2,0.7,0.6,0.7,1c0,0.4-1.2,1.7-1.3,2c-0.2,0.7-0.2,1.3-0.2,7.5\
        c0,3.5,0.1,21.4,0,22.1c-0.1,1.5-2.1,2-3.4,2c-1.3,0-1.5-0.9-1.5-1.3c0-0.9,0.4-4.9,0.4-5.7c0.2-5.9,0.5-15.4,0.5-20.7\
        c0-1.2-0.1-5.4-0.4-6.3c-0.5-1.5-0.5-1.7-0.5-1.8C37.3,195.1,37.5,194.9,37.8,194.9z M48.1,187.5c0.2,0,4.2,1.5,4.8,1.8\
        c1.5,0.5,1.6,0.6,1.6,1s-1.6,1.5-1.8,1.8c-0.2,0.4-0.4,2.9-0.4,3.4c-0.1,1.9-0.1,11.7-0.1,15.8v24.8c0,4.2-3.3,6.3-6.7,6.3\
        c-1,0-1.2-0.1-2.1-1.6c-0.3-0.6-1.9-2.7-3.2-3.4c-0.7-0.4-0.7-0.5-0.7-0.7s0.2-0.2,0.4-0.2c0.2,0,4.9,0.4,5.9,0.4\
        c1.1,0,1.9-0.2,2-1.4c0.1-0.8,0.4-10.3,0.4-17.9c0-6.8-0.1-21.1-0.3-27.2c0-0.5-0.4-2.5-0.2-2.9\
        C47.8,187.6,47.9,187.5,48.1,187.5z")
        path(d="M158.7,223.7c0-5-4.2-9.3-10.3-9.3c-8.1,0-13.3,8.4-14.4,10.3c-1.2,2.1-1.8,3.2-3.5,3.2c-1.5,0-1.8-1.2-1.8-1.7\
        c0-1.5,0.5-2.9,4.8-8c4-4.6,4.6-5.4,13.8-18.4c2-2.9,2.9-4.2,2.9-4.8c0-0.4-0.4-0.9-1.2-0.9c-2.3,0-5.9,3.1-6.9,3.9\
        c-2.4,2-3.3,2.2-4.3,2.2c-2.9,0-4.8-3.9-4.8-4.2c0-0.2,0.2-0.2,1.5-0.2c3.2,0,7.8-1.5,9.5-2.2c3.8-1.7,4.2-1.8,5.6-1.8\
        c2.4,0,6.4,1.5,6.4,4.2c0,1.8-1.4,2.8-4.3,4.8c-4.4,3.1-9.8,11.5-9.8,12.5c0,0.2,0.2,0.4,0.4,0.4c0.4-0.1,1.2-0.4,1.5-0.6\
        c2-0.7,3.7-1,5.4-1c7.8,0,13.7,5.8,13.7,12.7c0,7.8-7.5,13.2-15.3,13.2c-6,0-10.4-3.2-10.4-6.3c0-2.2,2.6-5,6-5\
        c2.9,0,5.3,1.7,7,3.9c0.9,1.1,1.2,1.7,2.1,1.7C154.4,232.5,158.7,228.8,158.7,223.7z M143,229.2c-1.5,0-2.6,1.2-2.6,2.1\
        c0,1.6,2.6,2.9,5.3,2.9c0.6,0,1-0.4,1-1.1C146.7,231.6,145.2,229.2,143,229.2z")
        path(d="M243.6,196.3c-0.8,0-1.3,0.1-1.6,1.4c-0.4,1.5-1.5,6.4-4.5,6.4c-1.3,0-2.6-0.9-2.6-2.5c0-1.3,0.8-2,2.4-3.2\
        c2.1-1.6,3.2-3.8,4.2-6.2c0.1-0.2,0.2-0.5,0.3-0.7c0.2,0.3,0.1,1,0.2,2c0.1,1.2,0.9,1.2,1.8,1.2h14.5c1.5,0,1.7-0.4,1.7-2\
        c0-2.6-0.1-3.2-0.2-3.6c-0.1-0.2-0.5-1.4-0.5-1.7c0-0.5,0.4-0.6,0.8-0.6c0.1,0,6,0.7,6,1.8c0,0.3-1.1,1.3-1.3,1.5\
        c-0.2,0.4-0.4,1.3-0.4,2.4c0,1.8,0.4,2.1,1.8,2.1h12c1.5,0,2.5-0.1,3.6-1.5c1-1.3,1.2-1.3,1.4-1.3c0.5,0,0.9,0.2,3.8,2.7\
        c0.9,0.7,1.3,1.1,1.3,2c0,1.7-1.3,1.8-3.2,2c-1.7,0.2-3.5,1.1-5.2,2.3c-0.4,0.3-1.2,0.9-1.5,0.9c-0.2,0-0.4-0.2-0.4-0.4\
        c0-0.3,0.4-0.8,0.8-1.4c1-1.7,1.2-2.6,1.2-2.9c0-0.9-0.9-0.9-1.4-0.9H243.6z M265.4,205.3c-0.5,0-1.1,0-1.1,0.7\
        c0,2.1,5.6,13.1,7.3,13.1c1.9,0,6.7-7.8,6.9-8.6c0.1-0.3,0.3-2,0.6-2c0.1,0,5.5,3.5,5.5,4.4c0,0.6-0.9,0.7-1.6,0.8\
        c-1.1,0.2-1.4,0.4-3.7,2.2c-0.9,0.7-5.1,3.3-5.9,3.9c-0.3,0.2-0.6,0.5-0.6,0.9c0,0.5,5.3,6.8,14.7,10.6c0.7,0.2,1.6,0.6,2,0.9\
        c-0.8,0.2-2.3,0.9-2.6,1.2c-0.6,0.5-1.6,1.7-2.1,2.3c-0.2,0.3-0.3,0.4-0.5,0.4c-0.3,0-6.1-3.4-11-9.1c-7.1-8.2-9-15.8-10-20.2\
        c-0.1-0.6-0.3-1.3-0.9-1.3c-0.4,0-0.6,0.2-2.7,2.1c-0.5,0.4-3,2.1-3,2.7c0,0.4,0.2,0.5,1.5,1.4c8.9,6.4,8.9,16.9,8.9,18.4\
        c0,7-3.3,11.3-7.9,11.3c-0.9,0-1-0.2-1.4-1.6c-0.4-1.4-2.4-2.2-5.4-3.3c-1-0.4-1.2-0.4-1.2-0.6c0-0.2,0.3-0.2,0.4-0.2\
        c0.5,0,2.8,0.3,3.3,0.4c1.2,0.1,3.1,0.2,3.9,0.2c1.2,0,2.1-0.1,3.1-2.1c0.5-1,0.9-2.7,0.9-5c0-2.3-0.4-4-1.2-4\
        c-0.2,0-1.8,1.5-2,1.7c-9.5,8.5-20.6,10.3-20.7,10.3c-0.1,0-0.2,0-0.2-0.1c0-0.1,1.5-0.9,1.8-1c7.5-4.3,12.8-7.3,19.2-14.7\
        c0.5-0.6,1.2-1.3,1.2-2.2c0-0.4-0.5-1.8-1.3-1.8c-0.2,0-0.4,0.1-2,1.4c-7.6,6.5-17.6,9.7-18.7,9.7c-0.1,0-0.2-0.1-0.2-0.1\
        c0-0.1,4.1-2.4,4.8-2.9c6-3.9,13.3-10,13.3-11.9c0-0.6-0.8-1.8-1.6-1.8c-0.3,0-2.3,1.3-2.6,1.6c-6,4-14.6,5.9-14.7,5.9\
        s-0.2-0.1-0.2-0.2c0-0.2,1.3-0.8,2.1-1.2c10-4.7,15.7-11,15.7-11.8c0-0.6-0.2-0.6-2-0.6c-4.2,0-6.4,0.1-7,0.1\
        c-0.2,0.1-1.1,0.2-1.3,0.2c-0.2,0-0.4-0.2-0.5-0.4l-1.2-1.4c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.1,0.1-0.2,0.2-0.2\
        c0.4,0,2.3,0.2,2.7,0.2c2.4,0.1,5.2,0.2,7.6,0.2H268c2.4,0,2.7,0,3.2-0.4c0.5-0.5,2.3-3,2.9-3c0.4,0,4.9,3.4,4.9,4.2\
        c0,0.9-0.6,0.9-2.2,0.9H265.4z")
    g.expo
      path(d="M96.4,258.1c0-2.2,0-2.5-1.3-2.6l-0.3,0c-0.1-0.1-0.1-0.5,0-0.5c0.9,0,1.6,0.1,2.5,0.1h3.9c1.3,0,2.6,0,2.8-0.1\
      c0.1,0.4,0.2,1.9,0.3,2.8c-0.1,0.1-0.4,0.2-0.5,0c-0.3-1-0.5-1.7-1.6-2c-0.4-0.1-1.1-0.1-2-0.1h-1.5c-0.6,0-0.6,0-0.6,0.8v4.2\
      c0,0.6,0.1,0.6,0.7,0.6h1.2c0.9,0,1.5,0,1.8-0.1c0.2-0.1,0.4-0.2,0.5-0.7l0.2-0.9c0.1-0.1,0.5-0.1,0.5,0c0,0.5-0.1,1.3-0.1,2.1\
      c0,0.7,0.1,1.5,0.1,2c-0.1,0.1-0.4,0.1-0.5,0l-0.2-0.8c-0.1-0.4-0.2-0.7-0.6-0.8c-0.3-0.1-0.8-0.1-1.6-0.1h-1.2\
      c-0.6,0-0.7,0-0.7,0.6v2.9c0,1.1,0.1,1.8,0.4,2.2c0.2,0.3,0.7,0.5,2.5,0.5c1.6,0,2.2-0.1,2.7-0.3c0.4-0.2,0.9-0.9,1.5-2\
      c0.1-0.1,0.4,0,0.5,0.1c-0.1,0.7-0.7,2.3-0.9,2.9c-1.9,0-3.7-0.1-5.6-0.1h-1.9c-0.9,0-1.6,0-2.8,0.1c-0.1-0.1-0.2-0.4,0-0.5\
      l0.7-0.1c1.2-0.1,1.3-0.4,1.3-2.6V258.1z")
      path(d="M123,268.2c0.1,0.1,0.1,0.4,0,0.5c-1,0-1.8-0.1-2.6-0.1c-0.9,0-1.9,0-2.7,0.1c-0.1-0.1-0.1-0.4,0-0.5l0.6-0.1\
      c0.5,0,0.7-0.1,0.7-0.3c0-0.1,0-0.3-0.5-0.9c-0.9-1.3-2.1-3-3-4.2c-0.6,0.7-2.1,3-2.9,4.4c-0.2,0.3-0.3,0.5-0.3,0.7\
      c0,0.1,0.2,0.2,0.6,0.3l0.6,0.1c0.1,0.1,0.1,0.4,0,0.5c-0.7,0-1.5-0.1-2.2-0.1s-1.5,0-2.1,0.1c-0.2-0.1-0.2-0.4-0.1-0.5l0.5-0.1\
      c1.1-0.1,1.8-1,2.5-1.9c0.2-0.3,1.7-2.2,2.8-3.8c0.1-0.2,0.2-0.4,0.2-0.4c0-0.1-0.1-0.2-0.2-0.5l-3.1-4.5c-0.7-1-1.1-1.4-1.8-1.6\
      l-0.7-0.1c-0.1-0.1-0.1-0.5,0-0.5c1,0,1.7,0.1,2.4,0.1c0.8,0,1.7,0,2.3-0.1c0.1,0.1,0.2,0.4,0,0.5l-0.6,0c-0.4,0-0.6,0.1-0.6,0.3\
      c0,0.2,0.2,0.5,0.6,1.1c0.7,1,1.9,2.9,2.7,3.8c0.5-0.7,2.4-3.6,2.8-4.2c0.2-0.3,0.3-0.5,0.3-0.7c0-0.1-0.3-0.2-0.7-0.3l-0.5-0.1\
      c-0.1-0.1-0.1-0.4,0-0.5c0.7,0,1.4,0.1,2.2,0.1c0.8,0,1.3,0,2-0.1c0.1,0.1,0.2,0.4,0,0.5l-0.5,0c-0.6,0.1-1.4,0.7-2.2,1.8\
      c-0.8,1-1.7,2.3-2.7,3.7c-0.1,0.2-0.2,0.3-0.2,0.4c0,0.1,0,0.2,0.3,0.5l3.5,5c0.7,1,1.2,1.3,1.9,1.4L123,268.2z")
      path(d="M129.4,265.5c0,2.2,0,2.5,1.4,2.6l0.6,0.1c0.1,0.1,0.1,0.5,0,0.5c-1.2,0-1.9-0.1-2.7-0.1c-0.9,0-1.6,0-2.5,0.1\
      c-0.1-0.1-0.2-0.4,0-0.5l0.4-0.1c1.2-0.2,1.2-0.4,1.2-2.6v-7.7c0-1.8,0-2.1-1-2.2l-0.7-0.1c-0.1-0.1-0.1-0.4,0-0.5\
      c1.1-0.1,2.4-0.2,4.1-0.2c1.7,0,3,0.2,4,0.8c1,0.6,1.7,1.7,1.7,3.1c0,1.9-1.2,2.9-2.1,3.3c-0.9,0.4-2,0.6-2.9,0.6\
      c-0.1-0.1-0.1-0.4,0-0.4c2.2-0.4,3.1-1.7,3.1-3.5c0-2-1.2-3.3-3.3-3.3c-1.1,0-1.1,0.1-1.1,0.7V265.5z")
      path(d="M139,261.9c0-4.2,3.1-7.3,7.4-7.3c4.8,0,7.2,3.5,7.2,7.1c0,4.2-3.2,7.3-7.2,7.3C141.8,269,139,265.7,139,261.9z\
      M151.5,262.4c0-3.4-1.5-7.1-5.5-7.1c-2.2,0-5,1.5-5,6c0,3.1,1.5,7.1,5.6,7.1C149.2,268.4,151.5,266.5,151.5,262.4z")
      path(d="M162.4,267.4c1,0,1.6-0.1,2-0.5c0.4-0.4,0.5-0.6,0.7-0.9c0.1-0.1,0.4,0,0.5,0.1c-0.3,1-0.6,2.1-1,2.5\
      c-0.9,0-1.7-0.1-2.7-0.1h-3c-1.2,0-1.8,0-2.3,0.1c0,0-0.1-0.1-0.1-0.3c0-0.1,0.1-0.1,0.2-0.2c1-0.6,1.6-1.3,3.2-3\
      c1.4-1.5,3-3.5,3-5.7c0-1.9-0.9-3-2.6-3c-1.2,0-2.1,0.9-2.7,2.1c-0.2,0.1-0.5,0-0.5-0.3c0.7-1.8,2.3-2.9,4.2-2.9\
      c2.1,0,3.4,1.4,3.4,3.4c0,1.3-0.6,2.7-2.2,4.6l-1.3,1.5c-1.7,2-1.9,2.3-1.9,2.4c0,0.1,0.1,0.2,0.6,0.2H162.4z")
      path(d="M177.8,262.2c0,3.3-1.3,6.8-4.3,6.8c-3,0-4.3-3.5-4.3-6.8c0-3.1,1.3-6.8,4.3-6.8C176.5,255.4,177.8,259,177.8,262.2z\
      M171,262.2c0,2,0.2,6.2,2.5,6.2c2.3,0,2.5-4.2,2.5-6.2s-0.2-6.2-2.5-6.2C171.2,256,171,260.2,171,262.2z")
      path(d="M187.3,267.4c1,0,1.6-0.1,2-0.5c0.4-0.4,0.5-0.6,0.7-0.9c0.1-0.1,0.4,0,0.5,0.1c-0.3,1-0.6,2.1-1,2.5\
      c-0.9,0-1.7-0.1-2.7-0.1h-3c-1.2,0-1.8,0-2.3,0.1c0,0-0.1-0.1-0.1-0.3c0-0.1,0.1-0.1,0.2-0.2c1-0.6,1.6-1.3,3.2-3\
      c1.4-1.5,3-3.5,3-5.7c0-1.9-0.9-3-2.6-3c-1.2,0-2.1,0.9-2.7,2.1c-0.2,0.1-0.5,0-0.5-0.3c0.7-1.8,2.3-2.9,4.2-2.9\
      c2.1,0,3.4,1.4,3.4,3.4c0,1.3-0.6,2.7-2.2,4.6l-1.3,1.5c-1.7,2-1.9,2.3-1.9,2.4c0,0.1,0.1,0.2,0.6,0.2H187.3z")
      path(d="M197.8,259.1c0-1.4-0.1-1.9-1-2l-1-0.1c-0.2-0.1-0.2-0.4,0-0.5c1.7-0.3,2.9-0.9,3.4-1.2c0.1,0,0.2,0,0.2,0.1\
      c0,0.4-0.1,1.4-0.1,2.6v8.1c0,1.6,0,2,0.9,2l0.9,0.1c0.1,0.1,0.1,0.5,0,0.5c-0.8,0-1.7-0.1-2.5-0.1c-0.7,0-1.7,0-2.5,0.1\
      c-0.1-0.1-0.2-0.4,0-0.5l0.9-0.1c0.9-0.1,0.9-0.4,0.9-2V259.1z")
