svg(version='1.1' id='レイヤー_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 576 25' xml:space='preserve' alt="かがわ家博2021")
    style(type='text/css').
        .s_white{fill:#CCCCCC;}
        .s_blue{fill:#12A4E6;}
    path.s_white(d='M151.9,23.9h-12.2v-0.8c1.8-3.8,4.2-6.3,6.9-9.1c1.9-1.9,4.2-4.4,4.2-7.7c0-1.6-0.6-4.2-4.1-4.2\
    c-2.7,0-4,1.4-4,2.4c0,0.3,0.2,0.7,0.3,0.9c0.4,0.8,0.4,1.2,0.4,1.4c0,1.1-0.7,1.5-1.5,1.5c-1.1,0-1.4-0.8-1.4-1.7\
    c0-2.8,2.6-5.4,6.7-5.4c3.7,0,6,2.2,6,5.6c0,2-0.7,3.2-2.3,5c-0.7,0.8-4.5,4.1-5.3,4.8c-0.4,0.4-2.7,2.7-4.1,5.3h6.1\
    c3.6,0,4.6-2.6,5.1-4.1l0.6,0.2L151.9,23.9z')
    path.s_white(d='M163.4,24.5c-4.3,0-6.9-5.4-6.9-11.6c0-6.1,2.5-11.6,6.9-11.6c4.3,0,6.9,5.4,6.9,11.6\
    C170.3,19,167.8,24.5,163.4,24.5z M163.4,2.1c-2.3,0-4.6,2.9-4.6,10.7c0,8.1,2.4,10.8,4.6,10.8c2.1,0,4.6-2.5,4.6-10.8\
    C168.1,4.6,165.6,2.1,163.4,2.1z')
    path.s_white(d='M185.7,23.9h-12.2v-0.8c1.8-3.8,4.2-6.3,6.9-9.1c1.9-1.9,4.2-4.4,4.2-7.7c0-1.6-0.6-4.2-4.1-4.2\
    c-2.7,0-4,1.4-4,2.4c0,0.3,0.2,0.7,0.3,0.9c0.4,0.8,0.4,1.2,0.4,1.4c0,1.1-0.7,1.5-1.5,1.5c-1.1,0-1.4-0.8-1.4-1.7\
    c0-2.8,2.6-5.4,6.7-5.4c3.7,0,6,2.2,6,5.6c0,2-0.7,3.2-2.3,5c-0.7,0.8-4.5,4.1-5.3,4.8c-0.4,0.4-2.7,2.7-4.1,5.3h6.1\
    c3.6,0,4.6-2.6,5.1-4.1l0.6,0.2L185.7,23.9z')
    path.s_white(d='M192.3,23.9v-1h1.1c2,0,3-0.9,3-3V6.4c0-2-0.7-2.8-3-2.8h-1V2.7h0.5c1.9,0,4.1-0.8,4.7-1.2\
    c0.2-0.1,0.5-0.3,0.6-0.3c0.2,0,0.2,0.2,0.2,0.3V20c0,1.7,0.7,3,2.7,3h1.4v1H192.3z')
    path.s_white(d='M6.7,19.3c0.8,0.6,2,1.4,2.5,1.8c0.5,0.3,0.8,0.4,1.1,0.4c0.7,0,1.2-0.6,1.3-0.9c1.7-3,2.3-8.3,2.3-9.4\
    c0-2-0.5-2.9-2-2.9c-0.8,0-1.8,0.2-2.5,0.4c-0.5,1.1-2.7,6.1-3.2,7.1c-1.2,2.3-2.4,4.9-3.7,6.9c-0.1,0.1-0.5,0.8-0.9,0.8\
    C1.2,23.4,1,23,1,22.3c0-0.9,0.3-1.3,1.1-2.2c0.3-0.4,1.9-3,3.1-5.1c1.1-2,2.5-5.4,2.8-6C7,9.3,4,10.3,3.5,10.7\
    c-0.6,0.4-0.7,0.5-1.1,0.5C1.5,11.2,0,9.9,0,8.2C0,8,0,7.9,0.1,7.8c0.4,0.7,1.2,1.5,2.1,1.5c0.4,0,0.9-0.1,1.9-0.4\
    c2.4-0.7,2.5-0.7,4.3-1.1C8.9,6.6,10,3.9,10,2.9c0-0.8-0.2-1.2-1-1.6C8.9,1.3,8,0.9,7.8,0.8C8.2,0.7,8.5,0.7,9,0.7\
    c2.1,0,3.1,1.3,3.1,1.9c0,0.3,0,0.3-0.6,1.3c-0.3,0.5-1.4,3.1-1.6,3.6c0.3-0.1,1.2-0.2,2.2-0.2c3.1,0,3.3,2.9,3.3,4.3\
    c0,1.8-1,8.7-3.2,11.1c-0.4,0.4-1.6,1.7-2.5,1.7c-0.7,0-0.7-0.4-0.7-0.9c0-0.5-0.1-1.1-2.5-3.9L6.7,19.3z M19,13.8\
    c2-0.1,4-0.1,4-1.5c0-0.7-1.4-2.8-5.9-5.8c3.9,0.6,6,3.2,6.4,3.8c1.2,1.5,1.7,3,1.7,4.3c0,0.6-0.1,1-0.5,1c-0.2,0-0.4-0.1-1-0.5\
    c-0.4-0.2-0.6-0.1-2.4-0.6C21,14.5,19.7,14.2,19,14V13.8z')
    path.s_white(d='M35,19.4c2.8,1.9,3.1,2.1,3.9,2.1c0.5,0,0.9-0.4,1.2-0.9c1.8-3.6,2.1-7.3,2.1-9.1c0-1.3,0-3.3-2-3.3\
    c-0.7,0-1.5,0.1-2.6,0.5c-2.5,6-4.9,11.9-6.8,14.6c-0.1,0.2-0.3,0.4-0.6,0.4c-0.4,0-0.7-0.8-0.7-1.3c0-0.5,0-0.5,1-2.1\
    c2.5-3.8,3.9-7.1,5.6-11.2c-2.3,0.8-3.3,1.2-4.4,1.8c-0.5,0.3-0.8,0.5-1.1,0.5c-0.6,0-2.4-0.9-2.4-2.7c0-0.3,0.1-0.4,0.2-0.7\
    c0.7,1.2,1.2,1.5,1.9,1.5c0.2,0,0.5,0,1.4-0.3C33,8.9,35,8.4,36.5,7.9c0.5-1.2,1.5-3.8,1.5-4.8c0-1.3-2-1.9-2.3-2\
    c0.3-0.2,0.5-0.4,1.2-0.4c1.1,0,3.3,0.8,3.3,1.9c0,0.4-0.2,0.7-0.3,0.9c-0.8,1.5-1.2,2.4-1.9,4.1c0.5-0.1,1.3-0.3,2.2-0.3\
    c3.5,0,3.5,3,3.5,4.6c0,2.8-0.9,9.5-4,11.9c-0.5,0.4-1.2,0.6-1.5,0.6c-0.4,0-0.4-0.1-0.7-1.2c-0.2-0.9-1.7-2.8-2.5-3.6L35,19.4z\
    M47.4,13.6c1.6-0.1,2.8-0.4,3.1-0.5c0.4-0.1,0.7-0.4,0.7-0.9c0-0.5-1.7-3.2-5.8-5.8c2.6-0.1,8.1,3.9,8.1,7.5c0,0.5-0.1,1.3-0.6,1.3\
    c-0.2,0-1.1-0.6-1.3-0.6C51,14.4,48,14,47.4,13.8V13.6z M47.4,3.5c1.4,0,4.8,0.9,4.8,2.6c0,0.2-0.1,0.7-0.6,0.7\
    c-0.3,0-1.2-0.9-1.4-1.1c-1.5-1.1-2.8-1.7-3.9-2.1C46.6,3.5,46.9,3.5,47.4,3.5z M50.4,1.2c1.3,0,4.6,0.4,4.6,2.5\
    c0,0.3-0.1,0.6-0.4,0.6c-0.3,0-1.4-1-1.6-1.2c-0.5-0.3-1.7-1.1-4.1-1.8C49.4,1.3,49.8,1.2,50.4,1.2z')
    path.s_white(d='M68.7,22c1.5-0.2,4.1-0.9,7.4-3.5c1.2-0.9,2.7-2.4,2.7-5.5c0-3.2-2.9-4.6-4.7-4.6c-2.7,0-6.8,2-9.6,4.7\
    c0,1.2,0.4,6.5,0.4,7.6c0,1.2-0.4,3.1-1.2,3.1c-0.4,0-0.5-0.2-0.6-1.1c-0.2-1.3-0.3-1.8-1.2-3.3l0.1-0.1c0.2,0.1,1.3,0.8,1.5,0.8\
    c0.2,0,0.3-0.3,0.3-0.5v-0.1c0-1.5-0.1-4-0.2-5.5c-1.1,1.1-1.3,1.4-4.5,5.9c-0.4,0.6-0.5,0.7-0.8,0.7c-0.5,0-0.6-0.7-0.6-1.1\
    c0-1,0.3-1.3,0.9-1.8c1-0.8,3.6-4.4,5-7.6c0-0.4,0.1-1.8,0.1-2.1c-0.6,0-2.2,0.9-2.8,1.4c-0.7,0.5-0.9,0.6-1.3,0.6\
    c-1.1,0-2-1.9-2-2.8c0-0.2,0-0.3,0.1-0.5c0.4,0.8,1.3,1.3,1.9,1.3c0.8,0,2.7-0.6,4.3-1.5c0-0.6,0.3-3.3,0.3-3.8\
    c0-1.4-0.2-1.9-1.7-2.7c0.2-0.1,0.4-0.2,0.9-0.2C64.8,0.2,66,1.4,66,2c0,0.2,0,0.3-0.4,1.1c-0.2,0.6-0.3,1.1-0.6,3.1\
    C65.3,6.1,65.3,6,65.6,6c0.3,0,1.7,0.4,1.7,0.9c0,0.4-0.8,1.2-1.2,1.6c-0.6,0.6-1.2,1.5-1.7,2.6c0,0.6,0,0.8,0,1.2\
    c3.3-3,6.7-4.9,10-4.9c3.5,0,6.1,2.6,6.1,6c0,4-3.2,6.2-5.4,7.3c-3.2,1.6-5.6,1.6-6.5,1.6V22z')
    path.s_blue(d='M106.2,22.5c-7.1-3.6-9-10.9-9.5-14c-0.7,0.5-1.4,1-2.5,1.7c1.2,1,3.9,3.9,3.9,9.1c0,3.1-0.7,5.1-4.3,5.4\
    c-0.1-1-1.1-2-2-2.3l0.1-0.2c0.6,0.1,1.6,0.4,2.3,0.4c0.5,0,1.1-0.1,1.5-0.5c0.9-0.9,1-2.7,1-3.6c0-1.3-0.1-2-0.2-2.5\
    c-3.3,3.5-7.3,6.5-12,7.8v-0.2c4.1-1.7,9-6.2,11.6-9.4c-0.3-0.9-0.5-1.3-0.7-1.6c-3.3,3.1-7.1,5.6-11.5,6.7l0-0.2\
    c4-2,7.7-4.4,10.6-7.7c-0.4-0.5-0.5-0.6-0.7-0.9c-2.4,1.3-4.4,2.1-6,2.6c-1.2,0.4-2.4,0.6-3.6,0.7v-0.2c4.1-1.3,8.7-3.9,10.9-5.7H93\
    c-1,0-2.5,0.1-3.5,0.3L88.9,7c2.1,0.2,4,0.2,4.5,0.2h6.2l0.8-0.9c0.2-0.3,0.3-0.4,0.4-0.4s0.4,0.2,0.5,0.3l1.2,1\
    c0.1,0.1,0.3,0.2,0.3,0.4c0,0.2-0.2,0.3-0.4,0.3h-4.9c-0.2,0.2-0.4,0.3-0.6,0.5c0.7,3,1.7,4.7,2.1,5.4c1-0.7,3.1-2.7,3.7-3.5\
    c0.4-0.5,0.4-0.7,0.5-1.1l1.8,1.2c0.2,0.2,0.5,0.3,0.5,0.5c0,0.1,0,0.3-0.3,0.4c-0.1,0-0.8,0-0.9,0.1c-1.8,1.1-3.3,2-5.1,2.7\
    c1.4,2.3,4.2,6,9.7,6.7v0.2C108,21.1,106.9,21.5,106.2,22.5z M107.6,5.3c-0.1,0-0.9-0.1-1.1-0.1c-0.2,0.1-1.1,0.6-1.3,0.8\
    c-0.2,0.1-1,0.7-1.2,0.8l-0.2-0.1c0.4-0.8,1-2.3,1.1-2.8H88.3c0,1.9-0.8,3.5-2.2,3.5c-0.4,0-1-0.2-1-0.9s0.5-1,0.7-1.1\
    c0.9-0.5,1.8-0.9,2.1-2.9h0.2c0.1,0.4,0.1,0.4,0.2,0.7h7.4c0-0.9-0.1-2.4-0.5-3.2l2.3,0.5c0.3,0.1,0.5,0.1,0.5,0.3\
    c0,0.2-0.4,0.5-0.9,0.9c-0.1,1.1-0.1,1.2-0.1,1.6h7.3l1.1-0.5c0.3-0.2,0.4-0.2,0.5-0.2c0.2,0,0.4,0.2,0.5,0.3l1.3,1.4\
    c0.1,0.1,0.3,0.4,0.3,0.6C108,5,108,5.3,107.6,5.3z')
    path.s_white(d='M118,8.5h-3.1c0,2.4,0.1,12.8,0.1,14.9c0,1.4-1.1,1.4-1.2,1.4c-0.7,0-0.7-0.5-0.7-0.7c0-0.1,0.1-3.3,0.1-4\
    c0.2-5.3,0.1-10.4,0.1-11.6c-0.6,0-2.2,0.1-3.3,0.3l-0.6-1.2c1.2,0.1,3.4,0.2,3.9,0.2c0-2,0-4.9-0.1-6c-0.1-0.6-0.2-1-0.3-1.4\
    l2.2,0.7c0.3,0.1,0.5,0.2,0.5,0.4s-0.3,0.5-0.7,0.8v2.7v2.5v0.2h1.2l0.6-0.7c0.2-0.2,0.3-0.4,0.4-0.4c0.1,0,0.2,0.1,0.4,0.4l0.7,0.7\
    c0.2,0.3,0.2,0.3,0.2,0.4C118.4,8.4,118.1,8.5,118,8.5z M135,18.6h-5.8c0,0.4,0.1,3.4,0.1,3.6c0,1.9-0.5,2.2-2.4,2.8\
    c-0.4-1.2-1.4-1.8-2.5-2.1l0.1-0.2c0.9,0.2,1.6,0.2,1.9,0.2c1.2,0,1.4-0.4,1.5-0.8c0-0.1,0-3.2,0-3.6H121c-1,0-2.5,0.1-3.5,0.3\
    l-0.7-1.2c1.5,0.1,3.1,0.2,4.6,0.2h6.5c-0.1-1.5-0.1-1.7-0.3-2.6l1.9,0.6c0.2,0.1,0.5,0.1,0.5,0.4c0,0.2-0.1,0.2-0.7,0.6v1h3.2\
    l0.7-0.9c0.2-0.3,0.3-0.4,0.4-0.4s0.1,0,0.5,0.3l1.1,0.9c0.2,0.3,0.2,0.3,0.2,0.4C135.4,18.6,135.1,18.6,135,18.6z M134.4,5.1h-8.3\
    v2.2h4.1l0.4-0.4c0.1-0.1,0.4-0.4,0.4-0.4c0.1,0,0.2,0.1,0.4,0.2l0.8,0.6c0.2,0.1,0.3,0.2,0.3,0.4c0,0.4-0.7,0.6-0.8,0.7\
    c0,1,0.2,5.4,0.2,6.3c0,0.2,0,1.1-1,1.1c-0.1,0-0.7-0.1-0.7-0.5c0-0.1,0-0.6,0-0.6h-9.6c0,0.5,0,1.3-0.9,1.3c-0.4,0-0.7-0.2-0.7-0.5\
    c0-0.5,0.2-4.7,0.2-5.7c0-0.1,0-2.6-0.2-3.5l2,0.9h3.6V5.1h-2.5c-1,0-2.5,0.1-3.5,0.3l-0.6-1.2c2.1,0.2,4,0.2,4.5,0.2h2.1\
    c0-3,0-3.4-0.4-4.4l2.2,0.6c0.1,0.1,0.4,0.1,0.4,0.4c0,0.2-0.5,0.5-0.8,0.6v2.8h5.8l0.9-0.9c0.2-0.2,0.3-0.3,0.4-0.3\
    c0.2,0,0.4,0.2,0.4,0.3l0.9,0.9c0.2,0.2,0.3,0.3,0.3,0.4C134.8,5.1,134.6,5.1,134.4,5.1z M124.6,8h-3.9v2.7h3.9V8z M124.6,11.3h-3.9\
    V14h3.9V11.3z M130.3,8h-4.2v2.7h4.2V8z M130.3,11.3h-4.2V14h4.2V11.3z')
    ellipse.s_blue(cx='129.8' cy='1.8' rx='1.6' ry='1.5')
    ellipse.s_blue(cx='121.6' cy='21.6' rx='1.8' ry='1.8')
    path.s_white(d='M244,17.4C244,17.4,243.9,17.5,244,17.4l-1.8,0.1c-0.1,0-0.3,0-0.5,0c-0.2,0-0.6-0.3-1.1-1\
    c-0.5-0.7-0.8-1.1-1-1.3l-2.4-2.9l-0.5,0.5v3.5c0,0.3,0,0.6,0.1,0.7c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.1,0.5,0.1,0.9,0.1c0,0,0,0,0,0.1\
    c0,0.1,0,0.1,0,0.1c-0.3,0-0.6,0-0.8,0l-1.1,0l-1.1,0c-0.2,0-0.5,0-0.8,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.9-0.1\
    c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7V9c0-0.3,0-0.5-0.1-0.7c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1\
    c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.8,0c0.5,0,0.8,0,1.1,0c0.3,0,0.7,0,1.1,0l0.8,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1\
    c-0.4,0-0.7,0-0.8,0.1c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.2-0.1,0.4-0.1,0.7v3.3l3.3-3.3c0.3-0.4,0.5-0.6,0.5-0.8\
    c0-0.2-0.3-0.4-0.9-0.4c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.7,0c0.4,0,0.8,0,1.2,0c0.4,0,0.7,0,1.1,0l0.6,0c0,0,0,0,0,0.1\
    c0,0.1,0,0.1,0,0.1c-0.4,0-0.9,0.1-1.4,0.3c-0.5,0.2-1,0.5-1.4,0.9l-2.4,2.3l2.3,2.9c0.8,1,1.3,1.7,1.7,2.1c0.4,0.4,0.7,0.6,0.9,0.7\
    C243.2,17.3,243.5,17.3,244,17.4C243.9,17.3,244,17.3,244,17.4z')
    path.s_white(d='M259.4,17.4C259.4,17.4,259.3,17.5,259.4,17.4c-0.3,0.1-0.6,0.1-1,0.1c-0.4,0-0.7,0-0.9,0c-0.2,0-0.5,0-0.9,0\
    c-0.3,0-0.6,0-0.8,0c0,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.4,0,0.7,0,0.8-0.1c0.2-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.4-0.2-0.7\
    l-1.4-2.8h-3.8l-0.9,2.1c-0.1,0.3-0.2,0.6-0.2,0.9c0,0.7,0.5,1,1.5,1c0.1,0,0.1,0,0.1,0.1c0,0.1,0,0.1-0.1,0.1c-0.2,0-0.5,0-0.8,0\
    c-0.4,0-0.8,0-1,0c-0.3,0-0.6,0-1,0c-0.3,0-0.6,0-0.8,0c-0.1,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.3,0,0.5-0.1,0.8-0.2\
    c0.2-0.1,0.4-0.3,0.6-0.6c0.2-0.3,0.4-0.7,0.6-1.2l3.3-7.7c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0l3.8,7.7c0.4,0.8,0.7,1.3,0.9,1.5\
    C258.7,17.2,259,17.3,259.4,17.4C259.3,17.3,259.4,17.3,259.4,17.4z M251.6,13h3.5l-1.8-3.8L251.6,13z')
    path.s_white(d='M266,17c-0.9-0.5-1.5-1.1-2-1.8c-0.5-0.8-0.7-1.6-0.7-2.6c0-1,0.3-1.9,0.8-2.6c0.5-0.8,1.2-1.3,2.1-1.8\
    c0.9-0.4,1.9-0.6,3.1-0.6c0.6,0,1.1,0.1,1.6,0.1c0.5,0.1,0.9,0.2,1.2,0.4c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0.1,0,0.2l0.2,1.9\
    c0,0,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.1,0c-0.2-0.8-0.6-1.4-1.2-1.9c-0.5-0.5-1.3-0.7-2.2-0.7c-0.8,0-1.5,0.2-2.2,0.5\
    c-0.6,0.4-1.2,0.9-1.5,1.6c-0.4,0.7-0.6,1.5-0.6,2.4c0,0.9,0.2,1.7,0.6,2.5c0.4,0.8,0.9,1.4,1.6,1.9c0.7,0.5,1.6,0.7,2.6,0.7\
    c0.7,0,1.2-0.1,1.5-0.4c0.3-0.3,0.4-0.8,0.4-1.5c0-0.5,0-0.9-0.1-1.1c-0.1-0.2-0.2-0.4-0.4-0.4c-0.2-0.1-0.6-0.1-1.2-0.1\
    c-0.1,0-0.1,0-0.1-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0.1,0c0.8,0.1,1.5,0.1,2,0.1c0.5,0,1,0,1.6,0c0,0,0.1,0,0.1,0.1c0,0.1,0,0.1-0.1,0.1\
    c-0.3,0-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.2-0.2,0.5c0,0.2,0,0.7,0,1.2c0,0.5,0,0.8,0.1,1s0.1,0.3,0.1,0.4c0,0.1,0,0.1,0,0.1\
    c0,0-0.1,0-0.1,0.1c-1.3,0.3-2.4,0.4-3.4,0.4C267.9,17.7,266.8,17.4,266,17z')
    path.s_white(d='M288.2,17.4C288.2,17.4,288.2,17.5,288.2,17.4c-0.3,0.1-0.6,0.1-1,0.1c-0.4,0-0.7,0-0.9,0c-0.2,0-0.5,0-0.9,0\
    c-0.3,0-0.6,0-0.8,0c0,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.4,0,0.7,0,0.8-0.1c0.2-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.4-0.2-0.7\
    l-1.4-2.8h-3.8l-0.9,2.1c-0.1,0.3-0.2,0.6-0.2,0.9c0,0.7,0.5,1,1.5,1c0.1,0,0.1,0,0.1,0.1c0,0.1,0,0.1-0.1,0.1c-0.2,0-0.5,0-0.8,0\
    c-0.4,0-0.8,0-1,0c-0.3,0-0.6,0-1,0c-0.3,0-0.6,0-0.8,0c-0.1,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.3,0,0.5-0.1,0.8-0.2\
    s0.4-0.3,0.6-0.6c0.2-0.3,0.4-0.7,0.6-1.2l3.3-7.7c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0l3.8,7.7c0.4,0.8,0.7,1.3,0.9,1.5\
    C287.5,17.2,287.8,17.3,288.2,17.4C288.2,17.3,288.2,17.3,288.2,17.4z M280.4,13h3.5l-1.8-3.8L280.4,13z')
    path.s_white(d='M305.2,7.8C305.2,7.9,305.2,7.9,305.2,7.8c-0.8,0.1-1.3,0.5-1.7,1.4l-3.3,8.2c0,0-0.1,0.1-0.2,0.1\
    c-0.1,0-0.1,0-0.2-0.1l-2.1-4.4l-1.8,4.4c0,0-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1L291.8,9c-0.2-0.4-0.4-0.7-0.6-0.9\
    c-0.2-0.2-0.4-0.2-0.8-0.2c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.5,0c0.3,0,0.5,0,0.7,0c0.4,0,0.9,0,1.3,0c0.2,0,0.4,0,0.6,0\
    c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.5,0-0.7,0.1c-0.1,0.1-0.2,0.2-0.2,0.4c0,0.2,0.1,0.4,0.2,0.7l3.3,6.9l1.3-3.3L295.9,9\
    c-0.2-0.4-0.4-0.7-0.6-0.8c-0.2-0.2-0.4-0.3-0.7-0.3c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.5,0c0.3,0,0.5,0,0.7,0c0.4,0,0.7,0,1,0\
    c0.1,0,0.2,0,0.4,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.2,0-0.3,0-0.4,0.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0.1,0.4,0.3,0.9l1.1,2.3\
    l0.9-2.1c0.1-0.3,0.2-0.6,0.2-0.8c0-0.3-0.2-0.5-0.6-0.5c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.3,0c0.2,0,0.4,0,0.7,0\
    c0.2,0,0.4,0,0.7,0l0.6,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.7,0.1-0.9,0.3c-0.3,0.2-0.5,0.5-0.7,1l-1,2.5l2,4.2l2.7-6.7\
    c0.1-0.2,0.1-0.4,0.1-0.6c0-0.5-0.4-0.7-1.1-0.7c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.7,0c0.4,0,0.7,0,1,0c0.2,0,0.5,0,0.7,0\
    L305.2,7.8C305.2,7.7,305.2,7.8,305.2,7.8z')
    path.s_white(d='M318.5,17.4C318.5,17.4,318.5,17.5,318.5,17.4c-0.3,0.1-0.6,0.1-1,0.1c-0.4,0-0.7,0-0.9,0c-0.2,0-0.5,0-0.9,0\
    c-0.3,0-0.6,0-0.8,0c0,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.4,0,0.7,0,0.8-0.1c0.2-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.4-0.2-0.7\
    l-1.4-2.8h-3.8l-0.9,2.1c-0.1,0.3-0.2,0.6-0.2,0.9c0,0.7,0.5,1,1.5,1c0.1,0,0.1,0,0.1,0.1c0,0.1,0,0.1-0.1,0.1c-0.2,0-0.5,0-0.8,0\
    c-0.4,0-0.7,0-1,0c-0.3,0-0.6,0-1,0c-0.3,0-0.6,0-0.8,0c-0.1,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0.1-0.1c0.3,0,0.5-0.1,0.8-0.2\
    s0.4-0.3,0.6-0.6c0.2-0.3,0.4-0.7,0.6-1.2l3.3-7.7c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0l3.8,7.7c0.4,0.8,0.7,1.3,0.9,1.5\
    C317.8,17.2,318.1,17.3,318.5,17.4C318.5,17.3,318.5,17.3,318.5,17.4z M310.7,13h3.5l-1.8-3.8L310.7,13z')
    path.s_white(d='M329.7,17c-0.9-0.5-1.5-1.1-2-1.8c-0.5-0.8-0.7-1.6-0.7-2.6c0-1,0.3-1.9,0.8-2.6c0.5-0.8,1.2-1.3,2.1-1.8\
    s1.9-0.6,3.1-0.6c0.6,0,1.1,0.1,1.6,0.1c0.5,0.1,0.9,0.2,1.2,0.4c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0.1,0,0.2l0.2,1.9c0,0,0,0.1-0.1,0.1\
    c-0.1,0-0.1,0-0.1,0c-0.2-0.8-0.6-1.4-1.2-1.9c-0.6-0.5-1.3-0.7-2.2-0.7c-0.8,0-1.5,0.2-2.2,0.5c-0.6,0.4-1.2,0.9-1.5,1.6\
    c-0.4,0.7-0.6,1.5-0.6,2.4c0,0.9,0.2,1.7,0.6,2.5c0.4,0.8,0.9,1.4,1.6,1.9c0.7,0.5,1.6,0.7,2.6,0.7c0.7,0,1.2-0.1,1.5-0.4\
    c0.3-0.3,0.4-0.8,0.4-1.5c0-0.5,0-0.9-0.1-1.1c-0.1-0.2-0.2-0.4-0.4-0.4c-0.2-0.1-0.6-0.1-1.2-0.1c-0.1,0-0.1,0-0.1-0.1\
    c0,0,0-0.1,0-0.1c0,0,0,0,0.1,0c0.8,0.1,1.5,0.1,2,0.1c0.5,0,1,0,1.6,0c0,0,0.1,0,0.1,0.1c0,0.1,0,0.1-0.1,0.1c-0.3,0-0.4,0-0.5,0.1\
    c-0.1,0.1-0.2,0.2-0.2,0.5c0,0.2,0,0.7,0,1.2c0,0.5,0,0.8,0.1,1s0.1,0.3,0.1,0.4c0,0.1,0,0.1,0,0.1c0,0-0.1,0-0.1,0.1\
    c-1.3,0.3-2.4,0.4-3.4,0.4C331.6,17.7,330.6,17.4,329.7,17z')
    path.s_white(d='M345,17c-0.8-0.5-1.4-1.1-1.8-1.8c-0.4-0.8-0.6-1.6-0.6-2.5c0-1.1,0.3-2,0.8-2.8c0.5-0.8,1.3-1.3,2.1-1.7\
    c0.9-0.4,1.7-0.6,2.6-0.6c1,0,1.9,0.2,2.6,0.7c0.8,0.5,1.3,1.1,1.7,1.8c0.4,0.8,0.6,1.6,0.6,2.4c0,0.9-0.3,1.8-0.8,2.6\
    s-1.2,1.4-2,1.9c-0.8,0.5-1.8,0.7-2.8,0.7C346.6,17.7,345.7,17.4,345,17z M350,16.8c0.6-0.3,1-0.8,1.3-1.5c0.3-0.7,0.5-1.4,0.5-2.4\
    c0-1-0.2-1.8-0.5-2.6c-0.4-0.8-0.9-1.4-1.5-1.8s-1.4-0.6-2.3-0.6c-1.1,0-2,0.4-2.6,1.1c-0.6,0.7-1,1.7-1,3c0,1,0.2,1.9,0.5,2.7\
    c0.4,0.8,0.9,1.4,1.5,1.9c0.6,0.5,1.4,0.7,2.2,0.7C348.8,17.3,349.5,17.2,350,16.8z')
    path.s_white(d='M361.3,17c-0.8-0.5-1.4-1.1-1.8-1.8c-0.4-0.8-0.6-1.6-0.6-2.5c0-1.1,0.3-2,0.8-2.8c0.6-0.8,1.3-1.3,2.1-1.7\
    c0.9-0.4,1.7-0.6,2.6-0.6c1,0,1.9,0.2,2.6,0.7c0.8,0.5,1.3,1.1,1.7,1.8c0.4,0.8,0.6,1.6,0.6,2.4c0,0.9-0.3,1.8-0.8,2.6\
    s-1.2,1.4-2,1.9c-0.9,0.5-1.8,0.7-2.8,0.7C362.9,17.7,362,17.4,361.3,17z M366.3,16.8c0.6-0.3,1-0.8,1.3-1.5\
    c0.3-0.7,0.5-1.4,0.5-2.4c0-1-0.2-1.8-0.5-2.6c-0.4-0.8-0.9-1.4-1.5-1.8c-0.7-0.4-1.4-0.6-2.3-0.6c-1.1,0-2,0.4-2.6,1.1\
    c-0.6,0.7-1,1.7-1,3c0,1,0.2,1.9,0.5,2.7s0.9,1.4,1.5,1.9c0.6,0.5,1.4,0.7,2.2,0.7C365.1,17.3,365.8,17.2,366.3,16.8z')
    path.s_white(d='M378.2,17.5c-0.2,0-0.4,0-0.6,0c-0.2,0-0.5,0-0.8,0l-1.1,0c-0.2,0-0.5,0-0.8,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1\
    c0.4,0,0.7,0,0.9-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7V9c0-0.3,0-0.5-0.1-0.7c-0.1-0.1-0.2-0.2-0.4-0.3\
    c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.8,0c0.5,0,0.8,0,1.1,0c0.4,0,0.8,0,1.2,0c0.5,0,0.8,0,1,0\
    c1.1,0,2.1,0.2,2.9,0.6c0.8,0.4,1.5,1,2,1.7c0.5,0.7,0.7,1.5,0.7,2.4c0,1-0.2,1.9-0.7,2.7c-0.5,0.8-1.1,1.4-1.9,1.8\
    c-0.8,0.4-1.7,0.6-2.7,0.6C378.9,17.5,378.6,17.5,378.2,17.5z M381.3,16.8c0.6-0.3,1.1-0.9,1.5-1.5c0.4-0.7,0.5-1.5,0.5-2.4\
    c0-0.9-0.2-1.7-0.5-2.5c-0.3-0.7-0.8-1.3-1.4-1.7C380.7,8.2,380,8,379.2,8c-0.5,0-0.8,0-1,0.1c-0.2,0.1-0.4,0.2-0.5,0.3\
    c-0.1,0.2-0.2,0.4-0.2,0.7v7c0,0.5,0.1,0.8,0.3,1c0.2,0.2,0.7,0.3,1.3,0.3C379.9,17.3,380.6,17.1,381.3,16.8z')
    path.s_white(d='M406,17.4C406,17.4,406,17.5,406,17.4c-0.4,0.1-0.6,0.1-0.8,0.1l-1.1,0l-1.2,0c-0.2,0-0.4,0-0.7,0\
    c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.9-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7v-3.6h-5.9v3.6\
    c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0.1,0.5,0.1,0.9,0.1c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.6,0-0.8,0l-1.2,0\
    l-1.1,0c-0.2,0-0.5,0-0.8,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.9-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7\
    V9c0-0.3,0-0.5-0.1-0.7c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.8,0\
    c0.4,0,0.8,0,1.1,0c0.3,0,0.7,0,1.2,0l0.8,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.4,0-0.7,0-0.9,0.1c-0.2,0.1-0.3,0.2-0.4,0.3\
    c-0.1,0.2-0.1,0.4-0.1,0.7v3.2h5.9V9c0-0.3,0-0.5-0.1-0.7c-0.1-0.2-0.2-0.3-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1\
    c0-0.1,0-0.1,0-0.1l0.7,0c0.5,0,0.9,0,1.2,0c0.3,0,0.7,0,1.1,0l0.8,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.4,0-0.7,0-0.9,0.1\
    c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.1,0.4-0.1,0.7v7.2c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.4,0.3\
    C405.2,17.3,405.5,17.3,406,17.4C406,17.3,406,17.3,406,17.4z')
    path.s_white(d='M413.9,17c-0.8-0.5-1.4-1.1-1.8-1.8c-0.4-0.8-0.6-1.6-0.6-2.5c0-1.1,0.3-2,0.8-2.8c0.6-0.8,1.3-1.3,2.1-1.7\
    c0.9-0.4,1.7-0.6,2.6-0.6c1,0,1.9,0.2,2.6,0.7c0.8,0.5,1.3,1.1,1.7,1.8c0.4,0.8,0.6,1.6,0.6,2.4c0,0.9-0.3,1.8-0.8,2.6\
    c-0.5,0.8-1.2,1.4-2,1.9c-0.9,0.5-1.8,0.7-2.8,0.7C415.5,17.7,414.6,17.4,413.9,17z M418.9,16.8c0.6-0.3,1-0.8,1.3-1.5\
    c0.3-0.7,0.5-1.4,0.5-2.4c0-1-0.2-1.8-0.5-2.6c-0.4-0.8-0.9-1.4-1.5-1.8c-0.7-0.4-1.4-0.6-2.3-0.6c-1.1,0-2,0.4-2.6,1.1\
    c-0.6,0.7-1,1.7-1,3c0,1,0.2,1.9,0.5,2.7c0.4,0.8,0.9,1.4,1.5,1.9c0.6,0.5,1.4,0.7,2.2,0.7C417.7,17.3,418.4,17.2,418.9,16.8z')
    path.s_white(d='M435.7,8.3c-0.2-0.3-0.6-0.4-1-0.4c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.7,0c0.4,0,0.7,0,0.9,0c0.2,0,0.5,0,0.8,0\
    l0.7,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.4,0-0.7,0.1-0.9,0.4c-0.2,0.3-0.3,0.7-0.3,1.2v4.4c0,1.2-0.3,2.1-1,2.8\
    c-0.7,0.7-1.6,1-2.8,1c-0.8,0-1.5-0.2-2-0.5c-0.6-0.3-1-0.7-1.4-1.3c-0.3-0.6-0.5-1.2-0.5-2V9c0-0.3,0-0.5-0.1-0.7\
    c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.8,0c0.5,0,0.8,0,1.1,0c0.3,0,0.7,0,1.1,0\
    l0.7,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.4,0-0.7,0-0.8,0.1c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.2-0.1,0.4-0.1,0.7v4.4\
    c0,1.2,0.3,2.2,0.8,2.8c0.6,0.6,1.3,1,2.3,1c0.9,0,1.7-0.3,2.2-0.9c0.5-0.6,0.8-1.4,0.8-2.4V9.5C436,9,435.9,8.6,435.7,8.3z')
    path.s_white(d='M444.9,10.6c0.2,0.3,0.4,0.6,0.7,0.8c0.3,0.2,0.7,0.5,1.2,0.8c0.5,0.3,1,0.6,1.3,0.8c0.3,0.2,0.6,0.5,0.8,0.9\
    s0.3,0.7,0.3,1.2c0,0.5-0.1,1-0.4,1.4c-0.3,0.4-0.6,0.7-1.1,1c-0.5,0.2-1.1,0.4-1.8,0.4c-0.9,0-1.6-0.2-2.3-0.6\
    c-0.1,0-0.1-0.1-0.1-0.1c0,0,0-0.1,0-0.2l-0.2-2.2c0,0,0-0.1,0.1-0.1c0.1,0,0.1,0,0.1,0c0.2,0.8,0.5,1.4,1,2\
    c0.5,0.5,1.1,0.8,1.8,0.8c0.5,0,1-0.1,1.3-0.4c0.3-0.3,0.5-0.7,0.5-1.3c0-0.5-0.1-0.9-0.3-1.2c-0.2-0.3-0.5-0.6-0.8-0.9\
    c-0.3-0.2-0.7-0.5-1.2-0.8c-0.5-0.3-0.9-0.6-1.2-0.8c-0.3-0.2-0.5-0.5-0.7-0.8c-0.2-0.3-0.3-0.7-0.3-1.2c0-0.5,0.1-1,0.4-1.3\
    s0.7-0.6,1.1-0.8c0.5-0.2,1-0.3,1.5-0.3c0.7,0,1.3,0.1,1.9,0.4c0.2,0.1,0.2,0.2,0.2,0.3l0.1,1.9c0,0,0,0.1-0.1,0.1\
    c-0.1,0-0.1,0-0.1,0c-0.1-0.6-0.3-1.1-0.7-1.6c-0.4-0.5-0.9-0.7-1.6-0.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.3-0.4,0.7-0.4,1.2\
    C444.6,9.9,444.7,10.3,444.9,10.6z')
    path.s_white(d='M461.9,15.1C462,15.1,462,15.1,461.9,15.1c0,0.7,0,1.4,0,2.1c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1H455\
    c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.9-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7V9c0-0.3,0-0.5-0.1-0.7\
    c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1h6.4c0.1,0,0.1,0,0.1,0.1l0,1.9c0,0,0,0-0.1,0\
    c-0.1,0-0.1,0-0.1,0c-0.1-0.6-0.3-1-0.6-1.3c-0.3-0.3-0.8-0.5-1.3-0.5h-0.9c-0.5,0-0.8,0.1-1,0.2c-0.2,0.1-0.2,0.4-0.2,0.8v3.2h1.8\
    c0.5,0,0.9-0.1,1.1-0.3c0.2-0.2,0.4-0.5,0.4-0.9c0,0,0,0,0.1,0c0.1,0,0.1,0,0.1,0l0,1.3c0,0.3,0,0.5,0,0.7l0,0.8c0,0,0,0-0.1,0\
    c-0.1,0-0.1,0-0.1,0c0-0.5-0.1-0.8-0.4-1c-0.2-0.2-0.6-0.3-1.2-0.3h-1.8v3.6c0,0.3,0,0.5,0.1,0.6c0.1,0.1,0.2,0.2,0.3,0.3\
    c0.2,0.1,0.4,0.1,0.7,0.1h1.1c0.6,0,1-0.2,1.4-0.5C461.5,16.3,461.7,15.8,461.9,15.1C461.8,15.1,461.9,15.1,461.9,15.1z')
    path.s_white(d='M480.5,15.1C480.6,15.1,480.6,15.1,480.5,15.1c0,0.7,0,1.4,0,2.1c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1h-6.7\
    c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.9-0.1c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.1-0.4,0.1-0.7V9c0-0.3,0-0.5-0.1-0.7\
    c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.9-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1h6.4c0.1,0,0.1,0,0.1,0.1l0,1.9c0,0,0,0-0.1,0\
    s-0.1,0-0.1,0c-0.1-0.6-0.3-1-0.6-1.3c-0.3-0.3-0.8-0.5-1.3-0.5h-0.9c-0.5,0-0.8,0.1-1,0.2c-0.2,0.1-0.2,0.4-0.2,0.8v3.2h1.8\
    c0.5,0,0.9-0.1,1.1-0.3c0.2-0.2,0.4-0.5,0.4-0.9c0,0,0,0,0.1,0s0.1,0,0.1,0l0,1.3c0,0.3,0,0.5,0,0.7l0,0.8c0,0,0,0-0.1,0\
    c-0.1,0-0.1,0-0.1,0c0-0.5-0.1-0.8-0.4-1c-0.2-0.2-0.6-0.3-1.2-0.3H476v3.6c0,0.3,0,0.5,0.1,0.6c0.1,0.1,0.2,0.2,0.3,0.3\
    c0.2,0.1,0.4,0.1,0.7,0.1h1.1c0.6,0,1-0.2,1.4-0.5C480,16.3,480.3,15.8,480.5,15.1C480.4,15.1,480.5,15.1,480.5,15.1z')
    path.s_white(d='M495.7,17.4C495.7,17.4,495.7,17.5,495.7,17.4c-0.3,0.1-0.5,0.1-0.7,0.1l-0.9,0l-1.2,0c-0.2,0-0.5,0-0.8,0\
    c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.3,0,0.5,0,0.6-0.1c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.2-0.1-0.3l-2.4-3.5l-1.9,2.6\
    c-0.3,0.4-0.4,0.7-0.4,1c0,0.4,0.3,0.6,0.9,0.6c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.6,0-0.7,0l-1.1,0l-0.7,0\
    c-0.1,0-0.3,0-0.6,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.3,0,0.7-0.1,1.1-0.4c0.4-0.3,0.8-0.6,1.1-1.2l2.1-2.9l-2.5-3.8\
    c-0.3-0.4-0.6-0.7-0.8-0.9c-0.3-0.2-0.6-0.3-0.9-0.3c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.1,0,0.3,0,0.6,0l0.6,0c0.4,0,0.8,0,1.3,0\
    l0.9,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.5,0-0.6,0.1c-0.1,0-0.2,0.1-0.2,0.2c0,0.1,0,0.2,0.1,0.3l2.3,3.4l1.8-2.4\
    c0.3-0.4,0.5-0.8,0.5-1c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.1-0.7-0.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1l0.7,0c0.4,0,0.8,0,1.1,0\
    c0.2,0,0.4,0,0.7,0l0.6,0c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1c-0.3,0-0.7,0.1-1.1,0.4c-0.4,0.3-0.8,0.7-1.2,1.2l-2,2.6l2.7,4\
    c0.3,0.4,0.6,0.7,0.8,0.9C494.9,17.2,495.2,17.3,495.7,17.4C495.7,17.3,495.7,17.3,495.7,17.4z')
    path.s_white(d='M503.3,16.9c0.1,0.2,0.3,0.3,0.5,0.3c0.3,0.1,0.6,0.1,1.2,0.1c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.1\
    c-0.4,0-0.8,0-1,0l-1.4,0l-1.1,0c-0.2,0-0.5,0-0.8,0c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.1c0.4,0,0.7,0,0.8-0.1c0.2-0.1,0.3-0.2,0.4-0.3\
    c0.1-0.2,0.1-0.4,0.1-0.7V9c0-0.3,0-0.5-0.1-0.7c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.1-0.8-0.1c0,0,0,0,0-0.1\
    c0-0.1,0-0.1,0-0.1l0.8,0c0.4,0,0.8,0,1.1,0c0.3,0,0.6,0,0.9,0c0.1,0,0.3,0,0.6,0c0.3,0,0.5,0,0.7,0c1,0,1.8,0.2,2.4,0.6\
    c0.6,0.4,0.9,1.1,0.9,2c0,0.7-0.2,1.2-0.5,1.7c-0.3,0.5-0.8,0.8-1.3,1c-0.5,0.2-1.1,0.3-1.7,0.3c-0.3,0-0.6,0-0.8-0.1c0,0,0,0,0-0.1\
    c0,0,0-0.1,0-0.1c0,0,0,0,0.1,0c0.2,0,0.3,0.1,0.6,0.1c0.7,0,1.2-0.2,1.7-0.7c0.5-0.4,0.7-1.1,0.7-1.9c0-0.8-0.2-1.5-0.6-1.9\
    c-0.4-0.5-1-0.7-1.7-0.7c-0.3,0-0.6,0-0.8,0.1c-0.2,0-0.3,0.1-0.3,0.3c-0.1,0.2-0.1,0.4-0.1,0.7v7.1\
    C503.2,16.5,503.2,16.7,503.3,16.9z')
    path.s_white(d='M516,17c-0.8-0.5-1.4-1.1-1.8-1.8c-0.4-0.8-0.6-1.6-0.6-2.5c0-1.1,0.3-2,0.8-2.8c0.5-0.8,1.3-1.3,2.1-1.7\
    c0.9-0.4,1.7-0.6,2.6-0.6c1,0,1.9,0.2,2.6,0.7c0.8,0.5,1.3,1.1,1.7,1.8c0.4,0.8,0.6,1.6,0.6,2.4c0,0.9-0.3,1.8-0.8,2.6\
    c-0.5,0.8-1.2,1.4-2,1.9c-0.8,0.5-1.8,0.7-2.8,0.7C517.7,17.7,516.8,17.4,516,17z M521.1,16.8c0.6-0.3,1-0.8,1.3-1.5\
    c0.3-0.7,0.5-1.4,0.5-2.4c0-1-0.2-1.8-0.5-2.6c-0.4-0.8-0.9-1.4-1.5-1.8c-0.7-0.4-1.4-0.6-2.3-0.6c-1.1,0-2,0.4-2.6,1.1\
    c-0.6,0.7-1,1.7-1,3c0,1,0.2,1.9,0.5,2.7c0.4,0.8,0.9,1.4,1.5,1.9c0.6,0.5,1.4,0.7,2.2,0.7C519.9,17.3,520.5,17.2,521.1,16.8z')
    path.s_white(d='M540.6,17.4h-5.3V17c0.8-1.6,1.8-2.7,3-4c0.8-0.8,1.8-1.9,1.8-3.4c0-0.7-0.2-1.8-1.8-1.8c-1.2,0-1.7,0.6-1.7,1\
    c0,0.1,0.1,0.3,0.1,0.4c0.2,0.4,0.2,0.5,0.2,0.6c0,0.5-0.3,0.7-0.7,0.7c-0.5,0-0.6-0.3-0.6-0.7c0-1.2,1.1-2.4,2.9-2.4\
    c1.6,0,2.6,1,2.6,2.4c0,0.9-0.3,1.4-1,2.2c-0.3,0.4-2,1.8-2.3,2.1c-0.2,0.2-1.2,1.2-1.8,2.3h2.7c1.6,0,2-1.1,2.2-1.8l0.3,0.1\
    L540.6,17.4z')
    path.s_white(d='M550.1,17.7c-1.9,0-3-2.4-3-5.1c0-2.7,1.1-5.1,3-5.1c1.9,0,3,2.4,3,5.1C553.1,15.3,552,17.7,550.1,17.7z\
    M550.1,7.9c-1,0-2,1.3-2,4.7c0,3.5,1,4.7,2,4.7c0.9,0,2-1.1,2-4.7C552.1,9,551,7.9,550.1,7.9z')
    path.s_white(d='M564.3,17.4h-5.3V17c0.8-1.6,1.8-2.7,3-4c0.8-0.8,1.8-1.9,1.8-3.4c0-0.7-0.2-1.8-1.8-1.8c-1.2,0-1.7,0.6-1.7,1\
    c0,0.1,0.1,0.3,0.1,0.4c0.2,0.4,0.2,0.5,0.2,0.6c0,0.5-0.3,0.7-0.7,0.7c-0.5,0-0.6-0.3-0.6-0.7c0-1.2,1.1-2.4,2.9-2.4\
    c1.6,0,2.6,1,2.6,2.4c0,0.9-0.3,1.4-1,2.2c-0.3,0.4-2,1.8-2.3,2.1c-0.2,0.2-1.2,1.2-1.8,2.3h2.7c1.6,0,2-1.1,2.2-1.8l0.3,0.1\
    L564.3,17.4z')
    path.s_white(d='M571.6,17.4V17h0.5c0.9,0,1.3-0.4,1.3-1.3v-6c0-0.9-0.3-1.2-1.3-1.2h-0.5V8.1h0.2c0.8,0,1.8-0.4,2.1-0.5\
    c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.1,0.1,0.1,0.1v8c0,0.8,0.3,1.3,1.2,1.3h0.6v0.4H571.6z')
