svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 202 55" style="enable-background:new 0 0 202 55;" xml:space="preserve")
  g
    g
      g
        g
          g
            path(d="M49.6,18.9c0.4,0.2,0.9,0.2,1.5,0.2c0.5,0,1-0.1,1.4-0.2c0.4-0.1,0.8-0.3,1.1-0.6c0.3-0.2,0.5-0.5,0.7-0.8\
            c0.1-0.3,0.2-0.7,0.2-1c0-0.5-0.1-0.8-0.3-1.1c-0.2-0.3-0.5-0.6-0.8-0.7c-0.3-0.2-0.7-0.4-1.1-0.5c-0.4-0.1-0.8-0.2-1.1-0.4\
            c-0.3-0.1-0.6-0.2-0.8-0.3c-0.3-0.1-0.4-0.3-0.4-0.5c0-0.2,0.1-0.4,0.3-0.5c0.2-0.2,0.5-0.2,0.9-0.2c0.3,0,0.6,0,0.8,0.1\
            c0.2,0.1,0.4,0.2,0.6,0.3c0.2,0.1,0.3,0.2,0.5,0.3l1.2-1.2c-0.2-0.2-0.5-0.4-0.7-0.6c-0.3-0.2-0.6-0.3-1-0.4\
            c-0.4-0.1-0.8-0.2-1.4-0.2c-0.5,0-1,0.1-1.4,0.2c-0.4,0.1-0.7,0.3-1,0.6c-0.3,0.2-0.5,0.5-0.6,0.8c-0.1,0.3-0.2,0.6-0.2,1\
            c0,0.5,0.1,0.8,0.3,1.1c0.2,0.3,0.5,0.6,0.8,0.7c0.3,0.2,0.7,0.4,1.1,0.5c0.4,0.1,0.8,0.2,1.1,0.4c0.3,0.1,0.6,0.2,0.8,0.3\
            c0.3,0.1,0.4,0.3,0.4,0.5c0,0.3-0.1,0.5-0.4,0.7c-0.2,0.2-0.6,0.3-1.1,0.3c-0.4,0-0.7-0.1-0.9-0.2c-0.3-0.1-0.5-0.2-0.7-0.4\
            c-0.2-0.1-0.4-0.3-0.6-0.5l-1.2,1.2c0.2,0.3,0.5,0.5,0.9,0.7C48.8,18.6,49.2,18.8,49.6,18.9z")
            path(d="M57.7,17c0,1.5,0.4,2,1.7,2h2.2l-0.5-2.1h-1.1c-0.4,0-0.4-0.5-0.4-1v-3.3h2v-1.8h-2v-2h-1.7v1\
            c0,0.4-0.1,0.6-0.2,0.8c-0.2,0.2-0.4,0.2-0.7,0.2h-0.8v1.8h1.6V17z")
            path(d="M64.5,19c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8c-0.2-0.2-0.5-0.3-0.8-0.3\
            c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8C63.9,18.9,64.2,19,64.5,19z")
            path(d="M33.1,19v-4.8c0-1,0.8-1.8,1.7-1.8c0.9,0,1.7,0.8,1.7,1.8V19c0,0,0,0.1,0.1,0.1h1.9c0,0,0.1,0,0.1-0.1\
            v-4.8c0-2.1-1.7-3.8-3.8-3.8c-1,0-2,0.4-2.7,1.2l0,0l0,0c-0.7-0.8-1.7-1.2-2.7-1.2c-2.1,0-3.8,1.7-3.8,3.8V19\
            c0,0,0,0.1,0.1,0.1h1.9c0,0,0.1,0,0.1-0.1v-4.8c0-1,0.8-1.8,1.7-1.8c0.9,0,1.7,0.8,1.7,1.8V19c0,0,0,0.1,0.1,0.1L33.1,19\
            C33.1,19,33.1,19,33.1,19z")
            path(d="M13.3,10.3h-1.9c-2.1,0-3.8,1.7-3.8,3.8V19c0,0,0,0.1,0.1,0.1h1.9c0,0,0.1,0,0.1-0.1v-4.8\
            c0-1,0.8-1.8,1.7-1.8h1.9c0,0,0.1,0,0.1-0.1L13.3,10.3C13.4,10.4,13.3,10.3,13.3,10.3z")
            path(d="M19.2,19.1c2.5,0,4.5-2,4.5-4.4c0-2.4-2-4.4-4.5-4.4c-2.5,0-4.5,2-4.5,4.4C14.7,17.2,16.7,19.1,19.2,19.1z\
            M16.7,14.7c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C17.8,17.1,16.7,16.1,16.7,14.7z")
            path(d="M41.7,6.3C41.9,6.4,42,6.5,42,6.7c0,0.2,0.1,0.7,0.1,1.7V19h2.8V2.3h-1.5c-0.8,1-1.8,1.6-3.3,1.9v1.9h0.3\
            C41,6.1,41.5,6.2,41.7,6.3z")
            path(d="M2.1,19v-3c0-0.4,0.1-0.6,0.2-0.8C2.5,15,2.7,15,3.1,15h0.7c0,0,0,0,0,0h1.1c0,0,0.1,0,0.1-0.1V13\
            C5,13,5,13,4.9,13H2.1v-2.7c0-0.4,0.1-0.6,0.2-0.8c0.2-0.2,0.4-0.2,0.7-0.2h4.6c0,0,0.1,0,0.1-0.1V7.5c0,0,0-0.1-0.1-0.1H1.3\
            c-1.1,0-1.2,0.8-1.2,1l0,0.8V19c0,0,0,0.1,0.1,0.1L2.1,19C2,19,2.1,19,2.1,19z")
        path(d="M133.4,16.8c-0.2-0.2-0.5-0.4-0.9-0.4c-0.4,0-0.7,0.1-0.9,0.4c-0.2,0.2-0.4,0.5-0.4,0.9\
        c0,0.4,0.1,0.7,0.4,0.9c0.2,0.2,0.5,0.4,0.9,0.4c0.4,0,0.7-0.1,0.9-0.4c0.2-0.2,0.4-0.5,0.4-0.9\
        C133.8,17.4,133.6,17.1,133.4,16.8z")
        path(d="M73.1,15.7L73.1,15.7c-0.2-0.2-0.4-0.6-0.4-1.2V0h-3.2v16.2l0,1.2c0,0.8,0.5,1.6,1.9,1.6h10.1v-3h-7.3\
        C73.8,16.1,73.4,15.9,73.1,15.7z")
        path(d="M93.8,6.5c-1.2-0.9-2.6-1.4-4.2-1.4c-3.9,0-7,3.1-7,7c0,3.8,3.2,7,7,7c1.6,0,3-0.5,4.2-1.4V19h3V5.2h-3V6.5z\
        M89.7,16c-2.2,0-3.9-1.7-3.9-3.9c0-2.1,1.8-3.9,3.9-3.9c2.2,0,3.9,1.7,3.9,3.9C93.6,14.2,91.8,16,89.7,16z")
        path(d="M107.5,5.1c-1.6,0-3,0.5-4.2,1.4V0h-3v19h3v-1.3c1.2,0.9,2.6,1.4,4.2,1.4c3.9,0,7-3.1,7-7\
        C114.5,8.2,111.3,5.1,107.5,5.1z M107.5,16c-2.2,0-3.9-1.7-3.9-3.9c0-2.1,1.8-3.9,3.9-3.9c2.2,0,3.9,1.7,3.9,3.9\
        C111.4,14.2,109.6,16,107.5,16z")
        path(d="M123.8,5.1c-3.9,0-7,3.1-7,7c0,3.8,3.2,7,7,7c3.9,0,7-3.1,7-7C130.8,8.2,127.7,5.1,123.8,5.1z M123.8,16\
        c-2.2,0-3.9-1.7-3.9-3.9c0-2.1,1.8-3.9,3.9-3.9c2.2,0,3.9,1.7,3.9,3.9C127.7,14.2,125.9,16,123.8,16z")
    g
      path(d="M0,26.7h20.2v4.8H5v6.3h12v4.8H5v7.1h15.6v4.8H0V26.7z")
      path(d="M33.4,40l-9.2-13.3h6l6.4,9.7l6.4-9.7h6L39.8,40l10,14.5h-6l-7.2-10.9l-7.2,10.9h-6L33.4,40z")
      path(d="M54.7,26.7h11.6c1.4,0,2.7,0.2,3.9,0.7c1.2,0.5,2.2,1.1,3,1.9c0.8,0.8,1.5,1.8,2,2.9c0.5,1.1,0.7,2.3,0.7,3.6\
      c0,1.3-0.2,2.5-0.7,3.6c-0.5,1.1-1.1,2.1-2,2.9s-1.9,1.5-3,1.9c-1.2,0.5-2.5,0.7-3.9,0.7h-6.6v9.5h-5V26.7z M66.1,40.3\
      c0.6,0,1.2-0.1,1.8-0.4c0.6-0.2,1-0.6,1.5-1c0.4-0.4,0.7-0.9,1-1.4c0.2-0.6,0.4-1.1,0.4-1.8s-0.1-1.2-0.4-1.8\
      c-0.2-0.6-0.6-1-1-1.4c-0.4-0.4-0.9-0.7-1.5-1c-0.6-0.2-1.2-0.4-1.8-0.4h-6.4v9.1H66.1z")
      path(d="M94.5,55c-2.1,0-4.1-0.4-5.9-1.1c-1.8-0.8-3.4-1.8-4.8-3.1c-1.3-1.3-2.4-2.8-3.2-4.6\
      c-0.8-1.8-1.2-3.6-1.2-5.6c0-2,0.4-3.8,1.2-5.6c0.8-1.8,1.8-3.3,3.2-4.6c1.3-1.3,2.9-2.3,4.8-3.1c1.8-0.8,3.8-1.1,5.9-1.1\
      c2.1,0,4.1,0.4,5.9,1.1c1.8,0.8,3.4,1.8,4.8,3.1c1.3,1.3,2.4,2.8,3.2,4.6s1.2,3.6,1.2,5.6c0,2-0.4,3.8-1.2,5.6\
      c-0.8,1.8-1.8,3.3-3.2,4.6c-1.3,1.3-2.9,2.3-4.8,3.1C98.6,54.6,96.6,55,94.5,55z M94.5,50.2c1.4,0,2.7-0.2,3.9-0.7\
      c1.2-0.5,2.2-1.2,3.1-2c0.9-0.9,1.6-1.9,2.1-3.1c0.5-1.2,0.7-2.5,0.7-3.9c0-1.4-0.2-2.7-0.7-3.8c-0.5-1.2-1.2-2.2-2.1-3.1\
      c-0.9-0.9-1.9-1.5-3.1-2c-1.2-0.5-2.5-0.7-3.9-0.7c-1.4,0-2.7,0.2-3.9,0.7c-1.2,0.5-2.2,1.2-3.1,2c-0.9,0.9-1.6,1.9-2.1,3.1\
      c-0.5,1.2-0.7,2.5-0.7,3.8c0,1.4,0.2,2.7,0.7,3.9c0.5,1.2,1.2,2.2,2.1,3.1c0.9,0.9,1.9,1.6,3.1,2C91.8,50,93.1,50.2,94.5,50.2z")
      path(d="M114.9,50.2c0.4-1.2,0.9-2.3,1.6-3.2c0.7-1,1.4-1.8,2.3-2.5c0.9-0.7,1.7-1.4,2.6-2c0.9-0.6,1.8-1.2,2.6-1.7\
      c0.9-0.5,1.6-1.1,2.3-1.7c0.7-0.6,1.2-1.2,1.6-1.8c0.4-0.6,0.6-1.4,0.6-2.2c0-1.2-0.4-2.2-1.2-3c-0.8-0.8-1.9-1.2-3.4-1.2\
      c-1,0-1.9,0.2-2.5,0.6c-0.7,0.4-1.2,0.8-1.6,1.3c-0.5,0.6-0.8,1.2-1.1,1.9l-4-2c0.4-1.2,1.1-2.3,1.9-3.2c0.3-0.4,0.8-0.8,1.2-1.2\
      c0.5-0.4,1-0.8,1.6-1.1c0.6-0.3,1.3-0.6,2.1-0.8c0.8-0.2,1.6-0.3,2.6-0.3c1.4,0,2.8,0.2,3.9,0.7c1.2,0.4,2.2,1.1,3,1.8\
      c0.8,0.8,1.5,1.7,1.9,2.8c0.5,1.1,0.7,2.2,0.7,3.4c0,1.3-0.3,2.5-0.8,3.5c-0.5,1-1.2,1.9-2,2.7c-0.8,0.8-1.7,1.5-2.7,2.2\
      c-1,0.7-2,1.3-3,2c-1,0.6-1.9,1.3-2.8,2c-0.9,0.7-1.5,1.5-2.1,2.5h13v4.8h-19.2C114.3,52.8,114.5,51.4,114.9,50.2z")
      path(d="M150.3,55c-1.5,0-3-0.3-4.5-1c-1.4-0.7-2.7-1.6-3.8-2.9c-1.1-1.2-1.9-2.8-2.6-4.6c-0.7-1.8-1-3.8-1-6\
      c0-2.2,0.3-4.2,1-6c0.7-1.8,1.5-3.3,2.6-4.6c1.1-1.2,2.3-2.2,3.8-2.9c1.4-0.7,2.9-1,4.5-1s3,0.3,4.5,1c1.4,0.7,2.7,1.6,3.8,2.9\
      c1.1,1.2,1.9,2.8,2.6,4.6c0.7,1.8,1,3.8,1,6c0,2.2-0.3,4.2-1,6c-0.7,1.8-1.5,3.3-2.6,4.6c-1.1,1.2-2.3,2.2-3.8,2.9\
      C153.4,54.7,151.9,55,150.3,55z M150.3,50.2c0.9,0,1.7-0.2,2.5-0.6c0.8-0.4,1.5-1,2.1-1.8c0.6-0.8,1.1-1.8,1.5-3\
      c0.4-1.2,0.6-2.6,0.6-4.3c0-1.6-0.2-3.1-0.6-4.3c-0.4-1.2-0.9-2.2-1.5-3c-0.6-0.8-1.3-1.4-2.1-1.8c-0.8-0.4-1.6-0.6-2.5-0.6\
      c-0.9,0-1.7,0.2-2.5,0.6c-0.8,0.4-1.5,1-2.1,1.8c-0.6,0.8-1.1,1.8-1.5,3c-0.4,1.2-0.6,2.6-0.6,4.3c0,1.6,0.2,3.1,0.6,4.3\
      c0.4,1.2,0.9,2.2,1.5,3s1.3,1.4,2.1,1.8C148.7,50.1,149.5,50.2,150.3,50.2z")
      path(d="M166.8,50.2c0.4-1.2,0.9-2.3,1.6-3.2c0.7-1,1.4-1.8,2.3-2.5c0.9-0.7,1.7-1.4,2.6-2c0.9-0.6,1.8-1.2,2.6-1.7\
      c0.9-0.5,1.6-1.1,2.3-1.7c0.7-0.6,1.2-1.2,1.6-1.8c0.4-0.6,0.6-1.4,0.6-2.2c0-1.2-0.4-2.2-1.2-3c-0.8-0.8-1.9-1.2-3.4-1.2\
      c-1,0-1.9,0.2-2.5,0.6c-0.7,0.4-1.2,0.8-1.6,1.3c-0.5,0.6-0.8,1.2-1.1,1.9l-4-2c0.4-1.2,1.1-2.3,1.9-3.2c0.3-0.4,0.8-0.8,1.2-1.2\
      c0.5-0.4,1-0.8,1.6-1.1c0.6-0.3,1.3-0.6,2.1-0.8c0.8-0.2,1.6-0.3,2.6-0.3c1.4,0,2.8,0.2,3.9,0.7c1.2,0.4,2.2,1.1,3,1.8\
      c0.8,0.8,1.5,1.7,1.9,2.8c0.5,1.1,0.7,2.2,0.7,3.4c0,1.3-0.3,2.5-0.8,3.5c-0.5,1-1.2,1.9-2,2.7c-0.8,0.8-1.7,1.5-2.7,2.2\
      c-1,0.7-2,1.3-3,2c-1,0.6-1.9,1.3-2.8,2c-0.9,0.7-1.5,1.5-2.1,2.5h13v4.8h-19.2C166.2,52.8,166.4,51.4,166.8,50.2z")
      path(d="M197,33.6h-5v-3.2c1.8-0.2,3.2-0.7,4.1-1.4c0.9-0.8,1.6-1.5,1.9-2.3h4v27.7h-5V33.6z")
