svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 346 124" style="enable-background:new 0 0 346 124;" xml:space="preserve" alt="フロムファーストラボ エキスポ2021")
  style(type="text/css").
    .st00{fill:#C7161D;}
    .st001{fill:#E50012;}
    .st002{fill:#8E0108;}
    .st003{fill:#231815;}
    .st004{fill:#FFFFFF;}
  g
    g
      g
        path.st00(d="M127.6,27.2c-0.1-0.2-0.3-0.4-0.4-0.6C127.4,26.9,127.5,27.1,127.6,27.2z")
        path.st00(d="M127.2,26.6c-0.1-0.2-0.3-0.4-0.4-0.6C126.9,26.2,127.1,26.4,127.2,26.6z")
        path.st00(d="M127.7,27.4c0,0,0-0.1-0.1-0.2C127.6,27.3,127.7,27.4,127.7,27.4z")
        path.st001(d="M218.2,2.2c-38.5-12.5-57,32.6-96.3,15.8c-0.8-0.4-1.6,0.5-1.2,1.3c1.9,3.7,3.9,7.3,6,10.9\
        c8.3,13.8,6.7,20.8,5.8,34.7l-2.3,12.7c-0.1,1.4,0.9,2.6,2.3,2.7c1.4,0.1,2.6-0.9,2.7-2.3l0.6-2.5c0.8-5.3,5.5-9.7,11.6-11.6\
        c15-4.9,28.7-1.3,44.2-10.4c19.2-11.3,10-35.5,26.8-49.6C219.1,3.4,218.9,2.4,218.2,2.2z")
        path.st00(d="M126.8,26c0-0.1-0.1-0.1-0.1-0.2C126.8,25.9,126.8,25.9,126.8,26z")
        path.st00(d="M126.5,25.5C126.5,25.4,126.5,25.4,126.5,25.5L126.5,25.5z")
        path.st00(d="M126.7,25.8c-0.1-0.2-0.2-0.3-0.2-0.3C126.5,25.5,126.6,25.6,126.7,25.8z")
      path.st002(d="M211.4,12.6c-4.5,7.2-14.6,18.4-24.5,19.4c-6.2,0.7,1.4,3.8,3.2,9.8c1.7,5.4,1.4,11.4-0.8,12.7\
      c7.1-2.4,11.8-8.7,15-17.5C207.2,29.3,208.3,20.2,211.4,12.6C211.4,12.7,205.9,25.9,211.4,12.6z")
    g
      path.st003(d="M50.7,32.7h0.9L50,40.4l8.6-7.7h1.2L54,37.9l3.6,7.3h-1l-3.3-6.7l-3.5,3.2L49,45.2h-0.9L50.7,32.7z")
      path.st003(d="M67.4,32.7h0.9l2.5,12.5h-0.9l-0.8-3.7h-6.3l-2.3,3.7h-1.1L67.4,32.7z M69,40.7L67.6,34l-4.2,6.7H69z")
      path.st003(d="M73.1,39.7c0-4,3.5-7.1,7.1-7.1c3.4,0,4.9,2.7,4.9,2.7l-0.8,0.5c0,0-1.2-2.3-4.3-2.3c-3.1,0-6,2.7-6,6.2\
      c0,2.7,2,4.8,4.9,4.8c2.5,0,4.1-1.6,4.1-1.6l0.6-3h-3.2l0.2-0.9h4.1l-0.9,4.4c0,0-2.1,2-5.1,2C75.4,45.4,73.1,42.9,73.1,39.7z")
      path.st003(d="M94.2,32.7h0.9l2.5,12.5h-0.9L96,41.6h-6.3l-2.3,3.7h-1.1L94.2,32.7z M95.8,40.7L94.5,34l-4.2,6.7H95.8z")
      path.st003(d="M100.7,32.7h0.9l1.1,11l5.9-11h0.9l1.2,11l5.8-11h1l-6.7,12.5h-0.9l-1.2-11l-5.9,11h-0.9L100.7,32.7z")
      path.st003(d="M123.7,32.7h0.9l2.5,12.5h-0.9l-0.8-3.7h-6.3l-2.3,3.7h-1.1L123.7,32.7z M125.3,40.7L124,34l-4.2,6.7H125.3z")
      path.st004(d="M136.4,32.7h2.7l-1,4.9h5.4l1-4.9h2.7l-2.6,12.5h-2.7l1.1-5.1h-5.4l-1.1,5.1h-2.7L136.4,32.7z")
      path.st004(d="M148.7,39.6c0-4.1,3.5-7.1,7.4-7.1c3.7,0,6.2,2.8,6.2,5.9c0,4.1-3.5,7.1-7.4,7.1\
      C151.2,45.5,148.7,42.7,148.7,39.6z M159.6,38.5c0-2-1.5-3.6-3.6-3.6c-2.3,0-4.5,1.9-4.5,4.4c0,2,1.5,3.6,3.6,3.6\
      C157.4,43,159.6,41,159.6,38.5z")
      path.st004(d="M164.9,39.6l1.5-6.8h2.7l-1.5,7c-0.4,1.9,0.7,3.2,2.4,3.2c1.4,0,2.7-1,3-2.7l1.6-7.6h2.7l-1.7,7.9\
      c-0.6,3-3,4.9-5.8,4.9C166,45.5,164.3,42.6,164.9,39.6z")
      path.st004(d="M178.1,43.1l2.1-1.7c0,0,0.9,1.6,3.1,1.6c1.2,0,1.9-0.6,1.9-1.4c0-1.8-5.2-1.9-5.2-5.3c0-2.1,1.8-3.9,4.6-3.9\
      c3.2,0,4.5,2,4.5,2l-2.1,1.7c0,0-0.8-1.3-2.6-1.3c-1.1,0-1.7,0.5-1.7,1.2c0,1.8,5.2,1.9,5.2,5.3c0,2.2-2,4-4.9,4\
      C179.5,45.5,178.1,43.1,178.1,43.1z")
      path.st004(d="M193.2,32.7h9.3l-0.5,2.5h-6.6l-0.5,2.4h5.2l-0.5,2.4h-5.2l-0.6,2.7h6.8l-0.5,2.5h-9.5L193.2,32.7z")
      path.st003(d="M208.8,32.7h8.4l-0.2,0.9h-7.5l-1,4.6h6.1l-0.2,0.9h-6.1l-1.1,5.2h7.7l-0.2,0.9h-8.6L208.8,32.7z")
      path.st003(d="M223.7,38.7l-3-6h1l2.6,5.3l4.9-5.3h1.2l-5.6,6l3.3,6.5h-1l-2.9-5.8l-5.3,5.8h-1.2L223.7,38.7z")
      path.st003(d="M234.2,32.7h4.2c1.9,0,3.5,1.4,3.5,3.4c0,2.4-2,4.2-4.4,4.2h-4.1l-1,4.8h-0.9L234.2,32.7z M237.7,39.5\
      c1.8,0,3.3-1.4,3.3-3.3c0-1.6-1.4-2.6-2.8-2.6h-3.3l-1.3,5.9H237.7z")
      path.st003(d="M244,39.7c0-4,3.5-7.1,7.1-7.1c3.3,0,5.7,2.5,5.7,5.7c0,4-3.5,7.1-7.1,7.1C246.4,45.4,244,42.8,244,39.7z\
      M255.9,38.3c0-2.7-2-4.9-4.9-4.9c-3.1,0-6.1,2.6-6.1,6.2c0,2.7,2,4.9,4.9,4.9C252.9,44.5,255.9,41.8,255.9,38.3z")
      path.st003(d="M266.4,35.9c0-1.3-1-2.4-2.9-2.4c-2.1,0-3,1.9-3,1.9l-0.7-0.4c0,0,1.1-2.4,3.8-2.4c2.3,0,3.7,1.5,3.7,3.2\
      c0,4.8-7.6,4.7-8.7,8.5h6.9l-0.2,0.9h-7.9C258.3,39.6,266.4,40.3,266.4,35.9z")
      path.st003(d="M269.8,40.3c0-4.9,3.4-7.8,5.9-7.8c2.1,0,4,1.9,4,5c0,4.9-3.4,7.8-5.9,7.8C271.6,45.4,269.8,43.5,269.8,40.3z\
      M278.8,37.6c0-2.6-1.5-4.2-3.2-4.2c-2,0-4.9,2.4-4.9,6.9c0,2.6,1.5,4.2,3.2,4.2C275.9,44.5,278.8,42.1,278.8,37.6z")
      path.st003(d="M290,35.9c0-1.3-1-2.4-2.9-2.4c-2.1,0-3,1.9-3,1.9l-0.7-0.4c0,0,1.1-2.4,3.8-2.4c2.3,0,3.7,1.5,3.7,3.2\
      c0,4.8-7.6,4.7-8.7,8.5h6.9l-0.2,0.9h-7.9C281.9,39.6,290,40.3,290,35.9z")
      path.st003(d="M296.5,34.3c0,0-0.9,1-2.6,1l0.2-0.7c1.7,0,3-1.9,3-1.9h0.7l-2.6,12.5h-0.9L296.5,34.3z")
    g
      g
        path.st003(d="M173.3,98.4h16.5v1.1h-15.5v10.4H187v1.1h-12.6v11.4h15.8v1.1h-16.9V98.4z")
        path.st003(d="M205.1,110.6l-8.7-12.2h1.3l8,11.2l8-11.2h1.3l-8.7,12.2l9.2,12.9h-1.3l-8.6-11.9l-8.6,11.9h-1.3\
        L205.1,110.6z")
        path.st003(d="M222.1,98.4h8.6c4.7,0,7.9,3.2,7.9,7.5c0,4.3-3.2,7.5-7.9,7.5h-7.5v10h-1.1V98.4z M230.7,112.4\
        c4.1,0,6.8-2.7,6.8-6.4s-2.7-6.4-6.8-6.4h-7.5v12.9H230.7z")
        path.st003(d="M243,110.9c0-7.2,5.7-12.9,12.6-12.9c6.8,0,12.6,5.7,12.6,12.9c0,7.2-5.7,12.9-12.6,12.9\
        C248.8,123.8,243,118.1,243,110.9z M267.1,110.9c0-6.6-5.2-11.8-11.5-11.8s-11.5,5.2-11.5,11.8c0,6.6,5.2,11.8,11.5,11.8\
        S267.1,117.6,267.1,110.9z")
        path.st003(d="M287.2,105c0-3.2-2.7-5.9-6.6-5.9c-5.4,0-6.2,4.7-6.2,4.7l-1.2,0c0-0.3,1.3-5.7,7.4-5.7c4.5,0,7.7,3.2,7.7,7\
        c0,8.2-13.2,9.8-14.3,17.3h14.3v1.1h-15.5C272.9,114.2,287.2,112.9,287.2,105z")
        path.st003(d="M332,105c0-3.2-2.7-5.9-6.6-5.9c-5.4,0-6.2,4.7-6.2,4.7l-1.2,0c0-0.3,1.3-5.7,7.4-5.7c4.5,0,7.7,3.2,7.7,7\
        c0,8.2-13.2,9.8-14.3,17.3h14.3v1.1h-15.5C317.7,114.2,332,112.9,332,105z")
        path.st003(d="M293.5,110.9c0-8.2,4.7-12.9,9.5-12.9c4.9,0,9.5,4.6,9.5,12.9s-4.7,12.9-9.5,12.9\
        C298.2,123.8,293.5,119.2,293.5,110.9z M311.5,110.9c0-7.7-4.1-11.8-8.4-11.8c-4.3,0-8.4,4.1-8.4,11.8s4.1,11.8,8.4,11.8\
        C307.4,122.7,311.5,118.6,311.5,110.9z")
        path.st003(d="M344.9,100.8c0,0-1.3,2.3-4.9,2.7v-1.1c3.6-0.4,5-3.9,5-3.9h0.9v25h-1.1V100.8z")
      g
        g
          rect.st003(x="52.3" y="98.4" width="1.1" height="25")
          rect.st003(x="42.2" y="98.7" width="1.1" height="20")
          path.st003(d="M30.2,123.5c1.2-1.6,3.5-5.4,3.5-10.5V98.4h-1.1V113c0,5.7-3.2,9.7-3.9,10.5H30.2z")
        path.st003(d="M24.9,104.2H13V100c3.4-0.4,6.8-1,9.5-1.9V97C16.6,99.1,6.5,99.6,2,99.6v1.1c2.3,0,6-0.1,9.9-0.6v4H0v1.1\
        h10.7c-1.3,1.6-6.2,4.2-10.8,4.9v1.1c4.9-0.7,10.9-3.7,11.9-6h0v6.3l-9.3,0v12l19.7,0v-12l-9.3,0v-6.3h0c1,2.2,6.9,5.2,11.9,6\
        v-1.1c-4.6-0.7-9.4-3.2-10.8-4.9h10.8V104.2z M21.2,122.4l-17.5,0v-4.7l15.2,0l0-1.1l-15.2,0v-4.1l17.5,0V122.4z")
      g
        g
          rect.st003(x="112.8" y="98" width="1.1" height="3.7")
          rect.st003(x="115.6" y="98" width="1.1" height="3.7")
          path.st003(d="M115.6,106.8c-0.8-1.8-3.1-3.9-9.4-3.9c-4.1,0-10.9,1.1-14.7,1.9v1.1c3.7-0.8,10.6-2,14.7-2\
          c4.5,0,7.4,1.1,8.4,3.3c0.9,1.9,1,5.4-0.4,7.8c-2,3.5-5.6,5.5-10.6,6c-1.2,0.1-3.1,0.1-3.8,0.1v1.1c0.3,0,0.8,0,1.3,0\
          c0.8,0,1.8,0,2.6-0.1c5.3-0.5,9.2-2.7,11.4-6.5C116.6,113.1,116.8,109.3,115.6,106.8z")
        path.st003(d="M128.1,113.6c-1.8-1.4-3.3-2.7-3.5-2.8c-0.2-0.1-0.2-0.4-0.1-0.6c0.7-0.8,3.2-2.7,5.9-4.7\
        c3.4-2.6,7.3-5.5,8.7-7.1h-1.5c-1.7,1.6-4.9,4-7.8,6.2c-2.8,2.1-5.2,4-6,4.8c-0.4,0.5-0.4,1.5,0.1,2c0.2,0.2,1.4,1.2,3.6,2.9\
        c3.6,2.9,8.7,7,11,9.1h1.6C138.4,121.8,132.2,116.9,128.1,113.6z")
        g
          path.st003(d="M149.2,111.7c-0.1-1.3-0.2-3.2-0.2-4.8c0-2.8,0.5-6.7,0.7-8.4h-1.1c-0.2,1.8-0.6,5.7-0.6,8.4\
          c0,2.7,0.3,5.4,0.5,6.8h1c0.3-2,1.8-3.4,2.7-3.7v-1.1C151.2,109,149.8,110,149.2,111.7z")
          path.st003(d="M164.7,98.4h-1.1c0.1,2.2,0.1,6.3,0.1,9.7l0,2.3c0,4.6-1.1,10.1-9.6,12.5v1.1c9.5-2.5,10.7-8.6,10.7-13.6\
          l0-2.3C164.8,104.6,164.8,100.7,164.7,98.4z")
        g
          polygon.st003(points="61.6,101.2 84.3,101.2 84.3,105.2 85.4,105.2 85.4,100.2 73.5,100.2 73.5,98 72.4,98 72.4,100.2 \
          60.5,100.2 60.5,105.2 61.6,105.2              ")
          path.st003(d="M61.7,115.4v1.1c3.9-0.7,8.3-2.5,10.4-4.2v-1.5C70.9,112.4,66.2,114.6,61.7,115.4z")
          path.st003(d="M75.2,113.7c2.5-0.9,5.2-2.2,6.6-3.5v-1.6c-0.5,0.9-3,2.6-6.6,4c0-1.3-0.1-2.4-0.1-2.9\
          c-0.2-1.5-1.5-2.6-2.7-3.3c0.4-0.4,0.7-0.8,0.9-1.1h7.5v-1.1H65v1.1h7.1c-1.3,1.6-6.1,3.8-10.5,4.6v1.1c3.6-0.6,7.7-2.2,10-3.8\
          c0.8,0.5,2.3,1.5,2.5,2.8c0.1,0.6,0.1,1.5,0.1,3.4c0,0,0,4.9,0,6.1c0,0.5,0,0.9,0,1.2c0,1.7-0.3,2.4-2.9,2.4h-0.7v1.1h0.7\
          c3,0,4-0.9,4-3.5c0-0.2,0-0.6,0-1.2c0-1,0-2.5,0-4c2,2.2,6.3,5.4,10.4,6.2v-1.1C81.2,119.6,76.3,115.6,75.2,113.7z")
          path.st003(d="M72.2,116.4c-1.3,1.7-6.7,4.2-11.3,4.8v1.1c4.2-0.5,9-2.5,11.3-4.4V116.4z")
