section.section-primary.bg-red
    .labo-monitor.content-wrap
        h2.headding-primary.center.white FROM1ST.LABO. Let’s MODEL HOUSE MONITOR
        h3.-head
            img(src!=`${tRoot}/assets/images/labo/imgtxt-monitor.svg`, alt='kagawa MODEL HOUSE EXPO‘21 〜建築家・工務店と建てる住まい〜“モデルハウスモニター様”9月末まで募集中！')
        p.text-primary.center.white
            | まずは、お気軽にお問い合わせください。From1st.Labo.が親切にアドバイス＆建築家をご紹介いたします。［完全無料］
            br
            | なお、弊社より営業を行うことはございませんので、ご安心ください。
        a.button-ghost.white.full.center(href!=``)
            span 香川モデルハウスEXPO‘21 〜建築家・工務店と建てる住まい〜 モニターハウス募集 への相談及びご来場予約［完全無料］はこちら
            .arrow
                include _icon-arrow

