//- -var c_tag = ["layout", "controls", "typography"]
-var c_tag = ["general", "layout", "typography"]
    -for(var i=0; i < c_tag.length ; i++)
        .subnav
            h3.title #{c_tag[i]}
            -for(var x=0; x < site_tree.length; x++)
                -if( site_tree[x].name === 'docs' )
                    ul.lists
                        -for(var y=0; y < site_tree[x].children.length ; y++)
                            -if( site_tree[x].children[y].c_tag === c_tag[i] )
                                li: a(href=`${root}/${site_tree[x].name}/${site_tree[x].children[y].name}.html`) #{site_tree[x].children[y].title}
                                -if( site_tree[x].children[y].children )
                                    ul
                                        -for(var z=0; z < site_tree[x].children[y].children.length; z++)
                                            li: a(href=`${root}/${site_tree[x].name}/${site_tree[x].children[y].children[z].name}.html`) #{site_tree[x].children[y].children[z].title}
