svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 162 14" style="enable-background:new 0 0 162 14;" xml:space="preserve")
  style(type="text/css").
    .st0{opacity:0.9;}
  g.st0
    path.st1(d="M4.8,14c-1,0-1.7-0.3-2.2-0.8c-0.5-0.5-0.8-1.3-0.8-2.3V6.3H0V4.5h1.1c0.3,0,0.5-0.1,0.7-0.2\
    C1.9,4.1,2,3.8,2,3.4v-2h1.8v3.1H6v1.8H3.8v4.4c0,1,0.5,1.5,1.4,1.5c0.1,0,0.3,0,0.4,0S5.9,12.1,6,12c0.1-0.1,0.2-0.1,0.3-0.2v1.8\
    c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0-0.3,0.1-0.5,0.1C5.2,14,5,14,4.8,14z")
    path.st1(d="M14.1,14c-0.7,0-1.4-0.1-2-0.4c-0.6-0.3-1.1-0.6-1.6-1c-0.4-0.4-0.8-0.9-1.1-1.5c-0.3-0.6-0.4-1.2-0.4-1.9\
    c0-0.7,0.1-1.3,0.4-1.9c0.3-0.6,0.6-1.1,1-1.5c0.4-0.4,1-0.8,1.5-1c0.6-0.3,1.2-0.4,1.9-0.4c0.7,0,1.3,0.1,1.9,0.3\
    c0.6,0.2,1.1,0.5,1.5,1c0.4,0.4,0.7,0.9,1,1.4c0.2,0.6,0.3,1.2,0.3,1.8c0,0.1,0,0.3,0,0.4c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0,0.3\
    h-7.4c0.1,0.3,0.2,0.6,0.3,0.9c0.2,0.3,0.4,0.5,0.6,0.7c0.3,0.2,0.6,0.4,0.9,0.5c0.3,0.1,0.7,0.2,1.1,0.2c0.4,0,0.8-0.1,1.2-0.2\
    c0.3-0.1,0.6-0.3,0.9-0.4c0.3-0.2,0.5-0.4,0.8-0.6l1.2,1.4c-0.3,0.3-0.6,0.6-1,0.9c-0.3,0.2-0.8,0.4-1.3,0.6\
    C15.4,13.9,14.8,14,14.1,14z M16.6,8.2c-0.1-0.6-0.4-1.1-0.9-1.5C15.3,6.2,14.7,6,14,6c-0.8,0-1.4,0.2-1.8,0.6\
    c-0.5,0.4-0.8,0.9-1,1.5H16.6z")
    path.st1(d="M22,0.2h2v13.6h-2V0.2z")
    path.st1(d="M28.7,14c-0.3,0-0.6-0.1-0.9-0.4c-0.3-0.3-0.4-0.5-0.4-0.9c0-0.3,0.1-0.6,0.4-0.9c0.3-0.3,0.6-0.4,0.9-0.4\
    c0.3,0,0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.5,0.4,0.9c0,0.3-0.1,0.6-0.4,0.9C29.3,13.9,29,14,28.7,14z")
    path.st1(d="M38.8,14c-0.8,0-1.6-0.2-2.3-0.5c-0.7-0.3-1.3-0.8-1.8-1.4c-0.5-0.6-0.9-1.3-1.2-2.2C33.1,9.1,33,8.1,33,7\
    c0-1.1,0.2-2.1,0.5-3c0.3-0.9,0.7-1.6,1.2-2.2c0.5-0.6,1.1-1.1,1.8-1.4C37.2,0.2,38,0,38.8,0s1.6,0.2,2.3,0.5\
    c0.7,0.3,1.3,0.8,1.8,1.4c0.5,0.6,0.9,1.3,1.2,2.2c0.3,0.9,0.5,1.9,0.5,3c0,1.1-0.2,2.1-0.5,3c-0.3,0.9-0.7,1.6-1.2,2.2\
    c-0.5,0.6-1.1,1.1-1.8,1.4C40.3,13.8,39.6,14,38.8,14z M38.8,12.1c0.5,0,0.9-0.1,1.4-0.3c0.4-0.2,0.8-0.5,1.1-0.9\
    c0.3-0.4,0.6-0.9,0.8-1.6c0.2-0.6,0.3-1.4,0.3-2.2s-0.1-1.6-0.3-2.2c-0.2-0.6-0.5-1.2-0.8-1.6c-0.3-0.4-0.7-0.7-1.1-0.9\
    c-0.4-0.2-0.9-0.3-1.4-0.3S37.8,2,37.4,2.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.6,0.9-0.8,1.6c-0.2,0.6-0.3,1.4-0.3,2.2\
    s0.1,1.6,0.3,2.2c0.2,0.6,0.5,1.2,0.8,1.6c0.3,0.4,0.7,0.7,1.1,0.9C37.8,12,38.3,12.1,38.8,12.1z")
    path.st1(d="M52.7,14c-0.8,0-1.5-0.1-2.1-0.3c-0.6-0.2-1.1-0.5-1.6-0.9c-0.4-0.4-0.8-0.8-1-1.3c-0.2-0.5-0.3-1-0.3-1.6\
    c0-0.6,0.1-1.2,0.4-1.6c0.2-0.4,0.5-0.8,0.8-1.1c0.3-0.3,0.7-0.6,1.2-0.8c-0.3-0.2-0.6-0.4-0.9-0.7c-0.2-0.2-0.4-0.5-0.6-0.9\
    c-0.2-0.4-0.3-0.8-0.3-1.4c0-0.5,0.1-0.9,0.3-1.4c0.2-0.4,0.5-0.8,0.9-1.1c0.4-0.3,0.8-0.6,1.4-0.8C51.4,0.1,52,0,52.7,0\
    c0.7,0,1.3,0.1,1.8,0.3c0.5,0.2,1,0.5,1.4,0.8c0.4,0.3,0.7,0.7,0.9,1.1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.5-0.1,1-0.3,1.4\
    c-0.2,0.4-0.4,0.7-0.6,0.9c-0.3,0.3-0.6,0.5-0.9,0.7c0.5,0.2,0.9,0.4,1.2,0.8c0.3,0.3,0.6,0.6,0.8,1.1c0.2,0.4,0.4,1,0.4,1.6\
    c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.6,0.9-1,1.3c-0.4,0.4-0.9,0.7-1.6,0.9C54.1,13.9,53.4,14,52.7,14z M52.7,12.1\
    c0.9,0,1.6-0.2,2.1-0.6c0.5-0.4,0.7-1,0.7-1.6c0-0.6-0.2-1.2-0.7-1.6c-0.5-0.4-1.2-0.6-2.1-0.6c-0.9,0-1.6,0.2-2.1,0.6\
    c-0.5,0.4-0.7,1-0.7,1.6c0,0.6,0.2,1.2,0.7,1.6C51.1,11.8,51.8,12.1,52.7,12.1z M52.7,5.6c0.7,0,1.2-0.2,1.6-0.5\
    c0.4-0.3,0.6-0.8,0.6-1.3c0-0.5-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.5-1.6-0.5c-0.7,0-1.2,0.2-1.6,0.5c-0.4,0.3-0.6,0.8-0.6,1.3\
    c0,0.5,0.2,1,0.6,1.3C51.4,5.5,52,5.6,52.7,5.6z")
    path.st1(d="M67.1,2.2h-6.8v-2h9.2v1.9l-5.8,11.7h-2.4L67.1,2.2z")
    path.st1(d="M73.3,14c-0.3,0-0.6-0.1-0.9-0.4c-0.3-0.3-0.4-0.5-0.4-0.9c0-0.3,0.1-0.6,0.4-0.9c0.3-0.3,0.6-0.4,0.9-0.4\
    s0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.5,0.4,0.9c0,0.3-0.1,0.6-0.4,0.9C73.9,13.9,73.6,14,73.3,14z")
    path.st1(d="M82.4,14c-0.8,0-1.5-0.1-2.1-0.3c-0.6-0.2-1.1-0.5-1.6-0.9c-0.4-0.4-0.8-0.8-1-1.3c-0.2-0.5-0.3-1-0.3-1.6\
    c0-0.6,0.1-1.2,0.4-1.6c0.2-0.4,0.5-0.8,0.8-1.1C79,7,79.4,6.7,79.8,6.5c-0.3-0.2-0.6-0.4-0.9-0.7c-0.2-0.2-0.4-0.5-0.6-0.9\
    c-0.2-0.4-0.3-0.8-0.3-1.4c0-0.5,0.1-0.9,0.3-1.4c0.2-0.4,0.5-0.8,0.9-1.1c0.4-0.3,0.8-0.6,1.4-0.8S81.8,0,82.4,0\
    c0.7,0,1.3,0.1,1.8,0.3c0.5,0.2,1,0.5,1.4,0.8c0.4,0.3,0.7,0.7,0.9,1.1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.5-0.1,1-0.3,1.4\
    c-0.2,0.4-0.4,0.7-0.6,0.9c-0.3,0.3-0.6,0.5-0.9,0.7c0.5,0.2,0.9,0.4,1.2,0.8c0.3,0.3,0.6,0.6,0.8,1.1c0.2,0.4,0.4,1,0.4,1.6\
    c0,0.6-0.1,1.1-0.4,1.6c-0.2,0.5-0.6,0.9-1,1.3c-0.4,0.4-0.9,0.7-1.6,0.9C83.9,13.9,83.2,14,82.4,14z M82.4,12.1\
    c0.9,0,1.6-0.2,2.1-0.6c0.5-0.4,0.7-1,0.7-1.6c0-0.6-0.2-1.2-0.7-1.6c-0.5-0.4-1.2-0.6-2.1-0.6c-0.9,0-1.6,0.2-2.1,0.6\
    c-0.5,0.4-0.7,1-0.7,1.6c0,0.6,0.2,1.2,0.7,1.6C80.8,11.8,81.5,12.1,82.4,12.1z M82.4,5.6c0.7,0,1.2-0.2,1.6-0.5\
    c0.4-0.3,0.6-0.8,0.6-1.3c0-0.5-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.5-1.6-0.5c-0.7,0-1.2,0.2-1.6,0.5c-0.4,0.3-0.6,0.8-0.6,1.3\
    c0,0.5,0.2,1,0.6,1.3C81.2,5.5,81.7,5.6,82.4,5.6z")
    path.st1(d="M95.3,14c-0.7,0-1.4-0.1-2-0.4c-0.6-0.2-1.1-0.6-1.6-1c-0.4-0.4-0.8-0.9-1-1.4c-0.2-0.6-0.4-1.1-0.4-1.8\
    c0-0.4,0-0.8,0.2-1.1c0.1-0.4,0.2-0.7,0.3-1C91,7,91.2,6.7,91.3,6.4l4.1-6.2h2.4L94.6,5c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0\
    c0.1,0,0.3,0,0.4,0c0.7,0,1.3,0.1,1.9,0.4c0.6,0.2,1.1,0.6,1.5,1c0.4,0.4,0.8,0.9,1,1.4c0.2,0.6,0.4,1.1,0.4,1.8\
    c0,0.6-0.1,1.2-0.4,1.8c-0.2,0.6-0.6,1-1,1.4c-0.4,0.4-1,0.7-1.6,1C96.7,13.9,96.1,14,95.3,14z M95.3,12.1c0.4,0,0.8-0.1,1.1-0.2\
    c0.3-0.1,0.6-0.3,0.9-0.6c0.3-0.2,0.4-0.5,0.6-0.8c0.1-0.3,0.2-0.7,0.2-1c0-0.4-0.1-0.7-0.2-1c-0.1-0.3-0.3-0.6-0.6-0.8\
    c-0.3-0.2-0.5-0.4-0.9-0.6c-0.3-0.1-0.7-0.2-1.1-0.2c-0.4,0-0.8,0.1-1.1,0.2c-0.3,0.1-0.6,0.3-0.9,0.6c-0.3,0.2-0.4,0.5-0.6,0.8\
    c-0.1,0.3-0.2,0.7-0.2,1c0,0.4,0.1,0.7,0.2,1c0.1,0.3,0.3,0.6,0.6,0.8c0.3,0.2,0.5,0.4,0.9,0.6C94.6,12,94.9,12.1,95.3,12.1z")
    path.st1(d="M108.2,14c-0.8,0-1.5-0.1-2.1-0.3c-0.6-0.2-1.1-0.5-1.6-0.9c-0.4-0.4-0.8-0.8-1-1.3c-0.2-0.5-0.3-1-0.3-1.6\
    c0-0.6,0.1-1.2,0.4-1.6c0.2-0.4,0.5-0.8,0.8-1.1c0.3-0.3,0.7-0.6,1.2-0.8c-0.3-0.2-0.6-0.4-0.9-0.7c-0.2-0.2-0.4-0.5-0.6-0.9\
    c-0.2-0.4-0.3-0.8-0.3-1.4c0-0.5,0.1-0.9,0.3-1.4c0.2-0.4,0.5-0.8,0.9-1.1c0.4-0.3,0.8-0.6,1.4-0.8c0.5-0.2,1.1-0.3,1.8-0.3\
    c0.7,0,1.3,0.1,1.8,0.3c0.5,0.2,1,0.5,1.4,0.8c0.4,0.3,0.7,0.7,0.9,1.1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.5-0.1,1-0.3,1.4\
    c-0.2,0.4-0.4,0.7-0.6,0.9c-0.3,0.3-0.6,0.5-0.9,0.7c0.5,0.2,0.9,0.4,1.2,0.8c0.3,0.3,0.6,0.6,0.8,1.1c0.2,0.4,0.4,1,0.4,1.6\
    c0,0.6-0.1,1.1-0.4,1.6c-0.2,0.5-0.6,0.9-1,1.3c-0.4,0.4-0.9,0.7-1.6,0.9C109.7,13.9,109,14,108.2,14z M108.2,12.1\
    c0.9,0,1.6-0.2,2.1-0.6c0.5-0.4,0.7-1,0.7-1.6c0-0.6-0.2-1.2-0.7-1.6c-0.5-0.4-1.2-0.6-2.1-0.6c-0.9,0-1.6,0.2-2.1,0.6\
    c-0.5,0.4-0.7,1-0.7,1.6c0,0.6,0.2,1.2,0.7,1.6C106.6,11.8,107.3,12.1,108.2,12.1z M108.2,5.6c0.7,0,1.2-0.2,1.6-0.5\
    c0.4-0.3,0.6-0.8,0.6-1.3c0-0.5-0.2-1-0.6-1.3c-0.4-0.3-0.9-0.5-1.6-0.5c-0.7,0-1.2,0.2-1.6,0.5c-0.4,0.3-0.6,0.8-0.6,1.3\
    c0,0.5,0.2,1,0.6,1.3C107,5.5,107.5,5.6,108.2,5.6z")
    path.st1(d="M117.4,14c-0.3,0-0.7-0.1-0.9-0.4c-0.3-0.3-0.4-0.5-0.4-0.9c0-0.3,0.1-0.6,0.4-0.9c0.3-0.3,0.6-0.4,0.9-0.4\
    c0.3,0,0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.5,0.4,0.9c0,0.3-0.1,0.6-0.4,0.9C118.1,13.9,117.8,14,117.4,14z")
    path.st1(d="M127.5,14c-0.8,0-1.6-0.2-2.3-0.5c-0.7-0.3-1.3-0.8-1.8-1.4c-0.5-0.6-0.9-1.3-1.2-2.2c-0.3-0.9-0.5-1.9-0.5-3\
    c0-1.1,0.2-2.1,0.5-3c0.3-0.9,0.7-1.6,1.2-2.2c0.5-0.6,1.1-1.1,1.8-1.4c0.7-0.3,1.5-0.5,2.3-0.5s1.6,0.2,2.3,0.5\
    c0.7,0.3,1.3,0.8,1.8,1.4c0.5,0.6,0.9,1.3,1.2,2.2c0.3,0.9,0.5,1.9,0.5,3c0,1.1-0.2,2.1-0.5,3c-0.3,0.9-0.7,1.6-1.2,2.2\
    c-0.5,0.6-1.1,1.1-1.8,1.4C129.1,13.8,128.3,14,127.5,14z M127.5,12.1c0.5,0,0.9-0.1,1.4-0.3c0.4-0.2,0.8-0.5,1.1-0.9\
    c0.3-0.4,0.6-0.9,0.8-1.6c0.2-0.6,0.3-1.4,0.3-2.2s-0.1-1.6-0.3-2.2c-0.2-0.6-0.5-1.2-0.8-1.6c-0.3-0.4-0.7-0.7-1.1-0.9\
    c-0.4-0.2-0.9-0.3-1.4-0.3c-0.5,0-0.9,0.1-1.4,0.3c-0.4,0.2-0.8,0.5-1.1,0.9c-0.3,0.4-0.6,0.9-0.8,1.6c-0.2,0.6-0.3,1.4-0.3,2.2\
    s0.1,1.6,0.3,2.2c0.2,0.6,0.5,1.2,0.8,1.6c0.3,0.4,0.7,0.7,1.1,0.9C126.6,12,127,12.1,127.5,12.1z")
    path.st1(d="M138.6,3.4h-2.5V2c0.5-0.1,0.8-0.1,1.2-0.2c0.3-0.1,0.6-0.2,0.8-0.4c0.2-0.2,0.4-0.3,0.6-0.5\
    c0.2-0.2,0.3-0.4,0.4-0.7h1.7v13.6h-2.2V3.4z")
    path.st1(d="M149.5,14c-0.8,0-1.6-0.1-2.2-0.3c-0.6-0.2-1.1-0.4-1.5-0.7c-0.5-0.3-0.9-0.6-1.2-1l1.5-1.5\
    c0.2,0.3,0.5,0.5,0.8,0.8c0.3,0.2,0.6,0.4,1.1,0.5c0.4,0.2,0.9,0.2,1.5,0.2c0.9,0,1.6-0.2,2.1-0.7c0.5-0.5,0.8-1.1,0.8-1.9\
    c0-0.8-0.3-1.4-0.8-1.9c-0.5-0.5-1.2-0.7-2.1-0.7c-0.4,0-0.8,0.1-1.1,0.2c-0.3,0.1-0.6,0.3-0.8,0.5c-0.3,0.2-0.5,0.4-0.7,0.7\
    L145.3,8l0.5-7.8h7.9v2h-6l-0.2,3.3c0.2-0.1,0.4-0.2,0.6-0.3c0.2-0.1,0.5-0.2,0.7-0.2c0.3-0.1,0.6-0.1,1-0.1c0.7,0,1.3,0.1,1.9,0.3\
    c0.6,0.2,1.1,0.5,1.5,1c0.4,0.4,0.7,0.9,1,1.4c0.2,0.6,0.3,1.2,0.3,1.8c0,0.7-0.1,1.3-0.4,1.8c-0.2,0.6-0.6,1-1,1.4\
    c-0.4,0.4-1,0.7-1.6,1C151,13.9,150.3,14,149.5,14z")
    path.st1(d="M159.8,3.4h-2.5V2c0.5-0.1,0.8-0.1,1.2-0.2c0.3-0.1,0.6-0.2,0.8-0.4c0.2-0.2,0.4-0.3,0.6-0.5\
    c0.2-0.2,0.3-0.4,0.4-0.7h1.7v13.6h-2.2V3.4z")
