svg(version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 79 14" style="enable-background:new 0 0 79 14;" xml:space="preserve")
  style(type="text/css").
    .st0{opacity:0.9;}
  g.st0
    path.st1(d="M7.4,14c-1.1,0-2-0.2-2.9-0.5c-0.9-0.4-1.7-0.9-2.4-1.5C1.5,11.3,1,10.6,0.6,9.7C0.2,8.9,0,8,0,7\
    s0.2-1.9,0.6-2.7C1,3.4,1.5,2.7,2.1,2c0.7-0.6,1.4-1.1,2.4-1.5C5.4,0.2,6.4,0,7.4,0c1,0,1.8,0.1,2.5,0.4c0.7,0.3,1.3,0.6,1.8,0.9\
    c0.5,0.4,1,0.8,1.4,1.3L11.8,4c-0.3-0.4-0.6-0.7-1.1-1c-0.4-0.3-0.8-0.5-1.4-0.7C8.8,2.1,8.2,1.9,7.4,1.9S6,2.1,5.4,2.3\
    C4.8,2.6,4.2,3,3.7,3.4C3.3,3.9,2.9,4.4,2.6,5C2.3,5.6,2.2,6.3,2.2,7s0.1,1.4,0.4,2s0.6,1.2,1.1,1.6c0.5,0.5,1,0.8,1.7,1.1\
    c0.6,0.3,1.3,0.4,2,0.4s1.4-0.1,1.9-0.3c0.5-0.2,1-0.5,1.4-0.7c0.4-0.3,0.8-0.7,1.1-1.1l1.4,1.4c-0.4,0.5-0.9,1-1.5,1.4\
    c-0.5,0.3-1.1,0.6-1.8,0.9C9.2,13.9,8.4,14,7.4,14z")
    path.st1(d="M20.7,14c-0.7,0-1.4-0.1-2-0.4c-0.6-0.3-1.1-0.6-1.6-1c-0.4-0.4-0.8-0.9-1.1-1.5c-0.3-0.6-0.4-1.2-0.4-1.9\
    c0-0.7,0.1-1.3,0.4-1.9c0.3-0.6,0.6-1.1,1.1-1.5c0.4-0.4,1-0.8,1.6-1c0.6-0.3,1.3-0.4,2-0.4c0.7,0,1.4,0.1,2,0.4\
    c0.6,0.3,1.1,0.6,1.6,1c0.4,0.4,0.8,0.9,1.1,1.5c0.3,0.6,0.4,1.2,0.4,1.9c0,0.7-0.1,1.3-0.4,1.9c-0.3,0.6-0.6,1.1-1.1,1.5\
    c-0.4,0.4-1,0.8-1.6,1C22.1,13.9,21.4,14,20.7,14z M20.7,12.2c0.4,0,0.8-0.1,1.2-0.2c0.4-0.1,0.7-0.4,1-0.6c0.3-0.3,0.5-0.6,0.6-1\
    c0.2-0.4,0.2-0.8,0.2-1.2s-0.1-0.8-0.2-1.2c-0.2-0.4-0.4-0.7-0.6-1c-0.3-0.3-0.6-0.5-1-0.6c-0.4-0.1-0.8-0.2-1.2-0.2\
    c-0.4,0-0.8,0.1-1.2,0.2c-0.4,0.1-0.7,0.4-1,0.6c-0.3,0.3-0.5,0.6-0.6,1c-0.2,0.4-0.2,0.8-0.2,1.2s0.1,0.8,0.2,1.2\
    c0.2,0.4,0.4,0.7,0.6,1c0.3,0.3,0.6,0.5,1,0.6C19.9,12.1,20.3,12.2,20.7,12.2z")
    path.st1(d="M28.9,4.5h2v1.4c0.2-0.3,0.4-0.5,0.7-0.8c0.3-0.2,0.6-0.4,0.9-0.5C33,4.4,33.5,4.3,34,4.3\
    c0.5,0,1.1,0.1,1.5,0.3C36,4.7,36.4,5,36.7,5.4c0.3,0.4,0.6,0.8,0.8,1.3c0.2,0.5,0.3,1.1,0.3,1.7v5.4h-2V8.4c0-0.7-0.2-1.2-0.6-1.6\
    c-0.4-0.4-0.9-0.6-1.6-0.6c-0.4,0-0.7,0.1-1,0.2c-0.3,0.1-0.6,0.3-0.8,0.5c-0.2,0.2-0.4,0.5-0.5,0.8C31,8,31,8.4,31,8.7v5.1h-2V4.5\
    z")
    path.st1(d="M45.6,14c-1,0-1.7-0.3-2.2-0.8c-0.5-0.5-0.8-1.3-0.8-2.3V6.3h-1.8V4.5h1.1c0.3,0,0.5-0.1,0.7-0.2\
    c0.1-0.2,0.2-0.4,0.2-0.8v-2h1.8v3.1h2.2v1.8h-2.2v4.4c0,1,0.5,1.5,1.4,1.5c0.1,0,0.3,0,0.4,0c0.1,0,0.3-0.1,0.4-0.1\
    c0.1-0.1,0.2-0.1,0.3-0.2v1.8c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0-0.3,0.1-0.5,0.1C46.1,14,45.9,14,45.6,14z")
    path.st1(d="M53.1,14c-0.5,0-0.9-0.1-1.3-0.2c-0.4-0.1-0.7-0.3-1-0.6c-0.3-0.2-0.5-0.5-0.7-0.9c-0.2-0.3-0.2-0.7-0.2-1\
    c0-0.8,0.3-1.4,0.8-1.9c0.5-0.5,1.2-0.8,2.1-1l3.5-0.6c0-0.5-0.2-0.9-0.6-1.2C55.3,6.2,54.8,6,54.2,6c-0.4,0-0.7,0.1-1,0.2\
    c-0.3,0.1-0.6,0.3-0.8,0.4c-0.3,0.2-0.5,0.4-0.7,0.6L50.4,6c0.3-0.3,0.6-0.6,1-0.9c0.3-0.2,0.7-0.4,1.2-0.6c0.5-0.2,1-0.3,1.7-0.3\
    c0.6,0,1.2,0.1,1.6,0.3c0.5,0.2,0.9,0.4,1.3,0.8c0.3,0.3,0.6,0.7,0.8,1.1c0.2,0.4,0.3,0.9,0.3,1.4v5.9h-2v-1.4\
    c-0.2,0.3-0.5,0.5-0.8,0.8c-0.3,0.2-0.6,0.4-1,0.5C54,13.9,53.6,14,53.1,14z M53.5,12.3c0.4,0,0.7-0.1,1.1-0.2\
    c0.3-0.1,0.6-0.3,0.9-0.6c0.2-0.2,0.4-0.5,0.6-0.9c0.1-0.3,0.2-0.7,0.2-1.1V9.3l-2.8,0.5c-0.5,0.1-0.9,0.2-1.1,0.5\
    c-0.2,0.2-0.4,0.5-0.4,0.8c0,0.3,0.1,0.6,0.4,0.9C52.6,12.2,53,12.3,53.5,12.3z")
    path.st1(d="M66.4,14c-0.7,0-1.4-0.1-2-0.4c-0.6-0.3-1.1-0.6-1.6-1c-0.4-0.4-0.8-0.9-1.1-1.5c-0.3-0.6-0.4-1.2-0.4-1.9\
    c0-0.7,0.1-1.3,0.4-1.9s0.6-1.1,1.1-1.5c0.4-0.4,1-0.8,1.6-1c0.6-0.3,1.3-0.4,2-0.4c0.7,0,1.3,0.1,1.8,0.3c0.5,0.2,0.9,0.4,1.3,0.6\
    c0.4,0.3,0.7,0.6,1,0.9L69,7.4c-0.2-0.2-0.4-0.4-0.7-0.6c-0.2-0.2-0.5-0.3-0.8-0.4c-0.3-0.1-0.7-0.2-1.1-0.2\
    c-0.4,0-0.8,0.1-1.2,0.2c-0.4,0.1-0.7,0.4-1,0.6c-0.3,0.3-0.5,0.6-0.6,1c-0.2,0.4-0.2,0.8-0.2,1.2s0.1,0.8,0.2,1.2\
    c0.2,0.4,0.4,0.7,0.6,1c0.3,0.3,0.6,0.5,1,0.6c0.4,0.1,0.8,0.2,1.2,0.2c0.4,0,0.8-0.1,1.1-0.2c0.3-0.1,0.6-0.3,0.8-0.5\
    c0.3-0.2,0.5-0.4,0.7-0.7l1.4,1.3c-0.3,0.4-0.6,0.7-1,1c-0.3,0.2-0.8,0.5-1.3,0.7C67.7,13.9,67.1,14,66.4,14z")
    path.st1(d="M77.5,14c-1,0-1.7-0.3-2.2-0.8c-0.5-0.5-0.8-1.3-0.8-2.3V6.3h-1.8V4.5h1.1c0.3,0,0.5-0.1,0.7-0.2\
    c0.1-0.2,0.2-0.4,0.2-0.8v-2h1.8v3.1h2.2v1.8h-2.2v4.4c0,1,0.5,1.5,1.4,1.5c0.1,0,0.3,0,0.4,0c0.1,0,0.3-0.1,0.4-0.1\
    c0.1-0.1,0.2-0.1,0.3-0.2v1.8c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0-0.3,0.1-0.5,0.1C77.9,14,77.7,14,77.5,14z")
