// *****************************
// * architect
// *****************************

// .header.labo_architect
//     position: fixed

.architect
    @at-root
        &-movie
            padding-top: 80px
            position: relative

            +for-small
                padding-top: 25px

            &::after
                +position-absolute(0,auto,auto,0)
                background-color: #2B2B2B
                content: ''
                height: 75%
                width: 100%
                z-index: -1

                +for-small
                    height: 80%

            &.builder
                &::after
                    background: linear-gradient(90deg, #6da7dc, #73cfff)

            .-movie
                background-color: $color-white
                margin: 0 auto
                max-width: 1420px
                width: 74%

                +for-small
                    margin: 0 20px
                    width: auto

                .-movie-inner
                    +transition((opacity),0.3s,ease,0)
                    position: relative
                    height: 0
                    padding: 0 0 56.25%
                    overflow: hidden

                    &:hover
                        cursor: pointer
                        opacity: 0.8

                    iframe
                        position: absolute
                        top: 0
                        left: 0
                        height: 100%
                        width: 100%
                        max-width: 100%

                    img
                        height: auto
                        width: 100%

            &.official
                margin-bottom: 95px

                +for-small
                    margin-bottom: 40px

            &.detail
                margin-top: 125px

                +for-small
                    margin-top: 25px

        &-list
            margin: 0 auto
            max-width: 1677px
            width: 87.3%

            & > .-wrap
                counter-reset: number
                display: flex
                flex-wrap: wrap
                justify-content: space-between

                +for-small
                    flex-direction: column

                .-list
                    +transition((opacity),0.3s,ease,0)
                    position: relative
                    margin-bottom: 110px
                    width: 48.2%

                    &:hover
                        opacity: 0.8

                    +for-small
                        margin-bottom: 40px
                        width: 100%

                    &:last-child
                        +for-small
                            margin-bottom: 0

                    // &:before
                    //     +TTNormsPro-ExtraLightItalic
                    //     counter-increment: number
                    //     content: '#'counter(number, decimal-leading-zero)
                    //     color: $color-red
                    //     display: block
                    //     font-size: 80px
                    //     // font-style: italic
                    //     position: absolute
                    //     right: 0
                    //     bottom: 60px
                    //     z-index: 2

                    //     +for-small
                    //         font-size: 55px

                    .-image
                        display: flex
                        margin-bottom: 25px
                        position: relative
                        width: 100%

                        +for-small
                            margin-bottom: 20px

                        .architect
                            overflow: hidden
                            padding-top: 40%
                            position: relative
                            width: 40%

                            img
                                +position-absolute(50%,auto,auto,0)
                                height: auto
                                transform: translateY(-50%)
                                width: 100%

                        .model
                            overflow: hidden
                            padding-top: 40%
                            position: relative
                            width: 60%

                            img
                                +position-absolute(50%,auto,auto,0)
                                height: auto
                                transform: translateY(-50%)
                                width: 100%

                        .icon-model
                            +position-absolute(-10px,auto,auto,20px)
                            width: 35%

                            img
                                height: auto
                                width: 100%

                            +max-width(1366px)
                                +position-absolute(-10px,auto,auto,6px)

                                img
                                    height: 63px
                                    width: 215px

                                +for-small
                                    +position-absolute(-5px,auto,auto,6px)
                                    img
                                        height: 29px
                                        width: 100px

                        .icon-negotiations
                            +position-absolute(0,0,auto,auto)
                            img
                                height: 140px
                                width: 134px

                            +max-width(1366px)
                                img
                                    height: 115px
                                    width: 110px

                                    +for-small
                                        height: 73px
                                        width: 70px

                        .icon-contracted
                            +position-absolute(0,0,auto,auto)
                            img
                                height: 140px
                                width: 134px

                            +max-width(1366px)
                                img
                                    height: 115px
                                    width: 110px

                                    +for-small
                                        height: 73px
                                        width: 70px

                        .icon-movie
                            +position-absolute(auto,auto,-3px,0)
                            width: 40%
                            img
                                height: auto
                                width: 100%



                    .-content
                        align-items: flex-end
                        display: flex
                        justify-content: space-between

                        +for-small
                            display: block
                            align-items: flex-start
                            position: relative

                        &.builder
                            align-items: flex-start

                            .-data
                                .ja
                                    +for-small
                                        font-size: 16px
                                        line-height: 1.3
                                        width: 70%
                                .en
                                    margin-bottom: 10px

                                    +for-small
                                        margin-bottom: 5px

                            .name
                                .en
                                    color: #1A96FA

                            .-button
                                & > p
                                    color: #1A96FA

                                    &:before
                                        color: #1A96FA

                                span
                                    color: #1A96FA

                                .more
                                    .arrow
                                        svg
                                            fill: #1A96FA

                        .-data
                            .company
                                +notosans
                                font-size: 13px
                                font-weight: 500
                                letter-spacing: 0.1em

                                +for-small
                                    font-size: 12px

                        .name
                            margin-bottom: 8px

                            span
                                display: block

                                &.ja
                                    +notosans
                                    font-size: 30px
                                    font-weight: 300
                                    letter-spacing: 0.2em

                                    +max-width(1550px)
                                        font-size: 22px

                                    +max-width(1210px)
                                        font-size: 20px

                                        +for-small
                                            font-size: 18px

                                &.en
                                    +TTNormsPro-Italic
                                    color: $color-red
                                    font-size: 14px
                                    letter-spacing: 0.05em
                                    margin-bottom: 5px

                                    +for-small
                                        font-size: 11px

                        .-button

                            & > p
                                +TTNormsPro-Italic
                                color: $color-red
                                font-size: 14px
                                position: relative
                                padding-right: 30px
                                letter-spacing: 0.05em

                                +for-small
                                    +position-absolute(0,0,auto,auto)
                                    display: inline-block
                                    font-size: 12px
                                    padding-right: 25px
                                    letter-spacing: 0.01em

                                &:before
                                    +TTNormsPro-LightItalic
                                    counter-increment: number
                                    content: '#'counter(number, decimal-leading-zero)
                                    color: $color-red
                                    display: block
                                    font-size: 14px
                                    // font-style: italic
                                    position: absolute
                                    letter-spacing: 0.05em
                                    right: 0
                                    bottom: 0
                                    z-index: 2

                                    +for-small
                                        bottom: -1px
                                        font-size: 12px
                                        letter-spacing: 0em

                            span
                                +TTNormsPro-MediumItalic
                                color: $color-red
                                display: inline-block
                                font-size: 14px
                                letter-spacing: 0.05em

                                +for-small
                                    +brandon
                                    color: $color-black
                                    font-size: 12px
                                    font-weight: 500
                                    font-style: normal
                                    text-align: right
                                    text-transform: uppercase

                            .more
                                padding-right: 25px
                                position: relative
                                margin-top: 20px
                                text-align: right

                                +for-small
                                    +position-absolute(auto,0,0,auto)
                                    display: inline-block
                                    margin-top: 25px
                                    padding-right: 0
                                    padding-left: 40px

                                    &:after
                                        +position-absolute(auto,auto,4px,0)
                                        background-color: $color-black
                                        content: ''
                                        height: 1px
                                        width: 52px

                                        +for-small
                                            left: 0
                                            width: 30px

                                    &:before
                                        +position-absolute(auto,auto,7px,41px)
                                        background-color: $color-black
                                        content: ''
                                        height: 1px
                                        transform: rotate(30deg)
                                        width: 12px

                                        +for-small
                                            +position-absolute(auto,auto,6px,23px)
                                            width: 8px

                                .arrow
                                    +position-absolute(0,0,auto,auto)
                                    svg
                                        fill: $color-red
                                        width: 17px

                                    +for-small
                                        display: none

        &-expo
            padding: 170px 0 100px
            position: relative

            +for-small
                padding: 80px 0 30px

            .bg-image
                overflow: hidden
                padding-top: 24.62%
                position: relative
                margin-left: 13%
                margin-bottom: 110px

                +for-small
                    overflow: auto
                    margin-left: 7%
                    padding: 0 0 50px
                    margin-bottom: 40px

                img
                    +position-absolute(0,0,auto,auto)
                    height: 100%
                    padding-left: 13%
                    width: auto

                    +for-small
                        padding-left: 0
                        position: static
                        height: auto
                        width: 100%

                    &.logo
                        +position-absolute(47%,auto,auto,0)
                        margin: 0 auto
                        padding-left: 0
                        transform: translateY(-50%)
                        height: auto
                        width: 19%

                        +max-width(1420px)
                            width: 22.7%

                            +for-small
                                width: 36.5%

                        +for-small
                            +position-absolute(auto,auto,4px,0)
                            transform: none

            .-title
                margin-bottom: 40px

                +for-small
                    margin-bottom: 20px

                span
                    +notosans
                    display: block
                    font-size: 15px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 12px

                .main
                    font-size: 27px
                    font-weight: 300
                    letter-spacing: 0.22em
                    margin-bottom: 10px

                    +for-small
                        font-size: 20px
                        line-height: 1.3
                        margin-bottom: 8px

            .-sub
                +notosans
                font-size: 31px
                font-weight: 300
                line-height: 1.7
                letter-spacing: 0.1em
                margin-bottom: 25px

                +for-small
                    font-size: 15px
                    margin-bottom: 20px

                .blank
                    display: none

                    +max-width(1390px)
                        display: block

            .-text
                +notosans
                font-size: 15px
                letter-spacing: 0.1em
                line-height: 2.5

                +for-small
                    font-size: 12px
                    line-height: 2
                    text-align: justify
                    letter-spacing: 0.08em

                &.sub
                    letter-spacing: 0.05em
                    line-height: 1.8
                    margin-top: 50px
                    span
                        display: block

                    +for-small
                        margin-top: 25px


.architect-detail
    @at-root
        .architect-movie
            &.detail
                &:after
                    background-color: #3C3C3C

        &-drawing
            padding: 90px 0 55px

            +for-small
                padding: 45px 0 7px

        &-slide
            margin: 0 auto
            max-width: 1570px
            position: relative
            width: 81.8%

            +for-small
                margin: 0 20px 25px
                width: auto

            .swiper-container
                margin: 0 auto
                max-width: 1420px
                width: 90.5%

                +for-small
                    width: 100%

            .swiper-slide
                text-align: center

                img
                    height: auto
                    max-width: 100%
                    vertical-align: bottom
                    width: 100%

            .swiper-button-prev,
            .swiper-button-next
                height: 90px
                outline: none
                transform: translateY(-50%)
                width: 44px

                +for-small
                    height: 14px
                    width: 7px

            .swiper-button-prev
                background: url(../images/architect/icon-arrow-prev.png) no-repeat center center
                background-size: 44px auto
                left: -25px

                +for-small
                    background: url(../images/architect/icon-arrow-prev-sp.png) no-repeat center center
                    top: auto
                    bottom: -38px
                    background-size: 7px auto
                    left: 0px

            .swiper-button-next
                background: url(../images/architect/icon-arrow-next.png) no-repeat center center
                background-size: 44px auto
                right: -25px

                +for-small
                    background: url(../images/architect/icon-arrow-next-sp.png) no-repeat center center
                    top: auto
                    bottom: -38px
                    background-size: 7px auto
                    right: 0

            .swiper-pagination
                left: 50%
                margin-top: 40px
                transform: translateX(-50%)

                +for-small
                    margin-top: 20px

                .swiper-pagination-bullet
                    background-color: #EAEAEA
                    height: 15px
                    margin: 0 9px
                    opacity: 1
                    outline: none
                    width: 15px

                    +for-small
                        margin: 0 3px
                        height: 7px
                        width: 7px

                    &-active
                        background-color: #3C3C3C

        &-movie
            margin: 0 auto
            max-width: 1312px
            padding-top: 150px
            position: relative
            width: 81.8%

            +for-small
                margin: 0 20px
                padding-top: 45px
                width: auto

            video
                height: auto
                width: 100%

        &-presentation
            text-align: center

            .headding-primary
                +for-small
                    margin-bottom: 20px
                    text-align: left

            .-head
                display: flex
                justify-content: space-between
                margin-bottom: 30px

                +for-small
                    display: none
                    // margin-bottom: 15px

            .-headding
                +notosans
                font-size: 18px
                font-weight: 300
                // margin-bottom: 70px
                letter-spacing: 0.1em
                text-align: right

                +for-small
                    display: none

            .-title
                +TTNormsPro-LightItalic
                color: $color-red
                font-size: 21px
                letter-spacing: 0.1em
                // margin-bottom: 160px

                &.blue
                    color: #1A96FA

                +for-small
                    font-size: 18px

                & > img
                    height: 100%
                    vertical-align: bottom
                    width: auto

            .-main
                +notosans
                font-size: 18px
                font-weight: 300
                letter-spacing: 0.2em
                margin-bottom: 15px

                +for-small
                    font-size: 12px
                    margin-bottom: 10px

            .-sub
                +notosans
                font-size: 60px
                font-weight: 100
                letter-spacing: 0.2em
                margin-bottom: 25px

                +for-small
                    font-size: 20px
                    margin-bottom: 10px

            .-name
                +notosans
                color: $color-red
                font-size: 18px
                font-weight: 300
                letter-spacing: 0.2em
                margin-bottom: 25px

                &.blue
                    color: #1A96FA

                +for-small
                    font-size: 12px
                    margin-bottom: 18px

            .-text,
            .-text > p
                +notosans
                // font-size: 18px
                font-size: 14px
                font-weight: 300
                letter-spacing: 0.1em
                line-height: 2.7

                +for-small
                    font-size: 12px
                    line-height: 2
                    font-weight: 300
                    text-align: justify

                    br
                        display: none

                strong
                    font-weight: 600

            .-number
                +TTNormsPro-Italic
                color: $color-red
                font-size: 18px
                letter-spacing: 0.1em
                margin-bottom: 30px
                text-align: center
                text-indent: 0.1em

                &.blue
                    color: #1A96FA

                +for-small
                    font-size: 16px
                    margin-bottom: 15px

            .-image
                text-align: center
                margin-bottom: 75px

                +for-small
                    margin-bottom: 30px

                & > img
                    height: auto
                    max-width: 100%
                    vertical-align: bottom
                    width: 100%

            .-wrap
                margin-bottom: 100px

                +for-small
                    margin-bottom: 40px

                &:last-child
                    margin-bottom: 25px

                    +for-small
                        margin-bottom: 10px

        &-entry
            .headding-secondary
                // margin-top: -120px

                +for-small
                    margin-top: 0
            .-wrap
                display: flex
                align-items: flex-start
                justify-content: space-between

                +for-small
                    flex-direction: column
                    position: relative

                &.builder
                    .-name
                        width: 70%
                        +for-small
                            margin-bottom: 0
                            width: 100%

                        .en, .ja
                            +for-small
                                padding-right: 40%
                        .ja
                            +for-small
                                margin-bottom: 23%
                        .-text
                            +notosans
                            +textspace(14px, 2, 35px)
                            font-weight: 300
                            letter-spacing: 0.1em

                            +for-small
                                +textspace(12px, 2, 13px)
                                margin-bottom: 15px

                            &:last-of-type
                                margin-bottom: 0

                            span
                                display: block

                                &.award
                                    +textspace(14px, 2, 0)
                                    letter-spacing: 0.04em
                                    margin-top: 5px

                                    +for-small
                                        +textspace(12px, 2, 13px)
                                        margin-top: 3px

                            a
                                +transition((opacity),0.3s,ease,0)

                                &:hover
                                    opacity: 0.6

                            .site
                                display: block

                .-data
                    width: 50%
                    +for-small
                        width: 100%

                .-name
                    +for-small
                        margin-bottom: 23%
                        width: 100%

                    .en
                        +TTNormsPro-Italic
                        color: $color-red
                        font-size: 18px
                        font-weight: 300
                        letter-spacing: 0.1em
                        margin-bottom: 10px

                        +for-small
                            +TTNormsPro-MediumItalic
                            font-size: 12px
                            margin-bottom: 10px

                        &.blue
                            color: #1A96FA

                    .ja
                        +notosans
                        font-size: 28px
                        font-weight: 300
                        letter-spacing: 0.2em
                        margin-bottom: 35px

                        +for-small
                            font-size: 20px
                            margin-bottom: 10px

                    .company
                        +notosans
                        // font-size: 18px
                        font-size: 15px
                        font-weight: 300
                        letter-spacing: 0.1em

                        +for-small
                            font-size: 11px

                .-text
                    margin-bottom: 35px

                    +for-small
                        margin-bottom: 15px

                    p,span,a
                        +notosans
                        display: block
                        font-weight: 300
                        font-size: 14px
                        line-height: 2
                        letter-spacing: 0.1em

                        +for-small
                            font-size: 12px

                        &.award
                            +textspace(14px, 2, 0)
                            letter-spacing: 0.04em
                            margin-top: 5px

                            +for-small
                                +textspace(12px, 2, 13px)
                                margin-top: 3px

                    &:last-of-type
                        margin-bottom: 0

                    strong
                        font-weight: 600

                    a
                        +transition((opacity),0.3s,ease,0)

                        &:hover
                            opacity: 0.6

                        &.tel
                            display: inline-block

                            &.sl
                                padding-left: 12px
                                position: relative

                                &::after
                                    +position-absolute(0,auto,auto,0)
                                    +notosans
                                    content: '/'
                                    font-size: 14px

                    .site
                        display: block

                .-image
                    max-width: 340px
                    padding-top: 17.7%
                    position: relative
                    overflow: hidden
                    width: 17.7%

                    +for-small
                        +position-absolute(0,0,auto,auto)
                        max-width: 100%
                        padding-top: 39.3%
                        width: 39.3%

                    img
                        +position-absolute(50%,auto,auto,0)
                        height: auto
                        vertical-align: bottom
                        width: 100%
                        transform: translateY(-50%)

            & > .button-ghost
                margin-top: 60px

                +for-small
                    margin-top: 20px

                &:nth-child(2n)
                    margin-top: 30px

                    +for-small
                        margin-top: 10px

                span
                    +for-small
                        line-height: 1.5

        &-price
            padding: 90px 0 0
            text-align: center

            +for-small
                padding: 45px 0 0

            .headding-secondary
                margin-bottom: 40px

                +for-small
                    margin-bottom: 20px

            .-name
                +notosans
                font-size: 18px
                font-weight: 300
                letter-spacing: 0.1em
                margin-bottom: 25px

                +for-small
                    font-size: 14px
                    letter-spacing: 0.05em
                    margin-bottom: 15px

            .-sub
                +notosans
                font-size: 13px
                margin-bottom: 35px
                text-align: center

                +for-small
                    font-size: 11px
                    margin-bottom: 20px

            .p-wrap
                margin-bottom: 35px

                +for-small
                    margin-bottom: 15px

                .-stitle
                    +notosans
                    font-size: 18px
                    font-weight: 300
                    letter-spacing: 0.2em
                    margin-bottom: 10px

                    +for-small
                        font-size: 13px
                        margin-bottom: 5px

                .-price
                    +TTNormsPro-ExtraLightItalic
                    font-size: 66px
                    font-weight: 200
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 34px

            .-text
                +notosans
                +textspace(14px, 2, 60px)
                font-weight: 300
                letter-spacing: 0.05em

                +for-small
                    font-size: 11px
                    margin-bottom: 0
                    text-align: justify

            .button-ghost
                text-align: center
                width: 100%

                +for-small
                    margin-bottom: 20px

        &-list
            .-wrap
                margin: 0 auto
                max-width: 1424px
                width: 100%

                .-list
                    margin-bottom: 80px

                    +for-small
                        margin-bottom: 35px

                    &:last-child
                        margin-bottom: 0

                    &.works
                        margin-bottom: 55px

                        +for-small
                            margin-bottom: 15px

                    .-content
                        .title
                            +notosans
                            +textspace(25px, 1.8, 40px)
                            font-weight: 400
                            letter-spacing: 0.1em

                            +for-small
                                +textspace(15px, 1.8, 25px)

                        .text
                            +notosans
                            +textspace(14px, 2.3, 75px)
                            font-weight: 300
                            letter-spacing: 0.1em

                            +for-small
                                +textspace(12px, 2, 25px)

                    .-image
                        text-align: center

                        img
                            height: auto
                            max-width: 100%
                            vertical-align: bottom
                            width: auto

                        .copy
                            +notosans
                            color: #666
                            font-weight: 300
                            font-size: 14px
                            letter-spacing: 0.1em
                            margin-top: 20px
                            text-align: right

                            +for-small
                                font-size: 10px
                                margin-top: 5px
