// *****************************
// * home
// *****************************

.article-content

    .cont-map
        margin: 0 auto 80px
        width: 920px

        +for-small
            margin: 0 auto 40px
            padding: 0 20px
            max-width: 340px
            width: 100%

        .list_markup
            align-items: center
            background-color: $color-white
            border: 1px solid #E5E5E5
            border-radius: 34px
            display: flex
            justify-content: space-between
            padding: 20px 100px

            +for-small
                align-items: flex-start
                padding: 6px 10px

            li
                align-items: center
                display: flex

                input[type="checkbox"]
                    appearance: none
                    background-color: #d8d8d8
                    border: 1px solid #E5E5E5
                    border-radius: 13px
                    box-shadow: inset 0 0 0 4px #fff
                    height: 26px
                    outline: none
                    margin-right: 13px
                    vertical-align: middle
                    width: 26px

                    +for-small
                        box-shadow: inset 0 0 0 3px #fff
                        border-radius: 9px
                        height: 18px
                        margin-right: 4px
                        width: 18px

                    &:checked
                        background-color: #FF0000

                #m_state2
                    &:checked
                        background-color: #0D8B00

                #m_state3
                    &:checked
                        background-color: #808080


                a
                    +notosans
                    font-size: 15px
                    letter-spacing: 0.05em
                    position: relative

                    +for-small
                        font-size: 10px
                        letter-spacing: 0.03em

                    &.state1
                        color: #FF0000

                    &.state2
                        color: #0D8B00

                    &.state3
                        color: #808080

    .school-branch
        margin-bottom: 20px

        +for-small
            margin: 45px 20px 40px

        dl
            display: flex

            +for-small
                flex-direction: column

            dt
                margin: 0 35px 0 0 !important
                min-width: 175px

                h3
                    +notosans
                    color: #3A81C4
                    font-size: 20px
                    font-weight: 600
                    letter-spacing: 0.05em
                    padding: 0

                    +for-small
                        font-size: 16px
                        padding: 0 0 12px

                    &.school
                        margin-top: 35px

            &.all
                margin-bottom: 25px

            dd
                margin: 0 !important
                width: calc(100% - 210px)

                +for-small
                    width: 100%

                label, a
                    +notosans
                    appearance: none
                    border: 2px solid #3A81C4
                    border-radius: 17px
                    color: #3A81C4
                    display: inline-block
                    font-size: 15px
                    font-weight: bold
                    letter-spacing: 0.05em
                    line-height: 1
                    padding: 7px 15px 6px
                    text-align: center
                    text-indent: 0.05em
                    transition: all 0.3s ease

                    +for-small
                        border: 1px solid #3A81C4
                        font-size: 13px
                        padding: 4px 17px 6px

                    &:hover
                        cursor: pointer
                        background-color: #3A81C4
                        color: $color-white

                input
                    appearance: none
                    display: inline-block
                    opacity: 0
                    height: 0
                    width: 0

                    &:hover
                        cursor: pointer

                input[type="radio"]:checked + label
                    background-color: #3A81C4
                    color: $color-white

                .-wrap
                    width: 100%

                    & > li
                        display: inline-block
                        margin-bottom: 30px
                        margin-right: 18px

                        & > a
                          +notosans
                          transition: all 0.3s ease
                          appearance: none
                          border: 2px solid #3A81C4
                          border-radius: 17px
                          color: #3A81C4
                          display: inline-block
                          font-size: 15px
                          letter-spacing: 0.05em
                          line-height: 1
                          padding: 7px 15px 6px
                          text-align: center
                          text-indent: 0.05em

                          +for-small
                              border: 1px solid #3A81C4
                              font-size: 13px
                              padding: 4px 17px 6px
                            
                          &.current
                            background-color: #3A81C4
                            color: $color-white
                          
                          &:hover
                            background-color: #3A81C4
                            color: $color-white

                        &.all
                            display: block
                            margin-bottom: 25px

                .label
                    display: block
                    width: 100%

                    .select-wrap
                        display: block
                        position: relative
                        width: 100%

                        &::after
                            +position-absolute(50%,20px,auto,auto)
                            +iconfont
                            content: '\e801'
                            color: $color-white
                            font-size: 15px
                            transform: translateY(-50%)

                        select
                            +notosans
                            appearance: none
                            background-color: #3A81C4
                            border: 1px solid #3A81C4
                            border-radius: 20px
                            color: $color-white
                            font-size: 13px
                            letter-spacing: 0.05em
                            outline: none
                            padding: 12px 20px
                            width: 100%


    .school-wrap
        display: none
        margin-bottom: 50px

        &.current
            display: block

        &.all
            display: block

        +for-small
            margin-bottom: 25px

    .table-map
        height: auto
        margin: 0 auto 40px
        width: 1420px

        +max-width(1630px)
            width: 1304px

            +max-width(1498px)
                width: 1186px

                +max-width(1332px)
                    width: 1065px

                    +max-width(1185px)
                        width: 948px

                        +for-small
                            margin: 0 20px 30px
                            width: auto
        .-wrap
            line-height: 0
            height: auto
            position: relative
            overflow: hidden
            width: 100%

            .frame
                height: auto
                width: 100%

            .-inner
                +position-absolute(0,auto,auto,0)
                overflow: auto
                padding-top: 57.3965%
                width: 100%

                +for-small
                    padding-top: 87.3965%

                &::-webkit-scrollbar
                    display: none

            .bg-image
                +position-absolute(0,auto,auto,0)
                height: auto
                padding: 1.1%
                width: 100%
                z-index: -1

                +for-small
                    padding: 1% 0 0 1%
                    height: 392px
                    width: 464px

                img
                    height: auto
                    width: 100%

            .tbl-listmap
                +position-absolute(0,auto,auto,0)
                height: auto
                padding: 1.1%
                width: 100%
                z-index: -1

                +for-small
                    padding: 1.05%
                    height: 392px
                    width: 464px

                table
                    table-layout: fixed

                tr
                    height: auto
                    width: 100%

                td
                    height: auto
                    padding-top: 0.4%
                    position: relative
                    width: 11.9%

                    +max-width(1550px)
                        padding-top: 0.35%

                        +max-width(1498px)
                            padding-top: 0.3%

                            +max-width(1340px)
                                padding-top: 0.25%

                                +max-width(1215px)
                                    padding-top: 0.2%

                                    +for-small
                                        height: 4px
                                        padding: 0
                                        width: 4px


                    & > a
                        +position-absolute(0,auto,auto,0)
                        display: block
                        height: 100%
                        width: 100%

                        .m_state1
                            background-color: #FF0000
                            border-radius: 50%
                            height: 100%
                            width: 100%

                        .m_state2
                            background-color: #0A8C00
                            border-radius: 50%
                            height: 100%
                            width: 100%

                        .m_state3
                            background-color: #4D4D4D
                            border-radius: 50%
                            height: 100%
                            width: 100%

    .head-title
        border-bottom: 1px solid #828282
        margin-bottom: 50px
        padding-bottom: 22px

        +for-small
            margin-bottom: 20px
            padding-bottom: 10px

        h4
            +notosans
            color: #3A81C4
            font-size: 38px
            letter-spacing: 0.1em
            padding-left: 35px
            position: relative

            +for-small
                font-size: 15px
                padding-left: 12px

            &::after
                +position-absolute(2px,auto,auto,0)
                background-color: #3A81C4
                content: ''
                height: 42px
                width: 10px

                +for-small
                    height: 14px
                    top: 1px
                    width: 5px

    .a-list-wrap
        display: flex
        flex-wrap: wrap
        margin-bottom: 48px

        +for-small
            margin-bottom: 25px

        &:last-child
            margin-bottom: 0

        .-list
            border: 1px solid #E5E5E5
            margin-right: 2%
            margin-bottom: 30px
            width: 18.4%

            +max-width(1400px)
                margin-right: 1.5%
                width: 23.875%

                +for-small
                    margin-right: 0
                    margin-bottom: 15px
                    width: 100%

                &:nth-child(4n)
                    margin-right: 0

                &:nth-child(5n)
                    margin-right: 1.5%

                    +for-small
                        margin-right: 0

            &:nth-child(5n)
                margin-right: 0

            a
                display: block
                padding: 18px
                width: 100%

                +for-small
                    display: flex
                    padding: 10px

                .-eyecatch
                    margin-bottom: 12px
                    width: 100%

                    +for-small
                        margin: 0 10px 0 0
                        width: 40.7%

                    .-image
                        overflow: hidden
                        padding-top: 100%
                        position: relative
                        width: 100%

                        img
                            +position-absolute(0,auto,auto,0)
                            height: auto
                            width: 100%

                .-text
                    display: flex
                    flex-wrap: wrap
                    flex-direction: column
                    justify-content: space-between
                    min-height: 108px

                    +for-small
                        min-height: 38px
                        width: 55.3%

                    .state
                        border-radius: 13px
                        display: inline-block
                        margin-bottom: 10px
                        padding: 5px 15px

                        +for-small
                            margin-bottom: 5px
                            padding: 5px 11px 4px

                        span
                            +notosans
                            color: $color-white
                            font-size: 13px
                            font-weight: 500
                            letter-spacing: 0.05em
                            text-indent: 0.05em

                            +for-small
                                font-size: 12px

                        &.state1
                            background-color: #FF3C00

                        &.state2
                            background-color: #0D8B00

                        &.state3
                            background-color: #808080

                        &.state4
                            background-color: #BF9E00

                    .name
                        +notosans
                        font-size: 17px
                        letter-spacing: 0.05em
                        line-height: 1.4
                        margin-bottom: 10px

                        +for-small
                            font-size: 13px
                            margin-bottom: 10px

                    .kukaku
                        +for-small
                            font-size: 13px
                            line-height: 1.3

    &.detail
        .head-content
            +notosans
            border-left: 6px solid #3A81C4
            font-size: 20px
            letter-spacing: 0.1em
            margin-bottom: 45px
            padding: 3px 0 5px 14px

            +for-small
                border-left: 5px solid #3A81C4
                font-size: 15px
                margin-bottom: 20px
                padding: 0 0 0 8px

        .state
            // border-radius: 13px
            // display: inline-block
            // margin-bottom: 35px
            // padding: 5px 15px

            // +for-small
            //     margin-bottom: 15px
            //     padding: 5px 11px 4px

            // span
            //     +notosans
            //     color: $color-white
            //     font-size: 13px
            //     font-weight: 500
            //     letter-spacing: 0.05em
            //     text-indent: 0.05em

            //     +for-small
            //         font-size: 12px

            // &.state1
            //     background-color: #FF3C00

            // &.state2
            //     background-color: #0D8B00

            // &.state3
            //     background-color: #808080

            // &.state4
            //     background-color: #BF9E00

        .detail-wrap
            display: flex
            justify-content: space-between
            margin-bottom: 70px
            width: 100%

            +for-small
                flex-direction: column
                justify-content: flex-start
                margin-bottom: 40px

            .-overview
                width: 50.6%

                +for-small
                    width: 100%

                .-title
                    +notosans
                    font-size: 38px
                    letter-spacing: 0.1em
                    margin-bottom: 20px

                    +for-small
                        font-size: 18px
                        margin-bottom: 13px

                .-sub
                    +notosans
                    color: #3A81C4
                    font-size: 18px
                    letter-spacing: 0.1em
                    line-height: 1.5
                    margin-bottom: 40px

                    +for-small
                        font-size: 14px

                & > .-table
                    border-top: 1px solid #1A1A1A
                    width: 100%

                    .-wrap
                        display: flex
                        width: 100%

                        +for-small
                            flex-direction: column

                    .row
                        border-bottom: 1px solid #1A1A1A
                        display: flex
                        width: 50%

                        +for-small
                            width: 100%

                        &:nth-child(1)
                            border-right: 1px solid #1A1A1A

                            +for-small
                                border-right: none

                        .head, .data
                            padding: 34px 0 33px

                            +for-small
                                padding: 10px 0 9px
                            p
                                +notosans
                                font-size: 15px
                                font-weight: 400
                                letter-spacing: 0.1em

                                +for-small
                                    font-size: 13px
                                    letter-spacing: 0.05em
                                    line-height: 1.5


                        .head
                            background-color: #EDEDED
                            width: 90px

                            p
                                display: flex
                                justify-content: space-between
                                line-height: 1.3
                                margin: 0 auto
                                width: 66px

                                +for-small
                                    width: 55px

                        .data
                            padding-left: 3%
                            width: calc(100% - 90px)

                            +for-small
                                padding-left: 10px


            .-block-map
                width: 42.3%

                +for-small
                    margin-bottom: 40px
                    width: 100%

                .-image
                    img
                        height: auto
                        width: 100%

        .drawing-data
            margin-bottom: 72px

            +for-small
                margin-bottom: 30px

            .-text
                +notosans
                font-size: 14px
                letter-spacing: 0.1em
                margin-bottom: 20px

                +for-small
                    font-size: 13px
                    line-height: 1.7
                    margin-bottom: 12px

            & > .-wrap
                display: flex
                flex-wrap: wrap

                +for-small
                    flex-direction: column

                li
                    margin-bottom: 18px
                    margin-right: 2%
                    width: 23.5%

                    +for-small
                        margin-bottom: 12px
                        margin-right: 0
                        width: 100%

                    &:nth-child(4n)
                        margin-right: 0

        .area-table
            margin-bottom: 100px

            +for-small
                overflow: hidden
                margin-bottom: 45px

            & > .-table
                +for-small
                    overflow-y: scroll
                    -webkit-overflow-scrolling: touch

                    &::-webkit-scrollbar
                        height: 4px
                        width: 100%

                    &::-webkit-scrollbar-track
                        border-radius: 2px
                        height: 4px

                    &::-webkit-scrollbar-thumb
                        border-radius: 2px
                        background-color: #999999
                        height: 4px

                .-wrap
                    +for-small
                        margin-bottom: 10px
                        width: 660px

                        &.other
                            width: 800px

                .row
                    align-items: center
                    border-bottom: 1px solid #808080
                    display: flex

                    &.bg_color1_k
                        background-color: #FFFBE6 !important

                        .data
                            background-color: #FFFBE6 !important

                    &.bg_color2_k
                        background-color: #E6FFE6 !important

                        .data
                            background-color: #E6FFE6 !important

                    &.bg_color3_k
                        position: relative

                        &::after
                            +position-absolute(50%,auto,auto,0)
                            border-top: 2px solid #3A81C4
                            border-bottom: 2px solid #3A81C4
                            content: ''
                            height: 3px
                            transform: translateY(-50%)
                            width: 100%
                            z-index: 6

                    &.bg_color4_k
                        position: relative

                        &::after
                            +position-absolute(50%,auto,auto,0)
                            border-top: 2px solid #FF0000
                            border-bottom: 2px solid #FF0000
                            content: ''
                            height: 3px
                            transform: translateY(-50%)
                            width: 100%
                            z-index: 6

                    &.bg_color5_k
                        background-color: #ffdada !important

                        .data
                            background-color: #ffdada !important


                    .head
                        +notosans
                        background-color: #3A81C4
                        border-right: 1px solid $color-white
                        color: $color-white
                        font-size: 15px
                        font-weight: 400
                        letter-spacing: 0.1em
                        min-height: 67px
                        padding: 25px 0
                        text-align: center
                        width: 13.84%

                        +for-small
                            font-size: 13px
                            min-height: 50px
                            padding: 18px 7px
                            width: 116px

                        &:last-child
                            border-right: none

                        &.movie
                            width: 9%

                            +for-small
                                width: 60px

                        &.num
                            +for-small
                                width: 195px

                        &.small
                            +for-small
                                width: 60px

                        &.midi
                            +for-small
                                width: 80px

                        &.fixed

                            +for-small
                                position: sticky
                                left: -1px
                                top: 0
                                z-index: 5

                    .data
                        +notosans
                        border-right: 1px solid #808080
                        color: #1A1A1A
                        font-size: 15px
                        letter-spacing: 0.1em
                        min-height: 65px
                        position: relative
                        width: 13.84%

                        +for-small
                            background-color: $color-white
                            font-size: 13px
                            min-height: 50px
                            // padding: 12px 7px
                            width: 116px

                        p
                            +position-absolute(50%,auto,auto,15%)
                            transform: translateY(-50%)
                            line-height: 1.5

                        &:last-child
                            border-right: none

                        &.center
                            text-align: center

                            p
                                left: 0
                                right: 0
                                margin: 0 auto

                        &.kukaku
                            p
                                left: 10%

                                +for-small
                                    left: 10px

                            +for-small
                                width: 195px

                        &.num
                            +for-small
                                width: 60px

                            p
                                left: 0
                                right: 0
                                text-align: center

                        &.en
                            +norms-b

                        &.ft_color1_k
                            color: #FFA000 !important

                        &.ft_color2_k
                            color: #00A000 !important

                        &.ft_color3_k
                            color: #6485D3 !important

                        &.ft_color6_k
                            color: #D61518 !important


                        &.movie
                            position: relative
                            width: 9%

                            +for-small
                                width: 60px

                            a
                                +position-absolute(55%,0,auto,0)
                                transform: translateY(-50%)
                                display: block

                        .icon-movie
                            height: 35px
                            width: 50px

                            +for-small
                                height: 25px
                                width: 36px

                        &.small
                            +for-small
                                width: 60px

                        &.midi
                            +for-small
                                width: 80px

                        &.movie
                            text-align: center

                            +for-small
                                width: 60px

                        &.fixed
                            +for-small
                                border-right: 1px solid #808080
                                position: sticky
                                left: -1px
                                top: 0
                                z-index: 5

        .aerial-image
            margin-bottom: 120px
            position: relative
            text-align: center
            width: 100%

            +for-small
                margin-bottom: 40px

            .swiper-container
                width: 100%

                .swiper-wrapper
                    width: 100%

                    .swiper-slide
                        margin-bottom: 30px
                        width: 100%

                        +for-small
                            margin-bottom: 13px

                        .-image
                            img
                                height: auto
                                width: 100%

            .pagination
                height: 16px
                position: relative

                +for-small
                    height: 7px

                .swiper-pagination
                    +position-absolute(auto,0,0,0)
                    height: 16px
                    margin: 0 auto

                    +for-small
                        height: 7px

                    .swiper-pagination-bullet
                        background-color: #EAEAEA
                        border-radius: 8px
                        height: 16px
                        margin: 0 9px
                        opacity: 1
                        width: 16px

                        +for-small
                            border-radius: 3.5px
                            margin: 0 4px
                            height: 7px
                            width: 7px

                        &.swiper-pagination-bullet-active
                            background-color: #3C3C3C

            .navigation
                .swiper-button-next,
                .swiper-button-prev
                    +position-absolute(50%,auto,auto,auto)
                    height: 90px
                    outline: none
                    transform: translateY(-50%)
                    width: 44px

                    +for-small
                        +position-absolute(auto,auto,-5px,auto)
                        height: 14px
                        transform: none
                        width: 8px

                .swiper-button-next
                    background: url(../images/article/icon-arrow-next.png) no-repeat center center
                    background-size: 44px 90px
                    right: -70px

                    +for-small
                        background: url(../images/article/icon-arrow-sp.svg) no-repeat center center
                        background-size: 8px 14px
                        right: 0

                .swiper-button-prev
                    background: url(../images/article/icon-arrow-prev.png) no-repeat center center
                    background-size: 44px 90px
                    left: -70px

                    +for-small
                        background: url(../images/article/icon-arrow-sp.svg) no-repeat center center
                        background-size: 8px 14px
                        transform: rotate(180deg)
                        left: 0

        .cont-google-map
            margin-bottom: 100px
            width: 100%

            +for-small
                margin-bottom: 50px

            & > .-wrap
                margin-bottom: 25px
                width: 100%

                +for-small
                    margin-bottom: 20px

                iframe
                    height: 500px
                    width: 100%

                    +for-small
                        height: 203px

            .button-style1
                width: 365px

                +for-small
                    width: 100%

        .gallery-link
            margin-top: 100px

            +for-small
                margin-top: 50px

            & > .-wrap
                display: flex
                flex-wrap: wrap

                +for-small
                    flex-direction: column

                .-list
                    margin-bottom: 25px
                    margin-right: 2%
                    width: 23.5%

                    +max-width(1525px)
                        width: 49%

                        &:nth-child(2n)
                            margin-right: 0

                        +for-small
                            margin-bottom: 20px
                            margin-right: 0
                            width: 100%

                    &:nth-child(4n)
                        margin-right: 0

                    a
                        +transition((background-color),0.3s,ease,0)
                        align-items: center
                        border: 1px solid #1A1A1A
                        border-radius: 5px
                        display: flex
                        justify-content: space-between
                        padding: 24px 20px 23px

                        +for-small
                            padding: 20px 13px 20px

                        &:hover
                            background-color: #1A1A1A

                            span
                                color: $color-white

                            .arrow
                                &::after,
                                &::before
                                    background-color: $color-white

                                span
                                    color: $color-white

                        span
                            +transition((color),0.3s,ease,0)
                            +notosans
                            font-size: 17px
                            letter-spacing: 0.08em

                            +max-width(1630px)
                                font-size: 15px
                                letter-spacing: 0.05em

                                +for-small
                                    font-size: 13px
                                    letter-spacing: 0.05em

                        .arrow
                            padding-left: 55px
                            position: relative

                            +for-small
                                padding-left: 30px

                            &::after
                                +transition((background-color),0.3s,ease,0)
                                +position-absolute(auto,auto,5px,0)
                                background-color: #1A1A1A
                                content: ''
                                height: 1px
                                width: 45px

                                +for-small
                                    width: 22px

                            &::before
                                +transition((background-color),0.3s,ease,0)
                                +position-absolute(auto,auto,7px,34px)
                                background-color: #1A1A1A
                                content: ''
                                height: 1px
                                transform: rotate(20deg)
                                width: 12px

                                +for-small
                                    left: 11px

                            span
                                +transition((color),0.3s,ease,0)
                                +brandon
                                font-size: 11px
                                font-weight: 500
                                letter-spacing: 0.2em


    .button-style1
        +notosans
        +transition((background-color,color),0.3s,ease,0)
        border: 1px solid #1A1A1A
        border-radius: 5px
        display: block
        font-size: 14px
        letter-spacing: 0.1em
        padding: 20px 23px
        position: relative
        width: 100%

        +for-small
            font-size: 13px
            padding: 12px 14px

        span
            +position-absolute(50%,23px,auto,auto)
            height: 6px
            transform: translateY(-50%)
            width: 60px

            +for-small
                right: 14px
                width: 23px

            &::after
                +transition((background-color),0.3s,ease,0)
                +position-absolute(auto,0,0,auto)
                background-color: #1A1A1A
                content: ''
                height: 1px
                width: 100%

            &::before
                +transition((background-color),0.3s,ease,0)
                +position-absolute(auto,0,2px,auto)
                background-color: #1A1A1A
                content: ''
                height: 1px
                transform: rotate(20deg)
                width: 12px

        &:hover
            background-color: #1A1A1A
            color: #fff

            span
                &::after, &::before
                    background-color: #fff



// MARGIN
// -------------------------------------------------------------------------------------------------
.m05
  margin: 0 5px !important

.ma05
  margin: 5px !important

.ma10
  margin: 10px !important

.mt00
  margin-top: 0px !important

.mt05
  margin-top: 5px !important

.mt10
  margin-top: 10px !important

.mt15
  margin-top: 15px !important

.mt20
  margin-top: 20px !important

.mt25
  margin-top: 25px !important

.mt30
  margin-top: 30px !important

.mt35
  margin-top: 35px !important

.mt40
  margin-top: 40px !important

.mt-80
  margin-top: -80px !important

.mr00
  margin-right: 0px !important

.mr05
  margin-right: 5px !important

.mr10
  margin-right: 10px !important

.mr15
  margin-right: 15px !important

.mr20
  margin-right: 20px !important

.mr25
  margin-right: 25px !important

.mr30
  margin-right: 30px !important

.mr35
  margin-right: 35px !important

.mr40
  margin-right: 40px !important

.mb00
  margin-bottom: 0px !important

.mb05
  margin-bottom: 5px !important

.mb10
  margin-bottom: 10px !important

.mb15
  margin-bottom: 15px !important

.mb20
  margin-bottom: 20px !important

.mb25
  margin-bottom: 25px !important

.mb30
  margin-bottom: 30px !important

.mb35
  margin-bottom: 35px !important

.mb40
  margin-bottom: 40px !important

.ml00
  margin-left: 0px !important

.ml05
  margin-left: 5px !important

.ml10
  margin-left: 10px !important

.ml15
  margin-left: 15px !important

.ml20
  margin-left: 20px !important

.ml25
  margin-left: 25px !important

.ml30
  margin-left: 30px !important

.ml35
  margin-left: 35px !important

.ml40
  margin-left: 40px !important

// PADDING
// -------------------------------------------------------------------------------------------------

.pa05
  padding: 5px !important

.pa10
  padding: 10px !important

.pt00
  padding-top: 0px !important

.pt05
  padding-top: 5px !important

.pt10
  padding-top: 10px !important

.pt15
  padding-top: 15px !important

.pt20
  padding-top: 20px !important

.pt25
  padding-top: 25px !important

.pt30
  padding-top: 30px !important

.pt35
  padding-top: 35px !important

.pt40
  padding-top: 40px !important

.pt80
  padding-top: 80px !important

.pr00
  padding-right: 0px !important

.pr05
  padding-right: 5px !important

.pr10
  padding-right: 10px !important

.pr15
  padding-right: 15px !important

.pr20
  padding-right: 20px !important

.pr25
  padding-right: 25px !important

.pr30
  padding-right: 30px !important

.pr35
  padding-right: 35px !important

.pr40
  padding-right: 40px !important

.pb00
  padding-bottom: 0px !important

.pb05
  padding-bottom: 5px !important

.pb10
  padding-bottom: 10px !important

.pb15
  padding-bottom: 15px !important

.pb20
  padding-bottom: 20px !important

.pb25
  padding-bottom: 25px !important

.pb30
  padding-bottom: 30px !important

.pb35
  padding-bottom: 35px !important

.pb40
  padding-bottom: 40px !important

.pl00
  padding-left: 0px !important

.pl05
  padding-left: 5px !important

.pl10
  padding-left: 10px !important

.pl15
  padding-left: 15px !important

.pl20
  padding-left: 20px !important

.pl25
  padding-left: 25px !important

.pl30
  padding-left: 30px !important

.pl35
  padding-left: 35px !important

.pl40
  padding-left: 40px !important

.pl50
  padding-left: 50px !important

.pl60
  padding-left: 60px !important

.pl70
  padding-left: 70px !important

// Background Color
// -------------------------------------------------------------------------------------------------

.bg_color1
  background-color: #2126AC !important

.bg_color2
  background-color: #FF4B4B !important

.bg_color3
  background-color: #6485D1 !important

.bg_color4
  background-color: #eee !important

.bg_color5
  background-color: #000 !important

.bg_color6
  background-color: #F5F5DC !important

.bg_color1_k
  background-color: #FFFAE6 !important //予約

.bg_color2_k
  background-color: #ECFFF5 !important //商談

.bg_color3_k
  background-color: #F5F7FC !important //契約

.bg_color4_k
  background-color: #FFF1F1 !important //引渡済

.bg_color5_k
  background-color: #ffdada !important //募集地

// Font
// -------------------------------------------------------------------------------------------------

.ft_color1
  color: #ffffff !important //白

.ft_color2
  color: #2126AC !important //メインカラー

.ft_color3
  color: #FF4B4B !important //アクセントカラー

.ft_color4
  color: #6485D1 !important //メインサブカラー

.ft_color5 //アクセントサブカラー

// .ft_color1_k
    // color: #FFC800 !important

.ft_color1_k
  color: #FF9326 !important //予約

.ft_color2_k
  color: #33B071 !important //商談

.ft_color3_k
  color: #6485D1 !important //契約

.ft_color4_k
  color: #FF4B4B !important //引渡済

.ft_color5_k
  color: #6DB1E2 !important //空き

.ft_color6_k
  color: #D61518 !important //募集地

.ft_size05
  font-size: 0.5em !important

.ft_size08
  font-size: 0.8em !important

.ft_size12
  font-size: 1.2em !important

.ft_size15
  font-size: 1.5em !important

.ft_size18
  font-size: 1.8em !important

.ft_size20
  font-size: 2.0em !important

.ft_size22
  font-size: 2.2em !important

.ft_family1
  font-family: 'lvnm' !important
  letter-spacing: 0.1em

// Border
// -------------------------------------------------------------------------------------------------

.bg_border1
  border: 1px solid #ccc

.bg_border2
  border: 1px solid #eee

.bg_border3
  border-bottom: 1px dashed #ccc

.bg_border4
  border-bottom: 1px solid #ccc

.bg_border5
  border-bottom: 1px dotted #ccc

.bg_border6
  border-bottom: 3px solid #6485D1

.bg_border7
  border-bottom: 2px solid #fff !important


// Image
// -------------------------------------------------------------------------------------------------
//画像表示時の淵付け

.img_border img
  border: 1px solid #ccc
  padding: 2px


// Map
// -------------------------------------------------------------------------------------------------

#map
  width: 100%
  height: 400px

// List Block
// -------------------------------------------------------------------------------------------------

.list-block
  float: none !important
  display: inline-block !important
  vertical-align: top
  margin: 0 -0.13em

.thumbnail
    margin: 0 5px !important

    // border: 1px solid #6485D1 !important
    border-radius: 0px
    background-color: #fff !important

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
        font-family: inherit
        font-weight: 500
        line-height: 1.1
        color: inherit

    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small
        font-weight: normal
        line-height: 1
        color: #777

    h1, .h1, h2, .h2, h3, .h3
        margin-top: 20px
        margin-bottom: 10px

    h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small
        font-size: 65%

    h4, .h4, h5, .h5, h6, .h6
        margin-top: 10px
        margin-bottom: 10px

    h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small
        font-size: 75%

    h1, .h1
        font-size: 36px

    h2, .h2
        font-size: 30px

    h3, .h3
        font-size: 24px

    h4, .h4
        font-size: 18px

    h5, .h5
        font-size: 14px

    h6, .h6
        font-size: 12px

    p
        margin: 0 0 10px

    a
        display: inline-block

//各ブロックのマウスオーバー時に使用

.hover_block
  a
    color: #333

  &:hover
    cursor: pointer
    background-color: #e7f5ff !important

// Pagenation
// -------------------------------------------------------------------------------------------------

.pagination
  margin: 0

  a
    color: #2126AC !important

  .active a
    background-color: #2126AC !important
    color: #fff !important
    border-color: #2126AC

// CONTAINER
// -------------------------------------------------------------------------------------------------

.container-fluid
  margin-right: auto
  margin-left: auto
  max-width: 990px

.container-page
  position: relative
  top: 90px
  margin-bottom: 100px

+max-width(991px)
  .container-fluid
    margin-right: 10px
    margin-left: 10px

  .container-main
    top: -200px
    margin-bottom: -200px

  .container-page
    top: 0
    margin-bottom: 0

+max-width(479px)
  .container-main
    top: -100px
    margin-bottom: -100px

// TABLE
// -------------------------------------------------------------------------------------------------
//detail

.tb_detail
  table-layout: fixed

  th
    background: #eee !important
    font-weight: normal
    width: 75px
    vertical-align: middle !important

  td
    vertical-align: middle !important
    line-height: 170% !important

.tb_kukaku th
  background: #eee !important
  font-weight: normal


//スマートフォン表示時にTABLEをリスト変更
+for-small
  .tb_detail, .tb_contact
    display: block
    border: none !important

  .tb_detail tbody, .tb_contact tbody, .tb_detail tr, .tb_contact tr
    display: block

  .tb_detail
    th, td
      display: list-item
      border: none !important

  .tb_contact
    th, td
      display: list-item
      border: none !important

  .tb_detail th, .tb_contact th
    /*margin-bottom: 5px;*/
    padding: 3px
    width: 100% !important
    font-weight: normal
    list-style-type: none !important

  .tb_detail td, .tb_contact td
    margin: 0 10px 0 10px
    padding: 0
    list-style-type: none !important


// ARCHITECT LIST
// -------------------------------------------------------------------------------------------------

.architect-wrap
  display: inline-block
  text-align: center

.architect-block
  position: relative
  display: inline-block
  margin: 0 auto

  .image
    max-width: 100%

    &.sp
      display: none

  .architect-link
    position: absolute
    background-color: rgba(18, 31, 135, 0.5)
    overflow: hidden
    width: 100%
    bottom: 0
    left: 0


+max-width(768px)
  .architect-block .image
    &.pc
      display: none

    &.sp
      display: block

+max-width(768px)
  .architect-block .architect-link
    position: static
    margin-top: 2px

.architect-link .list
  list-style: none
  padding-left: 0
  border-top: 1px solid #fff
  border-color: rgba(128, 128, 180, 0.5)

  > li
    float: left
    width: 20%
    display: block
    border-bottom: 1px solid #8080B4
    border-right: 1px solid #8080B4
    box-sizing: border-box

    &:nth-child(5n)
      border-right: none

    .text
      display: flex
      align-items: center
      justify-content: center
      box-sizing: border-box
      padding: 10px 5px
      color: #fff
      text-decoration: none
      height: 58px
      font-size: 13px

+max-width(768px)
  .architect-link .list > li
    width: 50%

+max-width(768px)
  .architect-link .list > li:nth-child(5n)
    border-right: 1px solid #8080B4

.mfp-content
  text-align: center

.modal-cont
  background-color: #fff
  display: inline-block
  padding: 50px
  position: relative
  margin-top: 30px
  margin-bottom: 30px

+max-width(768px)
  .modal-cont
    padding: 20px

.mfp-wrap button.mfp-close
  color: #fff
  background-color: #616C9D
  width: 24px
  height: 24px
  border-radius: 24px
  line-height: 20px
  font-size: 20px
  padding-bottom: 2px
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  opacity: 1
  top: 15px
  right: 15px

+max-width(768px)

// ARTICLE LIST
// -------------------------------------------------------------------------------------------------

span
  &.state
    padding: 3px 5px
    color: #fff !important

  &.state1
    background-color: #FF5000 !important

  &.state2
    background-color: #006432 !important

  &.state3
    background-color: #aaa !important

  &.state4
    background-color: #AFAB45 !important

*, *:after, *:before
    box-sizing: border-box
    padding: 0
    margin: 0

.tbl-listmap
  margin: 20px auto
  width: 990px !important
  height: 850px !important
  background-image: url(../images/article/keikakuzu.jpg) !important
  background-repeat: no-repeat !important
  table-layout: fixed

  tr
    height: 10px !important
    padding: 0

  td
    width: 11px !important
    height: 10px !important
    border: 1px solid transparent
    text-align: center
    vertical-align: middle
    padding: 0

    a
      display: block
      width: 11px !important
      height: 10px !important

    img
      width: 10px !important
      height: 10px !important

// .tbl-listmap td {width: 18px !important; height: 17px !important;}
// .tbl-listmap td img {width: 17px !important; height: 17px !important;}

img
  &.m_state1_img, &.m_state2_img, &.m_state3_img
    display: block

.list_markup
  li:before
    position: relative
    top: 5px

  .li1:before
    content: url(../images/article/li3.png)

  .li2:before
    content: url(../images/article/li1.png)

  .li3:before
    content: url(../images/article/li2.png)

  li input
    position: relative
    top: 2px

.archi_anchor
  margin-top: -105px //リンク位置上昇分
  padding-top: 105px //上昇分を戻す分

// ARTICLE DETAIL
// -------------------------------------------------------------------------------------------------

span.highlite
  padding: 3px 5px
  background-color: #6485D1 !important
  color: #fff !important
  font-size: 1.5em

.map_frame iframe
  width: 100% !important
  height: 350px !important

.list_pdf li
  margin-bottom: 5px

  & > a
    display: block
    padding: 5px 5px
    color: #fff
    font-size: 1.2em
    background-color: #FF4B4B !important
    text-decoration: none

    &:hover
      background-color: #FF7B7B !important

.kukakuimg
  width: 100%

.eleseline1
  background: url(../img/detail/elese1.png) repeat-x center left !important

.eleseline2
  background: url(../img/detail/elese2.png) repeat-x center left !important

.skyshot_b
  width: 100%
  max-height: 500px

.skyshot p img
  max-height: 120px

  &:hover
    cursor: pointer
    filter: alpha(opacity = 70)
    -moz-opacity: 0.70
    -khtml-opacity: 0.70
    opacity: 0.70

.emphasis
  color: #FF0000
  font-size: 22px
  font-weight: bold
  letter-spacing: 0.1em

+max-width(768px)
  .emphasis
    font-size: 16px
    letter-spacing: 0.07em



// MAP
// -------------------------------------------------------------------------------------------------

.map_list
  position: absolute
  top: 0
  left: 0
  padding: 10px 5px
  width: 280px
  background-color: #fff !important

.infowindow
  width: 280px
  overflow: hidden
  margin: 5px

// Notfound
// -------------------------------------------------------------------------------------------------

.notfound h3
  font-family: 'lvnm','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana,sans-serif !important
  font-size: 3.0em !important
  color: #6485D1

+max-width(768px)
  .notfound
    text-align: center

// Callout
// -------------------------------------------------------------------------------------------------

.bs-callout
  padding: 20px
  margin: 20px 0
  border: 1px solid #ccc
  border-left-width: 5px
  border-radius: 3px

  h4
    margin-top: 0
    font-size: 18px

    +for-small
        font-size: 16px

  p:last-child
    margin-bottom: 0

  code
    border-radius: 3px

  + .bs-callout
    margin-top: -5px

.bs-callout-default
  border-left-color: #777

  h4
    color: #777

.bs-callout-primary
  border-left-color: #428bca

  h4
    color: #428bca

.bs-callout-success
  border-left-color: #5cb85c

  h4
    color: #5cb85c

.bs-callout-danger
  border-left-color: #d9534f

  h4
    color: #d9534f

.bs-callout-warning
  border-left-color: #f0ad4e

  h4
    color: #f0ad4e

.bs-callout-info
  border-left-color: #6485D1

  h4
    color: #6485D1

.a-detail-title
    padding: 10px 0
    color: #fff !important
    font-family: 'lvnm','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana,sans-serif !important
    font-weight: normal
    font-size: 2.0em
    line-height: 170%
    letter-spacing: 0.1em
    background-color: #6485D1 !important
    text-align: center

.kukakuzu,.bukken_g
    +for-small
        padding: 0

// google-mymap
// -------------------------------------------------------------------------------------------------

.google-mymap
  overflow: hidden
  margin-top: 30px

  .icon-list
    float: right
    margin-bottom: 20px

    +for-small
        float: none
        margin-bottom: 12px

    & > .list
      border: 1px solid #e5e5e5
      border-radius: 28px
      display: flex
      padding: 19px 45px 18px
      justify-content: center

      +for-small
        padding: 8px 21px 7px
        width: 100%

      & > .item
        margin-right: 40px
        padding-left: 38px
        position: relative

        +for-small
          margin-right: 20px
          padding-left: 25px

        &::before
          background-size: 28px 31px
          content: ''
          height: 31px
          position: absolute
          left: 0
          top: 55%
          transform: translateY(-50%)
          width: 28px

          +for-small
            background-size: 19px 21px
            height: 21px
            width: 19px

        &:last-child
          margin-right: 0
        
        &.sale
          &::before
            background: url(../images/article/mapicon-sale.svg) no-repeat center center
          
          & > p
            color: #f00000
        
        &.plan
          &::before
            background: url(../images/article/mapicon-plan.svg) no-repeat center center
          
          & > p
            color: #0a8c00
        
        &.sold
          &::before
            background: url(../images/article/mapicon-sold.svg) no-repeat center center

        & > p
          +notosans
          font-size: 15px
          letter-spacing: 0.1em

          +for-small
            font-size: 10px

    & > .attend
      +notosans
      font-size: 15px
      font-weight: 500
      margin-top: 15px
      letter-spacing: 0.1em
      text-align: right

      +for-small
        font-size: 10px
        line-height: 1.6
        margin-top: 10px
        text-align: center
        text-indent: 0.1em

  .map-content
    margin: 20px 0 40px
    width: 100%

    +for-small
      margin: 15px 0 20px

    & > div > iframe,
    & > iframe
      border: none
      box-shadow: none
      height: 905px
      width: 100%

      +for-small
        height: 470px
    
    .button-flat
      background-color: #6485D1
      margin-top: 15px
      width: 350px

      +for-small
        width: 100%

      span
        font-size: 15px

        +for-small
          font-size: 13px

  .countion
    align-items: center
    border: 5px solid #e5e5e5
    border-radius: 5px
    display: flex
    justify-content: space-between
    margin-bottom: 60px
    padding: 10px 20px

    +for-small
      flex-direction: column
      margin-bottom: 10px
      padding: 20px 10px

    &:hover
      .attend
        opacity: 0.7
      .button-flat
        opacity: 0.7

    .attend
      +notosans
      +transition((opacity),0.3s,ease,0)
      font-size: 15px
      font-weight: 500
      letter-spacing: 0.1em
      padding-left: 35px
      position: relative

      +max-width(1430px)
        font-size: 14px
        letter-spacing: 0.05em
        line-height: 1.5

        +for-small
          font-size: 12px
          letter-spacing: 0.1em
          line-height: 1.6
          margin-bottom: 15px
          padding: 30px 0 0
          text-align: center
          text-indent: 0.1em

      &::after
        +position-absolute(50%,auto,auto,0)
        background: url(../images/article/mapicon-sold.svg) no-repeat center center
        background-size: 28px 31px
        content: ''
        height: 31px
        transform: translateY(-50%)
        width: 28px

        +for-small
          +position-absolute(0,0,auto,0)
          background-size: 21px 24px
          height: 24px
          margin: 0 auto
          transform: none
          width: 21px
      
      .for-midi
        display: none

        +max-width(1270px)
          display: block

    & > .for-small,
    & > .for-large

      +for-small
        width: 100%

    .button-flat
      background-color: #1a1a1a
      border-radius: 4px
      padding: 18px 0 17px 30px
      text-align: left
      width: 350px

      +max-width(1430px)
        width: 300px

        +for-small
          padding: 13px 0 12px 15px
          width: 100%