// *****************************
// * company
// *****************************

.company
    @at-root
        &-group

            & > .-wrap
                .-image
                    margin-bottom: 75px
                    position: relative

                    +for-small
                        margin-bottom: 30px

                    .swiper-container,
                    .swiper-wrapper
                        line-height: 1
                        width: 100%

                        .swiper-slide
                            line-height: 1
                            img
                                height: auto
                                line-height: 1
                                width: 100%

                    .navigation
                        height: 100%

                        .swiper-button-next,
                        .swiper-button-prev
                            +position-absolute(0,auto,auto,auto)
                            background-color: rgba(0,0,0,0.5)
                            background-image: none
                            height: 99.8%
                            margin-top: 0
                            outline: none
                            width: 11.5%

                            +for-small
                                +position-absolute(auto,auto,11px,auto)
                                background-color: transparent
                                height: 16px
                                width: 14px

                        .swiper-button-next
                            right: 0

                            +for-small
                                right: 20px

                            &::after
                                +position-absolute(50%,auto,auto,60px)
                                +iconfont
                                content: '\e808'
                                color: $color-white
                                font-size: 50px
                                transform: translateY(-50%)

                                +for-small
                                    +position-absolute(auto,auto,0,0)
                                    color: $color-black
                                    font-size: 14px
                                    transform: none

                        .swiper-button-prev
                            left: 0

                            +for-small
                                left: 20px

                            &::after
                                +position-absolute(50%,60px,auto,auto)
                                +iconfont
                                content: '\e809'
                                color: $color-white
                                font-size: 50px
                                transform: translateY(-50%)

                                +for-small
                                    +position-absolute(auto,0,0,auto)
                                    color: $color-black
                                    font-size: 14px
                                    transform: none

                    .pagination
                        +position-absolute(auto,0,15px,0)

                        +for-small
                            position: static

                        .swiper-pagination
                            +position-absolute(auto,0,0,0)
                            margin: 0 auto

                            +for-small
                                +position-absolute(auto,0,15px,0)
                                z-index: -1

                            .swiper-pagination-bullet
                                background-color: #B2B2B2
                                border-radius: 5px
                                height: 10px
                                margin: 0 5px
                                opacity: 1
                                width: 10px

                                +for-small
                                    background-color: #E9E9E9
                                    border-radius: 3px
                                    height: 6px
                                    margin: 0 3px
                                    width: 6px

                                &.swiper-pagination-bullet-active
                                    background-color: $color-white

                                    +for-small
                                        background-color: #3C3C3C

            .group-list
                border-bottom: 1px solid #CCCCCC
                margin-bottom: 115px
                padding-bottom: 100px

                +for-small
                    margin-bottom: 30px
                    padding-bottom: 30px

                &.last
                    border-bottom: none
                    margin-bottom: 130px
                    padding-bottom: 0

                    +for-small
                        margin-bottom: 80px

                ul
                    & > .-list
                        border-bottom: 1px solid #CCCCCC
                        display: flex
                        justify-content: space-between
                        padding: 33px 0 40px

                        +max-width(1325px)
                            flex-direction: column

                            .-logo
                                margin-bottom: 25px

                                +for-small
                                    margin-bottom: 30px

                            +for-small
                                padding: 30px 0

                        &:last-child
                            border-bottom: none
                            padding-bottom: 65px

                            +for-small
                                padding-bottom: 30px

                        &:nth-child(1)
                            padding-top: 0

                        .-logo
                            min-width: 189px

                            +for-small
                                min-width: auto

                            &.johocenter
                                img
                                    height: 58px
                                    width: 138px

                                    +for-small
                                        height: 46px
                                        width: 110px

                            &.kankyo-kobo
                                img
                                    height: 47px
                                    width: 160px

                                    +for-small
                                        height: 37px
                                        width: 128px

                            &.gallery
                                img
                                    height: 59px
                                    width: 131px

                                    +for-small
                                        height: 47px
                                        width: 105px

                            &.labo
                                img
                                    height: 57px
                                    width: 149px

                                    +for-small
                                        height: 45px
                                        width: 119px

                            &.hd
                                img
                                    height: 60px
                                    width: 139px

                                    +for-small
                                        height: 48px
                                        width: 111px

                            &.plesroom
                                img
                                    height: 60px
                                    width: 137px

                                    +for-small
                                        height: 48px
                                        width: 110px

                            &.community
                                img
                                    height: 59px
                                    width: 136px

                                    +for-small
                                        height: 47px
                                        width: 109px

                            &.yukai
                                img
                                    height: 60px
                                    width: 138px

                                    +for-small
                                        height: 48px
                                        width: 111px

                        &.official
                            padding: 0 0 55px

                            +max-width(1325px)
                                flex-direction: row

                                +for-small
                                    flex-direction: column
                                    padding: 0 0 30px

                            .-logo
                                svg
                                    height: 81px
                                    width: 189px

                                    +for-small
                                        height: 52px
                                        width: 123px

                                    .cls-1
                                        fill: #22305a

                            .-data
                                .-company
                                    +notosans
                                    font-size: 15px
                                    font-weight: 600
                                    margin-bottom: 5px

                                    +for-small
                                        font-size: 14px
                                        margin-bottom: 10px

                                .-add > span,
                                .-time
                                    +notosans
                                    display: block
                                    font-size: 13px
                                    line-height: 2
                                    letter-spacing: 0.1em

                                    +for-small
                                        line-height: 1.5
                                        letter-spacing: 0.05em


                                .-number
                                    display: flex
                                    margin-top: 10px

                                    +max-width(1400px)
                                        flex-direction: column

                                        +for-small
                                            margin: 15px 0 10px

                                        p
                                            &:last-child
                                                margin: 0

                                                +for-small
                                                    margin: 0 0 10px

                                    p
                                        &:last-child
                                            margin-left: 20px

                                        +for-small
                                            margin-bottom: 5px

                                        span
                                            +brandon
                                            font-size: 13px
                                            letter-spacing: 0.1em

                                            &.num
                                                font-size: 35px
                                                font-weight: 200
                                                margin-left: 10px

                                                +for-small
                                                    font-size: 24px

                            .-map
                                align-items: center
                                display: flex
                                margin-top: 20px

                                .-icon
                                    margin-right: 13px
                                    svg
                                        height: 26px
                                        width: 16px

                                span
                                    +brandon
                                    font-size: 13px
                                    font-weight: 300
                                    letter-spacing: 0.1em

                        .-data
                            &.other
                                align-items: flex-end
                                display: flex

                                +for-small
                                    align-items: flex-start
                                    flex-direction: column

                                dl
                                    margin-right: 80px

                                    +max-width(1585px)
                                        margin-right: 30px

                                        &:last-child
                                            margin-right: 0

                                        +for-small
                                            margin: 0 0 30px

                                            &:last-child
                                                margin-bottom: 0

                                    &.space
                                        +for-small
                                            display: none

                                    &.name
                                        min-width: 272px

                                        +max-width(1325px)
                                            min-width: 255px

                                            +for-small
                                                min-width: auto

                                    &.ceo
                                        min-width: 145px

                                        +max-width(1325px)
                                            min-width: 125px

                                            +for-small
                                                min-width: auto

                                    &.add
                                        min-width: 353px

                                        +max-width(1325px)
                                            min-width: 337px

                                            +for-small
                                                min-width: auto

                                    &.tel
                                        min-width: 82px

                                        +max-width(1325px)
                                            min-width: 77px

                                            +for-small
                                                min-width: auto

                                    dt
                                        margin-bottom: 20px

                                        +max-width(1325px)
                                            margin-bottom: 15px

                                            +for-small
                                                margin-bottom: 10px

                                        p
                                            +notosans
                                            font-size: 14px
                                            font-weight: 500
                                            letter-spacing: 0.1em

                                    dd
                                        h2, h3, a
                                            +notosans
                                            font-size: 13px

                                            +max-width(1325px)
                                                font-size: 12px

                                                +for-small
                                                    font-size: 13px
                                                    line-height: 1.8

                .-google
                    margin: 0 auto
                    max-width: 1600px
                    width: 87.4%

                    +for-small
                        max-width: 100%
                        width: 100%

                    iframe
                        filter: grayscale(100%)
                        height: 538px
                        width: 100%

                        +for-small
                            height: 164px
