// *****************************
// * contact
// *****************************

.contact-wrap
    padding-bottom: 100px

    +for-small
        padding-bottom: 70px

    .-information
        margin-bottom: 150px

        +for-small
            margin-bottom: 30px

        .-text
            +notosans
            font-size: 20px
            font-weight: 200
            letter-spacing: 0.2em
            margin-bottom: 50px
            text-align: center
            text-indent: 0.2em

            +for-small
                font-size: 13px
                font-weight: 300
                line-height: 1.8
                margin-bottom: 25px
        .-time
            +notosans
            font-size: 30px
            font-weight: 200
            letter-spacing: 0.2em
            margin-bottom: 40px
            text-align: center
            text-indent: 0.2em

            +for-small
                font-size: 13px
                font-weight: 400
                letter-spacing: 0.1em
                margin-bottom: 15px
                text-indent: 0.1em

        .txt-confirm
            +notosans
            color: #ff0000
            font-size: 38px
            font-weight: 200
            letter-spacing: .05em
            margin-bottom: 40px
            text-align: center
            text-indent: 0.2em

            +for-small
                font-size: 20px
                font-weight: 400
                margin-bottom: 15px

            &.blue
                color: #3A81C4

        .-number
            display: flex
            margin: 0 auto
            justify-content: center

            +for-small
                flex-direction: column

            & > .-wrap
                padding: 0 25px

                +for-small
                    padding: 3px 0
                    text-align: center

                span
                    +brandon
                    color: #808080
                    font-size: 18px
                    font-weight: 300
                    letter-spacing: 0.1em

                    +for-small
                        font-size: 15px

                h3
                    +brandon
                    display: inline
                    font-size: 53px
                    font-weight: 300
                    letter-spacing: 0.1em

                    +for-small
                        font-size: 25px

    .-message
        +notosans
        font-size: 25px
        font-weight: 200
        letter-spacing: 0.1em
        margin-bottom: 55px

        +for-small
            font-size: 14px
            line-height: 1.8
            margin-bottom: 35px

    .form

        .headding-senary
            margin-left: 35px

            +for-small
                margin-left: 0

        .-countion
            +notosans
            color: #4d4d4d
            font-size: 16px
            letter-spacing: 0.05em
            margin: 0 0 50px 35px
            padding-left: 22px

            +for-small
                font-size: 10px
                line-height: 1.8
                margin: 0 0 25px 0
                padding-left: 0

        .-content,
        .-mailmagazine
            padding: 0 35px

            +for-small
                padding: 0

            .-row
                display: flex
                align-items: flex-start

                +for-small
                    flex-direction: column

                &.column
                    flex-direction: column

                    .-head, .-data
                        width: 100%

                    .-head
                        padding: 30px 0 0

                        +for-small
                            padding: 0 0 12px

                        .main > span
                            font-size: 25px
                            font-weight: 200

                            +for-small
                                font-size: 12px
                                letter-spacing: 0.05em
                                line-height: 1.8

                &.mail
                    .-data
                        padding: 25px 0

                        +for-small
                            padding: 0

                &.other
                    .-data
                        width: 100%

                        +for-small
                            padding-bottom: 0

                        label
                            padding-right: 0
                            width: 100%

                            .select-wrap
                                position: relative

                                &::before
                                    +position-absolute(auto,auto,30px,30px)
                                    +notosans
                                    content: '※下記は必須のご入力項目ではありませんが、今後の流れがスムーズに行えます'
                                    font-size: 13px

                                    +for-small
                                        +position-absolute(auto,auto,13px,13px)
                                        content: '※下記は必須のご入力項目ではありませんが、\A今後の流れがスムーズに行えます'
                                        font-size: 11px
                                        line-height: 1.4
                                        white-space: pre

                            select
                                background: url(../images/common/icon-arrow-under.svg) 97% center no-repeat #f2f2f2
                                background-size: 18px 10px
                                font-size: 19px
                                letter-spacing: 0.2em
                                padding: 30px 30px 60px
                                text-align: center
                                width: 100%

                                +for-small
                                    font-size: 15px
                                    letter-spacing: 0.15em
                                    padding: 13px 13px 50px
                                    background-size: 11px 6px

                &.c-time
                    &.is-disabled
                        .-head
                            .main
                                color: #CBCBCB
                        .-data
                            input
                                background-color: #FAFAFA

                &.area
                    .-data
                        display: flex

                        +for-small
                            flex-direction: column

                        & > div
                            margin-right: 2%
                            width: 22%

                            +for-small
                                margin-right: 0
                                margin-bottom: 15px
                                width: 100%

                                &:last-child
                                    margin-bottom: 0


                .-head
                    padding: 29px 0 25px
                    text-align: left
                    vertical-align: top
                    width: 18%

                    +for-small
                        align-items: center
                        display: flex
                        padding: 0 0 10px
                        width: 100%

                    .main
                        span
                            +notosans
                            font-size: 18px
                            font-weight: 300
                            letter-spacing: 0.05em

                            +for-small
                                font-size: 13px

                            &.required
                                color: #808080
                                font-size: 13px
                                margin-left: 5px

                                +for-small
                                    font-size: 10px
                                    margin-left: 4px

                    .sub
                        +notosans
                        color: #808080
                        font-size: 13px
                        font-weight: 300
                        letter-spacing: 0.05em
                        margin-top: 10px

                        +for-small
                            font-size: 10px
                            margin-top: 0
                            margin-left: 3px

                    &.large
                        .main
                            +notosans
                            font-size: 25px
                            font-weight: 200

                            +for-small
                                font-size: 13px
                                font-weight: 300


                .-data
                    padding: 25px 0
                    width: 88%

                    +for-small
                        padding: 0 0 25px
                        width: 100%

                    .memo
                        +notosans
                        color: #b2b2b2
                        display: block
                        font-size: 13px
                        letter-spacing: 0.05em
                        margin-top: 10px

                        +for-small
                            font-size: 10px

                    &.add
                        .small
                            margin-bottom: 40px

                            +for-small
                                margin-bottom: 15px

                        .space
                            margin-bottom: 20px

                            +for-small
                                margin-bottom: 15px

                    &.cal
                        padding: 29px 0 80px

                        +for-small
                            padding: 0 0 25px

                    &.row
                        padding: 0

                        .-wrap
                            overflow: hidden

                            label
                                float: left
                                padding-right: 25px
                                width: 45%

                                +for-small
                                    padding-right: 0
                                    margin-right: 0
                                    width: 49%

                                    &:nth-child(1)
                                        margin-right: 2%

                                select
                                    width: 100%

                        .memo
                            display: block
                            font-size: 16px
                            margin: 0 0 12px

                            +for-small
                                font-size: 11px
                                margin: 0 0 5px

                    .horizontal-item + .horizontal-item
                        margin-left: 0 !important

                    #bukken
                        background-color: transparent
                        font-size: 18px
                        font-weight: 200
                        letter-spacing: .05em
                        padding: 5px 0

                        +for-small
                            font-size: 13px
                            padding: 5px 0 0

                .-month
                    display: flex
                    justify-content: space-between
                    margin-bottom: 30px

                    +for-small
                        margin-bottom: 15px

                    & > p
                        +notosans
                        font-size: 15px
                        letter-spacing: 0.05em

                        +for-small
                            font-size: 13px

                    .button-prev,
                    .button-next
                        .icon
                            &:before
                                font-size: 18px
                                margin: 0

                                +for-small
                                    font-size: 15px

                .-calendar
                    & > .-wrap
                        .-week,
                        .-date
                            ul
                                display: flex
                                flex-wrap: wrap
                                justify-content: space-between

                                li
                                    width: 13.8%

                                    +for-small
                                        width: 12.7%

                                    & > p
                                        +notosans
                                        font-size: 15px
                                        font-weight: 300
                                        text-align: center

                                        +for-small
                                            font-size: 13px

                        .-week
                            ul
                                margin-bottom: 18px

                                +for-small
                                    margin-bottom: 13px

                                li
                                    padding: 0

                        .-date
                            ul
                                margin-bottom: 7px

                                +for-small
                                    margin-bottom: 5px

                                li
                                    border: 1px solid $color-black
                                    border-radius: 3px
                                    padding: 21px 0 20px

                                    +for-small
                                        border-radius: 2px
                                        padding: 9px 0 10px

                                    &.none
                                        border: none

                                    &.current
                                        border: 1px solid #3A81C4
                                        background-color: #3A81C4

                                        p
                                            color: $color-white

            .-other
                & > .-button
                    background-color: #f2f2f2
                    border-radius: 3px
                    padding: 30px 0
                    position: relative
                    text-align: center
                    width: 100%

                    +for-small
                        margin-bottom: 30px
                        padding: 20px 0

                    &:hover
                        cursor: pointer

                    &::after
                        +position-absolute(53%,50px,auto,auto)
                        +iconfont
                        content: '\e801'
                        font-size: 18px
                        transform: translateY(-50%)

                        +for-small
                            font-size: 15px
                            right: 10px

                    span
                        +notosans
                        display: block
                        font-size: 13px
                        letter-spacing: 0.05em

                        +for-small
                            font-size: 11px
                            line-height: 1.5
                            letter-spacing: 0

                        &.main
                            font-size: 19px
                            letter-spacing: 0.2em
                            margin-bottom: 15px

                            +for-small
                                font-size: 16px
                                margin-bottom: 10px

                & > .-inner
                    display: none
                    margin-top: 70px

                    +for-small
                        margin-top: 30px


                & > .-inner > .headding-senary
                    color: $color-black
                    font-size: 25px
                    margin-left: 0
                    padding-left: 0
                    margin: 50px 0 13px

                    &:nth-child(1)
                        margin-top: 0

                    +for-small
                        font-size: 15px
                        font-weight: 300
                        margin: 20px 0

                    &::after
                        content: none

                & > .-inner > .-row
                    .-data
                        .sub
                            +notosans
                            font-size: 18px
                            margin: 0 10px

                            +for-small
                                font-size: 13px
                                margin: 0 5px

                        &.abreast
                            display: flex

                            +for-small
                                flex-direction: column

                            .wrap
                                margin-right: 20px
                                width: 25%

                                +for-small
                                    width: 100%

                                    &:last-child
                                        margin-top: 10px

                                .man
                                    margin-left: 0

                            & > .-wrap
                                width: 50%

                                +for-small
                                    width: 100%

                            label
                                padding-right: 0
                                width: 48%

                                +for-small
                                    width: 100%

                                select
                                    width: 100%

                                &:nth-child(1)
                                    margin-right: 3%

                                    +for-small
                                        margin-right: 0



        .-content
            border-bottom: 1px solid #ccc
            margin-bottom: 100px
            padding-bottom: 100px

            +for-small
                margin-bottom: 35px
                padding-bottom: 35px

            &.other
                border-bottom: none
                margin-bottom: 60px
                padding-bottom: 0

                +for-small
                    margin-bottom: 15px

        .-privacy
            margin-top: 70px

            +for-small
                margin-top: 15px

            & > .-head
                +notosans
                font-size: 25px
                letter-spacing: 0.1em
                margin-bottom: 25px
                padding-left: 35px

                +for-small
                    font-size: 14px
                    margin-bottom: 20px
                    padding-left: 0
                    text-align: center

            & > .-policy
                background-color: #f2f2f2
                overflow: hidden
                padding: 35px 20px 35px 40px
                width: 100%

                +for-small
                    padding: 20px 10px 20px 20px

                .-wrap
                    box-sizing: border-box
                    overflow-y: scroll
                    -webkit-overflow-scrolling: touch
                    padding-right: 20px
                    height: 300px

                    +for-small
                        height: 265px
                        padding-right: 10px

                    &::-webkit-scrollbar
                        background-color: transparent
                        width: 8px

                    &::-webkit-scrollbar-track
                        background: transparent
                        border: none

                    &::-webkit-scrollbar-thumb
                        background: #999999
                        border-radius: 4px
                        width: 8px

                    p
                        +notosans
                        font-size: 16px
                        letter-spacing: 0.1em
                        line-height: 2
                        text-align: justify
                        margin-bottom: 35px

                        +for-small
                            font-size: 13px
                            margin-bottom: 20px
                            line-height: 1.8

                        &:last-child
                            margin-bottom: 0


        p.txt-confirm-privacy, .txt-confirm-email
            display: none

        .-check
            display: flex
            justify-content: center
            margin-top: 60px
            text-align: center

            +for-small
                margin-top: 30px

            label
                padding-right: 0

                +for-small
                    margin-right: 0

            .main
                display: inline-block
                padding-top: 7px

                span
                    +notosans
                    font-size: 16px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 13px
                        letter-spacing: 0

                .required
                    color: #808080
                    font-size: 13px
                    margin-left: 5px

                    +for-small
                        font-size: 12px
                        margin-left: 3px

        .button-ghost
            margin: 105px auto 0
            cursor: pointer
            text-align: left

            &:hover
                color: $color-white
                cursor: pointer

                .arrow
                    &::after,
                    &::before
                        background-color: $color-white

            +for-small
                margin: 45px auto 0

            .arrow
                height: 8px
                width: 60px

                &::after
                    +position-absolute(auto,0,0,auto)
                    background-color: $color-black
                    content: ''
                    height: 1px
                    width: 100%

                &::before
                    +position-absolute(auto,0,3px,auto)
                    background-color: $color-black
                    content: ''
                    height: 1px
                    transform: rotate(22deg)
                    width: 14px

            &.is-disabled
                border: 1px solid #808080

                span
                    color: #808080

                .arrow
                    &::after,
                    &::before
                        background-color: #808080

                &:hover
                    background-color: transparent
                    cursor: auto


        .-request
            border-bottom: 1px solid #ccc
            margin-bottom: 85px
            padding: 0 35px 85px

            +for-small
                padding: 0 0 35px
                margin-bottom: 35px

            .-head
                +notosans
                font-size: 25px
                font-weight: 300
                letter-spacing: 0.1em
                margin: 70px 0 40px

                +for-small
                    font-size: 14px
                    line-height: 1.5
                    margin: 25px 0 20px

            .-data
                border: 1px solid #ccc
                border-radius: 5px
                display: flex
                flex-wrap: wrap
                padding: 45px

                +max-width(1790px)
                    padding: 25px

                    +for-small
                        padding: 15px

                & > .mwform-radio-field
                    margin-bottom: 45px
                    width: 23%

                    +max-width(1445px)
                        width: 33.3333%

                        +for-small
                            margin-bottom: 15px
                            width: 100%

                    &:nth-last-child(-n+4)
                        margin-bottom: 0

                        +for-small
                            margin-bottom: 15px

                    &:last-child
                        +for-small
                            margin-bottom: 0

                label
                    display: flex
                    padding-right: 0

                    +for-small
                        margin-right: 0

                    input
                        +max-width(1790px)
                            height: 24px
                            margin-right: 5px
                            width: 24px

                            +for-small
                                margin-right: 7px

                    span
                        line-height: 1.5
                        margin-top: 3px

                        +max-width(1790px)
                            font-size: 14px
                            margin-top: 1px
                            letter-spacing: 0

                            +for-small
                                font-size: 13px

    &.confirm
        .-row
            &:last-child
                .-head,
                .-data
                    padding-bottom: 0

                .-data
                    +for-small
                        padding-bottom: 0 !important

            .-head
                padding: 25px 0

                +for-small
                    padding-bottom: 5px !important

            .-data
                width: 550px !important

                +for-small
                    width: 100% !important
                p
                    +notosans
                    font-size: 18px
                    font-weight: 300
                    letter-spacing: 0.05em
                    line-height: 1.5
                    text-align: justify

                    +for-small
                        font-size: 13px

        .headding-senary
            +for-small
                margin-bottom: 30px

        .-content.other
            .-other
                .-inner
                    display: block

        .button-ghost
            margin-top: 120px

            +for-small
                margin-top: 40px
            span
                display: block
                text-align: left

.contact-form-confirm, .consultation-confirm
    .contact-wrap
        .-information
            margin-bottom: 95px

            +for-small
                margin-bottom: 35px

        .sub, .memo-email, .memo-add, .memo-mailmaga, .-privacy, .txt-confirm-privacy, .-countion, .required
            display: none !important

        .-mailmagazine
            .mailmaga
                flex-direction: row !important

                +for-small
                    flex-direction: column !important

                .-head
                    padding: 25px 0 !important
                    width: 18% !important

                    +for-small
                        width: 100% !important
                        padding: 0 0 25px !important

        .mailre
            display: none !important

        .-head.large
            .main
                font-size: 14px !important
                font-weight: 300 !important

                +for-small
                    font-size: 13px !important

        .-data
            +notosans
            font-weight: 200
            font-size: 18px
            letter-spacing: .05em
            line-height: 1

            +for-small
                font-size: 13px

            &.add
                & > label
                    margin-top: 10px

                & > p
                    font-size: 18px
                    margin-top: 10px

                    +for-small
                        font-size: 13px

        .-row

            &.mail
                .-data
                    padding: 25px 0 !important

                    +for-small
                        padding: 0 0 10px !important


        p.txt-confirm-privacy, .txt-confirm-email
            +notosans
            display: block !important
            font-size: 18px
            font-weight: 200

            +for-small
                font-size: 13px

        input[name='c-mail'] + #text
            display: none

        .-request
            .-head
                display: none

            & > .-data
                margin-top: 38px

                +for-small
                    margin-top: 10px



// 完了画面
.contact-form-thanks, .consultation-thanks
    .contact-wrap
        margin-bottom: 5px
        padding-bottom: 0

        +for-small
            margin-bottom: 0

        .-information
            margin-bottom: 95px

            +for-small
                margin-bottom: 30px

            .txt-thanks
                +notosans
                font-size: 25px
                font-weight: 200
                letter-spacing: 0.1em
                line-height: 1.8
                margin-bottom: 98px
                text-align: center
                text-indent: 0.2em

                +for-small
                    font-size: 13px
                    font-weight: 300
                    line-height: 1.8
                    margin-bottom: 25px
                    text-align: left

            .btn-back
                text-align: center

                a
                    display: inline-block

                    svg
                        margin-bottom: 15px

                        +for-small
                            width: 30px

                    .txt-back
                        +brandon
                        font-size: 13px
                        letter-spacing: .3em
                        font-weight: 300
