// *****************************
// * house
// *****************************

.from1st-bnr
    +transition((opacity,visibility),0.3s,ease,0)
    position: fixed
    bottom: 20px
    left: 22px
    z-index: 10
    opacity: 1
    visibility: visible

    +for-small
        bottom: 11px
        left: 16px

    &.off
        opacity: 0
        visibility: hidden

    a
        +transition((opacity),0.3s,ease,0)
        display: block

        &:hover
            opacity: 0.8

        img
            height: auto
            width: 285px

            +for-small
                width: 185px

.gallery
    @at-root
        &-first
            padding: 135px 0 0

            +for-small
                padding: 80px 0 0

            .headding-secondary
                margin-bottom: 60px

                +for-small
                    margin-bottom: 25px
        
        &-copy
            .title
                +notosans
                font-size: 35px
                font-weight: 300
                letter-spacing: 0.2em
                line-height: 1.6
                margin-bottom: 20px
                text-align: center
                text-indent: 0.2em

                +max-width(1245px)
                    font-size: 25px

                    +for-small
                        font-size: 15px
                        letter-spacing: 0
                        text-indent: 0
                        margin-bottom: 15px
                        padding: 0 10px
            
            .text-read.center
                +for-small
                    padding: 0 20px
            
            .eyecatch
                margin-top: 60px
                margin-bottom: -1px
                line-height: 1
                width: 100%

                +for-small
                    margin-top: 25px

                img
                    height: auto
                    line-height: 1
                    width: 100%
            
        
        &-list
            padding-bottom: 135px

            & > .headding-tertiary
                line-height: 1.7
                margin-bottom: 95px

                +for-small
                    text-align: center
                    margin-bottom: 25px
            
            & > .wrap
                .list
                    margin-bottom: 130px

                    &:last-child
                        margin-bottom: 0
                    
                    .head
                        +notosans
                        background-color: #3a81c4
                        border-radius: 3px
                        color: $color-white
                        font-size: 25px
                        font-weight: 500
                        letter-spacing: 0.2em
                        margin-bottom: 70px
                        padding: 20px 35px
                        width: 100%

                        +max-width(1550px)
                            font-size: 20px
                            margin-bottom: 50px

                            +for-small
                                font-size: 15px
                                letter-spacing: 0.1em
                                margin-bottom: 20px
                                padding: 17px 15px
                    
                    .content
                        display: flex
                        flex-wrap: wrap

                        +for-small
                            flex-direction: column

                        & > .item
                            margin-right: 3.8%
                            margin-bottom: 135px
                            width: 48.1%

                            +max-width(1550px)
                                margin-bottom: 110px

                                +for-small
                                    margin-right: 0
                                    margin-bottom: 50px
                                    width: 100%

                            &:nth-child(2n)
                                margin-right: 0
                            
                            &:nth-last-child(-n+2)
                                margin-bottom: 0

                                +for-small
                                    margin-bottom: 50px
                            
                            &:last-child
                                +for-small
                                    margin-bottom: 0
                            
                            & > a
                                +transition((opacity),0.3s,ease,0)
                                display: block
                                width: 100%

                                &:hover
                                    opacity: 0.7

                                .eyecatch
                                    display: flex
                                    margin-bottom: 25px
                                    width: 100%

                                    +for-small
                                        margin-bottom: 13px

                                    .company
                                        background-color: #f7f7f7
                                        overflow: hidden
                                        padding-top: 40%
                                        position: relative
                                        width: 40%

                                        img
                                            +position-absolute(50%,auto,auto,50%)
                                            transform: translate(-50%,-50%)
                                            height: 100%
                                            width: auto
                                    
                                    .image
                                        background-color: #e5e5e5
                                        overflow: hidden
                                        padding-top: 40%
                                        position: relative
                                        width: 60%

                                        img
                                            +position-absolute(50%,auto,auto,50%)
                                            transform: translate(-50%,-50%)
                                            height: auto
                                            width: 100%
                                
                                .name
                                    span
                                        display: block

                                        &.en
                                            +TTNormsPro-Italic
                                            color: #3a81c4
                                            font-size: 14px
                                            letter-spacing: 0.05em
                                            margin-bottom: 8px

                                            +for-small
                                                font-size: 12px
                                                margin-bottom: 5px
                                        
                                        &.ja
                                            +notosans
                                            font-size: 30px
                                            font-weight: 200
                                            letter-spacing: 0.2em

                                            +max-width(1550px)
                                                font-size: 22px
                                                letter-spacing: 0.1em

                                                +max-width(1210px)
                                                    font-size: 20px

                                                    +for-small
                                                        font-size: 18px
                                                        letter-spacing: 0.05em
                                
                                .button
                                    margin-top: -15px
                                    text-align: right

                                    .inner
                                        display: inline-block
                                        padding-right: 28px
                                        position: relative

                                        +for-small
                                            padding-right: 25px

                                        & > span
                                            +TTNormsPro-Italic
                                            color: #3a81c4
                                            font-size: 14px
                                            letter-spacing: 0.05em

                                            +for-small
                                                font-size: 12px
                                        
                                        .arrow
                                            +position-absolute(auto,0,2px,auto)

                                            +for-small
                                                bottom: 1px

                                            svg
                                                fill: #3a81c4
                                                height: 5px
                                                width: 18px
            
        &-cat-data
            padding: 135px 0 110px

            +for-small
                padding: 85px 0 40px

            .-profile
                display: flex
                position: relative

                +for-small
                    flex-direction: column
                    padding-bottom: 80px

                & > .-main
                    margin-right: 5%
                    width: 45%

                    +for-small
                        padding-top: 10px
                        width: 100%

                    .head
                        +TTNormsPro-Italic
                        color: #3a81c4
                        font-size: 20px
                        letter-spacing: 0.05em
                        margin-bottom: 30px

                        +for-small
                            font-size: 12px
                            margin-bottom: 25px

                    .company
                        margin-bottom: 40px

                        +for-small
                            margin-bottom: 25px

                        span
                            +notosans
                            color: #3a81c4
                            display: block
                            font-size: 40px
                            font-weight: 200
                            letter-spacing: 0.05em

                            +for-small
                                font-size: 25px

                            &.en
                                +TTNormsPro-MediumItalic
                                color: $color-black
                                font-size: 18px
                                margin-top: 10px

                                +for-small
                                    font-size: 11px
                                    margin-top: 15px

                    .name
                        +for-small
                            margin-bottom: 30px
                        span
                            +notosans
                            color: #3a81c4
                            font-size: 24px
                            letter-spacing: 0.1em

                            +for-small
                                font-size: 15px

                    & > .button-line
                        margin-top: 70px

                        +for-small
                            +position-absolute(auto,auto,0,0)
                            margin-top: 0
                            width: 100%

                        span
                            line-height: 1.5

                        &:nth-child(2n-1)
                            margin-top: 20px


                .button-back.gallery
                    +position-absolute(0,-60px,auto,auto)

                    +for-small
                        right: 0

                & > .-data
                    width: 50%

                    +for-small
                        width: 100%

                    .-wrap
                        margin-bottom: 40px

                        +for-small
                            margin-bottom: 30px

                        &:last-child
                            margin-bottom: 0

                        span
                            display: block

                        p,span
                            +notosans
                            font-size: 14px
                            line-height: 2.2
                            letter-spacing: 0.1em

                            +for-small
                                font-size: 12px
                                line-height: 2

                            a
                                +transition((opacity),0.3s,ease,0)
                                opacity: 1
                                &:hover
                                    opacity: 0.6

                        p
                            +for-small
                                text-align: justify

                        & > .company
                            a
                                &.sl
                                    position: relative
                                    padding-left: 20px

                                    +for-small
                                        padding-left: 15px

                                    &::after
                                        +position-absolute(0,auto,auto,7px)
                                        +notosans
                                        content: '/'
                                        font-size: 14px
                                        line-height: 1.3

                                        +for-small
                                            left: 5px
                                            font-size: 12px
                                            line-height: 1.4

        &-cat-post
            padding-bottom: 175px

            &.space
                padding-bottom: 0

            +for-small
                padding-bottom: 60px
            
            .headding-secondary.blue.center
                margin-bottom: 55px

                +for-small
                    margin-bottom: 20px

            .-wrap
                display: flex
                flex-wrap: wrap

                +for-small
                    flex-direction: column

                .-list
                    +transition((opacity),0.3s,ease,0)
                    position: relative
                    margin-bottom: 90px
                    margin-right: 2%
                    width: 32%

                    +for-small
                        margin-bottom: 60px
                        margin-right: 0
                        width: 100%

                    &:nth-child(3n)
                        margin-right: 0

                    &:nth-last-child(-n+3)
                        margin-bottom: 0

                        +for-small
                            margin-bottom: 60px

                    &:last-child
                        +for-small
                            margin-bottom: 0

                    & > a
                        +transition((opacity),0.3s,ease,0)
                        display: block

                        &:hover
                            opacity: 0.8

                            +for-small
                                opacity: 1

                            .-image
                                img
                                    transform: translateY(-50%) scale(1.05)

                                    +for-small
                                        transform: translateY(-50%) scale(1)

                    .-image
                        margin-bottom: 25px
                        overflow: hidden
                        padding-top: 66.8%
                        position: relative
                        width: 100%
                        z-index: 1

                        +for-small
                            margin-bottom: 10px

                        img
                            +transition((transform),0.3s,ease,0)
                            +position-absolute(50%,0,auto,0)
                            margin: 0 auto
                            height: auto
                            transform: translateY(-50%)
                            width: 100%

                    .-data
                        align-items: center
                        display: flex
                        justify-content: space-between

                        .-title
                            +notosans
                            font-size: 18px
                            letter-spacing: 0.2em

                            +for-small
                                font-size: 15px

                        .button-more > span
                            +for-small
                                padding-left: 30px
                                &::after
                                    width: 20px

                                &::before
                                    bottom: 5px
                                    left: 8px
                                    width: 12px

            .-soon
                +TTNormsPro-ExtraLightItalic
                font-size: 28px
                letter-spacing: 0.1em
                text-align: center
                text-indent: 0.1em

                +for-small
                    font-size: 18px


        &-content
            padding: 130px 0 175px

            +for-small
                padding: 85px 0 50px

            .-content
                position: relative

                +for-small
                    padding-top: 10px

                .head
                    +TTNormsPro-Italic
                    color: #3a81c4
                    font-size: 20px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 12px
                        margin-bottom: 25px

                .-title
                    +notosans
                    font-size: 30px
                    letter-spacing: 0.2em
                    margin-top: 40px

                    +for-small
                        font-size: 16px
                        line-height: 1.8
                        margin-top: 25px
                
                .-career
                    margin-top: 50px

                    +for-small
                        margin-top: 40px

                    & > p
                        +notosans
                        font-size: 14px
                        letter-spacing: 0.1em
                        line-height: 2

                        +for-small
                            font-size: 12px
                            line-height: 1.8
                        
                        & > br
                            +for-small
                                display: none

                .-text
                    +notosans
                    color: #1a1a1a
                    font-size: 14px
                    letter-spacing: 0.1em
                    line-height: 2
                    margin-top: 50px

                    +for-small
                        font-size: 12px
                        line-height: 1.8
                        margin-top: 35px

                .button-back.gallery
                    +position-absolute(0,0,auto,auto)

            .-works
                margin-top: 65px

                +for-small
                    margin-top: 35px

                & > .-wrap
                    .-list
                        margin-bottom: 55px

                        +for-small
                            margin-bottom: 30px

                        .-image
                            text-align: center
                            width: 100%

                            img
                                height: auto
                                margin: 0 auto
                                max-height: 1200px
                                max-width: 100%
                                width: auto
                                // object-fit: contain

                                +for-small
                                    max-height: 300px
                                    height: auto

                        .-data
                            overflow: hidden
                            p
                                +notosans
                                color: #666666
                                font-size: 14px
                                float: right
                                letter-spacing: 0.1em
                                margin-top: 20px

                                +for-small
                                    font-size: 11px
                                    margin-top: 8px

        &-event-archive
            margin-bottom: 100px

            +for-small
                margin: 0 20px 70px

            & > .-wrap
                .-list
                    margin-bottom: 70px

                    +for-small
                        margin-bottom: 20px

                    a
                        +transition((opacity),0.3s,ease,0)
                        display: block

                        &:hover
                            opacity: 0.8

                        img
                            height: auto
                            width: 100%


.architect-movie.gallery
    margin-bottom: 105px

    &.cat
        margin-bottom: 110px

        +for-small
            margin-bottom: 45px

    +for-small
        margin-bottom: 25px

    &::after
        background-size: auto auto
        background-color: rgba(45, 107, 158, 1)
        background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(44, 97, 147, 1) 7px, rgba(44, 97, 147, 1) 16px )