// *****************************
// * home
// *****************************

#container.home
    height: 100%

.header.home,
.header.event,
.header.event-detail,
.header.event-confirm,
.header.event-thanks
    &.on
        & > .logo
            svg
                .cls-1
                    fill: #22305a

        & > .nav
            & > .-contact
                .-list
                    &.contact
                        &:after,
                        &:before
                            background-color: $color-black
                    & > a > svg
                        .st1
                            fill: $color-black

// Swiperを使用する場合
.main-visual
    height: 100vh
    position: relative
    width: 100%

    +for-small
        height: 100%

    & > .main-copy
        position: absolute
        top: 55%
        right: 0
        left: 0
        margin: auto
        text-align: center
        transform: translateY(-50%)

        +for-small
            top: 51%

        img
            max-width: 1490px
            margin-bottom: 40px
            width: 77.6%

            +for-small
                margin: 0 0 7px 20px
                width: 80%

        .-button
            display: flex
            justify-content: center

            +for-small
                flex-direction: column
                margin: 0 20px
                width: auto

            & > a
                +transition((background-color),0.3s,ease,0)
                background-color: rgba(255,0,0,0.7)
                border-radius: 5px
                display: block
                margin: 0 7px
                padding: 32px 0 32px 30px
                position: relative
                text-align: left
                width: 353px

                span
                    +notosans
                    color: $color-white
                    font-size: 19px
                    font-weight: 500
                    letter-spacing: 0.1em

                    +for-small
                        font-size: 14px

                +for-small
                    margin: 3px 0
                    padding: 11px 15px 12px
                    width: 100%

                &:hover
                    background-color: rgba(255,0,0,1)
                    opacity: 1

                .-icon
                    +position-absolute(48%,20px,auto,auto)
                    transform: translateY(-50%)
                    right: 20px

                    svg
                        fill: $color-white
                        height: 7px
                        width: 28px

                    +for-small
                        right: 15px

    .-new
        margin-top: 20px
        text-align: center

        +for-small
            margin: 3px 0
            padding: 0 20px

        & > a
            +transition((background-color),0.3s,ease,0)
            align-items: center
            background-color: rgba(255,255,255,0.9)
            border-radius: 5px
            display: flex
            padding: 25px 0 25px 30px
            position: relative
            margin: 0 auto
            width: 720px

            +for-small
                align-items: flex-start
                flex-direction: column
                padding: 6px 15px
                width: 100%

            &:hover
                background-color: rgba(255,255,255,1)

            .-head
                margin-right: 50px

                +for-small
                    margin: 0 0 3px 0

                p
                    +TTNormsPro-MediumItalic
                    color: $color-red
                    font-size: 13px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 10px

            .title
                +notosans
                color: $color-red
                font-size: 16px
                letter-spacing: 0.05em

                +for-small
                    font-size: 12px

            .-icon
                +position-absolute(50%,20px,auto,auto)
                transform: translateY(-50%)
                right: 20px

                +for-small
                    right: 15px

                svg
                    fill: $color-red
                    height: 7px
                    width: 28px

    .-other
        align-items: center
        display: flex
        justify-content: center
        margin: 20px auto 0
        // width: 736px

        +for-small
            flex-direction: column
            margin: 0 20px
            width: auto

        & > a
            +transition((background-color),0.3s,ease,0)
            align-items: center
            background-color: rgba(35,24,21,0.9)
            border-radius: 5px
            display: flex
            height: 85px
            margin: 0 7px
            padding: 22px 20px 22px 30px
            width: 353px

            +for-small
                align-items: flex-start
                flex-direction: column
                height: 40px
                margin: 3px 0
                position: relative
                padding: 11px 20px 12px
                width: 100%

            &:hover
                background-color: rgba(35,24,21,1)

            .-icon
                svg
                    fill: $color-white
                    height: 7px
                    width: 28px

                +for-small
                    +position-absolute(50%,15px,0,auto)
                    transform: translateY(-50%)
                    

            .head
                +TTNormsPro-MediumItalic
                color: $color-white
                font-size: 13px
                letter-spacing: 0.05em
                margin-right: 15px

                +for-small
                    font-size: 10px

            .text
                +notosans
                color: $color-white
                font-size: 14px
                letter-spacing: 0.05em

                +for-small
                    font-size: 12px

        .topics
            align-items: center
            // margin: 0 auto

            +for-small
                align-items: flex-start
                padding: 9px 15px 8px
                // margin: 0

            // img
            //     height: 28px
            //     margin-right: 20px
            //     width: 278px

            //     +for-small
            //         height: 15px
            //         margin-right: 0
            //         width: 157px

            // & > img
            //     height: 41px
            //     margin: 0 45px 0 0
            //     width: 232px

            //     +for-small
            //         height: 23px
            //         margin-right: 0
            //         width: 117px

            & > img
                height: 41px
                margin: 0 45px 0 0
                width: 232px

                +for-small
                    height: 23px
                    margin-right: 0
                    width: 117px

            .head
                margin-right: 40px

        .event
            justify-content: space-between

            +for-small
                padding: 5px 15px 12px
                width: 100%

            .text-wrap
                & > p
                    align-items: flex-end
                    display: flex

                    +for-small
                        align-items: flex-start

                    .head
                        +norms
                        color: #3A81C4
                        font-size: 24px
                        line-height: 1

                        +for-small
                            font-size: 14px

                    .text
                        margin-bottom: 5px

                        +for-small
                            margin-bottom: 0
                    
                .copy
                    +notosans
                    font-size: 14px
                    color: $color-white
                    letter-spacing: 0.05em
                    margin-top: 5px

                    +for-small
                        font-size: 11px
                        margin-top: 3px


            .-icon
                margin-bottom: 3px
                +for-small
                    margin-bottom: 0

    .-event
        margin: 20px auto 0
        text-align: center
        width: 100%

        +for-small
            margin: 3px 20px
            width: auto

        & > a
            +transition((background-color),0.3s,ease,0)
            align-items: center
            background-color: rgba(35,24,21,0.9)
            border-radius: 5px
            display: flex
            margin: 0 auto
            padding: 24px 20px 20px 30px
            position: relative
            width: 720px

            +for-small
                margin: 0
                padding: 5px 15px
                width: 100%

            &:hover
                background-color: rgba(35,24,21,1)

            & > .text-wrap
                align-items: center
                display: flex

                +for-small
                    align-items: flex-start
                    flex-direction: column

                .head
                    +norms
                    color: #3A81C4
                    font-size: 24px
                    line-height: 1
                    margin-right: 15px

                    +for-small
                        font-size: 14px
                    
                    .ja
                        +notosans
                        font-size: 22px
                        font-weight: 500
                        line-height: 1

                        +for-small
                            font-size: 13px
                
                .title
                    +notosans
                    color: $color-white
                    font-size: 14px
                    letter-spacing: 0em
                    padding-bottom: 5px

                    +for-small
                        font-size: 12px
                        margin-top: 3px
                        padding-bottom: 0
                        text-align: left
                    
                    & > span
                        margin-right: 3px
            
            .-icon
                +position-absolute(50%,17px,auto,auto)
                transform: translateY(-50%)
                right: 15px

                svg
                    fill: $color-white
                    height: 7px
                    width: 28px


    // .-news
    //     +position-absolute(auto,0,20px,0)
    //     +transition((background-color),0.3s,ease,0)
    //     background-color: rgba(229,229,229,0.7)
    //     margin: 0 auto
    //     width: 720px

    //     &:hover
    //         background-color: rgba(229,229,229,1)

    //     +for-small
    //         +position-absolute(auto,0,0,0)
    //         width: 100%

    //     a,
    //     .wrap
    //         // align-items: center
    //         // display: flex
    //         padding: 16px 30px 12px

    //         +for-small
    //             align-items: flex-start
    //             flex-direction: column
    //             padding: 15px 15px 13px

    //         .-wrap
    //             align-items: center
    //             display: flex
    //             text-align: center
    //             margin: 0 auto

    //         .-head
    //             color: #3A81C4
    //             display: flex
    //             // margin-right: 30px
    //             margin-bottom: 3px

    //             +for-small
    //                 margin: 0 0 5px 0

    //             p
    //                 +TTNormsPro-MediumItalic
    //                 letter-spacing: 0.05em

    //             time
    //                 color: #3A81C4
    //                 margin-right: 50px

    //                 +for-small
    //                     margin-right: 0

    //             .head, time
    //                 +din-m
    //                 font-size: 15px
    //                 letter-spacing: 0.05em

    //                 +for-small
    //                     font-size: 11px

    //             .head
    //                 +notosans
    //                 font-weight: 500
    //                 margin-right: 60px
    //                 +for-small
    //                     font-size: 12px
    //                     margin-right: 8px

    //         .title
    //             +notosans
    //             color: $color-black
    //             font-size: 14px
    //             font-weight: 400
    //             letter-spacing: 0.05em
    //             line-height: 1.5
    //             // padding-right: 55px
    //             position: relative
    //             text-align: justify

    //             +for-small
    //                 font-size: 11px
    //                 letter-spacing: 0.03em
    //                 // padding-right: 45px

    //             // &::after
    //             //     +din-m
    //             //     +position-absolute(auto,0,-1px,auto)
    //             //     background-color: transparent
    //             //     content: '...more'
    //             //     font-size: 15px
    //             //     letter-spacing: 0.05em
    //             //     height: auto
    //             //     width: auto

    //             //     +for-small
    //             //         font-size: 11px

    //             &::before
    //                 content: none

    .-news
        +position-absolute(auto,0,0,0)
        +transition((background-color),0.3s,ease,0)
        background-color: rgba(255,255,255,0.7)
        margin: 0 auto
        width: 87.4%

        &:hover
            background-color: rgba(255,255,255,1)

        +for-small
            +position-absolute(auto,0,0,0)
            width: 100%

        a
            align-items: center
            display: flex
            padding: 32px 90px 27px

            +for-small
                align-items: flex-start
                flex-direction: column
                padding: 12px 15px 7px

            .wrap
                align-items: center
                display: flex
                text-align: center
                margin: 0 auto

            .-head
                display: flex
                margin-top: 3px

                +for-small
                    margin: 0 0 3px 0

                p
                    letter-spacing: 0.05em

                time
                    color: #3a81c4
                    margin-right: 50px

                    +for-small
                        margin-right: 0

                .head, time
                    +din
                    font-size: 15px
                    letter-spacing: 0.05em

                    +for-small
                        font-size: 11px

                .head
                    font-weight: 500
                    margin-right: 60px
                    +for-small
                        font-size: 12px
                        margin-right: 8px

            .title
                +notosans
                color: $color-black
                font-size: 14px
                font-weight: 400
                letter-spacing: 0.05em
                line-height: 1.5
                position: relative
                text-align: justify

                +for-small
                    font-size: 11px
                    letter-spacing: 0.03em

                &::before
                    content: none

        & > .pagination
            +position-absolute(50%,90px,auto,auto)
            height: 8px
            margin: 0
            transform: translateY(-50%)
            width: 36px

            +for-small
                +position-absolute(50%,20px,auto,auto)
                width: 23px

            .swiper-pagination-bullet
                background-color: #808080
                border-radius: 4px
                height: 8px
                margin-right: 18px
                width: 8px

                +for-small
                    margin-right: 7px

                &:last-child
                    margin-right: 0

                &.swiper-pagination-bullet-active
                    background-color: #fff

.scroll
    +for-small
        display: none
    & > .element
        +position-absolute(auto,2.5%,0,auto)
        display: block
        margin: 0 auto
        text-align: center
        z-index: 10

        .text
            +din-m
            color: $color-white
            display: block
            font-size: 16px
            letter-spacing: 0.1em
            margin-bottom: 135px
            position: relative
            transform: rotate(90deg)

            +for-small
                padding-bottom: 60px

        .border
            +position-absolute(auto,0,0,0)
            background-color: $color-white
            content: ''
            height: 87px
            margin: 0 auto
            text-align: center
            width: 2px
            overflow: hidden

            &::before
                display: block
                content: ''
                width: 100%
                height: 100%
                background-color: #7c7c7c
                position: absolute
                top: 0
                left: 0
                animation: scroll 2.6s infinite normal

    &.black
        .text
            color: $color-black

        .border
            background-color: $color-black

            &::before
                background-color: $color-white

    &.other
        & > .element
            .text
                color: $color-white
                margin-bottom: 278px

            .border
                background-color: $color-white
                height: 254px


.main-visual-slider
    background: url(../images/home/image-mainvisual.jpg) no-repeat center center
    background-size: cover
    height: 100%
    width: 100%

    +for-small
        background: url(../images/home/image-mainvisual-sp.jpg) no-repeat center center
        background-size: cover

@keyframes scroll
    0%
        transform: translate3d(0,-100%,0)
    15%
        transform: translate3d(0,-98%,0)
    85%
        transform: translate3d(0,98%,0)
    100%
        transform: translate3d(0,100%,0)

.home
    @at-root
        &-laboexpo
            background: url(../images/home/bg-iehaku.jpg) no-repeat center center
            background-size: cover
            height: 100vh
            min-height: 850px
            padding-left: 6%
            position: relative
            width: 100%

            +for-small
                background: url(../images/home/bg-iehaku-sp.jpg) no-repeat center center
                background-size: cover
                height: auto
                min-height: auto
                padding-left: 0

            .labo-logo
                +position-absolute(60px,85px,auto,auto)
                text-align: right

                +for-small
                    +position-absolute(20px,15px,auto,auto)

                .labo
                    margin: 0 15px 15px 0
                    height: 68px
                    width: 177px

                    +for-small
                        margin: 0 13px 5px 0
                        height: 29px
                        width: 75px

                p
                    +notosans
                    font-size: 15px
                    letter-spacing: 0.3em
                    text-align: right

                    +for-small
                        color: $color-white
                        font-size: 10px
                        letter-spacing: 0.1em

            .iehaku-logo
                +position-absolute(auto,113px,55px,auto)
                // background-color: $color-white
                width: 16.6%
                // padding: 45px
                z-index: 1
                img
                    height: auto
                    width: 100%

            & > .scroll
                .element
                    .text
                        color: $color-black
                    .border
                        background-color: $color-black

            & > .-inner
                background-color: rgba(255,255,255,0.9)
                height: 100%
                position: relative
                max-width: 788px
                min-width: 700px
                width: 41%
                z-index: 2

                +max-width(1050px)
                    width: 600px

                    +for-small
                        background-color: rgba(0,0,0,0.4)
                        max-width: auto
                        min-width: auto
                        position: static
                        padding: 80px 20px 25px
                        width: 100%

                .-box
                    +position-absolute(54.5%,0,auto,0)
                    margin: 0 auto
                    padding: 0 65px
                    transform: translateY(-50%)

                    +for-small
                        padding: 0
                        position: static
                        transform: none

                    .-detail

                        .-logo
                            margin-bottom: 35px

                            +max-width(1366px)
                                margin-bottom: 20px

                            img
                                height: auto
                                width: 100%

                            .four
                                height: 52px
                                margin-bottom: 15px
                                width: 156px

                                +for-small
                                    height: 24px
                                    margin-bottom: 10px
                                    width: 73px

                        & > .-text
                            position: relative

                            .text-secondary
                                line-height: 2
                                margin-bottom: 45px

                                +max-width(1366px)
                                    margin-bottom: 20px

                                    +for-small
                                        color: $color-white
                                        font-size: 12px
                                        line-height: 1.8
                                        margin-bottom: 15px
                                        letter-spacing: 0.03em

                            // .labo
                            //     display: none

                            //     +for-small
                            //         +position-absolute(0,0,auto,auto)
                            //         display: block
                            //         height: 27px
                            //         width: 72px

                        .-copy
                            max-width: 653px
                            margin-bottom: 25px
                            width: 100%

                            +max-width(1366px)
                                margin-bottom: 15px
                                max-width: auto
                                width: 80%

                                +for-small
                                    margin-bottom: 25px
                                    width: 100%

                            img
                                height: auto
                                width: 100%
                            // margin-bottom: 25px

                            // +max-width(1366px)
                            //     margin-bottom: 15px

                            // span
                            //     +notosans
                            //     color: $color-blue
                            //     font-size: 50px
                            //     font-weight: 200
                            //     letter-spacing: 0.06em

                            //     +max-width(1366px)
                            //         font-size: 40px

                            //         +max-width(1050px)
                            //             font-size: 30px

                            //             +for-small
                            //                 font-size: 22px
                            //                 letter-spacing: 0.04em

                            //     &.sm
                            //         font-size: 36px

                            //         +max-width(1366px)
                            //             font-size: 26px

                            //             +max-width(1050px)
                            //                 font-size: 20px

                            //                 +for-small
                            //                     font-size: 15px

                        .button-flat
                            background-color: #12a4e6
                            border-radius: 3px
                            margin-bottom: 35px
                            padding: 43px 0 40px

                            +max-width(1366px)
                                margin-bottom: 30px

                                +for-small
                                    border-radius: 5px
                                    margin-bottom: 0
                                    padding: 21px 0 20px

                            span
                                +notosans
                                font-size: 21px
                                font-weight: 300
                                padding-right: 85px
                                position: relative

                                +for-small
                                    font-size: 13px

                                .arrow
                                    top: 35%
                                    right: 0

                                    +for-small
                                        top: 45%

                        .-announce
                            img
                                height: auto
                                width: 100%

                            & > .-text
                                +notosans
                                font-size: 40px
                                font-weight: 100
                                line-height: 1.3
                                letter-spacing: 0.05em

                                +max-width(1366px)
                                    font-size: 30px

                                    +max-width(1050px)
                                        font-size: 25px

                                        +for-small
                                            font-size: 17px
                                            font-weight: 200

        &-information
            & > .-wrap
                display: flex

                +for-small
                    flex-direction: column-reverse

                .-link
                    margin-right: 145px

                    +for-small
                        margin-right: 0
                        width: 100%

                    a
                        +transition((opacity),0.3s,ease,0)
                        display: inline-block
                        padding-right: 34px
                        position: relative

                        +for-small
                            border: 1px solid $color-black
                            border-radius: 5px
                            display: block
                            margin-top: 20px
                            padding: 20px 10px

                        &:hover
                            opacity: 0.7

                            +for-small
                                opacity: 1

                        span
                            +notosans
                            font-size: 14px
                            letter-spacing: 0.2em

                            +for-small
                                +brandon
                                color: $color-light-blue
                                font-size: 12px
                                font-weight: 500
                                letter-spacing: 0.05em


                        .icon
                            +position-absolute(40%,0,auto,auto)
                            transform: translateY(-50%)

                            svg
                                height: 6px
                                width: 22px

                    .button-ghost
                        background-color: $color-black
                        margin-top: 20px

                        span
                            color: $color-white

                        .arrow
                            svg
                                fill: $color-white

                .-list
                    width: calc(100% - 280px)

                    +for-small
                        width: 100%

                    .-item
                        border-bottom: 1px solid $color-black

                        & > a
                            +transition((opacity),0.3s,ease,0)
                            display: flex
                            padding: 35px 0 32px

                            +for-small
                                flex-direction: column
                                padding: 20px 0 18px

                            &:hover
                                opacity: 0.7

                            .head
                                display: flex

                                +for-small
                                    margin-bottom: 5px

                                .category,time
                                    +din
                                    font-size: 15px
                                    letter-spacing: 0.05em
                                    margin-right: 60px

                                    +for-small
                                        font-size: 11px
                                        margin-right: 10px

                                time
                                    color: #3a81c4

                            .title
                                +notosans
                                font-size: 15px
                                letter-spacing: 0.05em

                                +for-small
                                    font-size: 11px

                        &:nth-child(1)
                            a
                                padding-top: 0

        &-model
            position: relative

            & > .headding-primary
                margin-bottom: 25px

                +for-small
                    margin-bottom: 15px
                    padding: 0 20px

            & > .headding-tertiary
                margin-bottom: 50px

                +for-small
                    margin-bottom: 25px
                    padding: 0 20px

            & > .swiper-container
                margin-bottom: 80px
                width: 100%

                +for-small
                    margin-bottom: 30px

            & > div > .button-ghost
                span
                    +for-small
                        letter-spacing: 0.02em

            & > .navigation
                +position-absolute(80px,135px,auto,auto)
                height: 6px
                width: 160px

                +max-width(1640px)
                    top: 100px
                    right: 50px

                    +for-small
                        +position-absolute(58px,20px,auto,auto)
                        width: 60px

                .swiper-button-next,
                .swiper-button-prev
                    background-image: url(../images/common/icon-arrow-long.svg)
                    background-size: 60px 6px
                    height: 6px
                    margin: 0
                    position: absolute
                    bottom: 0
                    width: 60px

                    +for-small
                        background-image: url(../images/common/icon-arrow-s.svg)
                        background-size: 23px 6px
                        width: 23px

                .swiper-button-next
                    right: 0

                .swiper-button-prev
                    left: 0
                    transform: rotateY(-180deg)

.bnr-column
    width: 100%

    & > .-wrap
        display: flex

        +for-small
            flex-direction: column

        .-list
            +transition((opacity),0.3s,ease,0)
            width: 50%

            +for-small
                width: 100%

            &:hover
                opacity: 0.8

            &.map
                background-size: auto auto
                background-color: rgba(83, 135, 195, 1)
                background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(80, 129, 187, 1) 4px, rgba(80, 129, 187, 1) 5px )

            &.school
                background-size: auto auto
                background-color: rgba(73, 118, 161, 1)
                background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(69, 112, 153, 1) 4px, rgba(69, 112, 153, 1) 5px )

            &.labo
                background-size: auto auto
                background-color: rgba(143, 0, 0, 1)
                background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(136, 0, 0, 1) 4px, rgba(136, 0, 0, 1) 5px )

                a
                    padding: 135px 0 100px

                    +for-small
                        padding: 40px 0 45px

                .-icon
                    img
                        height: 47px

                        +for-small
                            height: 35px

            &.gallery
                background-size: auto auto
                background-color: rgba(35, 49, 94, 1)
                background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(34, 48, 90, 1) 4px, rgba(34, 48, 90, 1) 5px )

                a
                    padding: 115px 0 100px

                    +for-small
                        padding: 35px 0
                .-icon
                    svg
                        height: 66px

                        +for-small
                            height: 50px

                        .cls-1,
                        .cls-2
                            fill: $color-white

            & > a
                display: block
                padding: 95px 0 120px

                +for-small
                    padding: 35px 0

                .-icon
                    margin-bottom: 25px
                    text-align: center

                    +for-small
                        margin-bottom: 10px

                    img
                        height: 74px
                        margin: 0 auto
                        width: auto

                        +for-small
                            height: 50px

                .-title
                    +notosans
                    color: $color-white
                    font-size: 26px
                    font-weight: 300
                    letter-spacing: 0.2em
                    margin-bottom: 40px
                    text-align: center
                    text-indent: 0.2em

                    +for-small
                        font-size: 16px
                        margin-bottom: 15px

                .button-more
                    span
                        color: $color-white

                        &::before,
                        &::after
                            background-color: $color-white

.bnr-about
    background-color: #4d4d4d

    .-wrap
        display: flex
        position: relative

        &::after
            +position-absolute(50%,0,auto,0)
            background-color: $color-white
            content: ''
            height: 145px
            margin: 0 auto
            text-align: center
            transform: translateY(-50%) rotate(25deg)
            width: 1px

            +for-small
                height: 40px

        .-list
            width: 50%

            +for-small
                width: 100%

            & > a
                display: block
                padding: 110px 0
                text-align: center

                +for-small
                    padding: 40px 0

                &:hover
                    .-title
                        opacity: 0.7

                    .button-more
                        opacity: 0.7

                .-title
                    +transition((opacity),0.3s,ease,0)
                    +notosans
                    color: $color-white
                    font-size: 26px
                    font-weight: 300
                    letter-spacing: 0.2em
                    margin-bottom: 20px
                    text-indent: 0.2em

                    +for-small
                        font-size: 14px
                        margin-bottom: 15px
                        letter-spacing: 0.03em
                        text-indent: 0.03em

                .button-more
                    +transition((opacity),0.3s,ease,0)
                    span
                        color: $color-white

                        +for-small
                            padding-left: 45px

                        &::before,
                        &::after
                            background-color: $color-white

                        &::after
                            +for-small
                                width: 35px

                        &::before
                            +for-small
                                left: 27px
