// *****************************
// * house
// *****************************

.house
    @at-root
        &-company

            & > .headding-primary
                +for-small
                    margin-bottom: 20px

                .num
                    +TTNormsPro-Italic
                    font-size: 18px
                    letter-spacing: 0.1em
                    margin-bottom: 10px
                    text-indent: 0.1em

                    +for-small
                        font-size: 12px
                        margin-bottom: 5px

                .en
                    margin-bottom: 0

            & > .-inner
                align-items: flex-start
                display: flex

                +for-small
                    margin-bottom: 30px

                .-data
                    width: calc(100% - 250px)

                    +for-small
                        width: calc(100% - 110px)

                    .company
                        margin-bottom: 30px

                        & > span
                            display: block

                        .en
                            +TTNormsPro-Italic
                            color: #3a81c4
                            font-size: 18px
                            letter-spacing: 0.1em
                            margin-bottom: 10px

                            +for-small
                                font-size: 12px
                                margin-bottom: 15px

                        .ja
                            +notosans
                            font-size: 28px
                            letter-spacing: 0.2em

                            +for-small
                                font-size: 15px
                                letter-spacing: 0.05em

                .-logo
                    background-color: #f7f7f7
                    overflow: hidden
                    padding-top: 17.626%
                    position: relative
                    width: 250px

                    +for-small
                        padding-top: 32.84%
                        width: 110px

                    img
                        +position-absolute(50%,auto,auto,0)
                        height: auto
                        transform: translateY(-50%)
                        width: 100%

            .content,
            .-about > p,
            .-about > h3,
            .-about > h4
                +notosans
                font-size: 14px
                letter-spacing: 0.1em
                line-height: 1.8

                +for-small
                    font-size: 12px

            .content
                margin-bottom: 25px

                +for-small
                    margin-bottom: 20px

            .-about
                margin-bottom: 30px

            & > .-contact
                align-items: flex-end
                display: flex

                +for-small
                    flex-direction: column

                & > .tel
                    margin-right: 50px

                    span, a
                        +TTNormsPro-Light
                        color: #3a81c4
                        font-size: 40px
                        line-height: 1
                        letter-spacing: 0.05em

                        +for-small
                            display: block
                            font-size: 25px
                            margin-bottom: 25px

                & > a
                    +transition((opacity),0.3s,ease,0)
                    border-bottom: 1px solid #3a81c4
                    margin: 0 50px 5px 0
                    padding-bottom: 13px
                    position: relative
                    width: 270px

                    +for-small
                        margin: 0 0 25px
                        width: 100%

                    &:hover
                        opacity: 0.8

                    &:last-child
                        margin-right: 0

                        +for-small
                            margin-bottom: 0

                    span
                        +notosans
                        color: #3a81c4
                        font-size: 18px

                        +for-small
                            font-size: 14px

                    svg
                        +position-absolute(auto,0,15px,auto)
                        fill: #3a81c4
                        height: 6px
                        width: 60px

                        +for-small
                            width: 22px
