// *****************************
// * labo
// *****************************

#container.labo
    height: 100%

.main-visual.labo
    height: 100%
    position: relative
    width: 100%
    padding: 80px 0 88px

    +for-small
        padding: 50px 0 52px
        width: 100%

    .swiper-container,
    .swiper-wrapper
        height: 100%
        transition-property: opacity
        width: 100%

    .swiper-wrapper
        box-sizing: border-box

    .main-visual-slider

    .main-visual-slider
        & > .list
            background-color: $color-white
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            height: 100%
            position: relative
            width: 100%

            .main-copy
                // +position-absolute(57%,0,auto,0)
                +position-absolute(50%,0,auto,0)
                margin: 0 auto
                transform: translateY(-50%)
                text-align: center

                +for-small
                    top: 52%
                    width: 100%
                    // transform: translateY(-50%)

                img
                    height: auto
                    margin-bottom: 0
                    // margin-bottom: 5.775%
                    width: 79.6%

                    +for-small
                        margin: 0 auto
                        width: 81%

            &.-list02
                background-image: url(../images/labo/image-mainvisual02.png)
                background-size: cover
                background-position: top left

                +for-small
                    background-image: url(../images/labo/image-mainvisual02-sp.png)
                    background-size: 100% auto
                    background-position: bottom center

            &.-list03
                background-image: url(../images/labo/image-mainvisual03.svg)
                background-size: cover

                +for-small
                    background-image: url(../images/labo/image-mainvisual03-sp.svg)
                    background-size: auto 100%
                    background-position: center center

.labo
    @at-root
        &-monitor
            & > .-head
                margin: 0 auto 35px
                text-align: center

                img
                    max-width: 1495px

            .button-ghost
                margin-top: 55px
                &:hover
                    background-color: $color-white

                    span
                        color: $color-red

                    .arrow
                        svg
                            fill: $color-red

.labo
    @at-root
        &-about
            .button-more.center
                margin-top: 40px

                +for-small
                    margin-top: 20px


        &-access
            &.content-wrap
                +for-small
                    line-height: 1
                    margin: 0
                    width: 100%

            & > .-wrap
                display: flex
                justify-content: space-between

                +for-small
                    flex-direction: column
                    margin: 0 20px
                    width: auto

                .-left
                    display: flex

                    +for-small
                        flex-direction: column

                    .-head
                        margin-right: 70px

                        +max-width(1200px)
                            margin-right: 40px

                        .headding-primary
                            margin-bottom: 95px

                            +for-small
                                margin-bottom: 25px

                    .-data
                        +for-small
                            margin-bottom: 18px
                        .-company
                            +notosans
                            color: $color-white
                            font-size: 16px
                            font-weight: 600
                            margin-bottom: 5px

                            +for-small
                                font-size: 13px
                                margin-bottom: 10px

                        .-add
                            margin-bottom: 5px

                            span
                                display: block
                                line-height: 1.8

                                +for-small
                                    line-height: 1.6

                        .-tell
                            +transition((opacity),0.3s,ease,0)
                            &:hover
                                opacity: 0.7
                            span
                                +brandon
                                color: $color-white
                                font-size: 35px
                                font-weight: 300
                                letter-spacing: 0.1em

                                +for-small
                                    font-size: 24px

                                &:nth-child(1)
                                    font-size: 13px
                                    margin-right: 12px


                .-right
                    .button-ghost
                        margin-bottom: 20px

                        +for-small
                            margin-bottom: 12px

                        +max-width(1200px)
                            width: 250px

                            +for-small
                                margin-bottom: 25px
                                width: 100%

                .-left,
                .-right
                    .-map
                        +transition((opacity),0.3s,ease,0)
                        display: inline-block
                        padding-left: 30px
                        position: relative

                        &:hover
                            opacity: 0.7

                        p
                            +brandon
                            color: $color-white
                            font-size: 13px
                            font-weight: 300
                            letter-spacing: 0.1em

                            +for-small
                                font-size: 12px

                        .icon
                            +position-absolute(50%,auto,auto,0)
                            transform: translateY(-50%)

                            svg
                                fill: $color-white
                                height: auto
                                width: 16px

            .-google
                margin-top: 65px

                +for-small
                    margin-top: 22px
                    margin-bottom: -1px

                iframe
                    height: 538px
                    width: 100%

                    +for-small
                        height: 184px

        &-exhibition
            &.content-small
                +for-small
                    margin: 0

            &.space
                margin-bottom: 80px

                +for-small
                    margin-bottom: 35px

            & > .-wrap
                .-list

                    +for-small
                        margin-bottom: 35px

                    & > a
                        display: block
                        width: 100%

                        &:hover
                            .-eyecatch
                                opacity: 0.8

                            .button-ghost
                                background-color: $color-black
                                span
                                    color: $color-white

                                .arrow
                                    svg
                                        fill: $color-white


                    .-eyecatch
                        // +transition((opacity),0.3s,ease,0)
                        // background: url(../images/labo/bg-expo.jpg) no-repeat center center
                        // background-size: cover
                        // height: 470px
                        // position: relative
                        // width: 100%

                        // +for-small
                        //     height: auto
                        //     padding-top: 50%
                        position: relative
                        width: 100%

                        +for-small
                            margin-bottom: 20px

                        img
                            height: auto
                            width: 100%

                        .-head
                            +position-absolute(51%,0,auto,0)
                            margin: 0 auto
                            transform: translateY(-50%)
                            text-align: center

                            img
                                height: 47px
                                width: auto

                                +for-small
                                    height: 15px

                        &.architect

                            .-head
                                top: 50%
                                width: 23.4%

                                & > svg
                                    fill: $color-white
                                    height: auto
                                    width: 100%

                                    +for-small
                                        width: 100px

                                    .sta
                                        stroke: $color-white

                                    .expo
                                        display: none

                    .-content
                        align-items: flex-end
                        display: flex
                        justify-content: space-between
                        position: relative
                        margin-bottom: 55px

                        +for-small
                            flex-direction: column
                            margin: 0 20px
                            width: auto

                        .-box
                            // background-color: $color-white
                            // margin-top: -60px
                            // margin-right: 5.3%
                            padding-top: 60px
                            position: relative
                            width: 80%

                            +for-small
                                padding-top: 0
                                width: 100%

                            .headding-primary
                                margin-bottom: 15px

                                +for-small
                                    margin-bottom: 20px

                            .-title
                                margin-bottom: 30px

                                +for-small
                                    margin-bottom: 15px

                                img
                                    height: auto
                                    margin-bottom: 5px
                                    width: 717px

                                    +for-small
                                        height: auto
                                        margin-bottom: 0
                                        width: 100%

                                .main
                                    +notosans
                                    font-size: 35px
                                    font-weight: 300
                                    letter-spacing: 0.22em
                                    margin-bottom: 5px

                                    +max-width(1245px)
                                        font-size: 25px

                                        +for-small
                                            font-size: 15px
                                            letter-spacing: 0.1em

                                    .brank
                                        display: none

                                        +max-width(1260px)
                                            display: block

                                span
                                    display: block
                                    line-height: 1.5

                            &.architect
                                .headding-primary
                                    margin-bottom: 0

                                    +for-small
                                        margin-bottom: 20px

                            .text-read
                                +for-small
                                    margin-bottom: 20px

                                .brank
                                    display: none

                                    +max-width(1366px)
                                        display: block

                                        +for-small
                                            display: none

                                .brank-o
                                    display: none

                                    +max-width(1260px)
                                        display: block

                                        +for-small
                                            display: none

                            .-orner
                                background-color: #F0F0F0
                                border-radius: 5px
                                margin-top: 30px
                                padding: 35px

                                +for-small
                                    margin-top: 20px
                                    padding: 20px

                                p,h4
                                    +notosans
                                    letter-spacing: 0.05em

                                p
                                    font-size: 17px
                                    line-height: 2

                                    +max-width(1375px)
                                        font-size: 15px

                                        +for-small
                                            display: inline
                                            font-size: 13px

                                h4
                                    font-size: 40px
                                    font-weight: 100
                                    margin-top: 10px

                                    +max-width(1375px)
                                        font-size: 30px

                                        +for-small
                                            display: inline
                                            font-size: 20px

                                    .red
                                        color: $color-red

                        .-logo,
                        .-map
                            width: 31.3%

                        .-logo
                            width: 164px
                            +for-small
                                +position-absolute(0,0,auto,auto)
                                width: 70px

                                img
                                    width: 70px

                            // &.architect
                            //     img
                            //         height: auto
                            //         width: 164px

                            //         +for-small
                            //             width: 70px

                            // &.builder
                            //     img
                            //         height: auto
                            //         width: 164px

                            //         +for-small
                            //             width: 70px

                        .-map
                            +for-small
                                margin: 15px 0
                                width: 100%
                            img
                                width: 100%

                    .button-ghost
                        padding: 27px 0 26px

                        +max-width(1245px)
                            padding: 20px 24px

                            +for-small
                                margin: 0 20px
                                padding: 15px
                                width: auto

                        &:hover
                            background-color: $color-white
                            span
                                color: $color-black

                            .arrow
                                svg
                                    fill: $color-black

                &.harf
                    display: flex
                    justify-content: space-between

                    +for-small
                        flex-direction: column

                    .-list
                        width: 48%

                        +for-small
                            width: 100%

                        .-content
                            .-box
                                width: 100%

            // & > .headding-primary
            //     margin-bottom: 55px

            //     +for-small
            //         margin-bottom: 30px

            // & > .-title
            //     margin-bottom: 29px
            //     text-align: center

            //     img
            //         max-width: 1029px
            //         width: 100%

            //     &.-expo
            //         margin-top: 120px

            //         +for-small
            //             margin: 70px 0 55px

            // & > .-presen
            //     margin-bottom: 62px
            //     text-align: center

            //     +for-small
            //         margin-bottom: 30px

            //     img
            //         max-width: 352px

            //         +for-small
            //             max-width: 51.8%

            // & > .-deadline
            //     margin-bottom: 50px
            //     text-align: center

            //     +for-small
            //         margin-bottom: 30px

            //     img
            //         max-width: 540px

            //         +for-small
            //             max-width: 100%
            //             width: 100%

            // & > .-coming
            //     +TTNormsPro-LightItalic
            //     color: $color-white
            //     font-size: 66px
            //     letter-spacing: 0.1em
            //     margin-bottom: 25px
            //     text-align: center

            //     +for-small
            //         font-size: 28px
            //         margin-bottom: 45px

            // & > .-sub
            //     +notosans
            //     color: $color-white
            //     font-size: 22px
            //     letter-spacing: 0.1em
            //     line-height: 1.7
            //     margin-bottom: 61px
            //     text-align: center

            //     +for-small
            //         font-size: 12px
            //         line-height: 2
            //         margin-bottom: 25px

            //     img
            //         max-width: 1038px
            //         width: 100%

            // & > .-text
            //     +notosans
            //     color: $color-white
            //     font-size: 18px
            //     font-weight: 500
            //     letter-spacing: 0.05em
            //     line-height: 2.5
            //     margin: 117px 0 20px
            //     text-align: center

            //     +for-small
            //         font-size: 12px
            //         line-height: 2
            //         margin: 30px 0 20px

            // & > .-detail
            //     +notosans
            //     color: $color-white
            //     font-size: 13px
            //     font-weight: 500
            //     line-height: 2
            //     text-align: center

            //     +for-small
            //         font-size: 11px
            //         text-align: justify

            // &.other
            //     & > .-title
            //         margin: -85px 0 35px
            //         text-align: center

            //         +for-small
            //             margin: 30px 0 25px

            //         img
            //             max-width: 540px
            //             width: 100%


        &-expo
            background: url(../images/labo/bg-expo.jpg) no-repeat center center
            background-size: cover
            padding: 100px 0
            width: 100%

            +for-small
                background: url(../images/labo/bg-expo-sp.jpg) no-repeat center center
                background-size: cover
                padding: 25px 0 90px

            .-head
                +brandon
                color: $color-white
                font-size: 20px
                letter-spacing: 0.05em
                margin-bottom: 65px
                padding-left: 6.3%
                position: relative

                &::after
                    +position-absolute(50%,auto,auto,0)
                    background-color: $color-white
                    content: ''
                    height: 1px
                    transform: translateY(-50%)
                    width: 5.5%

            .headding-primary
                margin-bottom: 25px

            .-title
                margin-bottom: 10px
                text-align: center

                +for-small
                    margin-bottom: 15px

                img
                    max-width: 404px
                    width: 100%

                    +for-small
                        max-width: 100%
                        width: 76.1%

            .text-primary
                font-size: 22px
                line-height: 1.7

                +for-small
                    font-size: 12px

            .-limit
                margin: 23px 0 58px
                text-align: center

                +for-small
                    margin: 15px 0 25px

                img
                    max-width: 804px
                    width: 100%
                // .date
                //     +TTNormsPro-LightItalic
                //     +position-absolute(auto,4.5%,-18%,auto)
                //     color: $color-red
                //     font-size: 7vw

            .-flow
                margin: 50px 0 62px

                +for-small
                    margin: 18px 0 20px

            .button-ghost
                +for-small
                    padding-bottom: 40px
                    .-italic
                        width: 210px

                    p
                        margin-top: 5px
                        font-size: 16px
                        text-align: left

            &.other
                background: none
                padding: 0 0 50px

                +for-small
                    padding: 35px 0 30px

                .-entry
                    margin-top: 110px
                    margin-bottom: 50px
                    text-align: center

                    +for-small
                        margin-top: 50px
                        margin-bottom: 30px

                    span
                        +brandon
                        display: inline-block
                        font-size: 15px
                        font-weight: 500
                        letter-spacing: 0.05em
                        text-indent: 0.05em
                        padding-bottom: 135px
                        position: relative

                        +for-small
                            font-size: 13px
                            padding-bottom: 90px

                        &::after
                            +position-absolute(auto,0,0,0)
                            background-color: $color-black
                            content: ''
                            margin: 0 auto
                            height: 115px
                            width: 1px

                            +for-small
                                height: 75px

                        &::before
                            +position-absolute(auto,20px,0,auto)
                            background-color: $color-black
                            content: ''
                            margin: 0 auto
                            height: 18px
                            transform: rotate(30deg)
                            width: 1px

                            +for-small
                                +position-absolute(auto,18px,0,auto)
                                height: 14px

                .-limit
                    +notosans
                    font-size: 37px
                    font-weight: 200
                    line-height: 1.5
                    letter-spacing: 0.1em
                    margin: 10px 0 15px
                    text-indent: 0.1em

                    +for-small
                        font-size: 18px
                        text-align: left

                    .red
                        color: #ff0000

                    .blue
                        color: #1A96FA

                    .num
                        margin-right: 5px
                        width: 200px

                        +for-small
                            height: 18px
                            margin-right: 5px
                            width: auto

                .text-primary
                    font-size: 25px
                    font-weight: 300
                    margin-bottom: 50px

                    +for-small
                        font-size: 15px
                        letter-spacing: 0.05em
                        margin-bottom: 15px

                .-text
                    +notosans
                    font-size: 15px
                    letter-spacing: 0.1em
                    line-height: 2.5
                    text-align: center
                    text-indent: 0.1em

                    +for-small
                        font-size: 12px
                        letter-spacing: 0.08em
                        line-height: 2
                        text-align: justify
                        text-indent: 0

                .button-ghost.d-grey
                    margin: 80px 0 30px

                    +for-small
                        margin: 30px 0 10px

                        p
                            line-height: 1.5

        &-magazine
            .headding-primary
                margin-bottom: 112px

                +for-small
                    margin-bottom: 60px

            & > .-wrap
                display: flex
                // justify-content: space-between
                margin-bottom: 35px
                flex-wrap: wrap

                +for-small
                    flex-direction: column

                &.list
                    +for-small
                        margin-bottom: 0

                    .-list
                        margin-bottom: 120px

                        +for-small
                            margin-bottom: 65px

                        &:nth-last-child(-n+3)
                            margin-bottom: 0

                            +for-small
                                margin-bottom: 65px

                        &:last-child
                            +for-small
                                margin-bottom: 0

                .-list
                    +transition((opacity),0.3s,ease,0)
                    position: relative
                    margin-right: 2%
                    width: 32%

                    &:nth-child(3n)
                        margin-right: 0

                    +for-small
                        margin-bottom: 65px
                        margin-right: 0
                        width: 100%

                        &:last-child
                            margin-bottom: 0

                    &:hover
                        opacity: 0.8
                        .-image
                            img
                                transform: translateY(-50%) scale(1.05)

                    &:nth-child(1)
                        .-image
                            &::after
                                +position-absolute(0,0,auto,auto)
                                background: url(../images/labo/icon-new.svg) no-repeat center center
                                background-size: 123px 123px
                                content: ''
                                height: 123px
                                width: 123px

                                +for-small
                                    background-size: 64px 64px
                                    height: 64px
                                    width: 64px

                    .-head
                        +position-absolute(0,auto,auto,0)
                        z-index: 5

                        span
                            +TTNormsPro-MediumItalic
                            color: #fa0000
                            display: block
                            font-size: 17px
                            letter-spacing: 0.05em

                            &.num
                                +TTNormsPro-LightItalic
                                font-size: 50px
                                margin-left: -5px

                    .-image
                        margin-bottom: 25px
                        overflow: hidden
                        padding-top: 66.8%
                        position: relative
                        width: 100%
                        z-index: 1

                        +for-small
                            margin-bottom: 15px

                        img
                            +position-absolute(50%,0,auto,0)
                            +transition((transform),0.3s,ease,0)
                            height: auto
                            margin: 0 auto
                            transform: translateY(-50%)
                            width: 100%

                    .-date
                        margin: -50px 0 10px
                        position: relative
                        z-index: 2

                        +for-small
                            margin: -23px 0 5px

                        span
                            +TTNormsPro-LightItalic
                            color: $color-red
                            font-size: 6vw
                            font-style: italic
                            letter-spacing: 0.05em

                            +for-small
                                font-size: 60px

                            &.week
                                font-size: 2.5vw

                                +for-small
                                    font-size: 20px

                    .-title
                        +notosans
                        font-size: 21px
                        letter-spacing: 0.1em
                        line-height: 1.5
                        margin-bottom: 25px

                        +for-small
                            font-size: 14px
                            letter-spacing: 0.05em
                            margin-bottom: 15px


                    .-name
                        span
                            +notosans
                            color: #fa0000
                            font-size: 18px
                            letter-spacing: 0.1em

                            +for-small
                                font-size: 12px

                        &.space
                            margin-bottom: 25px

                            +for-small
                                margin-bottom: 10px

                    .-number
                        +position-absolute(-65px,auto,auto,0)
                        z-index: 1

                        +for-small
                            top: -35px

                        span
                            color: $color-red
                            display: block

                            &.en
                                +TTNormsPro-MediumItalic
                                font-size: 17px
                                letter-spacing: 0.05em

                                +for-small
                                    font-size: 10px

                            &.num
                                +TTNormsPro-LightItalic
                                font-size: 80px
                                letter-spacing: 0.05em
                                margin-top: -5px
                                margin-left: -5px

                                +for-small
                                    font-size: 40px
                                    margin-top: 0

                    .-bottom
                        display: flex
                        justify-content: space-between

                        time
                            +TTNormsPro-LightItalic
                            color: $color-red
                            font-size: 13px
                            letter-spacing: 0.05em

                            +for-small
                                font-size: 12px


                    .text-secondary
                        line-height: 2
                        margin-bottom: 25px

                        +for-small
                            line-height: 1.8
                            margin-bottom: 15px

                    .-icon
                        +position-absolute(0,0,auto,auto)
                        z-index: 2
                        width: 22%
                        img
                            height: auto
                            width: 100%

                    .-movie
                        +position-absolute(-63px,0,auto,auto)
                        z-index: 2

                        +for-small
                            top: -35px

                        img
                            height: 35px
                            width: 50px

                            +for-small
                                height: 24px
                                width: 35px

                        &.other
                            top: 0

                            img
                                height: 28px
                                width: 40px

                                +for-small
                                    height: 24px
                                    width: 35px

        &-harts
            .-title
                margin: 0 auto 35px
                text-align: center

                +for-small
                    margin: 0 auto 10px

                img
                    max-width: 1410px
                    width: 100%

                p
                    +notosans
                    font-size: 28px
                    font-weight: 200
                    line-height: 1.5
                    letter-spacing: 0.1em
                    margin: 0 0 15px
                    text-indent: 0.1em

                    +for-small
                        font-size: 17px
                        margin: 0 0 5px
                        text-align: left
                        letter-spacing: 0.08em
                        text-indent: 0.08em

            .text-primary
                font-size: 15px

                +for-small
                    font-size: 12px
                    letter-spacing: 0.08em
                    line-height: 2
                    text-align: justify
                    text-indent: 0

            .-button
                display: flex
                margin-top: 40px
                justify-content: center
                width: 100%

                +for-small
                    flex-direction: column
                    margin-top: 20px

                .button-ghost
                    margin: 0 13px
                    width: 42%

                    +for-small
                        margin: 0 0 10px
                        width: 100%

                    &:last-child
                        +for-small
                            margin-bottom: 0

                    span
                        display: block
                        text-align: center

                        +for-small
                            text-align: left

        &-news
            +for-small
                margin-top: 5px

            & > .-wrap
                display: flex

                .-head
                    width: 19.5%

                    +for-small
                        display: none

                    a
                        +transition((opacity),0.3s,ease,0)
                        +notosans
                        font-size: 14px
                        letter-spacing: 0.2em
                        padding-right: 35px
                        position: relative

                        &:hover
                            opacity: 0.7

                        &:after
                            +position-absolute(auto,0,6px,auto)
                            background-color: $color-black
                            content: ''
                            height: 1px
                            width: 20px

                        &:before
                            +position-absolute(auto,0,9px,auto)
                            background-color: $color-black
                            content: ''
                            height: 1px
                            transform: rotate(25deg)
                            width: 12px

                .-list
                    width: 80.5%

                    +for-small
                        margin-bottom: 20px
                        width: 100%

                    &.full
                        width: 100%

                    &.home

                        li > a
                            align-items: center
                            display: flex

                            +for-small
                                align-items: flex-start
                                flex-direction: column

                    li,
                    .item
                        align-items: center
                        border-bottom: 1px solid $color-black
                        display: flex
                        flex-wrap: wrap
                        margin-bottom: 35px
                        padding-bottom: 30px

                        +for-small
                            align-items: flex-start
                            flex-direction: column
                            margin-bottom: 17px
                            padding-bottom: 17px

                        & > a
                            display: block
                            width: 100%

                        .head
                            display: flex

                            +for-small
                                margin-bottom: 5px

                        .category,time
                            +din
                            font-size: 15px
                            letter-spacing: 0.05em
                            margin-right: 60px

                            +for-small
                                font-size: 11px
                                margin-right: 0

                        time
                            color: #3A81C4

                        .title
                            +notosans
                            font-size: 15px
                            letter-spacing: 0.05em
                            line-height: 2

                            +for-small
                                font-size: 12px

                            &.single
                                display: flex
                                font-size: 20px
                                width: 100%

                                +for-small
                                    flex-direction: column
                                    font-size: 13px
                                    line-height: 1.7

                                .season
                                    +brandon
                                    margin-right: 5px

                                    +for-small
                                        margin-right: 0

                                    .time
                                        font-size: 20px
                                        letter-spacing: 0.05em
                                        display: inline-block
                                        padding-right: 15px

                                        +for-small
                                            font-size: 13px
                                            padding-right: 10px

                                        &:last-child
                                            padding-right: 0
                                            position: relative

                                            &::after
                                                +position-absolute(50%,auto,auto,-15px)
                                                background-color: $color-black
                                                content: ''
                                                height: 1px
                                                margin: auto
                                                transform: translateY(-50%)
                                                width: 10px

                                                +for-small
                                                    left: -10px
                                                    height: 1px
                                                    width: 5px

                            span
                                +din

                        .-eyecatch
                            margin-top: 25px
                            width: 100%

                            +for-small
                                margin-top: 15px

                            img
                                height: auto
                                width: 100%

                        .content
                            margin-top: 25px
                            width: 100%

                            +for-small
                                margin-top: 20px

                            img
                                height: auto
                                margin: 0 auto 20px
                                max-width: 100%

                                +for-small
                                    margin: 0 0 10px

                            p
                                +notosans
                                font-size: 15px
                                letter-spacing: 0.1em
                                line-height: 2
                                text-align: justify

                                +for-small
                                    font-size: 12px
                                    letter-spacing: 0.05em
                                    line-height: 1.75

                    li
                        &:last-child

                            a
                                border-bottom: none
                                margin-bottom: 0
                                padding-bottom: 0

            .button-ghost
                +for-small
                    width: 100%

            &.home
                .-wrap
                    .-list
                        time
                            color: #3a81c4

        &-event
            padding-bottom: 125px

            +for-small
                padding-bottom: 45px

            &.official
                padding-bottom: 20px

                .-wrap:nth-child(2)
                    margin-bottom: 0

            .-wrap
                display: flex

                +for-small
                    flex-direction: column-reverse

                &:nth-child(2)
                    margin-bottom: 50px

                    +for-small
                        margin-bottom: 35px

                &:hover
                    .button-ghost
                        background-color: $color-black

                        span
                            color: $color-white

                        .arrow
                            svg
                                fill: $color-white

                .-text
                    box-sizing: content-box
                    padding-right: 6.1%
                    width: 52%

                    +for-small
                        padding-right: 0
                        width: 100%

                    .headding-primary
                        margin-bottom: 30px

                        +for-small
                            margin-bottom: 20px

                    .-head
                        margin-bottom: 30px

                        +for-small
                            margin-bottom: 15px

                        .season
                            +brandon
                            font-weight: 300

                            +for-small
                                margin-bottom: 5px

                            .time
                                font-size: 73px
                                letter-spacing: 0.05em
                                display: inline-block
                                padding-right: 35px

                                +for-small
                                    font-size: 27px
                                    padding-right: 25px

                                &:last-child
                                    padding-right: 0
                                    position: relative

                                    &::after
                                        +position-absolute(50%,auto,auto,-35px)
                                        background-color: $color-black
                                        content: ''
                                        height: 2px
                                        margin: auto
                                        transform: translateY(-50%)
                                        width: 20px

                                        +for-small
                                            left: -25px
                                            height: 1px
                                            width: 15px

                                span
                                    font-size: 36px

                                    +for-small
                                        font-size: 15px
                                        margin-left: 5px

                        .title
                            +notosans
                            font-size: 35px
                            line-height: 1.5
                            letter-spacing: 0.2em
                            margin-top: -5px

                            +for-small
                                font-size: 18px
                                letter-spacing: 0.1em

                    .text-read
                        margin-bottom: 30px

                        +for-small
                            margin-bottom: 20px

                    .button-ghost
                        max-width: 650px
                        width: 100%

                        +for-small
                            max-width: 100%
                            width: auto

                        span
                            display: block
                            text-align: center

                        &:hover
                            background-color: transparent

                            span
                                color: $color-black

                            .arrow
                                svg
                                    fill: $color-black

                .-image
                    overflow: hidden
                    position: relative
                    padding-top: 28.17%
                    width: 41.8%

                    +for-small
                        margin-bottom: 15px
                        padding-top: 66.7%
                        width: 100%

                    img
                        +position-absolute(50%,0,auto,auto)
                        height: auto
                        margin: 0 auto
                        transform: translateY(-50%)
                        width: 100%

        &-busshozan
            +for-small
                height: auto
                width: 100%
            & > ul
                li
                    position: relative
                    height: 855px
                    max-height: 855px

                    +max-width(1280px)
                        height: 720px
                        max-height: 720px

                        +for-small
                            height: auto
                            max-height: auto

                    .-box
                        height: 100%

                        .swiper-wrapper,
                        .swiper-slide
                            height: 100%
                            width: 100%

                            +for-small
                                padding-top: 87.5%

                        .swiper-wrapper
                            box-sizing: border-box

                            +for-small
                                position: relative

                        .swiper-slide.list
                            height: 100%
                            width: 100%

                            +for-small
                                margin-top: -87.5%


                            &.-list01
                                background: url(../images/labo/image-busshozan01.jpg) no-repeat center right
                                background-size: cover

                                +for-small
                                    background: url(../images/labo/image-busshozan01-sp.jpg) no-repeat center center
                                    background-size: cover

                            &.-list02
                                background: url(../images/labo/image-busshozan02.jpg) no-repeat center right
                                background-size: cover

                                +for-small
                                    background: url(../images/labo/image-busshozan02-sp.jpg) no-repeat center center
                                    background-size: cover

                            &.-list03
                                background: url(../images/labo/image-busshozan03.jpg) no-repeat center right
                                background-size: cover

                                +for-small
                                    background: url(../images/labo/image-busshozan03-sp.jpg) no-repeat center center
                                    background-size: cover

                            &.-list04
                                background: url(../images/labo/image-busshozan04.jpg) no-repeat center right
                                background-size: cover

                                +for-small
                                    background: url(../images/labo/image-busshozan04-sp.jpg) no-repeat center center
                                    background-size: cover

                    .-inner
                        +position-absolute(0,auto,auto,0)
                        background-color: #FF0000
                        height: 100%
                        width: 695px
                        z-index: 1

                        +for-small
                            padding: 40px 20px 25px
                            position: static
                            width: 100%

                        .-wrap
                            +position-absolute(auto,auto,6%,105px)

                            +for-small
                                position: static

                            .-copy
                                margin-bottom: 40px

                                +max-width(1280px)
                                    margin-bottom: 25px

                                    +for-small
                                        margin-bottom: 15px

                                img
                                    height: 204px
                                    width: 356px

                                    +for-small
                                        height: 37px
                                        width: 270px

                            .text-read
                                margin-bottom: 65px

                                +for-small
                                    margin-bottom: 20px

                            .-logo
                                padding-bottom: 90px

                                +for-small
                                    padding-bottom: 0

                                svg
                                    fill: $color-white
                                    height: 55px
                                    width: 202px

                                    +for-small
                                        height: 24px
                                        width: 88px

                    .pagination
                        .swiper-pagination
                            left: 105px
                            bottom: 65px

                            +for-small
                                bottom: 20px
                                left: 0
                                right: 0
                                margin: 0 auto

                            .swiper-pagination-bullet
                                background-color: rgba(255,255,255,0.5)
                                border-radius: 0
                                height: 4px
                                margin-right: 2px
                                opacity: 1
                                width: 65px

                                +for-small
                                    height: 3px
                                    width: 50px

                                &.swiper-pagination-bullet-active
                                    background-color: $color-white

                    &.map
                        .-box
                            background: url(../images/labo/image-busshozan05.jpg) no-repeat center center
                            background-size: cover
                            width: 100%

                            +for-small
                                background: url(../images/labo/image-busshozan05-sp.jpg) no-repeat center center
                                background-size: cover
                                padding-top: 87.5%

                        .-inner
                            background-color: #F4F5C8
                            right: 0
                            left: auto

                            .-copy
                                img
                                    height: 88px
                                    width: 474px

                                    +for-small
                                        height: 32px
                                        width: 176px

                            .text-read
                                margin-bottom: 35px

                                +max-width(1280px)
                                    margin-bottom: 25px

                                    +for-small
                                        margin-bottom: 20px

                                &:last-child
                                    margin-bottom: 0

                            .button-ghost
                                margin-bottom: 70px
                                padding: 65px 24px

                                +max-width(1280px)
                                    margin-bottom: 45px

                                    +for-small
                                        margin-bottom: 25px
                                        padding: 25px 22px 23px

                            .-logo
                                padding-bottom: 40px

                                +for-small
                                    padding-bottom: 10px

                                svg
                                    fill: $color-black

                            .text-read.height
                                +for-small
                                    font-size: 10px
                                    line-height: 1.5


.bnr-entry
    background-color: #3A81C4
    padding: 65px 0 70px

    +for-small
        padding: 35px 0 30px

    &.dark
        background-color: #E00012

    .headding-secondary
        margin-bottom: 25px

    .-sub
        +notosans
        color: $color-white
        font-size: 23px
        font-weight: 200
        letter-spacing: 0.07em
        margin-bottom: 30px
        text-align: center

        +max-width(1440px)
            font-size: 18px

            +for-small
                font-size: 14px
                font-weight: 300
                line-height: 1.6
                margin-bottom: 15px

    .-title
        +notosans
        color: $color-white
        font-size: 30px
        font-weight: 200
        letter-spacing: 0.1em
        margin-bottom: 25px
        text-align: center
        text-indent: 0.1em

        +for-small
            font-size: 17px
            letter-spacing: 0
            margin-bottom: 15px
            text-indent: 0

        &.other
            font-size: 40px
            font-weight: 100
            line-height: 1.5
            letter-spacing: 0.03em

            +max-width(1440px)
                font-size: 28px
                font-weight: 200

                +for-small
                    font-size: 18px

        .num
            height: 33px
            width: 192px

            +max-width(1440px)
                height: 25px
                width: 145px

                +for-small
                    height: 17px
                    width: 100px

    .-text
        +notosans
        color: $color-white
        font-size: 15px
        letter-spacing: 0.05em
        line-height: 2
        margin-bottom: 40px
        text-align: center
        text-indent: 0.05em

        +for-small
            font-size: 12px
            margin-bottom: 20px
            text-align: justify
            text-indent: 0

    .button-ghost
        &:last-child
            margin-top: 30px

            +for-small
                margin-top: 15px

.button-mail-m
    +for-small
        width: auto

    &.space
        margin-bottom: 80px

        +for-small
            margin-bottom: 45px

    a
        +transition((background-color),0.3s,ease,0)
        display: block
        border: 2px solid $color-black
        padding: 55px 0
        width: 100%

        +for-small
            padding: 30px 20px
            position: relative

        .en, .ja
            display: block
            text-align: center

            +for-small
                text-align: left

        .en
            +TTNormsPro-LightItalic
            font-size: 20px
            letter-spacing: 0.05em
            margin-bottom: 30px
            text-indent: 0.05em

            +for-small
                font-size: 12px
                margin-bottom: 10px

        .ja
            +notosans
            font-size: 26px
            font-weight: 300
            letter-spacing: 0.2em
            margin-bottom: 40px
            text-indent: 0.2em

            +for-small
                font-size: 12px
                letter-spacing: 0.1em
                text-indent: 0.1em
                margin-bottom: 0

        .button-more
            +for-small
                +position-absolute(auto,20px,32px,auto)
                display: inline-block

                span
                    font-size: 10px !important
                    padding-left: 32px

                    &:before
                        bottom: 5px
                        left: 11px
                        width: 12px

                    &:after
                        width: 23px


        &:hover
            background-color: $color-black

            .en, .ja
                color: $color-white

            .button-more
                span
                    color: $color-white

                    &::after,
                    &::before
                        background-color: $color-white
