// *****************************
// * magazine
// *****************************

.labo-magazine.list
    padding: 230px 0 100px
    +for-small
        padding: 105px 0 50px

    .headding-secondary
        margin-bottom: 95px

        +for-small
            margin-bottom: 45px

.category-list
    margin-bottom: 90px

    +for-small
        margin-bottom: 10px

    &.magazine
        margin-bottom: 140px

        +for-small
            margin-bottom: 70px

    & > .-wrap
        display: flex
        margin-bottom: 15px

        +for-small
            flex-direction: column
            margin-bottom: 10px

        &.tag
            margin-bottom: 0

            & > p
                width: 134px

            .-item
                span
                    padding-left: 13px
                    position: relative

                    &::after
                        +position-absolute(3px,auto,auto,0)
                        +notosans
                        content: '#'
                        font-size: 16px

                        +for-small
                            +position-absolute(1px,auto,auto,0)

                a
                    // border-bottom: 1px solid $color-black
                    &.current
                        border-bottom: 1px solid $color-black

                        &::after
                            content: none

            .-list
                flex-wrap: wrap

        p
            +notosans
            font-size: 16px
            letter-spacing: 0.05em
            margin-right: 35px

            +for-small
                font-size: 14px
                margin: 0 0 20px

        .-list
            display: flex
            flex-wrap: wrap

            .-item
                margin-right: 60px
                margin-bottom: 30px

                +for-small
                    margin-right: 20px
                    margin-bottom: 30px

                span
                    +notosans
                    // border-bottom: 1px solid $color-black
                    font-size: 16px
                    letter-spacing: 0.05em
                    // padding-bottom: 8px

                    +for-small
                        font-size: 13px

                a
                    display: inline-block
                    position: relative
                    padding-bottom: 8px
                    &::after
                        position: absolute
                        bottom: 0
                        left: 0
                        content: ''
                        width: 100%
                        height: 1px
                        background: $color-black
                        transform: scale(0, 1)
                        transform-origin: right top
                        transition: transform .3s

                    &.current
                        border-bottom: 1px solid $color-black

                        &::after
                            content: none

                a
                    &:hover
                        &::after
                            transform-origin: left top
                            transform: scale(1, 1)

#container
    &.magazine-detail
        height: 100%

        +for-small
            height: 52.817%

.main-visual.magazine
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 100%
    position: relative
    width: 100%

    +for-small
        height: 100%

    .-inner
        +position-absolute(50%,0,auto,0)
        margin: 0 auto
        text-align: center
        transform: translateY(-50%)

        +for-small
            top: 60%

        .-head
            +for-small
                margin-bottom: 10px

            span
                +TTNormsPro-Italic
                color: $color-white
                display: block
                font-size: 17px
                letter-spacing: 0.05em
                text-indent: 0.05em

                +for-small
                    font-size: 10px
                    margin-bottom: 3px

                &.num
                    +TTNormsPro-ExtraLightItalic
                    font-size: 60px

                    +for-small
                        font-size: 22px

        .-name
            +TTNormsPro-ExtraLightItalic
            color: $color-white
            font-size: 100px
            letter-spacing: 0.05em
            margin-bottom: 50px
            padding-bottom: 25px
            position: relative
            text-indent: 0.05em

            +for-small
                font-size: 28px
                margin-bottom: 0
                padding-bottom: 0

            &::after
                +position-absolute(auto,0,0,0)
                background-color: $color-white
                content: ''
                margin: 0 auto
                height: 3px
                width: 250px

                +for-small
                    content: none

        .-title
            +notosans
            color: $color-white
            font-size: 23px
            letter-spacing: 0.2em
            text-indent: 0.2em


.magazine
    @at-root
        &-details
            padding: 155px 0 0
            max-width: 1440px
            margin: 0 auto
            width: 75%

            +for-small
                margin: 0 20px
                padding: 30px 0 0
                width: auto

            .-first
                margin-bottom: 45px

                +for-small
                    margin-bottom: 25px

                .-title
                    +textspace(32px, 1.5, 30px)
                    +notosans
                    letter-spacing: 0.1em

                    +max-width(1440px)
                        font-size: 28px

                        +for-small
                            font-size: 18px
                            margin-bottom: 10px

                .-name
                    margin-bottom: 45px

                    +for-small
                        margin-bottom: 20px

                    span
                        +notosans
                        color: #ff0000
                        font-size: 18px
                        letter-spacing: 0.1em

                        +for-small
                            font-size: 16px

                & > .category-list
                    display: flex
                    margin-bottom: 30px

                    +for-small
                        margin-bottom: 5px

                    & > .-wrap
                        margin-bottom: 0

                        .-item
                            +for-small
                                margin-bottom: 15px

                time
                    +TTNormsPro-Italic
                    color: #ff0000
                    font-size: 13px
                    letter-spacing: 0.1em

                    +for-small
                        font-size: 12px

            .button-back.magazine
                +for-small
                    margin-left: 0

        &-content
            padding-bottom: 110px

            +for-small
                padding-bottom: 70px

            .-box
                display: flex
                justify-content: space-between
                max-width: 1440px
                margin: 0 auto
                width: 75%

                +for-small
                    flex-direction: column
                    margin: 0 20px
                    width: auto

                .-content
                    padding-right: 11.1%
                    width: 76.4%

                    +for-small
                        padding-right: 0
                        width: 100%

                    .-post

                        .-group
                            margin-bottom: 95px

                            +for-small
                                margin-bottom: 35px

                            &:last-child
                                margin-bottom: 0

                            .-subtitle
                                +notosans
                                +textspace(28px, 1.5, 50px)
                                letter-spacing: 0.1em

                                +max-width(1440px)
                                    font-size: 26px

                                    +for-small
                                        font-size: 15px
                                        margin-bottom: 30px

                            .-text
                                +notosans
                                +textspace(14px, 2.3, 60px)
                                letter-spacing: 0.1em
                                text-align: justify

                                +for-small
                                    +textspace(13px, 2, 30px)

                            .-image
                                text-align: center
                                width: 100%

                                img
                                    height: auto
                                    width: auto
                                    max-width: 100%
                                    max-height: 544px
                                    margin: 0 auto

                    .-movie
                        margin-bottom: 50px
                        width: 100%

                        +for-small
                            margin-bottom: 35px

                        .-movie-inner
                            +transition((opacity),0.3s,ease,0)
                            position: relative
                            height: 0
                            padding: 0 0 56.25%
                            overflow: hidden
                            margin-bottom: 30px

                            +for-small
                                margin-bottom: 15px

                            &:hover
                                cursor: pointer
                                opacity: 0.8

                            iframe
                                position: absolute
                                top: 0
                                left: 0
                                height: 100%
                                width: 100%
                                max-width: 100%

                .-profile
                    border-top: 1px solid $color-black
                    margin-top: 130px
                    padding-top: 130px

                    +for-small
                        margin-top: 50px
                        padding-top: 50px

                    .-column
                        display: flex
                        margin-bottom: 60px

                        +for-small
                            margin-bottom: 30px

                        .-head
                            width: 66%

                            +for-small
                                width: 59.6%

                            & > p
                                +TTNormsPro-LightItalic
                                color: #ff0000
                                font-size: 20px
                                letter-spacing: 0.05em
                                margin-bottom: 30px

                                +for-small
                                    font-size: 13px
                                    margin-bottom: 15px

                            .-name
                                span
                                    display: block

                                    &.en
                                        +TTNormsPro-ExtraLightItalic
                                        color: #ff0000
                                        // font-size: 54px
                                        font-size: 45px
                                        letter-spacing: 0.05em
                                        margin-bottom: 15px

                                        +for-small
                                            font-size: 18px
                                            margin-bottom: 8px

                                    &.company
                                        +notosans
                                        // font-size: 18px
                                        font-size: 16px
                                        letter-spacing: 0.1em
                                        margin-bottom: 15px

                                        +for-small
                                            font-size: 10px
                                            margin-bottom: 10px

                                    &.ja
                                        +notosans
                                        // font-size: 38px
                                        font-size: 28px
                                        letter-spacing: 0.2em

                                        +for-small
                                            font-size: 13px

                        .-portrait
                            overflow: hidden
                            padding-top: 34.034%
                            position: relative
                            width: 300px

                            +for-small
                                padding-top: 40.4%
                                width: 40.4%

                            img
                                +position-absolute(50%,auto,auto,0)
                                height: auto
                                margin: auto
                                transform: translateY(-50%)
                                width: 100%

                    .-data
                        & > .-wrap
                            margin-bottom: 40px

                            +for-small
                                margin-bottom: 30px

                            &:last-child
                                margin-bottom: 0

                            span
                                display: block

                            p,span
                                +notosans
                                font-size: 14px
                                line-height: 2.2
                                letter-spacing: 0.1em

                                +for-small
                                    font-size: 12px
                                    line-height: 2

                            &.location
                                margin-bottom: 0

                                .sl
                                    position: relative
                                    padding-left: 13px

                                    &::after
                                        +position-absolute(0,auto,auto,3px)
                                        +notosans
                                        content: '/'
                                        font-size: 14px
                                        line-height: 1.5

                                        +for-small
                                            font-size: 12px


            .labo-magazine.archive
                width: 340px

                +for-small
                    margin: 0 20px
                    width: auto

                & > .-wrap
                    flex-direction: column

                    +for-small
                        margin-bottom: 0

                    .-list
                        padding-top: 40px
                        margin-bottom: 35px
                        width: 100%

                        +for-small
                            padding-top: 35px
                            margin-bottom: 30px

                        &:last-child
                            margin-bottom: 0

                        .-head
                            span
                                font-size: 10px

                                &.num
                                    font-size: 50px

                                    +for-small
                                        font-size: 40px

                        .-title
                            font-size: 16px
                            min-height: auto
                            margin-bottom: 10px

                            +for-small
                                font-size: 14px

                        .-image
                            margin-bottom: 15px

                            +for-small
                                margin-bottom: 10px

                        .-name
                            span
                                font-size: 14px

                                +for-small
                                    font-size: 12px
                                    margin-bottom: 0

            .button-ghost.red
                margin-top: 110px

                +for-small
                    margin-top: 35px
                    margin-bottom: 45px

                .-sub
                    +notosans
                    font-size: 18px
                    margin-bottom: 15px
                    letter-spacing: 0.2em
                    text-indent: 0.2em

                    +for-small
                        display: block
                        font-size: 12px
                        line-height: 1.5
                        margin-bottom: 5px
                        text-align: center
                        width: 100%

                & > p
                    +for-small
                        font-size: 16px
                        text-align: center
                        line-height: 1.5
                        margin-bottom: 10px
                        width: 100%

                .button-more
                    +for-small
                        position: relative
                        margin: 0 auto
                        top: auto
                        right: 0
                        left: 0
                        bottom: 0


