// *****************************
// * post
// *****************************

.category-list
    margin-bottom: 50px

    +for-small
        margin-bottom: 10px

    & > .-wrap
        display: flex
        margin-bottom: 15px

        +for-small
            flex-direction: column
            margin-bottom: 10px

        p
            +notosans
            font-size: 16px
            letter-spacing: 0.05em
            margin-right: 35px

            +for-small
                font-size: 14px
                margin: 0 0 20px

        .-list
            display: flex
            flex-wrap: wrap

            .-item
                margin-right: 60px
                margin-bottom: 30px

                +for-small
                    margin-right: 20px
                    margin-bottom: 30px

                span
                    +notosans
                    // border-bottom: 1px solid $color-black
                    font-size: 16px
                    letter-spacing: 0.05em
                    // padding-bottom: 8px

                    +for-small
                        font-size: 13px

                a
                    display: inline-block
                    position: relative
                    padding-bottom: 8px
                    &::after
                        position: absolute
                        bottom: 0
                        left: 0
                        content: ''
                        width: 100%
                        height: 1px
                        background: $color-black
                        transform: scale(0, 1)
                        transform-origin: right top
                        transition: transform .3s

                    &.current
                        border-bottom: 1px solid $color-black

                        &::after
                            content: none

                a
                    &:hover
                        &::after
                            transform-origin: left top
                            transform: scale(1, 1)

.post-o-news
    padding: 130px 0 100px

    +for-small
        padding: 85px 0 80px

    & > .-wrap
        margin-bottom: 85px

        +for-small
            margin-bottom: 0

        .-list
            border-bottom: 1px solid $color-black
            margin-bottom: 50px
            padding-bottom: 40px

            +for-small
                margin-bottom: 20px
                padding-bottom: 20px

            &:last-child
                margin-bottom: 0

            time
                +din
                color: #3A81C4
                display: block
                font-size: 15px
                letter-spacing: 0.05em
                margin-bottom: 12px

                +for-small
                    font-size: 13px

            .-flex
                align-items: flex-end
                display: flex
                justify-content: space-between

                +for-small
                    align-items: flex-start
                    flex-direction: column

                .-main,
                .-sub
                    display: flex

                    h2,p
                        +notosans
                        font-size: 22px
                        letter-spacing: 0.1em

                        +max-width(1620px)
                            font-size: 17px

                            +for-small
                                font-size: 13px

                    p
                        +for-small
                            line-height: 1.5
                            width: 100%

                .-main
                    +max-width(1200px)
                        flex-direction: column

                        .-title
                            margin: 0 0 10px

                        +for-small
                            align-items: flex-start
                            margin-bottom: 15px
                            width: 100%

                    .-title
                        margin-right: 120px

                        +max-width(1620px)
                            margin-right: 50px

                            +for-small
                                margin-right: 0

                .-sub
                    align-items: center

                    .status
                        color: #3A81C4

                        +for-small
                            margin-right: 15px

                    .button-more
                        margin-left: 45px

                        +max-width(1620px)
                            margin-left: 25px

                            +for-small
                                margin-left: 0

                        span
                            +for-small
                                padding-left: 35px
                                &:after
                                    width: 26px

                                &:before
                                    bottom: 5px
                                    left: 14px
                                    width: 12px

.post-modelhouse
    padding: 130px 0 40px

    +for-small
        padding: 85px 0 80px
        position: relative

    & > .button-back
        +for-small
            +position-absolute(170px,10px,auto,auto)

    & > .headding-tertiary
        +for-small
            line-height: 1.8

    & > .modelhouse-wrap
        display: flex
        flex-wrap: wrap

        +for-small
            flex-direction: column

        .list
            margin-right: 5.3%
            margin-bottom: 80px
            width: 29.8%

            +for-small
                margin-right: 0
                margin-bottom: 45px
                width: 100%

            &:nth-child(3n)
                margin-right: 0

            &:last-child
                +for-small
                    margin-bottom: 0

            .title, .content, .company, time
                +for-small
                    padding: 0

.modelhouse-wrap
    .list
        & > a
            +transition((opacity),0.3s,ease,0)
            display: block
            padding-top: 25px
            position: relative

            +max-width(1245px)
                padding-top: 18px

                +for-small
                    padding-top: 10px

            &:hover
                opacity: 0.8

            .icon
                +norms
                +position-absolute(0,auto,auto,0)
                color: #3a81c4
                font-size: 40px
                letter-spacing: 0.1em
                z-index: 2

                +max-width(1245px)
                    font-size: 32px

                    +for-small
                        font-size: 20px

            .image
                margin-bottom: 20px
                overflow: hidden
                padding-top: 66.6%
                position: relative
                width: 100%

                img
                    +position-absolute(50%,auto,auto,50%)
                    height: auto
                    transform: translate(-50%,-50%)
                    width: 100%

            .title
                +notosans
                font-size: 20px
                letter-spacing: 0.1em
                line-height: 1.5
                margin-bottom: 15px
                min-height: 60px

                +max-width(1245px)
                    font-size: 18px

                    +for-small
                        font-size: 15px
                        letter-spacing: 0.05em
                        margin-bottom: 10px
                        min-height: 44px
                        padding: 0 10px

            .content
                +notosans
                font-size: 15px
                letter-spacing: 0.05em
                line-height: 1.8
                margin-bottom: 25px
                text-align: justify

                +max-width(1245px)
                    font-size: 14px

                    +for-small
                        font-size: 12px
                        margin-bottom: 15px
                        padding: 0 10px

            .company
                +notosans
                font-size: 15px
                font-weight: 200
                letter-spacing: 0.1em
                margin-bottom: 20px

                +max-width(1245px)
                    font-size: 14px

                    +for-small
                        font-size: 13px
                        letter-spacing: 0.05em
                        margin-bottom: 10px
                        padding: 0 10px

            time
                +norms
                color: #3a81c4
                font-size: 13px
                letter-spacing: 0.1em

                +for-small
                    font-size: 12px
                    padding: 0 10px

            .button-more
                +position-absolute(auto,0,0,auto)

                +for-small
                    +position-absolute(auto,10px,0,auto)
                    span
                        padding: 0 30px 0 0
                        &::after
                            left: auto
                            right: 0
                            width: 20px

                        &::before
                            right: 0
                            left: auto
                            bottom: 5px
                            width: 10px
