// *****************************
// * presentation
// *****************************

.presentation
    @at-root
        &-first
            padding: 135px 0 90px

            +for-small
                background-color: #f7f7f7
                margin-bottom: 35px
                padding: 80px 20px 35px

            .headding-secondary
                margin-bottom: 60px

                +for-small
                    margin-bottom: 25px
            
            & > .title
                +notosans
                font-size: 35px
                font-weight: 300
                letter-spacing: 0.2em
                margin-bottom: 20px
                text-align: center
                text-indent: 0.2em

                +max-width(1245px)
                    font-size: 25px

                    +for-small
                        font-size: 15px
                        letter-spacing: 0
                        text-indent: 0
                        margin-bottom: 15px
                        padding: 0 10px
        
        &-content
            padding-bottom: 140px
            width: 100%

            +for-small
                padding-bottom: 55px

            & > .wrap
                .list
                    .bg-image
                        overflow: hidden
                        padding-top: 24.62%
                        position: relative
                        margin-left: 13%
                        margin-bottom: 100px

                        +for-small
                            overflow: auto
                            margin-left: 7%
                            padding: 0 0 50px
                            margin-bottom: 40px

                        & > img
                            +position-absolute(0,0,auto,auto)
                            height: 100%
                            padding-left: 13%
                            width: auto

                            +for-small
                                padding-left: 0
                                position: static
                                height: auto
                                width: 100%

                            &.logo
                                +position-absolute(47%,auto,auto,0)
                                margin: 0 auto
                                padding-left: 0
                                transform: translateY(-50%)
                                height: auto
                                width: 19%

                                +for-small
                                    top: 70%
                                    width: 36.5%
                    
                    .detail
                        border-bottom: 1px solid #808080
                        margin-bottom: 90px
                        padding: 0 125px 90px

                        +max-width(1366px)
                            padding: 0 60px 90px

                            +max-width(1100px)
                                padding: 0 40px 90px

                                +for-small
                                    margin-bottom: 40px
                                    padding: 0 0 40px
                        
                        .headding-primary
                            +for-small
                                font-size: 14px
                                margin-bottom: 10px

                        .title
                            margin-bottom: 40px

                            +for-small
                                margin-bottom: 20px

                            span
                                +notosans
                                display: block
                                font-size: 15px
                                letter-spacing: 0.05em

                                +for-small
                                    font-size: 12px

                                &.main
                                    font-size: 32px
                                    font-weight: 300
                                    letter-spacing: 0.22em
                                    margin-bottom: 10px

                                    +for-small
                                        font-size: 20px
                                        font-weight: 400
                        
                        .copy
                            +notosans
                            font-size: 31px
                            font-weight: 200
                            letter-spacing: 0.1em
                            line-height: 1.7
                            margin-bottom: 30px

                            +for-small
                                font-size: 14px
                                font-weight: 400
                                line-height: 1.8
                                margin-bottom: 20px
                                
                            .blank
                                display: none

                                +max-width(1390px)
                                    display: block
                        
                        .text
                            +notosans
                            font-size: 15px
                            letter-spacing: 0.05em
                            line-height: 2.5

                            +for-small
                                font-size: 12px
                                line-height: 1.8
                                text-align: justify

                            &.sub
                                letter-spacing: 0.05em
                                margin-top: 50px
                                line-height: 1.8

                                +for-small
                                    margin-top: 25px
                                    line-height: 1.6

                                span
                                    display: block
                        
                        .button-flat
                            background-color: $color-black
                            border-radius: 5px
                            margin-top: 60px
                            padding: 35px 0 34px

                            +for-small
                                margin-top: 30px
                                padding: 30px 0 29px

                            span
                                font-size: 21px
                                font-weight: 300

                                +max-width(1366px)
                                    font-size: 18px

                                    +for-small
                                        font-size: 13px
                                        padding-right: 25px
                            
                            .arrow
                                +for-small
                                    right: 15px


                    &:last-child
                        .detail
                            border-bottom: none
                            margin-bottom: 0
                            padding-bottom: 0
