// *****************************
// * company
// *****************************

.privacy-policy
    margin-bottom: 95px

    +for-small
        margin: 0 20px 25px

    .headding-senary
        margin-bottom: 60px

        +for-small
            margin-bottom: 30px

    & > .-wrap
        padding-left: 22px

        +for-small
            padding-left: 0

        .stage01
            margin-bottom: 40px

            +for-small
                margin-bottom: 25px

            ol
                margin: 40px 0

                +for-small
                    margin: 25px 0

            &.li02
                ol
                    counter-reset: count 3

            &.li03
                margin-bottom: 85px
                ol
                    counter-reset: count 7

        .stage02
            margin-bottom: 40px
            padding-left: 40px

            +for-small
                margin-bottom: 25px
                padding-left: 17px

            &.other
                padding-left: 20px

                +for-small
                    padding-left: 0

                ol
                    background-color: #F2F2F2
                    border-radius: 5px
                    padding: 30px

                    +for-small
                        padding: 20px

        .stage03
            padding-left: 60px

            +for-small
                padding-left: 20px

            ol
                background-color: #F2F2F2
                border-radius: 5px
                padding: 30px

                +for-small
                    padding: 20px

        ol
            counter-reset: count 0

            li
                margin-bottom: 40px
                padding-left: 20px
                position: relative

                +for-small
                    margin-bottom: 25px
                    padding: 20px 0 0

                &:last-child
                    margin-bottom: 0

                &:before
                    +notosans
                    +position-absolute(5px,auto,auto,0)
                    content: counter(count) "."
                    counter-increment: count 1
                    font-size: 16px

                    +for-small
                        font-size: 13px
                        top: 0

    .-under
        .headding-senary
            &::after
                +for-small
                    height: 100%
        & > .-wrap
            padding-left: 22px

            +for-small
                padding-left: 0

        .-contact
            margin-top: 40px

            +for-small
                margin-top: 25px
