// *****************************
// * company
// *****************************

.qa
    @at-root
        &-first
            & > .-read
                +notosans
                font-size: 20px
                font-weight: 200
                letter-spacing: 0.2em
                line-height: 1.8
                text-align: center
                text-indent: 0.2em

                +for-small
                    font-size: 12px
                    font-weight: 300
                    line-height: 2
                    letter-spacing: 0.05em
                    text-align: justify
                    text-indent: 0

            & > .headding-tertiary
                margin-bottom: 20px

                +max-width(1300px)
                    font-size: 28px
                    letter-spacing: 0.18em

                    +for-small
                        font-size: 15px
                        line-height: 1.5
                        letter-spacing: 0.05em
                        margin-bottom: 15px

                +for-small
                    line-height: 1.8
                    margin-bottom: 10px

        &-list
            margin-bottom: 120px

            & > .-wrap
                .-list
                    margin-bottom: 90px

                    +for-small
                        margin-bottom: 50px

                    .-num
                        +TTNormsPro-LightItalic
                        color: #3A81C4
                        font-size: 45px
                        margin-bottom: 10px

                        +max-width(1366px)
                            font-size: 30px

                            +for-small
                                font-size: 20px
                                margin-bottom: 5px

                    .-title
                        +notosans
                        font-size: 50px
                        font-weight: 200
                        letter-spacing: 0.1em
                        margin-bottom: 45px

                        +max-width(1366px)
                            font-size: 35px
                            margin-bottom: 35px

                            +for-small
                                font-size: 22px
                                line-height: 1.6
                                letter-spacing: 0.05em
                                margin-bottom: 20px

                    .-faq
                        .-element
                            .-question
                                border-bottom: 2px solid #3A81C4
                                padding: 25px 40px 25px 115px
                                position: relative

                                +max-width(1366px)
                                    padding: 25px 40px 25px 70px

                                    +for-small
                                        padding: 15px 30px

                                &::after
                                    +position-absolute(12px,auto,auto,40px)
                                    +TTNormsPro-Italic
                                    content: 'Q.'
                                    color: #3A81C4
                                    font-size: 45px

                                    +max-width(1366px)
                                        +position-absolute(17px,auto,auto,20px)
                                        font-size: 30px

                                        +for-small
                                            +position-absolute(13px,auto,auto,0)
                                            font-size: 21px

                                &:hover
                                    cursor: pointer

                                h3
                                    +notosans
                                    color: #3A81C4
                                    font-size: 21px
                                    letter-spacing: 0.1em

                                    +max-width(1366px)
                                        font-size: 17px

                                        +for-small
                                            font-size: 12px
                                            line-height: 1.7

                                .icon-arrow-under
                                    +transition((transform),0.3s,ease,0)
                                    +position-absolute(28px,40px,auto,auto)
                                    &::before
                                        color: #3A81C4
                                        font-size: 21px
                                        margin: 0

                                        +max-width(1366px)
                                            font-size: 18px

                                    +for-small
                                        +position-absolute(17px,0,auto,auto)

                                &.is-active
                                    .icon-arrow-under
                                        transform: rotate(180deg)

                            .-answer
                                background-color: #F2F2F2
                                display: none
                                padding: 35px 160px
                                position: relative

                                +max-width(1366px)
                                    padding: 35px 120px

                                    +for-small
                                        padding: 15px 15px 15px 50px

                                &::after
                                    +position-absolute(27px,auto,auto,90px)
                                    +TTNormsPro-Italic
                                    content: 'A.'
                                    color: #FF0000
                                    font-size: 45px

                                    +max-width(1366px)
                                        +position-absolute(27px,auto,auto,60px)
                                        font-size: 30px

                                        +for-small
                                            +position-absolute(15px,auto,auto,18px)
                                            font-size: 21px

                                .-text
                                    +notosans
                                    font-size: 15px
                                    letter-spacing: 0.1em
                                    line-height: 2

                                    +for-small
                                        font-size: 12px
                                        line-height: 1.8
                                        text-align: justify

                                img
                                    height: auto
                                    margin-top: 20px
                                    width: 100%

                                .-link
                                    margin-top: 40px

                                    +for-small
                                        margin-top: 15px

                                    a
                                        +transition((opacity),0.3s,ease,0)
                                        background-color: #1A1A1A
                                        border-radius: 5px
                                        color: $color-white
                                        display: inline-block
                                        font-size: 18px
                                        letter-spacing: 0.1em
                                        margin-right: 40px
                                        padding: 25px 35px
                                        position: relative
                                        width: 340px

                                        +for-small
                                            font-size: 13px
                                            line-height: 1.8
                                            margin: 0 0 15px
                                            padding: 13px
                                            width: 100%

                                            &:last-child
                                                margin-bottom: 0

                                        &:hover
                                            opacity: 0.8

                                        &.large
                                            width: 720px

                                            +for-small
                                                width: 100%

                                        &::after
                                            +position-absolute(50%,35px,auto,auto)
                                            background: url(../images/qa/icon-tab.svg) no-repeat center center
                                            background-size: 18px 19px
                                            content: ''
                                            height: 18px
                                            transform: translateY(-50%)
                                            width: 19px

                                            +for-small
                                                +position-absolute(50%,15px,auto,auto)



